Repository Samsung/TizenFX, pull requests merged in 2020-12, with the labels that each got.

#2307 Fix a security warning of FOTA script (#2302)
  packaging/500.tizenfx_upgrade.sh
Labels: Devel-NUI

#2284 [NUI]Revert temporary patch that fix DA build error
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
Labels: Devel-NUI, Internal API Changed

#2287 [NUI] Fix build warnings related to XAML
  src/Tizen.NUI/src/internal/XamlBinding/TizenPlatformServices.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Devel-NUI

#2313 [NUI] Fix wrong AnimationState after VectorAnimatedImageView playing stopped
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: API8

#2310 [NUI] Add Window extension method GetDefaultNavigator
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Utils/NUIWindowExtensions.cs
Labels: Devel-NUI, Internal API Changed

#2189 [NUI] Text: Add more scroll functinality to texteditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
Labels: Devel-NUI, Internal API Changed

#2314 [NUI] Fix a build warning CA1827
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
Labels: Devel-NUI

#2321 [NUI] Fix not to get framework path via StyleManager
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Wearable/src/public/WearableStyle/CircularPaginationStyle.cs
  src/Tizen.NUI/src/public/NUIConstants.cs
  src/Tizen.NUI/src/public/StyleManager.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  src/Tizen.NUI/src/public/Xaml/MarkupExtensions/NUIResourcePathExtension.cs
Labels: API8, Internal API Changed

#2322 [NUI] Fix not to get framework path via StyleManager
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Wearable/src/public/WearableStyle/CircularPaginationStyle.cs
  src/Tizen.NUI/src/public/NUIConstants.cs
  src/Tizen.NUI/src/public/StyleManager.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  src/Tizen.NUI/src/public/Xaml/MarkupExtensions/NUIResourcePathExtension.cs
Labels: Devel-NUI, Internal API Changed

#2320 [NUI] Let scroll again when displacement for OutOfBound effect become 0
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#2319 [NUI] Let scroll again when displacement for OutOfBound effect become 0
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API8, Internal API Changed

#2326 [Uix/VoiceControlManager] Fix svace issue
  src/Tizen.Uix.VoiceControlManager/Tizen.Uix.VoiceControlManager/VoiceCommandsGroup.cs
Labels: API8

#2251 [NUI] Fix CA2000 warning issues of Camera / ItemView / Animatable / Animation / AnimationImageView.
  src/Tizen.NUI/src/internal/Camera.cs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/public/Animatable.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
Labels: API9, Devel-NUI

#2331 [NUI] Add Padding parameter for TextPageUtil
  src/Tizen.NUI/src/internal/Interop/Interop.TextUtils.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/Utility/TextPageUtil.cs
Labels: API8, Internal API Changed

#2335 [NUI] Modify popup dismiss bug
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: API8

#2336 [NUI] Modify popup dismiss bug
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2286 [NUI] Add Url property to convert image buffer to URL for ImageView
  src/Tizen.NUI/src/internal/Interop/Interop.Capture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageSource.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PixelData.cs
  src/Tizen.NUI/src/public/Capture.cs
  src/Tizen.NUI/src/public/NativeImageSource.cs
  src/Tizen.NUI/src/public/PixelData.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CaptureTest.cs
Labels: Devel-NUI, Internal API Changed

#2334 [NUI] Modify NUI Seamless animation bug
  src/Tizen.NUI/src/internal/FrameBroker/DefaultFrameBroker.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBaseErrorFactory.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameData.cs
  src/Tizen.NUI/src/internal/FrameProvider/FrameProvider.cs
  src/Tizen.NUI/src/internal/FrameProvider/FrameProviderErrorFactory.cs
  src/Tizen.NUI/src/public/TransitionAnimations/TransitionAnimations.cs
  src/Tizen.NUI/src/public/TransitionOptions/TransitionOptions.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/DefaultView.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/NUIBrokerSample.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/NUIBrokerSample.csproj
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/ObjectAnimationManager.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/SeamlessBackward.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/SeamlessForward.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/ViewModel/DelegateCommand.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/ViewModel/MainViewModel.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/XamlPage.xaml.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/add.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/arrow-89-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/bar-chart-5-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/clock-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/emart.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg1.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg15.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg6.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/layout/XamlPage.xaml
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/pic_1.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/play-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/profile.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/video-play-64.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/shared/res/NUIBrokerSample.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/tizen-manifest.xml
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/NUIMusicPlayer.cs
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/NUIMusicPlayer.csproj
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/XamlPage.xaml.cs
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/add.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/arrow-89-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/bar-chart-5-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/clock-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/layout/XamlPage.xaml
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/pic_1.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/play-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/profile.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/shared/res/NUIMusicPlayer.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/tizen-manifest.xml
Labels: API8, Internal API Changed

#2206 [NUI] Introduce CornerRadiusPolicy to View
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
  src/Tizen.NUI/src/public/VisualConstants.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ControlSample.cs
Labels: Devel-NUI, Internal API Changed

#2268 [NUI] Use weak reference for theme changed event
  src/Tizen.NUI/src/internal/WeakEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#2341 [NUI] Modify NUI Seamless animation bug (#2334)
  src/Tizen.NUI/src/internal/FrameBroker/DefaultFrameBroker.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBaseErrorFactory.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameData.cs
  src/Tizen.NUI/src/internal/FrameProvider/FrameProvider.cs
  src/Tizen.NUI/src/internal/FrameProvider/FrameProviderErrorFactory.cs
  src/Tizen.NUI/src/public/TransitionAnimations/TransitionAnimations.cs
  src/Tizen.NUI/src/public/TransitionOptions/TransitionOptions.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/DefaultView.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/NUIBrokerSample.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/NUIBrokerSample.csproj
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/ObjectAnimationManager.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/SeamlessBackward.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/SeamlessForward.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/ViewModel/DelegateCommand.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/ViewModel/MainViewModel.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/XamlPage.xaml.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/add.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/arrow-89-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/bar-chart-5-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/clock-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/emart.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg1.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg15.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg6.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/layout/XamlPage.xaml
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/pic_1.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/play-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/profile.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/video-play-64.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/shared/res/NUIBrokerSample.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/tizen-manifest.xml
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/NUIMusicPlayer.cs
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/NUIMusicPlayer.csproj
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/XamlPage.xaml.cs
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/add.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/arrow-89-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/bar-chart-5-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/clock-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/layout/XamlPage.xaml
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/pic_1.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/play-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/profile.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/shared/res/NUIMusicPlayer.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/tizen-manifest.xml
Labels: Devel-NUI, Internal API Changed

#2332 [NUI] Add Padding parameter for TextPageUtil
  src/Tizen.NUI/src/internal/Interop/Interop.TextUtils.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/Utility/TextPageUtil.cs
Labels: Devel-NUI, Internal API Changed

#2352 [NUI] Fixed svace issue for API8
  src/Tizen.NUI/src/internal/PropertyRangeManager.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: API8

#2354 [NUI] Change clipping mode of ScrollableBase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#2356 [NUI] Add RedrawInScalingDown in LottieAnimationView
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/VisualConstants.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/res/lottie.json
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/res/lottie2.json
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/TSLottieAnimationView.cs
Labels: API8, Internal API Changed

#2357 [NUI] Add RedrawInScalingDown in LottieAnimationView
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/VisualConstants.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/res/lottie.json
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/res/lottie2.json
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/TSLottieAnimationView.cs
Labels: Devel-NUI, Internal API Changed

#2358 [NUI] Change clipping mode of ScrollableBase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API8

#2253 [NUI] fixed bug about set desired size
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#2276 [NUI] separate layouting logic of the independent children
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI, Internal API Changed

#2316 [NUI] Fix wrong AnimationState after VectorAnimatedImageView playing stopped
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: Devel-NUI

#2317 [NUI] fix exception when Theme.Resource is used in xaml file
  src/Tizen.NUI/src/public/Theme/Theme.cs
Labels: Devel-NUI

#2325 [NUI] make Graphics.Backend internal
  src/Tizen.NUI/src/public/NUIApplication.cs
Labels: Devel-NUI, Internal API Changed

#2330 [NUI] Fix to restore setter of AnimatedImageView.ResourceUrl
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
Labels: Devel-NUI

#2349 [NUI] Remove build warning - CA2241
  src/Tizen.NUI/src/internal/XamlBinding/BindingExpression.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/Interactivity/EventTrigger.cs
Labels: Devel-NUI

#2353 [NUI] Fix CA2214
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ImageViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI, Internal API Changed

#2355 [NUI] Fix CA1069
  src/Tizen.NUI/src/internal/PropertyRanges.cs
Labels: Devel-NUI

#2359 [NUI] Fix CA1052
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/FrameBuffer.cs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/ImageLoading.cs
  src/Tizen.NUI/src/public/NUIApplication.cs
  src/Tizen.NUI/src/public/Renderer.cs
  src/Tizen.NUI/src/public/Shader.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ToggleButton.cs
  src/Tizen.NUI/src/public/Utility/GraphicsCapabilities.cs
Labels: Devel-NUI, Internal API Changed

#2360 [NUI] Fix svace issues
  src/Tizen.NUI/src/internal/PropertyRangeManager.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Devel-NUI

#2366 [NUI] Fix build warning CA2007
  src/Tizen.NUI/src/internal/XamlBinding/TemplateBinding.cs
  src/Tizen.NUI/src/internal/XamlBinding/TemplateUtilities.cs
  src/Tizen.NUI/src/internal/XamlBinding/TizenPlatformServices.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AddFrameRenderedCallbackTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VideoViewTest.cs
Labels: Devel-NUI

#2367 [NUI] Fix build warning CS0419
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
Labels: Devel-NUI

#2369 [NUI] Change property name frome Url to Uri
  src/Tizen.NUI/src/public/NativeImageSource.cs
  src/Tizen.NUI/src/public/PixelData.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CaptureTest.cs
Labels: Devel-NUI, Internal API Changed

#2370 [NUI] Fix CA1034 for obsolete classes
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/FocusManager.cs
  src/Tizen.NUI/src/public/Renderer.cs
  src/Tizen.NUI/src/public/Shader.cs
  src/Tizen.NUI/src/public/UIComponents/Popup.cs
  src/Tizen.NUI/src/public/UIComponents/ProgressBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
  src/Tizen.NUI/src/public/UIComponents/ToggleButton.cs
  src/Tizen.NUI/src/public/WindowEvent.cs
Labels: Devel-NUI

#2371 [NUI] Remove DropDown class since it is moved to fhub-nui
  src/Tizen.NUI.Components/Controls/DropDown.DropDownDataItem.cs
  src/Tizen.NUI.Components/Controls/DropDown.DropDownItemView.cs
  src/Tizen.NUI.Components/Controls/DropDown.DropDownListBridge.cs
  src/Tizen.NUI.Components/Controls/DropDown.cs
  src/Tizen.NUI.Components/Style/DropDownStyle.cs
Labels: Devel-NUI, Internal API Changed

#2372 [NUI] Prevent unnecessary Layout call, make independent if it has true ExcludeLayouting and root.
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2373 [NUI] Fix build warning CS0109
  src/Tizen.NUI/src/internal/ViewWrapperImpl.cs
Labels: Devel-NUI

#2327 [NUI] use discard to ignore unused return value
  src/Tizen.NUI/src/internal/Xaml/TypeConversionExtensions.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Devel-NUI

#2377 [NUI] Suppress CA1716, CA1052, CA1034 for deprecated APIs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/Renderer.cs
  src/Tizen.NUI/src/public/Shader.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ToggleButton.cs
Labels: Devel-NUI

#2378 [NUI] Call show winodw on ApplicationInit
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/public/NUIApplication.cs
Labels: Devel-NUI

#2379 [NUI] Call show winodw on ApplicationInit
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/public/NUIApplication.cs
Labels: API8

#2324 [NUI] Fix CA1710, change name with with the correct suffix
  src/Tizen.NUI/src/internal/ItemCollection.cs
  src/Tizen.NUI/src/internal/ItemIdCollection.cs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/public/GLWindowEvent.cs
  src/Tizen.NUI/src/public/WindowEvent.cs
Labels: Devel-NUI, Internal API Changed

#2382 Change SCROLL_FINAL_X to ScrollFinalX
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliTableView.cs
Labels: Devel-NUI

#2339 [NUI] Improve Theme load
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/ScrollbarBase.cs
  src/Tizen.NUI.Components/Style/ControlStyle.cs
  src/Tizen.NUI.Components/Style/ScrollbarStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeWearable.cs
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
  src/Tizen.NUI.Components/Utils/StyleManager.cs
  src/Tizen.NUI.Components/res/Theme/Tizen.NUI.Components_Tizen.NUI.Theme.Wearable.xaml
  src/Tizen.NUI.Wearable/Tizen.NUI.Wearable.csproj
  src/Tizen.NUI.Wearable/src/internal/Theme/DefaultTheme.cs
  src/Tizen.NUI.Wearable/src/public/CircularPagination.cs
  src/Tizen.NUI.Wearable/src/public/CircularProgress.cs
  src/Tizen.NUI.Wearable/src/public/CircularScrollbar.cs
  src/Tizen.NUI.Wearable/src/public/CircularSlider.cs
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/public/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/DefaultTheme.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeWearable.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI, Internal API Changed

#2348 [NUI] Add TabView and related classes
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Controls/TabButtonGroup.cs
  src/Tizen.NUI.Components/Controls/TabContent.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TabViewSample.cs
Labels: Devel-NUI, Internal API Changed

#2388 [NUI] Fix build warning CS1064
  src/Tizen.NUI/src/internal/XamlBinding/InvalidNavigationException.cs
Labels: Devel-NUI

#2383 [NUI] Fix build warning[CA1065]
  src/Tizen.NUI/src/internal/Disposable.cs
  src/Tizen.NUI/src/internal/Item.cs
  src/Tizen.NUI/src/internal/ItemRange.cs
  src/Tizen.NUI/src/internal/RenderTask.cs
  src/Tizen.NUI/src/internal/RulerDomain.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseHandle.cs
  src/Tizen.NUI/src/public/Color.cs
  src/Tizen.NUI/src/public/Degree.cs
  src/Tizen.NUI/src/public/Extents.cs
  src/Tizen.NUI/src/public/Hover.cs
  src/Tizen.NUI/src/public/InputMethodContext.cs
  src/Tizen.NUI/src/public/Key.cs
  src/Tizen.NUI/src/public/Layer.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/NUIConstants.cs
  src/Tizen.NUI/src/public/NativeImageSource.cs
  src/Tizen.NUI/src/public/PanGestureDetector.cs
  src/Tizen.NUI/src/public/PixelData.cs
  src/Tizen.NUI/src/public/Position.cs
  src/Tizen.NUI/src/public/Position2D.cs
  src/Tizen.NUI/src/public/PropertyKey.cs
  src/Tizen.NUI/src/public/Radian.cs
  src/Tizen.NUI/src/public/RelativeVector2.cs
  src/Tizen.NUI/src/public/RelativeVector3.cs
  src/Tizen.NUI/src/public/RelativeVector4.cs
  src/Tizen.NUI/src/public/Rotation.cs
  src/Tizen.NUI/src/public/Size.cs
  src/Tizen.NUI/src/public/Size2D.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/Vector2.cs
  src/Tizen.NUI/src/public/Vector3.cs
  src/Tizen.NUI/src/public/Vector4.cs
  src/Tizen.NUI/src/public/VisualFactory.cs
  src/Tizen.NUI/src/public/Window.cs
Labels: Devel-NUI

#2384 [NUI] Fix build warning[CA1001]
  src/Tizen.NUI.Components/Controls/Extension/SlidingSwitchExtension.cs
  src/Tizen.NUI/src/internal/DisposeQueue.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/KeyValue.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LayoutTransition.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/TransitionAnimations/TransitionAnimations.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/ViewProperty/TextShadow.cs
  src/Tizen.NUI/src/public/VisualMaps.cs
Labels: Devel-NUI, Internal API Changed

#2386 [NUI] Add sound feedback and fix scroll build errors
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
  src/Tizen.NUI.Components/Tizen.NUI.Components.sln
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableBaseOutOfBoundSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SwitchSample.cs
Labels: API8, Internal API Changed

#2344 [NUI] text: Add property for primary cursor (caret) position in TextF…
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Devel-NUI, Internal API Changed

#2394 [NUI] Fix build warning CA1724
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/Xaml/ViewExtensions.cs
  src/Tizen.NUI/src/public/XamlBinding/Binding.cs
Labels: Devel-NUI

#2395 Revert "[NUI] Fix build warning[CA1000]"
  src/Tizen.NUI.Components/Controls/Extension/SlidingSwitchExtension.cs
  src/Tizen.NUI/src/internal/DisposeQueue.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/KeyValue.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LayoutTransition.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/TransitionAnimations/TransitionAnimations.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/ViewProperty/TextShadow.cs
  src/Tizen.NUI/src/public/VisualMaps.cs
Labels: Devel-NUI, Internal API Changed

#2338 [NUI] Remove build warning - CA1055
  src/Tizen.NUI/src/public/Capture.cs
Labels: Devel-NUI, Internal API Changed

#2396 [NUI] Change "IsTapGestureFeedback" as "Feedback"
  src/Tizen.NUI.Components/Controls/Control.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SwitchSample.cs
Labels: API8, Internal API Changed

#2397 [NUI] Change "IsTapGestureFeedback" as "Feedback"
  src/Tizen.NUI.Components/Controls/Control.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SwitchSample.cs
Labels: Devel-NUI, Internal API Changed

#2400 [NUI] fix svace issue for texture
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
Labels: API8

#2401 [NUI] Delete warning messages
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI.Components/Controls/Toast.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
Labels: Devel-NUI

#2376 [NUI] Fix build warning CA1720
  src/Tizen.NUI/src/public/NUIConstants.cs
  src/Tizen.NUI/src/public/PropertyKey.cs
Labels: Devel-NUI

#2402 [NUI] Fix svace issue for texture
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
Labels: Devel-NUI

#2406 [NUI] Version update (nui2205)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: API9

#2261 [NUI] Add left/right shadow effect for the scrollablebase.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/res/nui_component_default_scroll_over_shooting_left.png
  src/Tizen.NUI.Components/res/nui_component_default_scroll_over_shooting_right.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableBaseOutOfBoundSample.cs
Labels: Devel-NUI, Internal API Changed

#2410 [NUI] Fix CA2000 issues of UIComponents.
  src/Tizen.NUI/src/public/UIComponents/Button.cs
  src/Tizen.NUI/src/public/UIComponents/Popup.cs
  src/Tizen.NUI/src/public/UIComponents/ProgressBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
Labels: Devel-NUI

#2385 [NUI] Fix CA1066
  src/Tizen.NUI/src/internal/Xaml/XmlName.cs
  src/Tizen.NUI/src/public/Layouting/LayoutLength.cs
Labels: Devel-NUI

#2403 [NUI] Fix the issue that the TrackColor fails to take effect.
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: Devel-NUI

#2399 suppress CA1710 code analysis violation for deprecased APIs
  src/Tizen.NUI/src/public/UIComponents/Button.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
Labels: Devel-NUI

#2368 [NUI] Fix build warning CA1308
  src/Tizen.NUI/src/internal/XamlBinding/RotationTypeConverter.cs
Labels: Devel-NUI

#2415 [NUI] Null check of Owner property of LayoutItem for Independent View.
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2416 [NUI] Null check of Owner property of LayoutItem for Independent View.
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: API9

#2381 [NUI] Fix CA1063
  src/Tizen.NUI/src/internal/Disposable.cs
  src/Tizen.NUI/src/public/BaseHandle.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/TransitionOptions/TransitionOptions.cs
Labels: Devel-NUI, Internal API Changed

#2363 [NUI] Fix CA1044
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/KeyValue.cs
  src/Tizen.NUI/src/public/XamlBinding/Transition.cs
Labels: Devel-NUI, Internal API Changed

#2398 [NUI] Rename EventHandler WithReturnType to end in EventHandler
  src/Tizen.NUI/src/internal/DaliEventHandler.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManagerEvent.cs
Labels: Devel-NUI, Internal API Changed

#2421 [Log] Modify documentation about dlog priorities
  src/Tizen.Log/Tizen/Log.cs
Labels: API9

#2424 [Log] Modify documentation about dlog priorities
  src/Tizen.Log/Tizen/Log.cs
Labels: API8

#2362 [NUI] Fix CS0108
  src/Tizen.NUI/src/internal/Camera.cs
  src/Tizen.NUI/src/public/InputMethodContext.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
Labels: Devel-NUI

#2364 [NUI] Fix CA1054
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/ImageLoading.cs
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
Labels: Devel-NUI, Internal API Changed

#2427 [NUI] Initialize feedback only when the Feedback property is true
  src/Tizen.NUI.Components/Controls/Control.cs
Labels: API8

#2428 [NUI] Fix CA2000 issues in WidgetView(Dispose objects before losing scope)
  src/Tizen.NUI/src/public/WidgetView.cs
Labels: Devel-NUI

#2392 [NUI] Fix build warning (CA1032:Implement standard exception constructors)
  src/Tizen.NUI/src/public/Xaml/XamlParseException.cs
Labels: Devel-NUI, Internal API Changed

#2426 [NUI] Initialize feedback only when the Feedback property is true
  src/Tizen.NUI.Components/Controls/Control.cs
Labels: Devel-NUI

#2433 [NUI] Fix the empty finalizers(CA1821)
  src/Tizen.NUI/src/internal/DisposeQueue.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/Timer.cs
Labels: Devel-NUI

#2432 [NUI] Fix CA2000 issue for Application Builder(disposed)
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/Builder.cs
Labels: Devel-NUI, Internal API Changed

#2434 [NUI] Add an exception when deleting a view that is not child
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI

#2437 [NUI] Remove RegisterCallback function
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/internal/NUICoreBackend.cs
Labels: Devel-NUI

#2438 [NUI] Version update (nui2206)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2411 [NUI] deprecate unused FocusRequestArgs class
  src/Tizen.NUI/src/public/BaseHandle.cs
Labels: ACR Required, API9

#2405 [NUI] rewrite theme resource
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Wearable/src/internal/Theme/DefaultTheme.cs
  src/Tizen.NUI/src/public/Theme/DefaultTheme.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ThemeResourceSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/res/SampleTheme.xaml
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/res/SampleThemeResourceDark.xaml
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/res/SampleThemeResourceDefault.xaml
Labels: Devel-NUI, Internal API Changed

#2442 [NUI] Fix view style initialization bug
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#2420 [NUI] Fix build warning[CA1001]
  src/Tizen.NUI.Components/Controls/Extension/SlidingSwitchExtension.cs
  src/Tizen.NUI.Components/Style/ButtonStyle.cs
  src/Tizen.NUI.Components/Style/ControlStyle.cs
  src/Tizen.NUI.Components/Style/SliderStyle.cs
  src/Tizen.NUI.Wearable/src/public/WearableStyle/CircularProgressStyle.cs
  src/Tizen.NUI/src/internal/DisposeQueue.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/KeyValue.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LayoutTransition.cs
  src/Tizen.NUI/src/public/TransitionAnimations/TransitionAnimations.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/ViewProperty/TextShadow.cs
  src/Tizen.NUI/src/public/VisualMaps.cs
Labels: Devel-NUI, Internal API Changed

#2441 [NUI] Fix build errors for NUISample
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ItemViewDemo/ItemViewSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableBaseOutOfBoundSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VisibilityChangedTest.cs
Labels: Devel-NUI

#2115 [NUI] Fix RadioButton not to invoke duplicate SelectedChanged
  src/Tizen.NUI.Components/Controls/RadioButton.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
Labels: Devel-NUI, Internal API Changed

#2436 [NUI] Fix wrong thumb position in Scrollbar.
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: Devel-NUI

#2445 [NUI] Fix ScrollBar Unparent bug
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollbarBase.cs
Labels: Devel-NUI, Internal API Changed

#2422 [NUI] Fix a build warning CA1717
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/AlphaFunction.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Constants.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/Layouting/LayoutTransition.cs
  src/Tizen.NUI/src/public/NUIConstants.cs
  src/Tizen.NUI/src/public/Window.cs
  src/Tizen.NUI/src/public/WindowEvent.cs
Labels: Devel-NUI, Internal API Changed

#2431 [NUI] Fix CA2002(Do not lock on objects with weak identity)
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/Builder.cs
  src/Tizen.NUI/src/internal/ComponentApplication.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/internal/ObjectRegistry.cs
  src/Tizen.NUI/src/internal/PageTurnView.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/PropertyNotification.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
Labels: Devel-NUI

#2450 [NUI] Fix CA2000 issue in DefaultTheme(Dispose object before losing scope)
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
Labels: Devel-NUI

#2451 [NUI] Add internal and hidden APIs which are currently used
  src/Tizen.NUI/src/internal/Interop/Interop.ImageView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetViewManager.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/internal/NDalic.cs
  src/Tizen.NUI/src/public/Renderer.cs
  src/Tizen.NUI/src/public/WidgetView.cs
Labels: Devel-NUI, Internal API Changed

#2458 [NUI] Fix the behavior as for View.BackgroundImage to be cleared when null set
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#2457 [NUI] Adds StopBehavior and CurrentFrame properties to the AnimatedImageView
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
Labels: Devel-NUI, Internal API Changed

#2455 [NUI] Modify CA2000 warnings for Visual
  src/Tizen.NUI/src/public/VisualMaps.cs
  src/Tizen.NUI/src/public/Visuals/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/ArcVisual.cs
  src/Tizen.NUI/src/public/Visuals/BorderVisual.cs
  src/Tizen.NUI/src/public/Visuals/ColorVisual.cs
  src/Tizen.NUI/src/public/Visuals/GradientVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualAnimator.cs
Labels: Devel-NUI

#2454 [NUI] Add Obsolete Attribute for ControlStates enum
  src/Tizen.NUI/src/public/BaseComponents/Style/Constants.cs
Labels: Devel-NUI, Internal API Changed

#2459 Revert "[NUI] Modify CA2000 warnings for Visual"
  src/Tizen.NUI/src/public/VisualMaps.cs
  src/Tizen.NUI/src/public/Visuals/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/ArcVisual.cs
  src/Tizen.NUI/src/public/Visuals/BorderVisual.cs
  src/Tizen.NUI/src/public/Visuals/ColorVisual.cs
  src/Tizen.NUI/src/public/Visuals/GradientVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualAnimator.cs
Labels: Devel-NUI

#2452 [NUI] Override Dispose() in Navigator
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NavigatorSample.cs
Labels: Devel-NUI, Internal API Changed

#2413 [NUI] make RelativeLayout public
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: ACR Accepted, API9, Internal API Changed

#2460 [NUI] Modify CA2000 Warnings for VisualMap
  src/Tizen.NUI/src/public/VisualMaps.cs
Labels: Devel-NUI

#2463 Revert "[NUI] Fix CA2000 issue in DefaultTheme(Dispose object before …
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
Labels: Devel-NUI

#2448 [NUI] Fix the crash issue when IndicatorSize is null(Pagination).
  src/Tizen.NUI.Components/Controls/Pagination.cs
Labels: Devel-NUI

#2449 [NUI] Add ImageList property
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Style/LoadingStyle.cs
Labels: Devel-NUI, Internal API Changed

#2465 [NUI] Modify CA2000 Warnings for TextVisual and VisualAnimator
  src/Tizen.NUI/src/public/Visuals/TextVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualAnimator.cs
Labels: Devel-NUI

#2462 [NUI] Use correct calling convention
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/DaliEventHandler.cs
Labels: Devel-NUI

#2466 [NUI] Fix CA2000 issues in Model3dView and RenderTask.
  src/Tizen.NUI/src/internal/Model3dView.cs
  src/Tizen.NUI/src/internal/RenderTask.cs
Labels: Devel-NUI

#2469 [NUI] remove needless null validation in LayoutItem.SetFrame
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2471 [NUI] Fix Svace issues
  src/Tizen.NUI/src/internal/PropertyRangeManager.cs
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
Labels: API8

#2474 [NUI] Fix CA1716 build warning
  src/Tizen.NUI/src/internal/DaliEnumConstants.cs
  src/Tizen.NUI/src/public/VisualConstants.cs
  src/Tizen.NUI/src/public/XamlBinding/Internals/IDynamicResourceHandler.cs
Labels: Devel-NUI

#2472 [System] Add internal APIs for power off and reboot
  src/Tizen.System/Device/Power.cs
  src/Tizen.System/Interop/Interop.Device.cs
Labels: API9, Internal API Changed

#2475 Add internal APIs for power off and reboot
  src/Tizen.System/Device/Power.cs
  src/Tizen.System/Interop/Interop.Device.cs
Labels: API8, Internal API Changed

#2473 [NUI] Fix CA2000 issues for Visuals
  src/Tizen.NUI/src/public/Visuals/ArcVisual.cs
  src/Tizen.NUI/src/public/Visuals/BorderVisual.cs
  src/Tizen.NUI/src/public/Visuals/ColorVisual.cs
  src/Tizen.NUI/src/public/Visuals/ImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/NPatchVisual.cs
  src/Tizen.NUI/src/public/Visuals/SVGVisual.cs
Labels: Devel-NUI

#2477 [Packagemanager] Fix registering internal event callback
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: API9

#2476 [NUI] Fix build error and large text size issue
  test/Tizen.NUI.Samples/Tizen.NUI.Samples.sln
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliTableView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
Labels: Devel-NUI

#2479 Revert "[Packagemanager] Fix registering internal event callback"
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: API9
