Repository Samsung/TizenFX, pull requests merged in 2020-11, with the labels that each got.

#2145 [Elmsharp] Add fontconfig reinit method
  src/ElmSharp/ElmSharp/Utility.cs
  src/ElmSharp/Interop/Interop.Evas.cs
Labels: ACR Required, API7

#2144 [Elmsharp] Add fontconfig reinit method
  src/ElmSharp/ElmSharp/Utility.cs
  src/ElmSharp/Interop/Interop.Evas.cs
Labels: ACR Required, API8

#2154 [NUI] Fix ScrollableBase Size Issue
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/DaliEnumConstants.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: API8, Internal API Changed

#2070 [NUI] Add defensive code for ViewSignal Disconnect()
  src/Tizen.NUI/src/internal/ViewSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API6

#2159 [NUI] fix ScrollableBase layout properties
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API8

#2155 [WiFi] Use cloned apHandle
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/ConnectionStateChangedEventArgs.cs
Labels: API8

#2156 [WiFi] Use cloned apHandle
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/ConnectionStateChangedEventArgs.cs
Labels: API7

#2119 [NUI] Add try-catch block in New function
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
Labels: API8

#2105 [NUI] Add TouchArea property.
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: API8, Internal API Changed

#2162 [NUI] Add defensive code for ViewSignal Disconnect()
  src/Tizen.NUI/src/internal/ViewSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API8

#2160 [NUI] Add defensive code for ViewSignal Disconnect()
  src/Tizen.NUI/src/internal/ViewSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API7

#2164 [NUI] Fix default animation bug of seamless
  src/Tizen.NUI/src/public/TransitionAnimations/TransitionAnimations.cs
Labels: API8

#2166 Revert "[NUI] Add TouchArea property. (#2105)"
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: API9, Internal API Changed

#2167 Revert "[NUI] Add TouchArea property. (#2105)"
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: API8, Internal API Changed

#2171 [NUI] Add try-catch block in New function (#2119)
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
Labels: API6

#2170 [NUI] Add try-catch block in New function (#2119)
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
Labels: API7

#2168 [NUI] change Column, Row default value from -1 to AutoColumn, AutoRow
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
Labels: API8, Internal API Changed

#2179 [NUI] No need to do Registry.GetManagedBaseHandleFromNativePtr().
  src/Tizen.NUI/src/public/Gesture.cs
  src/Tizen.NUI/src/public/Hover.cs
  src/Tizen.NUI/src/public/Key.cs
  src/Tizen.NUI/src/public/LongPressGesture.cs
  src/Tizen.NUI/src/public/PanGesture.cs
  src/Tizen.NUI/src/public/PinchGesture.cs
  src/Tizen.NUI/src/public/RotationGesture.cs
  src/Tizen.NUI/src/public/TapGesture.cs
  src/Tizen.NUI/src/public/Wheel.cs
Labels: API8

#2181 [NUI] No need to do Registry.GetManagedBaseHandleFromNativePtr().
  src/Tizen.NUI/src/public/Gesture.cs
  src/Tizen.NUI/src/public/Hover.cs
  src/Tizen.NUI/src/public/Key.cs
  src/Tizen.NUI/src/public/LongPressGesture.cs
  src/Tizen.NUI/src/public/PanGesture.cs
  src/Tizen.NUI/src/public/PinchGesture.cs
  src/Tizen.NUI/src/public/RotationGesture.cs
  src/Tizen.NUI/src/public/TapGesture.cs
  src/Tizen.NUI/src/public/Wheel.cs
Labels: Devel-NUI

#2190 Fix static analysis issues
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API9

#2193 Fix static analysis issues
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API8

#2191 fixed build warning CS1574
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
  src/Tizen.NUI/src/internal/FrameProvider/FrameProvider.cs
Labels: Devel-NUI

#2100 [NUI] Fix recursion when the view sets KeyboardNavigationSupport to true
  src/Tizen.NUI/src/internal/ViewWrapperImpl.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
Labels: API9, Devel-NUI

#2176 [NUI] Introduce ThemeResource
  src/Tizen.NUI/src/internal/XamlBinding/Internals/ResourceLoader.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ThemeResourceSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/res/SampleTheme.xaml
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/res/SampleThemeResourceDark.xaml
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/res/SampleThemeResourceDefault.xaml
Labels: Devel-NUI, Internal API Changed

#2188 [NUI] Do not make error message when the profile theme file is not found
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#2157 [NUI] Fix warnings about CA2000 of NUI.Components.
  src/Tizen.NUI.Components/Controls/DropDown.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleViewLayoutManager.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/PreloadStyle/OverlayAnimationButtonStyle.cs
Labels: Devel-NUI

#2201 [NUI] change orientation angle in GLWindow
  src/Tizen.NUI/src/public/GLWindow.cs
Labels: API8, Internal API Changed

#2199 [NUI] change orientation angle in GLWindow
  src/Tizen.NUI/src/public/GLWindow.cs
Labels: Devel-NUI, Internal API Changed

#2209 Revert "[NUI] change orientation angle in GLWindow"
  src/Tizen.NUI/src/public/GLWindow.cs
Labels: API8, Internal API Changed

#2213 [NUI] Fixed svace defects of Visuals
  src/Tizen.NUI/src/public/Visuals/PrimitiveVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualAnimator.cs
Labels: API8

#2116 [NUI] Add EnableMultiSelected to SelectGroup
  src/Tizen.NUI.Components/Controls/RadioButtonGroup.cs
  src/Tizen.NUI.Components/Controls/SelectGroup.cs
Labels: Devel-NUI, Internal API Changed

#2215 [NUI] fix ThemeResourceSample build error
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ThemeResourceSample.cs
Labels: Devel-NUI

#2211 [NUI] Fix bulid warnings in Shadow
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
Labels: Devel-NUI, Internal API Changed

#2218 Fix static analysis issues (#2190)
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: Devel-NUI

#2224 [Build] Add FOTA script for TizenFX
  packaging/500.tizenfx_upgrade.sh
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API8

#2225 [Build] Add FOTA script for TizenFX
  packaging/500.tizenfx_upgrade.sh
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API9

#2212 [NUI] Fix CA2000 warning issues of GLWindow / ViewInternal.
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/GLWindow.cs
Labels: Devel-NUI

#2226 [NUI] Support theme for TV profile
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API8

#2233 [NUI] fix a CA1507 warning
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
Labels: Devel-NUI

#2235 [Build] Fix wrong dependency of Tizen.NET nuget package
  pkg/Tizen.NET/Tizen.NET.nuspec
Labels: API9

#2227 [NUI] fixed build warning CA1802
  src/Tizen.NUI/src/internal/XamlBinding/Device.cs
Labels: Devel-NUI

#2236 Revert "[NUI] NUI has a default theme in TV profile"
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API8

#2195 [NUI] Fill missing descriptions and fix build warnings for Theme
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#2240 [NUI] fix a CA2200 warning
  src/Tizen.NUI/src/internal/Xaml/RegisterXNamesVisitor.cs
Labels: Devel-NUI

#2228 [NUI] fixed build warning CA2208
  src/Tizen.NUI/src/internal/EnumHelper.cs
  src/Tizen.NUI/src/internal/Xaml/CreateValuesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/ExpandMarkupsVisitor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/FocusManager.cs
  src/Tizen.NUI/src/public/Xaml/StaticResourceExtension.cs
  src/Tizen.NUI/src/public/Xaml/XamlServiceProvider.cs
  src/Tizen.NUI/src/public/XamlBinding/BindingBase.cs
Labels: Devel-NUI

#2239 [NUI] fixed build warning CA1707
  src/Tizen.NUI/src/internal/Interop/Interop.RenderTask.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Renderer.cs
  src/Tizen.NUI/src/internal/RenderTask.cs
  src/Tizen.NUI/src/internal/RenderTaskList.cs
  src/Tizen.NUI/src/internal/RenderTaskSignal.cs
  src/Tizen.NUI/src/public/Renderer.cs
Labels: Devel-NUI, Internal API Changed

#2241 [NUI] fixed build warning CA1707
  src/Tizen.NUI/src/internal/Interop/Interop.ItemFactory.cs
  src/Tizen.NUI/src/internal/ItemFactory.cs
Labels: Devel-NUI, Internal API Changed

#2187 [NUI] Add ExcludeLayouting to View
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI, Internal API Changed

#2196 [NUI] Add ExcludeLayouting to View
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: API8, Internal API Changed

#2152 [NUI] Text: Add more selection functinality into TextEditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
Labels: Devel-NUI, Internal API Changed

#2246 [NUI] Add Animation Finished callback debug log temporarily
  src/Tizen.NUI/src/public/Animation.cs
Labels: API8

#2242 [NUI] Fix exception defect when LanguageChanged event has come
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: API8

#2243 [NUI] Fix exception defect when LanguageChanged event has come
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#2056 [NUI] Add Navigator and Page classes
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI/src/internal/XamlBinding/IPageContainer.cs
  src/Tizen.NUI/src/internal/XamlBinding/IPageController.cs
  src/Tizen.NUI/src/public/XamlBinding/ContentPage.cs
  src/Tizen.NUI/src/public/XamlBinding/Page.cs
  src/Tizen.NUI/src/public/XamlBinding/TemplatedPage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NavigatorSample.cs
Labels: Devel-NUI, Internal API Changed

#2244 [NUI] remove "_" and refactoring naming to pascal case.
  src/Tizen.NUI/src/internal/AccessibilityActionSignal.cs
  src/Tizen.NUI/src/internal/AccessibilityFocusOvershotSignal.cs
  src/Tizen.NUI/src/internal/ActivatedSignalType.cs
  src/Tizen.NUI/src/internal/HoverSignal.cs
  src/Tizen.NUI/src/internal/Interop/Inerop.KeyboardEventSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilityManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActivatedSignalType.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorContainer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorHoverSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/internal/KeyboardEventSignalType.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewSelectorData.cs
  src/Tizen.NUI/src/public/Layer.cs
  src/Tizen.NUI/src/public/Window.cs
Labels: Devel-NUI

#2180 [NUI] change Column, Row default value from -1 to AutoColumn, AutoRow
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
Labels: Devel-NUI, Internal API Changed

#2220 [NUI] Remove [Obsolete()] attribute
  src/Tizen.NUI/src/public/Color.cs
  src/Tizen.NUI/src/public/Extents.cs
  src/Tizen.NUI/src/public/Position.cs
  src/Tizen.NUI/src/public/Position2D.cs
  src/Tizen.NUI/src/public/Rectangle.cs
  src/Tizen.NUI/src/public/RelativeVector2.cs
  src/Tizen.NUI/src/public/RelativeVector3.cs
  src/Tizen.NUI/src/public/RelativeVector4.cs
  src/Tizen.NUI/src/public/Size.cs
  src/Tizen.NUI/src/public/Size2D.cs
  src/Tizen.NUI/src/public/Vector2.cs
  src/Tizen.NUI/src/public/Vector3.cs
  src/Tizen.NUI/src/public/Vector4.cs
Labels: ACR Required, API8

#2250 [NUI] Unsubscribe theme changed event when the view is not on window
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API8

#2247 [NUI] fixed bug about set desired size
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API8

#2257 [NUI] Correct the meaning of ExcludeLayouting.
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#2256 [NUI] Correct the meaning of ExcludeLayouting.
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: API8

#2186 [NUI] Enable/Disable overshooting effect for ScrollableBase.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI, Internal API Changed

#2265 Revert "[NUI] Unsubscribe theme changed event when the view is not on…
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API8

#2258 [NUI] fix CA1801 build warnings
  src/Tizen.NUI/src/internal/DaliEnumConstants.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBaseErrorFactory.cs
  src/Tizen.NUI/src/internal/FrameProvider/FrameProviderErrorFactory.cs
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/ExpandMarkupsVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/NamescopingVisitor.cs
  src/Tizen.NUI/src/internal/XamlBinding/BindingExpression.cs
  src/Tizen.NUI/src/internal/XamlBinding/Device.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/Style.cs
  src/Tizen.NUI/src/internal/XamlBinding/TemplateUtilities.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Events/GestureDetectorManager.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Rectangle.cs
  src/Tizen.NUI/src/public/Xaml/StaticResourceExtension.cs
  src/Tizen.NUI/src/public/Xaml/XamlFilePathAttribute.cs
  src/Tizen.NUI/src/public/XamlBinding/Element.cs
Labels: Devel-NUI

#2254 [NUI] synchronize View.ExcludeLayouting and FlexLayout.PositionType
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#2267 [NUI] Revert Layout patches
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: API8, Internal API Changed

#2269 [NUI] fix CellPadding bugs on LinearLayout
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#2272 [NUI] remove unnecessary code that flex margin is assigned to flexlayout
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#2270 [Bluetooth][Non-ACR] Fix svace issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGattImpl.cs
Labels: API9

#2234 [NUI] Fix build warning CA1062
  src/Tizen.NUI/src/internal/Camera.cs
  src/Tizen.NUI/src/internal/ItemContainer.cs
  src/Tizen.NUI/src/internal/ItemIdContainer.cs
  src/Tizen.NUI/src/internal/RenderTask.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/BaseComponents/VisualView.cs
  src/Tizen.NUI/src/public/Capture.cs
  src/Tizen.NUI/src/public/Color.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/CustomViewRegistry.cs
  src/Tizen.NUI/src/public/Extents.cs
  src/Tizen.NUI/src/public/GLWindow.cs
  src/Tizen.NUI/src/public/GraphicsTypeConverter.cs
  src/Tizen.NUI/src/public/ImageLoading.cs
  src/Tizen.NUI/src/public/KeyValue.cs
  src/Tizen.NUI/src/public/Layer.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/NUIComponentApplication.cs
  src/Tizen.NUI/src/public/Position.cs
  src/Tizen.NUI/src/public/Position2D.cs
  src/Tizen.NUI/src/public/PropertyArray.cs
  src/Tizen.NUI/src/public/PropertyMap.cs
  src/Tizen.NUI/src/public/PropertyNotification.cs
  src/Tizen.NUI/src/public/PropertyValue.cs
  src/Tizen.NUI/src/public/RelativeVector2.cs
  src/Tizen.NUI/src/public/RelativeVector3.cs
  src/Tizen.NUI/src/public/RelativeVector4.cs
  src/Tizen.NUI/src/public/Rotation.cs
  src/Tizen.NUI/src/public/Size.cs
  src/Tizen.NUI/src/public/Size2D.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
  src/Tizen.NUI/src/public/Vector2.cs
  src/Tizen.NUI/src/public/Vector3.cs
  src/Tizen.NUI/src/public/Vector4.cs
  src/Tizen.NUI/src/public/VertexBuffer.cs
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
  src/Tizen.NUI/src/public/WidgetViewManager.cs
  src/Tizen.NUI/src/public/Window.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/ColorTypeConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/Element.cs
  src/Tizen.NUI/src/public/XamlBinding/Internals/NameScope.cs
  src/Tizen.NUI/src/public/XamlBinding/SizeTypeConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/Transition.cs
Labels: Devel-NUI

#2271 [NUI] respect flex child margin changes
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#2278 [Bluetooth][Non-ACR] Fix svace issue (#2270)
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGattImpl.cs
Labels: API8

#2222 [NUI] Fix StyleCop warning CA1823
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/ViewImpl.cs
  src/Tizen.NUI/src/internal/WidgetImpl.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/FrameCallbackInterface.cs
Labels: Devel-NUI

#2184 [NUI] remove unused Xamarin style classes
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
  src/Tizen.NUI/src/internal/XamlBinding/Device.cs
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
  src/Tizen.NUI/src/internal/XamlBinding/ResourcesExtensions.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/CharExtensions.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/CssReader.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/IStyle.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/IStyleSelectable.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/Selector.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/Style.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/StylePropertyAttribute.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/StyleSheet.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/StyleSheetExtensions.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/StyleSheetServiceProvider.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/TextReaderExtensions.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Xaml/MarkupExtensions/StyleSheetExtension.cs
  src/Tizen.NUI/src/public/XamlBinding/BindablePropertyConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/Registrar.cs
  src/Tizen.NUI/src/public/XamlBinding/ResourceDictionary.cs
  src/Tizen.NUI/src/public/XamlBinding/Style.cs
Labels: Devel-NUI, Internal API Changed

#2281 [NUI] Load default theme in preload
  src/Tizen.NUI/src/public/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API8

#2285 [NUI] Load default theme in preload
  src/Tizen.NUI/src/public/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#2232 [NUI] Fix StyleCop warning CA2227
  src/Tizen.NUI/src/internal/BackKeyManager.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
Labels: Devel-NUI

#2275 [NUI] Fix Svace issues for Components
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API8

#2294 [Bluetooth][Non-ACR] Fix svace issue (#2270)
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGattImpl.cs
Labels: Devel-NUI

#2298 [NUI] Change setter of property
  src/Tizen.NUI.Components/Controls/DropDown.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleViewLayoutManager.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI.Components/Controls/Toast.cs
  src/Tizen.NUI.Wearable/src/public/CircularPagination.cs
  src/Tizen.NUI.Wearable/src/public/Title.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Color.cs
  src/Tizen.NUI/src/public/VisualMaps.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ViewSizeWidthPropertySetTest.cs
Labels: API8

#2249 [NUI] Adjust ScrollingEventThreshold to cover larger sized ContentCon…
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.code-workspace
Labels: Devel-NUI

#2296 [NUI] Add some APIs to make Accessibility enabled / disabled
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilityManager.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
Labels: API8, Internal API Changed

#2293 [NUI] Fix Svace issues
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#2140 [NUI] Add AttributeUsageAttribute for ScriptableProperty(CA1018)
  src/Tizen.NUI/src/public/CustomViewRegistry.cs
Labels: Devel-NUI

#2299 [NUI] Delete unnecessary log
  src/Tizen.NUI/src/internal/Interop/Interop.Stage.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Util.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/public/Color.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/PropertyValue.cs
  src/Tizen.NUI/src/public/WindowEvent.cs
Labels: Devel-NUI

#2297 [NUI] Add direction & displacement into ScrollOutOfBound event.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableBaseOutOfBoundSample.cs
Labels: Devel-NUI, Internal API Changed

#2300 [NUI] Add direction & displacement into ScrollOutOfBound event.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableBaseOutOfBoundSample.cs
Labels: API8, Internal API Changed

#2301 [NUI] Delete unnecessary log
  src/Tizen.NUI/src/internal/Interop/Interop.Stage.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Util.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/public/Color.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/PropertyValue.cs
  src/Tizen.NUI/src/public/WindowEvent.cs
Labels: API8

#2248 [NUI] Remove [Obsolete()] attribute
  src/Tizen.NUI/src/public/Color.cs
  src/Tizen.NUI/src/public/Extents.cs
  src/Tizen.NUI/src/public/Position.cs
  src/Tizen.NUI/src/public/Position2D.cs
  src/Tizen.NUI/src/public/Rectangle.cs
  src/Tizen.NUI/src/public/RelativeVector2.cs
  src/Tizen.NUI/src/public/RelativeVector3.cs
  src/Tizen.NUI/src/public/RelativeVector4.cs
  src/Tizen.NUI/src/public/Size.cs
  src/Tizen.NUI/src/public/Size2D.cs
  src/Tizen.NUI/src/public/Vector2.cs
  src/Tizen.NUI/src/public/Vector3.cs
  src/Tizen.NUI/src/public/Vector4.cs
Labels: ACR Required, Devel-NUI

#2238 [NUI] Support Blend Equaiton
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/internal/Interop/Interop.GraphicsCapabilities.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BlendEquationType.cs
  src/Tizen.NUI/src/public/Utility/GraphicsCapabilities.cs
Labels: Devel-NUI, Internal API Changed

#2185 [NUI] Add ControlStateTypeConverter for xaml
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
Labels: Devel-NUI, Internal API Changed

#2302 [Build] Fix a security warning of FOTA script
  packaging/500.tizenfx_upgrade.sh
Labels: API9

#2303 [NUI] Fix not to use setter of AnimatedImageView.URLs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AnimatedImageViewTest.cs
Labels: Devel-NUI

#2304 Revert "[NUI] Add direction & displacement into ScrollOutOfBound event."
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableBaseOutOfBoundSample.cs
Labels: API8

#2305 [NUI] Enable/Disable overshooting effect for ScrollableBase.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API8, Internal API Changed

#2306 [NUI] Add ScrollOutOfBoundWithDisplacement event.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableBaseOutOfBoundSample.cs
Labels: API8, Internal API Changed
