Repository Samsung/TizenFX, pull requests merged in 2021-10, with the labels that each got.

#3606 [NUI] fix crash with double enter in TextEditor with TextLabel
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#3633 [NUI] Apply Padding and Margin in AbsoluteLayout
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
Labels: Devel-NUI

#3634 [Applications] Set CultureInfo using LCID instread of locale
  src/Tizen.Applications.Common/Interop/Interop.BaseUtilsi18n.cs
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API9

#3635 [Applications] Fix Getting Fallback CultureInfo
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API9

#3630 [Bluetooth][TCSACR-474] Add gatt service resync change type
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEnumerations.cs
Labels: ACR Required, API9

#3636 Revert "[NUI] Apply Padding and Margin in AbsoluteLayout"
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
Labels: Devel-NUI

#3637 [Applications.Common] Add exception handlings for setting CultureInfo
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API9

#3619 [Tizen.Applications.RPCPort] Fix description
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
Labels: API9

#3578 [NUI] Change ACR argument type of TimePeriod
  src/Tizen.NUI/src/public/Common/TimePeriod.cs
Labels: ACR Required, Devel-NUI

#3691 [NUI] Add TCs for NUI.Components.Devel.
  src/Tizen.NUI.Components/FriendAssembly.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Tizen.NUI.Components.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSAppBar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSContentPage.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSDialogPage.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSNavigator.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSPage.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSAlertDialog.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.Internal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButtonGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSCheckBoxGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSControl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDatePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDialog.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSImageScrollBar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSMenu.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSMenuItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSMenuItemGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSNotification.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPagination.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPopup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSRadioButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSRadioButtonGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollableBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollbar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollbarBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSelectButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSelectGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSlider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSwitch.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTab.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTabButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTabButtonGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTabContent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTabView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTimePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSToast.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSButtonExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSLottieButtonExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSLottieSwitchExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSSlidingSwitchExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSSwitchExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/PreloadStyle/TSOverlayAnimationButtonStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/Extension/TSLottieButtonStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/Extension/TSLottieSwitchStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSImageScrollBarStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSPopupStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSRecyclerViewItemStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSScrollbarStyle .cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSTabButtonStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSTabStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSTimePickerStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSToastStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Utils/TSSelector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Utils/TSStyleManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/tizen-manifest.xml
Labels: Devel-NUI
