Repository Samsung/TizenFX, pull requests merged in 2021-04, with the labels that each got.

#2765 [NUI] Introduce CanvasView component for vector primitives.
  src/Tizen.NUI/src/internal/Interop/Interop.CanvasView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Drawable.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphcis/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphcis/Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphcis/Shape.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSamsple.cs
Labels: **NO MERGE**, Devel-NUI, Internal API Changed

#2830 [NUI] Introduce CanvasView component for vector primitives.
  src/Tizen.NUI/src/internal/Interop/Interop.CanvasView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Drawable.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphcis/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphcis/Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphcis/Shape.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSamsple.cs
Labels: API9, Internal API Changed

#2831 [NUI] Picker fix a defect that could refer to null pointer
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#2832 [NUI] Picker fix a defect that could refer to null pointer
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: API9

#2834 [NUI] Fix "View Inside Fridge" App npatch visual defect
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: API8

#2752 [NUI][AT-SPI] Highlight bindings
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: **NO MERGE**, Devel-NUI, Internal API Changed

#2814 [NUI][AT-SPI] Add Accessibility.StopReading()
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Devel-NUI, Internal API Changed

#2825 [NUI] Introduce NUI TimePicker
  src/Tizen.NUI.Components/Controls/TimePicker.cs
  src/Tizen.NUI.Components/Style/TimePickerStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TimePickerSample.cs
Labels: Devel-NUI, Internal API Changed

#2833 [NUI] Picker style update
  src/Tizen.NUI.Components/Style/PickerStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI, Internal API Changed

#2835 [NUI] Introduce NUI DatePicker
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Style/DatePickerStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DatePickerSample.cs
Labels: Devel-NUI, Internal API Changed

#2827 [NUI] Fix argument issue when launch application on ubuntu
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
Labels: Devel-NUI

#2838 [NUI] Add TextLabel, TextField, TextEditor style and theme.
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/res/IoT_handler_center_downW.png
  src/Tizen.NUI/res/IoT_handler_downleftW.png
  src/Tizen.NUI/res/IoT_handler_downrightW.png
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI, Internal API Changed

#2809 [NUI] Fix button layout when resize policy is FillToParent and etc.
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Style/ButtonStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI, Internal API Changed

#2812 [NUI] Make all property setters in Shadow class to internal
  src/Tizen.NUI.Components/res/Theme/Tizen.NUI.Components_Tizen.NUI.Theme.Common.xaml
  src/Tizen.NUI/src/internal/XamlBinding/VectorTypeConverter.cs
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
  src/Tizen.NUI/src/public/XamlBinding/ShadowTypeConverter.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AnimatedImageViewTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ButtonSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ControlSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PopupSample.cs
Labels: Devel-NUI, Internal API Changed

#2845 [NUI] Fix not to block touch event by Scrollbar
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: Devel-NUI

#2853 [NUI] Fix Window.Instance null issue
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#2854 [NUI] Add extension method to help use PropertyMap class
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
Labels: Devel-NUI

#2813 [NUI] Support markup anchor to TextLabel, TextField, TextEditor
  src/Tizen.NUI/src/internal/Common/TextLabelSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelEvent.cs
Labels: Devel-NUI, Internal API Changed

#2858 Revert "[NUI] Button text ellipsis enabled and etc. (#2772)"
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
Labels: API9

#2859 [NUI] Add null check in LayoutController.Process
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: Devel-NUI

#2856 [NUI] Palette Fix incorrectly caclulated color values
  src/Tizen.NUI/src/public/Utility/Palette.cs
Labels: Devel-NUI

#2841 [NUI] Improve Process of LayoutController
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2863 [NUI] Change CornerRadius type to Vector4 from float
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
Labels: Devel-NUI, Internal API Changed

#2864 [NUI] Create TextLayout when parent has layout
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: API8

#2839 [NUI][AT-SPI] Improve StringToVoid implementation
  src/Tizen.NUI/src/internal/Common/StringToVoidSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.StringToVoidSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
Labels: Devel-NUI, Internal API Changed

#2849 [NUI] Apply to use RenderTaskList
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Common/RenderTaskList.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI, Internal API Changed

#2837 [NUI]public the converter for Xaml
  src/Tizen.NUI/src/internal/XamlBinding/PositionTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/RectangleTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/RotationTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/TypeTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/VectorTypeConverter.cs
Labels: Devel-NUI, Internal API Changed

#2843 [NUI] Implement APIs for form repost decision & frame rendered.
  src/Tizen.NUI/src/internal/Interop/Interop.WebFormRepostPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebCookieManager.cs
  src/Tizen.NUI/src/internal/WebView/WebFormRepostPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewFormRepostPolicyDecidedEventArgs.cs
  src/Tizen.NUI/src/internal/WebView/WebViewFormRepostPolicyDecidedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewFrameRenderedSignal.cs
Labels: Devel-NUI, Internal API Changed

#2847 [NUI] Fix default value of VisualMap.Origin
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
Labels: Devel-NUI

#2846 [NUI] Add Devel(internal) TCs
  src/Tizen.NUI/src/public/Animation/AlphaFunction.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/Program.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Accessibility/TSAccessibilityDoGestureSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/BaseComponents/TSViewPublicMethods.cs
  test/Tizen.NUI.Tests/nunitlite/TUnit/TRunner.cs
Labels: Devel-NUI

#2868 [NUI][AT-SPI] Event emission added for button
  src/Tizen.NUI.Components/Controls/Button.cs
Labels: Devel-NUI

#2866 [NUI] Fix type comparison method in PropertyHelper
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
Labels: Devel-NUI

#2855 [NUI] Picker fix scroll position moves to an incorrect place after an…
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#2861 [NUI] AppBar code refactoring
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AppBarSample.cs
Labels: Devel-NUI, Internal API Changed

#2842 [WebView] Support request intercept
  src/Tizen.WebView/Interop/Interop.ChromiumEwk.Context.cs
  src/Tizen.WebView/Interop/Interop.ChromiumEwk.InterceptRequest.cs
  src/Tizen.WebView/Tizen.WebView.sln
  src/Tizen.WebView/Tizen.WebView/Context.cs
  src/Tizen.WebView/Tizen.WebView/RequestInterceptor.cs
Labels: API9, Internal API Changed

#2875 [NUI] Enable TextLabel's BindableProperties to be affected by Layout change
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  test/NUITestSample/NUIXAMLTestSample/NUIXAMLTestSample.cs
  test/NUITestSample/NUIXAMLTestSample/TextLayoutSample/TextLayoutPage.xaml.cs
  test/NUITestSample/NUIXAMLTestSample/TextLayoutSample/TextLayoutSample.cs
  test/NUITestSample/NUIXAMLTestSample/res/layout/TextLayoutPage.xaml
Labels: Devel-NUI, Internal API Changed

#2885 [Bluetooth][Non-ACR] Fix BluetoothDevice data converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API7

#2888 [Bluetooth][Non-ACR] Fix BluetoothDevice data converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API8

#2887 [Bluetooth][Non-ACR] Fix BluetoothDevice data converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#2877 [NUI] Add AlertDialogStyle class with the latest AlertDialog UX
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Style/AlertDialogStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI, Internal API Changed

#2889 [NUI] Add Animation(Internal) TCs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Animation/TSAnimatablePropertyComponentRegistration.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Animation/TSAnimatablePropertyRegistration.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Animation/TSAnimationSignal.cs
Labels: Devel-NUI

#2883 [NUI] Apply Padding and Margin on CollectionView and Layouter with styles
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI, Internal API Changed

#2895 [NUI] Optimizing item positioning on MeasureFirst
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#2844 [NUI] Keep the previously set FittingMode value
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#2818 [NUI] View Transition with page switching
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TransitionItem.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TransitionItemBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TransitionSet.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItemBase.cs
  src/Tizen.NUI/src/internal/Transition/TransitionSet.cs
  src/Tizen.NUI/src/internal/Transition/TransitionSetSignal.cs
  src/Tizen.NUI/src/public/Animation/TransitionOptions.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/TimePeriod.cs
  src/Tizen.NUI/src/public/Transition/Transition.cs
  src/Tizen.NUI/src/public/Transition/TransitionBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
Labels: Devel-NUI, Internal API Changed

#2905 [NUI] Add dark theme temporarily
  src/Tizen.NUI.Components/Theme/ThemeDark.cs
  src/Tizen.NUI/src/public/Theme/ThemeDark.cs
Labels: Devel-NUI

#2899 [NUI] VectorGraphics: Add Shape.ResetPath api
  src/Tizen.NUI/src/internal/Interop/Interop.Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphcis/Shape.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSamsple.cs
Labels: Devel-NUI, Internal API Changed

#2900 [NUI] Implement some new APIs of webcontext.
  src/Tizen.NUI/src/internal/Interop/Interop.WebContext.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebPasswordDataList.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebSecurityOriginList.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebPasswordDataList.cs
  src/Tizen.NUI/src/internal/WebView/WebSecurityOriginList.cs
Labels: Devel-NUI, Internal API Changed

#2914 [NUI] Fix license year information for TabView classes
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Controls/TabButtonGroup.cs
  src/Tizen.NUI.Components/Controls/TabContent.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
  src/Tizen.NUI.Components/Style/TabButtonStyle.cs
Labels: Devel-NUI

#2908 [NUI] Add dark theme for Text components
  src/Tizen.NUI/src/public/Theme/ThemeDark.cs
Labels: Devel-NUI

#2913 [NUI] Fix to pass touch event when DialogPage's Scrim is disabled
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
Labels: Devel-NUI

#2737 [Peripheral] Fix Dispose pattern in Tizen.Peripheral
  internals/src/Tizen.Peripheral/Tizen.Peripheral/Adc.cs
  internals/src/Tizen.Peripheral/Tizen.Peripheral/Gpio.cs
  internals/src/Tizen.Peripheral/Tizen.Peripheral/I2c.cs
  internals/src/Tizen.Peripheral/Tizen.Peripheral/Pwm.cs
  internals/src/Tizen.Peripheral/Tizen.Peripheral/Spi.cs
  internals/src/Tizen.Peripheral/Tizen.Peripheral/Uart.cs
Labels: API9

#2872 [NUI] Make some of Progress and Slider public methods
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Style/ProgressStyle.cs
  src/Tizen.NUI.Components/Style/SliderStyle.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2912 [NUI] Add Menu, MenuItem, MenuItemGroup classes
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuItem.cs
  src/Tizen.NUI.Components/Controls/MenuItemGroup.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/nui_component_menu_item_bg.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MenuSample.cs
Labels: Devel-NUI, Internal API Changed

#2870 [NUI] Add NUI Enhanced Xaml and change xaml converters as hidden API
  src/Tizen.NUI/src/internal/EXaml/Action/Action.cs
  src/Tizen.NUI/src/internal/EXaml/Action/AddEventAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/AddExistInstanceAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/AddToResourceDictionary.cs
  src/Tizen.NUI/src/internal/EXaml/Action/CallAddMethodAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/CreateObjectAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GatherBindablePropertiesAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueListAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/RegisterXNameAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetBindalbePropertyAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetBindingAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetDynamicResourceAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetPropertyAction.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherAssembliesBlock.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherEventsBlock.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherMethodsBlock.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherPropertiesBlock.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherTypesBlock.cs
  src/Tizen.NUI/src/internal/EXaml/LoadEXaml.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/AddEvent.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/AddToResourceDictionary.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CallAddMethod.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateInstance.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherAssembly.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherBindableProperties.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherConvertedValue.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherEnumValue.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherEvent.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherMethod.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherProperty.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherType.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/Operation.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/RegisterXName.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetBindalbeProperty.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetBinding.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetDynamicResource.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
  src/Tizen.NUI/src/public/EXaml/EXamlExtensions.cs
Labels: Devel-NUI, Internal API Changed

#2850 [NUI] Make bindable properties in Style and View have same name and etc.
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ImageViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldSelectorData.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelSelectorData.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewSelectorData.cs
Labels: Devel-NUI, Internal API Changed

#2874 [NUI][AT-SPI] Simplify ReadingInfoTypes
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
Labels: Devel-NUI, Internal API Changed

#2884 [NUI] Fix gather assembly for xaml
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
Labels: API9

#2892 [NUI] Add APIs of webview back forward list
  src/Tizen.NUI/src/internal/Interop/Interop.WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebView/WebBackForwardList.cs
Labels: Devel-NUI, Internal API Changed

#2897 [NUI] Add webview settings apis
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
Labels: Devel-NUI, Internal API Changed

#2921 [NUI] Add Common(Public) TCs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSExtents.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSProperty.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyArray.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyBuffer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyCondition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyKey.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyMap.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyNotification.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyNotifySignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyValue.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSTypeInfo.cs
Labels: Devel-NUI

#2823 [NUI][ATSPI] Accessibility added to Loading component
  src/Tizen.NUI.Components/Controls/Loading.cs
Labels: Devel-NUI

#2926 [NUI] VectorGraphics: Fix directory name typo
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
Labels: Devel-NUI

#2929 [NUI] Version update (nui22022)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2925 [NUI] Update NUI Slider default and dark themes
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/Theme/ThemeDark.cs
  src/Tizen.NUI.Components/res/IoT_progressindicator_empty.png
  src/Tizen.NUI.Components/res/IoT_progressindicator_progress.png
  src/Tizen.NUI.Components/res/IoT_progressindicator_progress_dark.png
  src/Tizen.NUI.Components/res/IoT_progressindicator_progressdisabled.png
  src/Tizen.NUI.Components/res/IoT_slider_handler_normal.png
  src/Tizen.NUI.Components/res/IoT_slider_handler_normalW.png
  src/Tizen.NUI.Components/res/IoT_slider_status_empty_track.png
  src/Tizen.NUI.Components/res/IoT_slider_status_track.png
  src/Tizen.NUI.Components/res/IoT_slider_status_trackW.png
  src/Tizen.NUI.Components/res/IoT_slider_status_track_disabled.png
Labels: Devel-NUI

#2933 [NUI] Fix ImageView Dispose crash
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API9

#2937 [NUI] Fix svace issues in EXaml and Accessibility
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Devel-NUI

#2936 [NUI] Fix svace issues in EXaml and Accessibility
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: API9

#2865 [NUI] Open NUI.ThemeManager and related APIs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeChangedEventArgs.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2942 [NUI] Fix null reference check in CollectionViews.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#2939 [NUI] Update some descriptions of View properties
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2893 [NUI] Implement certificate & authentication APIs of WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebCertificate.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebHttpAuthHandler.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebCertificate.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpAuthHandler.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewCertificateReceivedEventArgs.cs
  src/Tizen.NUI/src/internal/WebView/WebViewCertificateReceivedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewHttpAuthRequestedEventArgs.cs
  src/Tizen.NUI/src/internal/WebView/WebViewHttpAuthRequestedSignal.cs
Labels: Devel-NUI, Internal API Changed

#2923 [NUI] Implement hit test APIs of webview.
  src/Tizen.NUI/src/internal/Interop/Interop.WebHitTest.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebHitTestResult.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI, Internal API Changed

#2940 [NUI] Add webview context and cookiemanager apis
  src/Tizen.NUI/src/internal/Interop/Interop.WebContext.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebCookieManager.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebCookieManager.cs
Labels: Devel-NUI, Internal API Changed

#2945 [NUI] Fix null reference check in CollectionViews. (#2942)
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: API9

#2944 [NUI] Rename some properties of WebView, WebSettings, etc.
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebCookieManager.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewUrlChangedEventArgs.cs
Labels: Devel-NUI, Internal API Changed

#2879 [NUI] Scrollbar does not change theme style
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: Devel-NUI

#2867 [NUI] Open newly added APIs in Button and Notification
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Notification.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2904 [NUI] Make Transition public API
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/Animation/TransitionOptions.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/TimePeriod.cs
  src/Tizen.NUI/src/public/Transition/Transition.cs
  src/Tizen.NUI/src/public/Transition/TransitionBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2917 [NUI] Make AppBar APIs public
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Style/Navigation/AppBarStyle.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2943 [NUI] Add Animation(Public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSAlphaFunction.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSAnimatable.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSAnimation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSKeyFrames.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSPath.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSTransitionAnimations.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSTransitionData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSTransitionOptions.cs
Labels: Devel-NUI

#2948 [NUI] Change TouchArea to TouchAreaOffset
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI, Internal API Changed

#2951 [NUI] Apply Vector4 corner radius internally.
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
Labels: Devel-NUI, Internal API Changed

#2952 [NUI] Version update (nui22023)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2758 [Build] Add to RIDs for 6.5.0
  packaging/csapi-tizenfx.spec
  pkg/Tizen.NET/runtime.json
Labels: API9

#2852 [NUI][AT-SPI] Default accessibility support for Tizen.NUI.Components.Progress
  src/Tizen.NUI.Components/Controls/Progress.cs
Labels: Devel-NUI, Internal API Changed

#2798 [Peripheral] Gpio callback return pin value from structure.
  internals/src/Tizen.Peripheral/Interop/Gpio.cs
  internals/src/Tizen.Peripheral/Tizen.Peripheral/Gpio.cs
Labels: API9

#2956 [NUI] Fix default theme id
  src/Tizen.NUI/src/public/Theme/DefaultTheme.cs
Labels: Devel-NUI

#2963 [NUI] Support List property, load multi EXaml and fix svace issue
  src/Tizen.NUI/src/internal/EXaml/LoadEXaml.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GetObjectByProperty.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
Labels: Devel-NUI

#2964 [EXaml] Fix SVACE issue
  src/Tizen.NUI/src/internal/EXaml/LoadEXaml.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GetObjectByProperty.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
Labels: API9

#2966 [Xaml] Fix issue that can't load theme in Tizen.NUI
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
Labels: API9

#2968 [Xaml] Fix issue that can't load theme in Tizen.NUI
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
Labels: Devel-NUI

#2970 [NUI] Fix default theme id
  src/Tizen.NUI/src/public/Theme/DefaultTheme.cs
Labels: API9

#2969 [NUI] Remove logic that prevent theme changing overwrite user set pro…
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API9, Internal API Changed

#2965 [NUI] Remove prevent theme overwrite
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API9, Devel-NUI, Internal API Changed

#2959 [NUI] set Internal SizingStrategy to hide MeasureAll option.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSizingStrategy.cs
Labels: Devel-NUI, Internal API Changed

#2957 [NUI] Implements view update on NotifyCollectionChanged in collectionView.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ICollectionChangedNotifier.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/ObservableGroupedSource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/CollectionViewGridSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/CollectionViewLinearSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Gallery.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewGridGroupSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewLinearGroupSample.cs
Labels: Devel-NUI, Internal API Changed

#2928 [NUI] Propgate BindingContext recursively on RecyclerViewItem.
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
Labels: Devel-NUI

#2960 [NUI] fix crash on collecitonView which looks like bug action..
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#2961 [NUI] Initialize CollectionView when scrolling direction changed.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#2975 [MediaTool] Change pinvoke method
  src/Tizen.Multimedia/Interop/Interop.MediaTool.cs
  src/Tizen.Multimedia/MediaTool/AudioMediaFormat.cs
Labels: API9

#2949 [NUI][ATSPI] Alert dialog
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
Labels: Devel-NUI, Internal API Changed

#2954 [NUI][ATSPI] remove build warning messages
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  test/NUITestSample/NUITestSample/examples/AtspiTest.cs
Labels: Devel-NUI, Internal API Changed

#2941 [NUI][ATSPI] Add Accessibility.SuppressScreenReader()
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Devel-NUI, Internal API Changed
