Repository Samsung/TizenFX, pull requests merged in 2021-08, with the labels that each got.

#3360 [NUI] Update webview sample code.
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Devel-NUI

#3363 [NUI] CanvasView: Change name DrawableGroup::Clear() to RemoveAllDrawables()
  src/Tizen.NUI/src/internal/Interop/Interop.DrawableGroup.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/DrawableGroup.cs
Labels: Devel-NUI, Internal API Changed

#3365 [NUI] Apply BorderlineWidth to ImageView and ImageView.Background
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#3359 [NUI][EXaml] Support DataTemplate in EXaml
  src/Tizen.NUI/src/internal/EXaml/Action/OtherActions.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherLongStringsBlock.cs
  src/Tizen.NUI/src/internal/EXaml/GlobalDataList.cs
  src/Tizen.NUI/src/internal/EXaml/LoadEXaml.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/AddToCollectionInstance.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateDataTemplate.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateInstance.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherType.cs
  src/Tizen.NUI/src/public/EXaml/EXamlExtensions.cs
Labels: Devel-NUI, Internal API Changed

#3336 [NUI] GestureOptions Binding
  src/Tizen.NUI/src/internal/Interop/Interop.GestureOptions.cs
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TouchGestureSample.cs
Labels: Devel-NUI, Internal API Changed

#3366 [NUI] Version update (nui22037)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3367 Rebase DevelNUI
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: Devel-NUI

#3369 [NUI] BaseComponent: Add RiveAnimationView Component.
  src/Tizen.NUI/src/internal/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/RiveAnimationView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/buggy.riv
Labels: Devel-NUI, Internal API Changed

#3361 [NUI] CanvasView:: Add ViewBox Property
  src/Tizen.NUI/src/internal/Interop/Interop.CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
Labels: Devel-NUI, Internal API Changed

#3371 [NUI] RiveAnimationView: refines the function and parameter names
  src/Tizen.NUI/src/internal/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/RiveAnimationView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
Labels: Devel-NUI, Internal API Changed

#3384 [Applications] Fix wrong implementation of AttachWindowBelow method
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API9

#3386 [NUI] Fix svace issues
  src/Tizen.NUI.Components/Controls/ButtonGroup.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#3387 [NUI] sync from master to DevelNUI
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: Devel-NUI

#3378 [NUI] Change ColorDepth enum to ColorFormat
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageQueue.cs
  src/Tizen.NUI/src/public/Images/NativeImageQueue.cs
Labels: Internal API Changed, Devel-NUI

#3382 [NUI] RiveAnimationView: Add SetAnimationElapsedTime API
  src/Tizen.NUI/src/internal/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/RiveAnimationView.cs
Labels: Internal API Changed, Devel-NUI

#3383 [NUI] RiveAnimationView Samples: Add More RiveAnimationView Samples
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationFollowTouch.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationRollInOut.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationUniverse.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/ViewItemBgImage.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/ViewItemBgImageEnd.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/ViewItemBgImageFirst.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/ViewItemBgImageFirstClicked.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/buggy.riv
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/flame-and-spark.riv
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/space_reload.riv
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/teeny_tiny_file.riv
Labels: Devel-NUI

#3392 [NUI] Unparent view when Dispose() is called explicitly
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#3272 [NUI] Add InputFilter to TextField, TextEditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Internal API Changed, Devel-NUI

#3393 [NUI] Fix wrong code of initialize style in View
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#3404 [NUI] Version update (nui22038)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3394 [NUI] Fix comments of CornerRadiusPolicy and Borderline
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
Labels: Devel-NUI

#3402 [NUI] Add a comment about SENSITIVE.
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#3407 [NUI] Fix FlexLayout not to fill its parent with WrapContent
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#3408 [NUI] Fix FlexLayout to measure its child correctly
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#3419 Add and change lock about event handler
  src/Tizen.System.SystemSettings/Tizen.System.SystemSettings/SystemSettings.cs
Labels: API9

#3376 [Bluetooth][Non-ACR] Add internal APIs
  src/Tizen.Network.Bluetooth/Interop/Interop.Bluetooth.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapter.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAudioImpl.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEnumerations.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGattImpl.cs
Labels: Internal API Changed, API9

#3389 [NUI] VectorGraphics: Add Gradient feature
  src/Tizen.NUI/src/internal/Interop/Interop.Gradient.cs
  src/Tizen.NUI/src/internal/Interop/Interop.LinearGradient.cs
  src/Tizen.NUI/src/internal/Interop/Interop.RadialGradient.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/ColorStop.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Gradient.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/LinearGradient.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/RadialGradient .cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSamsple.cs
Labels: Internal API Changed, Devel-NUI

#3420 [NUI] CanvasView: Change viewBox method to property
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
Labels: Internal API Changed, Devel-NUI

#3410 [NUI] CanvasView: Add picture class for drawing images
  src/Tizen.NUI/src/internal/Interop/Interop.Picture.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Picture.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSamsple.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/Dali/DaliDemo/Kid1.svg
Labels: Internal API Changed, Devel-NUI

#3409 [NLP] Fix crash issue
  src/Tizen.Nlp/Tizen.Nlp/NaturalLanguageProcess.cs
Labels: API9

#3403 [MetadataEditor] Fix bug - destroy twice
  src/Tizen.Multimedia.Metadata/MetadataEditor/MetadataEditor.cs
Labels: API9

#3424 [NUI] Fix svace defects
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetObjectByPropertyAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetBinding.cs
  src/Tizen.NUI/src/internal/XamlBinding/WeakEventManager.cs
Labels: Devel-NUI

#3426 [NUI] Add attached bindable property CheckBoxGroup.IsGroupHolder
  src/Tizen.NUI.Components/Controls/CheckBoxGroup.cs
  src/Tizen.NUI.Components/Controls/RadioButtonGroup.cs
  src/Tizen.NUI.Components/Controls/SelectGroup.cs
Labels: Internal API Changed, Devel-NUI

#3431 [NUI] Version update (nui22039)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3433 [Tizen.System.SystemSettings] Remove lock about invoking event
  src/Tizen.System.SystemSettings/Tizen.System.SystemSettings/SystemSettings.cs
Labels: API9

#3437 [NUI] Fix Dispose(true) issue
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#3428 [NUI] fix for a owner object to maintain the reference of owned objects
  src/Tizen.NUI/src/public/Rendering/Renderer.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples.sln
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DisposeTest.cs
Labels: Devel-NUI

#3427 [NUI] Add TCs of WebView & Update some TCs of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSNUIWindowInfo.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSObject.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSObjectRegistry.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRefObject.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRulerPtr.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSSlotObserver.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebBackForwardList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebCertificate.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebConsoleMessage.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContext.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContextMenu.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContextMenuItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContextMenuItemList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebCookieManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebFormRepostPolicyDecisionMaker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebFrame.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebHitTestResult.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebHttpAuthHandler.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebHttpRequestInterceptor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPageLoadError.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPasswordData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPasswordDataList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPolicyDecisionMaker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebSecurityOrigin.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebSecurityOriginList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebSettings.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewCertificateReceivedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewConsoleMessageReceivedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewContextMenuHiddenEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewContextMenuShownEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewFormRepostPolicyDecidedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewHttpAuthRequestedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewHttpRequestInterceptedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewPageLoadErrorEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewPageLoadEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewResponsePolicyDecidedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewScrollEdgeReachedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewUrlChangedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibilityManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIFrameComponent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSImageView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetViewManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowVisibilityChangedEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindowEvent.cs
Labels: Devel-NUI

#3436 [NUI] Remove ReleaseFunction enum at PixelData
  src/Tizen.NUI.Wearable/src/public/Title.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PixelData.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSPixelData.cs
Labels: Internal API Changed, Devel-NUI

#3375 [NUI] Support MinLineSize property & implement LineSpacing in texteditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
Labels: Internal API Changed, Devel-NUI, API9

#3413 [ScreenMirroring] Support NUI window
  src/Tizen.Multimedia.Remoting/Interop/Interop.ScreenMirroring.cs
  src/Tizen.Multimedia.Remoting/ScreenMirroring/ScreenMirroring.cs
Labels: API9

#3397 [NUI] Add SelectionChanged Event
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: Internal API Changed, Devel-NUI

#3440 Revert "[NUI] Add SelectionChanged Event (#3397)"
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: Internal API Changed, Devel-NUI

#3400 [NUI] Add CursorPositionChanged Event
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: Internal API Changed, Devel-NUI

#3443 [NUI] Add TCs of Accessibility(public) & NativeBinding(internal) .
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSComponentApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSBaseObject.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSCustomActorImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDaliException.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Layouting/TSLayoutController.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSNDalic.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSintp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSuintp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSushortp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSFadeItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionItemBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionSet.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibilityManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibilityManagerEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibilityManagerEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSAnimatedImageView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditorEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibilityEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewInternal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageLoading.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageUrl.cs
Labels: Devel-NUI

#3423 [NUI] VectorGraphics: Add Shape.AddPath API
  src/Tizen.NUI/src/internal/Interop/Interop.Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/PathCommands.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/VectorGraphicsConstants.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSamsple.cs
Labels: Internal API Changed, Devel-NUI

#3449 [NUI] Add SelectionChanged Event (#3397)
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: Internal API Changed, Devel-NUI

#3444 [NUI] Make Unparent() in Dispose() be executed early
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#3448 [NUI] CanvasViewSample: Fix filename typo
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSample.cs
Labels: Devel-NUI

#3451 [NUI] Change SelectionChangedEventArgs to TextSelectionChangedEventArgs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: Internal API Changed, Devel-NUI

#3452 [NUI] Version update (nui22040)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3453 Rebase master
  src/Tizen.Multimedia.Remoting/Interop/Interop.ScreenMirroring.cs
  src/Tizen.Multimedia.Remoting/ScreenMirroring/ScreenMirroring.cs
  src/Tizen.System.SystemSettings/Tizen.System.SystemSettings/SystemSettings.cs
Labels: Devel-NUI

#3455 Revert "Rebase master"
  src/Tizen.Multimedia.Remoting/Interop/Interop.ScreenMirroring.cs
  src/Tizen.Multimedia.Remoting/ScreenMirroring/ScreenMirroring.cs
  src/Tizen.System.SystemSettings/Tizen.System.SystemSettings/SystemSettings.cs
Labels: Devel-NUI

#3450 [NUI] Copy, Paste & Cut Public APIs
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: Devel-NUI

#3370 [MachineLearning.Inference] Add new enum value for NN Framework & HW …
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/Commons.cs
Labels: ACR Required, API9

#3459 Revert "Remove ReleaseFunction enum at PixelData (#3436)"
  src/Tizen.NUI.Wearable/src/public/Title.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PixelData.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSPixelData.cs
Labels: Internal API Changed, API9

#3377 [Bluetooth][TCSACR-437] Add GATT related APIs
  src/Tizen.Network.Bluetooth/Interop/Interop.Bluetooth.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEnumerations.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEventArgs.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGattImpl.cs
Labels: ACR Required, Internal API Changed, API9

#3425 [NUI] Refactoring FadeTransition
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FadeTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/FadeTransitionItem.cs
  src/Tizen.NUI/src/public/Transition/FadeTransition.cs
  src/Tizen.NUI/src/public/Transition/Transition.cs
  src/Tizen.NUI/src/public/Transition/TransitionBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
Labels: Internal API Changed, Devel-NUI

#3438 [NUI] Add FocusableChildren
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FocusFinderSample.cs
Labels: Internal API Changed, Devel-NUI

#3464 [NUI] Remove duplicate class WebContextMenuItemList
  src/Tizen.NUI/src/internal/Interop/Interop.WebContextMenuItemList.cs
  src/Tizen.NUI/src/internal/WebView/WebContextMenu.cs
  src/Tizen.NUI/src/internal/WebView/WebContextMenuItemList.cs
Labels: Internal API Changed, Devel-NUI

#3353 [NSD] Add new GetTxtRecords api
  src/Tizen.Network.Nsd/Interop/Interop.Nsd.cs
  src/Tizen.Network.Nsd/Tizen.Network.Nsd/DnssdService.cs
Labels: ACR Required, API9

#3468 [NUI] Replace XXXList with IList<XXX>.
  src/Tizen.NUI/src/internal/WebView/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebPasswordDataList.cs
  src/Tizen.NUI/src/internal/WebView/WebSecurityOriginList.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Internal API Changed, Devel-NUI

#3476 [WebRTC] Fix destroy bug and code clean
  src/Tizen.Multimedia.Remoting/Interop/Interop.WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.Events.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: API9

#3463 [NUI][ATSPI] Add a function to check whether accessibility is enabled
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI
