Repository Samsung/TizenFX, pull requests merged in 2021-11, with the labels that each got.

#3664 [NUI] Change for Size2D property to own internalSize2D which is cashed to prevent making repeated Size2D instance
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/Tizen.NUI.sln
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Common/Size2D.cs
Labels: Internal API Changed, API9

#3694 [NUI] Call RemoveWidget when WidgetView is disposed
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: API9

#3695 [NUI] Make use image property again
  src/Tizen.NUI/src/internal/Interop/Interop.ImageView.cs
Labels: API9

#3697 [Nlp] Fix parse method to add IFormatProvider arg
  src/Tizen.Nlp/Tizen.Nlp/NaturalLanguageProcess.cs
Labels: API9

#3696 [NUI] Make use some ImageView interop method again
  src/Tizen.NUI/src/internal/Interop/Interop.ImageView.cs
Labels: Devel-NUI

#3698 [NUI] Move 'using's outside of namespace
  src/Tizen.NUI/src/internal/Transition/FadeTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/ScaleTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/SlideTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItemBase.cs
  src/Tizen.NUI/src/internal/Transition/TransitionSet.cs
  src/Tizen.NUI/src/public/Transition/FadeTransition.cs
  src/Tizen.NUI/src/public/Transition/ScaleTransition.cs
  src/Tizen.NUI/src/public/Transition/SlideTransition.cs
  src/Tizen.NUI/src/public/Transition/Transition.cs
  src/Tizen.NUI/src/public/Transition/TransitionBase.cs
Labels: Devel-NUI

#3700 [NUI] Update TCs of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSComponentApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSWatchApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSWatchBoolSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSWatchTimeSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSAny.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSInputMethodOptions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSListEventSignalType.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRenderTask.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSResizeSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSScrollViewSnapStartedSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSStringToVoidSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewVisibilityChangedSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewWrapperImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSWeakEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/FrameBroker/TSDefaultFrameBroker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/FrameBroker/TSFrameData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionSetSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSConnectionTrackerInterface.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageTurnLandscapeView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageTurnPortraitView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewContextMenuHiddenEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewContextMenuShownEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Widget/TSWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSFillResourceDictionariesVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSNamescopingVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSResourcesLoader.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAnimation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSWatchTime.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSAnimatedVectorImageView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextFieldEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextUtils.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewPublicMethods.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSVisualView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSColor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSFrameUpdateCallbackInterface.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSTouch.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Layouting/TSFlexLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Template/TSDataTemplate.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Template/TSDataTemplateExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSCapture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSScrollViewPagePathEffect.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/ViewProperty/TSTextShadow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowVisibilityChangedEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindowEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSStaticResourceExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlServiceProvider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSSetter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSXamlStyle.cs
Labels: Devel-NUI

#3701 [NUI] Add TCs for NUI.Components.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewLayoutManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewViewHolder.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSGridLayoutManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSLinearLayoutManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/UtilityOfFlexView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Item/TSDefaultGridItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Item/TSDefaultLinearItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Item/TSDefaultTitleItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Item/TSRecyclerViewItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/ItemSource/TSEmptySource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/ItemSource/TSListSource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/ItemSource/TSMarshalingObservableCollection.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/ItemSource/TSObservableGroupedSource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/ItemSource/TSObservableItemSource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Layouter/TSGridLayouter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Layouter/TSItemSource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Layouter/TSLinearLayouter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSCollectionView.cs
Labels: Devel-NUI

#3661 [NUI] Add WindowBorder Sample
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowBorderTest.cs
Labels: Devel-NUI

#3702 [NUI] Use present tense for LineWrapMode enum description
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI

#3703 [NUI] Update SelectionChanged event description
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: Devel-NUI

#3689 [NUI] Change for Size2D property to own internalSize2D which is cached to prevent making repeated Size2D instance
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/Tizen.NUI.sln
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Common/Size2D.cs
Labels: Internal API Changed, Devel-NUI

#3705 [NUI] Fix some crash when NUI.Samples' running on Ubuntu
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AccessibilityManagerSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliDemo.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DimTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RemoveAllChildrenTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationFollowTouch.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationRollInOut.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationUniverse.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveMusicApp.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveMusicBoxApp.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SwitchSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VideoViewTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/ShowErrorPage.cs
Labels: Devel-NUI

#3706 [NUI] Move ChangeLayoutSiblingOrder from LayoutGroup to LayoutItem
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Internal API Changed, Devel-NUI

#3707 [NUI] Version update (2.0.51)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3709 [NUI] Fix svace issue
  src/Tizen.NUI/src/internal/Common/BackKeyManager.cs
Labels: API9

#3708 [NUI] Fix svace issue
  src/Tizen.NUI/src/internal/Common/BackKeyManager.cs
Labels: Devel-NUI

#3714 [NUI] add null check in collectionview
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
Labels: Devel-NUI

#3716 [Applications.Cion] Fix bug of sending data
  src/Tizen.Applications.Cion/Interop/Interop.CionServer.cs
  src/Tizen.Applications.Cion/Tizen.Applications.Cion/ServerBase.cs
Labels: API9

#3720 [NUI] Fix svace issue
  src/Tizen.NUI.Components/Controls/ButtonGroup.cs
Labels: Devel-NUI

#3721 [NUI] Fix svace issue
  src/Tizen.NUI.Components/Controls/ButtonGroup.cs
Labels: API9

#3722 [NUI] Change Color, Position2D, and etc properties to own only one instance
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Color.cs
  src/Tizen.NUI/src/public/Common/Extents.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Common/Position2D.cs
  src/Tizen.NUI/src/public/Common/Size.cs
  src/Tizen.NUI/src/public/Common/Size2D.cs
Labels: Devel-NUI

#3715 [NUI] Change Color, Position2D, and etc properties to own only one instance
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Color.cs
  src/Tizen.NUI/src/public/Common/Extents.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Common/Position2D.cs
  src/Tizen.NUI/src/public/Common/Size.cs
  src/Tizen.NUI/src/public/Common/Size2D.cs
Labels: API9

#3719 [NUI] Fix Weight and size calculation in LinearLayout
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#3663 [NUI] Add ValueGetter to BindableObject
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableProperty.cs
Labels: Devel-NUI

#3725 [NUI] add null check in collectionview
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
Labels: API9

#3723 [NUI] make a null pointer when signal is disconnected
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: API9

#3727 [NUI] Fix wrong prev size assigning on scroll relayout.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3728 [NUI] Fix wrong prev size assigning on scroll relayout.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API9

#3729 [NUI] Fix crash issue when signal is disposed
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: API9

#3731 Revert "[NUI] Ignore ResizePolicy when View size is calculated by Lay…
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#3732 [NUI] Check if event handler of the DisposeQueued object is valid
  src/Tizen.NUI/src/internal/Common/KeyInputFocusSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.KeyInputFocusManager.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API9

#3734 [NUI] Check if event handler of the DisposedQueued object is valid
  src/Tizen.NUI/src/internal/Common/KeyInputFocusSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.KeyInputFocusManager.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#3733 [NUI] Remove build warning messages
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/Animation/TransitionOptions.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#3735 [NUI] Remove build warning messages
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API9

#3738 [NUI][ATSPI] Set Navigator, ContentPage role
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Internal API Changed, Devel-NUI

#3739 [NUI][ATSPI] Calculate states based on DALi
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSAlertDialog.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDialog.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSwitch.cs
Labels: Internal API Changed, Devel-NUI

#3737 [NUI] Fix method to gether Views for transition
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
Labels: Devel-NUI

#3741 [NUI] Fix build errors of NUI.Devel based on API10.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSModel3dView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSTimePeriod.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/FrameBroker/TSDefaultFrameBroker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/FrameBroker/TSFrameBrokerBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionSet.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAnimation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSTransitionAnimations.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSTransitionOptions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSModelView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Transition/TSTransition.cs
Labels: Devel-NUI

#3730 Revert "[NUI][EXaml] Support DP and PX in EXaml"
  src/Tizen.NUI/src/internal/EXaml/Action/RootAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateDPObject.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherAssembly.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherMethod.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
  src/Tizen.NUI/src/internal/EXaml/Utility/EXamlOperationType.cs
Labels: Devel-NUI

#3742 [NUI] Add some debug log to check reference count of disposed object
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API9

#3743 [NUI] Add some debug log to check reference count of disposed object
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#3744 [NUI] Version update (2.0.52)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3749 [NUI] Add some debugging code to check if the object,which has no body, is used
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API9

#3750 [NUI] Make image visual actions protected
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Internal API Changed, Devel-NUI

#3751 [NUI] Make image visual actions protected
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Internal API Changed, API9

#3736 [NUI] Add Transition Group
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI/src/internal/Transition/FadeTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/ScaleTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/SlideTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionGroupItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItemBase.cs
  src/Tizen.NUI/src/internal/Transition/TransitionSet.cs
  src/Tizen.NUI/src/public/Transition/FadeTransition.cs
  src/Tizen.NUI/src/public/Transition/ScaleTransition.cs
  src/Tizen.NUI/src/public/Transition/SlideTransition.cs
  src/Tizen.NUI/src/public/Transition/TransitionBase.cs
  src/Tizen.NUI/src/public/Transition/TransitionGroup.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
Labels: Internal API Changed, API9

#3753 [NUI] Adds some description for the TransitionGroup
  src/Tizen.NUI/src/public/Transition/TransitionGroup.cs
Labels: Devel-NUI

#3758 [NUI] Add window auixiliary message event
  src/Tizen.NUI/src/internal/Interop/Interop.WindowAuxiliaryMessageSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowAuxiliaryMessageSignal.cs
  src/Tizen.NUI/src/public/Window/WindowAuxiliaryMessageEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowEventsTest.cs
Labels: Internal API Changed, Devel-NUI

#3760 [NUI] Add window auixiliary message event
  src/Tizen.NUI/src/internal/Interop/Interop.WindowAuxiliaryMessageSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowAuxiliaryMessageSignal.cs
  src/Tizen.NUI/src/public/Window/WindowAuxiliaryMessageEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowEventsTest.cs
Labels: Internal API Changed, API9

#3764 [NUI] Binding TextFitChanged event
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TextFitChangedSample.cs
Labels: Internal API Changed, API9

#3755 [NUI] Binding TextFitChanged event
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TextFitChangedSample.cs
Labels: Internal API Changed, Devel-NUI

#3748 [NUI] Fix failed & block & crash TCs of NUI.Devel(API10).
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/Test_Theme.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/BaseXamlSample.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/BaseXamlSample3.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/TotalSample.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/XamlStyleSample.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAnimation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewPublicMethods.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSPosition2D.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSSize.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSSize2D.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSPixelData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSPalette.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/ViewProperty/TSTextShadow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetViewManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowVisibilityChangedEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSViewExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BindingsCompiler.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/TotalSample.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XReference.xaml
Labels: Devel-NUI

#3761 [NUI] Fix svace issue
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#3747 [NUI][ATSPI] clean code
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDialog.cs
Labels: Devel-NUI

#3768 [NUI] Fix crash when View.BackgroundImage is set
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#3726 [NUI][ATSPI] CollectionView - Show highlighed descendant
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#3769 [NUI] Fix crash when View.BackgroundImage is set
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: API10

#3771 [Bluetooth][Non-ACR] Fix Hid unregister callback not invoke issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothHidImpl.cs
Labels: API9

#3772 [Bluetooth][Non-ACR] Fix Hid unregister callback not invoke issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothHidImpl.cs
Labels: API10

#3773 [NUI] clean up debugging logs
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API9

#3767 [NUI][ATSPI] Navigator - emit accessibility event
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3644 [NUI] Add bindable properties to Components.
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/AlertDialogBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/ButtonBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.cs
  src/Tizen.NUI.Components/Controls/ImageScrollBar.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBarBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/PaginationBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/PickerBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/PopupBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/ProgressBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionViewBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/ScrollBarBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollableBaseBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/SliderBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Controls/SwitchBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI.Components/Controls/TabBindableProperty.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
  src/Tizen.NUI.Components/Controls/Toast.cs
  src/Tizen.NUI.Components/Controls/ToastBindableProperty.cs
Labels: Internal API Changed, Devel-NUI

#3552 [NUI] Make Text selection APIs public
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#3776 [NUI] Version update (2.1.00)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI
