Repository Samsung/TizenFX, pull requests merged in 2021-12, with the labels that each got.

#3783 [NUI] Fix ScrollableBase Remove issue
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API8

#3785 [NUI][SVACE] Remove redundant debug msg, No logic change
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: API9

#3787 [NUI] Fix null pointer svace issue
  src/Tizen.NUI/src/public/XamlBinding/Element.cs
Labels: API9

#3789 [NUI] Update TCs of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/examl/Tizen.NUI.Devel.Tests.TotalSample.examl
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRenderTask.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/EXaml/TSLoadEXaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSFadeTransitionItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSScaleTransitionItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSSlideTransitionItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionGroupItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/images/TSImageLoading.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/ApplicationAnimation/TSApplicationTransitionManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSGestureOptions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageLoader.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Transition/TSFadeTransition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Transition/TSScaleTransition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Transition/TSSlideTransition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Transition/TSTransitionGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSGraphicsTypeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebView.cs
Labels: Devel-NUI

#3792 [NUI][API9] Set null if callback removed
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: API9

#3793 [NUI] Set null if callback removed
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#3795 [NUI] Version update (2.1.01)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3780 [Camera] Fix UnsetExtraPreviewCallback bug
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
Labels: API9

#3778 [Camera] Fix UnsetExtraPreviewCallback bug
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
Labels: API10

#3799 [NUI] Add ContentPageLayout to calculate Content size correctly
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
Labels: Internal API Changed, Devel-NUI

#3774 [NUI][ATSPI] set RecyclerViewItem role
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
Labels: Devel-NUI

#3775 [NUI][ATSPI] Make DefaultLinearItem use its TextLabel
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
Labels: Devel-NUI

#3802 [NUI] Update Text controls API reference
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Internal API Changed, Devel-NUI

#3754 [Tts][TCSACR-477] Add new API and error enum value
  src/Tizen.Uix.Tts/Interop/Interop.Tts.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/ErrorOccurredEventArgs.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/ExceptionFactory.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/RepeatedText.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: ACR Required, API10

#3794 [NUI] Add API so that user can copy properties, bindings from other container
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/Internals/NameScope.cs
Labels: Internal API Changed, Devel-NUI

#3805 [NUI] Version update (2.1.02)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3808 [NUI] Add EditableBrowsable.Never for CurrentLoadedXaml
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#3809 [NUI] Fix Size2D not greater than int.MaxValue or less than int.MinValue
  src/Tizen.NUI/src/public/Common/Size2D.cs
Labels: Devel-NUI

#3801 [NUI][ATSPI] Fix for DefaultLabel
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibility.cs
Labels: Internal API Changed, Devel-NUI

#3800 [NUI] Integrate Touch, Gesture and Focus patches
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TapGesture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
  src/Tizen.NUI/src/internal/ViewWrapperImpl.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/FocusManager.cs
  src/Tizen.NUI/src/public/LongPressGestureDetector.cs
  src/Tizen.NUI/src/public/NUIConstants.cs
  src/Tizen.NUI/src/public/PanGestureDetector.cs
  src/Tizen.NUI/src/public/PinchGestureDetector.cs
  src/Tizen.NUI/src/public/RotationGestureDetector.cs
  src/Tizen.NUI/src/public/TapGesture.cs
  src/Tizen.NUI/src/public/TapGestureDetector.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FocusFinderSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TouchGestureSample.cs
Labels: Internal API Changed, API8

#3813 [NUI] Add GLView
  src/Tizen.NUI/src/internal/Interop/Interop.GLView.cs
  src/Tizen.NUI/src/public/BaseComponents/GLView.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Internal API Changed, API9

#3558 [NUI] Make Copy, Cut and Paste APIs public
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: **NO MERGE**, Internal API Changed, Devel-NUI

#3814 [NUI] Improves GetNextFocusableView
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NestedScrollViewSamle.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocusSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocusSample2.cs
Labels: Internal API Changed, Devel-NUI

#3815 [NUI] fix tc fail for TextMapHelper
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextMapHelper.cs
Labels: Devel-NUI

#3817 [NUI] Improves GetNextFocusableView
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NestedScrollViewSamle.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocusSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocusSample2.cs
Labels: Internal API Changed, API9

#3816 [NUI] Fix VS solution file to build the project
  src/Tizen.NUI/Tizen.NUI.sln
Labels: API9

#3819 [NUI] Fix StopFinal(EndAction) not working defect on lite model
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: Devel-NUI

#3818 [NUI] Fix StopFinal(EndAction) not working defect on lite model
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: API9

#3806 [NUI] refactoring TextMapHelper
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextMapHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextMapHelper.cs
Labels: Devel-NUI

#3822 [NUI] Version update (2.1.03)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3781 [NUI][AT_SPI] Added Accessibility support to Menu control
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuItem.cs
Labels: Internal API Changed, Devel-NUI

#3826 [NUI] change function name for match others in GraphicsTypeExtensions.
  src/Tizen.NUI/src/public/Utility/GraphicsTypeExtensions.cs
Labels: Devel-NUI

#3828 [NUI] Fix build errors of NUI.Devel.Tests.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/Tizen.NUI.Devel.Tests.csproj
Labels: Devel-NUI
