Repository Samsung/TizenFX, pull requests merged in 2021-01, with the labels that each got.

#2478 [NUI] Fix null exception in Loading and improve code
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Style/LoadingStyle.cs
Labels: Devel-NUI

#2485 [Bluetooth][Non-ACR] Fix unhandled exception in GetBondedDevices()
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#2484 [Bluetooth][Non-ACR] Fix unhandled exception in GetBondedDevices()
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API8

#2482 [Packagemanager] Fix registering internal event callback
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: API8

#2481 [Packagemanager] Fix registering internal event callback
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: API9

#2487 [NUI] remove unnecessary using in Size2D.cs
  src/Tizen.NUI/src/public/Size2D.cs
Labels: Devel-NUI

#2435 [NUI] Add AppBar class
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AppBarSample.cs
Labels: Devel-NUI, Internal API Changed

#2491 [NUI] Fix CA2000 issues for Visual
  src/Tizen.NUI/src/public/Visuals/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/GradientVisual.cs
  src/Tizen.NUI/src/public/Visuals/MeshVisual.cs
  src/Tizen.NUI/src/public/Visuals/PrimitiveVisual.cs
Labels: Devel-NUI

#2496 [NUI] fixed memory leak
  src/Tizen.NUI/src/public/Window.cs
Labels: API8

#2497 [NUI] fixed memory leak
  src/Tizen.NUI/src/public/Window.cs
Labels: Devel-NUI

#2500 [NUI] Update AccessibilitySample for readability
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AccessibilityManagerSample.cs
Labels: Devel-NUI

#2495 [NUI] Fix CA2000 warning issues of View and ViewImpl.
  src/Tizen.NUI/src/internal/ViewImpl.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2501 [NUI] Fix the incorrect parameter for XamlBinding
  src/Tizen.NUI/src/public/XamlBinding/SizeTypeConverter.cs
Labels: Devel-NUI

#2493 [NUI] Fix CA2000 issues for Render Shadow
  src/Tizen.NUI/src/public/Renderer.cs
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
Labels: Devel-NUI

#2494 [NUI] Fix CA2000 Warnings
  src/Tizen.NUI/src/public/LongPressGestureDetector.cs
  src/Tizen.NUI/src/public/PanGestureDetector.cs
  src/Tizen.NUI/src/public/PinchGestureDetector.cs
  src/Tizen.NUI/src/public/PropertyNotification.cs
  src/Tizen.NUI/src/public/RotationGestureDetector.cs
  src/Tizen.NUI/src/public/Shader.cs
  src/Tizen.NUI/src/public/StyleManager.cs
  src/Tizen.NUI/src/public/TTSPlayer.cs
  src/Tizen.NUI/src/public/TapGestureDetector.cs
  src/Tizen.NUI/src/public/Timer.cs
  src/Tizen.NUI/src/public/Utility/TextPageUtil.cs
Labels: Devel-NUI

#2492 [NUI] Update description of Transition classes
  src/Tizen.NUI/src/public/TransitionAnimations/TransitionAnimations.cs
  src/Tizen.NUI/src/public/TransitionData.cs
  src/Tizen.NUI/src/public/TransitionOptions/TransitionOptions.cs
Labels: Devel-NUI

#2490 [NUI] Remove since_tizen tag for internal APIs
  src/Tizen.NUI.Components/Utils/Selector.cs
  src/Tizen.NUI/src/internal/ActivatedSignalType.cs
  src/Tizen.NUI/src/internal/Alignment.cs
  src/Tizen.NUI/src/internal/Any.cs
  src/Tizen.NUI/src/internal/Application.cs
  src/Tizen.NUI/src/internal/Builder.cs
  src/Tizen.NUI/src/internal/ConnectionTrackerInterface.cs
  src/Tizen.NUI/src/internal/EventThreadCallback.cs
  src/Tizen.NUI/src/internal/KeyboardEventSignalType.cs
  src/Tizen.NUI/src/internal/KeyboardResizedSignalType.cs
  src/Tizen.NUI/src/internal/LanguageChangedSignalType.cs
  src/Tizen.NUI/src/internal/Model3dView.cs
  src/Tizen.NUI/src/internal/NUIWindowInfo.cs
  src/Tizen.NUI/src/internal/ObjectRegistry.cs
  src/Tizen.NUI/src/internal/PageTurnView.cs
  src/Tizen.NUI/src/internal/PropertyRangeManager.cs
  src/Tizen.NUI/src/internal/SWIGTYPE_p_CallbackBase.cs
  src/Tizen.NUI/src/internal/SWIGTYPE_p_Dali__CallbackBase.cs
  src/Tizen.NUI/src/internal/SWIGTYPE_p_Dali__FunctorDelegate.cs
  src/Tizen.NUI/src/internal/SignalObserver.cs
  src/Tizen.NUI/src/internal/SlotObserver.cs
  src/Tizen.NUI/src/internal/StatusSignalType.cs
  src/Tizen.NUI/src/internal/TouchPoint.cs
  src/Tizen.NUI/src/internal/TouchPointContainer.cs
  src/Tizen.NUI/src/internal/Uint16Pair.cs
  src/Tizen.NUI/src/internal/ViewImpl.cs
  src/Tizen.NUI/src/internal/WatchApplication.cs
  src/Tizen.NUI/src/public/Property.cs
Labels: Devel-NUI

#2488 [NUI] Fix build warning CA1712
  src/Tizen.NUI/src/public/DirectionBias.cs
Labels: Devel-NUI

#2498 [Bluetooth][Non-ACR] Fix BluetoothDevice.Name converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#2499 [Bluetooth][Non-ACR] Fix BluetoothDevice.Name converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API8

#2504 Revert "[NUI] Fix CA2000 Warnings"
  src/Tizen.NUI/src/public/LongPressGestureDetector.cs
  src/Tizen.NUI/src/public/PanGestureDetector.cs
  src/Tizen.NUI/src/public/PinchGestureDetector.cs
  src/Tizen.NUI/src/public/PropertyNotification.cs
  src/Tizen.NUI/src/public/RotationGestureDetector.cs
  src/Tizen.NUI/src/public/Shader.cs
  src/Tizen.NUI/src/public/StyleManager.cs
  src/Tizen.NUI/src/public/TTSPlayer.cs
  src/Tizen.NUI/src/public/TapGestureDetector.cs
  src/Tizen.NUI/src/public/Timer.cs
  src/Tizen.NUI/src/public/Utility/TextPageUtil.cs
Labels: Devel-NUI

#2503 Revert "[NUI] Fix CA2000 warning issues of View and ViewImpl."
  src/Tizen.NUI/src/internal/ViewImpl.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2512 [NUI] Fix runtime exception
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: Devel-NUI, Internal API Changed

#2510 [NUI] fix a c&p error in RelativeLayout
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#2511 [NUI] remove unused measure specification size properties of View class
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#2513 [NUI] remove redundant private field in View class
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2519 [Build] Add coverage.sh script
  .gitignore
  coverage.sh
Labels: API9

#2514 [Bluetooth][Non-ACR] Fix unhandled exception in GetBondedDevice()
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#2518 [Bluetooth][Non-ACR] GetBondedDevice converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
Labels: API8

#2515 [NUI] use Size2DProperty for GetNaturalSize() instead of local field
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2425 [NUI] Deprecate visible instance fields [CA1051]
  src/Tizen.NUI/src/internal/Disposable.cs
  src/Tizen.NUI/src/public/BaseHandle.cs
  src/Tizen.NUI/src/public/CustomViewRegistry.cs
  src/Tizen.NUI/src/public/InputMethodContext.cs
  src/Tizen.NUI/src/public/KeyValue.cs
  src/Tizen.NUI/src/public/Layouting/LayoutTransition.cs
  src/Tizen.NUI/src/public/Layouting/MeasureSpecification.cs
Labels: ACR Required, API9, Internal API Changed

#2526 [NUI] Add View.FindChildByID() as hidden API
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FindChildByIDTest.cs
Labels: Devel-NUI, Internal API Changed

#2530 [NUI] Fix AccessibilityManager Event handler
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManagerEvent.cs
Labels: API8

#2529 [NUI] Fix AccessibilityManager Event handler
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManagerEvent.cs
Labels: Devel-NUI

#2534 [NUI] Override Dispose to release native memory
  src/Tizen.NUI/src/internal/ViewImpl.cs
  src/Tizen.NUI/src/internal/ViewWrapperImpl.cs
  src/Tizen.NUI/src/public/ViewWrapper.cs
Labels: Devel-NUI, Internal API Changed

#2531 [NUI] Change Feedback as working on TouchEvent
  src/Tizen.NUI.Components/Controls/Control.cs
Labels: API8, Internal API Changed

#2537 [NUI] Fix TV AmbientMode empty screen
  src/Tizen.NUI/src/public/Window.cs
Labels: API8

#2505 [NUI] fix CA2000 Warning for proterty
  src/Tizen.NUI/src/public/CustomViewRegistry.cs
  src/Tizen.NUI/src/public/InputMethod.cs
  src/Tizen.NUI/src/public/KeyFrames.cs
  src/Tizen.NUI/src/public/Layer.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/PanGestureDetector.cs
  src/Tizen.NUI/src/public/Path.cs
  src/Tizen.NUI/src/public/Shader.cs
  src/Tizen.NUI/src/public/Utility/TextPageUtil.cs
Labels: Devel-NUI

#2542 [NUI] Add DeleteAccessibilityAttribute(Fix Button memory leak)
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilityManager.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
Labels: Devel-NUI, Internal API Changed

#2543 [NUI] Fix memory leak, Add Dispose
  src/Tizen.NUI/src/internal/ViewImpl.cs
  src/Tizen.NUI/src/internal/ViewWrapperImpl.cs
  src/Tizen.NUI/src/public/ViewWrapper.cs
Labels: API8, Internal API Changed

#2536 [NUI] Sync unmanaged or managed data type to csharp-binder
  src/Tizen.NUI/src/internal/ViewWrapperImpl.cs
Labels: Devel-NUI

#2544 [NUI] Add DeleteAccessibilityAttribute
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilityManager.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
Labels: API8, Internal API Changed

#2545 Revert "[NUI] Add DeleteAccessibilityAttribute"
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilityManager.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
Labels: Devel-NUI, Internal API Changed

#2489 [NUI] add type check validation in ApplyPropertiesVisitor
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
Labels: Devel-NUI

#2516 [NUI] change size specification in changed callback of bindable property
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#2522 [NUI] remove internal child properly when child view of FlexLayout is removed
  src/Tizen.NUI/src/internal/Layouting/Interop/Interop.FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Devel-NUI

#2523 [NUI] remove internal child properly when child view of FlexLayout is removed
  src/Tizen.NUI/src/internal/Layouting/Interop/Interop.FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: API8

#2524 [NUI] respect margin and padding for relative layout
  src/Tizen.NUI/src/internal/Layouting/RelativeLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#2538 [NUI] Fix TV AmbientMode empty screen
  src/Tizen.NUI/src/public/Window.cs
Labels: Devel-NUI

#2539 [NUI] Support selector for PixelSize in TextLabelStyle and TextEditorStyle
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldSelectorData.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelSelectorData.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI, Internal API Changed

#2546 [NUI] Fix CA2000 Warnings for View
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
Labels: Devel-NUI

#2549 [NUI] Support scroll in WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
  src/Tizen.NUI/src/internal/WebViewScrollEdgeReachedEventArgs.cs
  src/Tizen.NUI/src/internal/WebViewScrollEdgeReachedSignal.cs
Labels: API8, Internal API Changed

#2555 [MessagePort] Fix bug for getting remote value
  src/Tizen.Applications.MessagePort/Tizen.Applications.Messages/MessagePort.cs
Labels: API8

#2554 [MessagePort] Fix bug for getting remote value
  src/Tizen.Applications.MessagePort/Tizen.Applications.Messages/MessagePort.cs
Labels: API9

#2558 [MessagePort] Add defensive code for null string
  src/Tizen.Applications.MessagePort/Tizen.Applications.Messages/MessagePort.cs
Labels: API8

#2409 [NUI] Fix CA1819 : Properties should not return arrays
  src/Tizen.NUI/src/internal/FrameBroker/DefaultFrameBroker.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/XamlBinding/Transition.cs
Labels: API9, Devel-NUI, Internal API Changed

#2521 [NUI] Add API for delete widgetView
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetViewManager.cs
  src/Tizen.NUI/src/public/NUIApplication.cs
  src/Tizen.NUI/src/public/WidgetViewManager.cs
Labels: Devel-NUI, Internal API Changed

#2550 [NUI] fix bug when setting desired size in ImageView
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API8

#2556 [NUI] Fix CA2000 Warnings for View
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/BaseComponents/VisualView.cs
Labels: Devel-NUI

#2561 [NUI] Version update (nui22010)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2541 [NUI] Fix CA1721:Property names should not match get methods
  src/Tizen.NUI/src/internal/Camera.cs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/internal/RenderTask.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Container.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/Layer.cs
  src/Tizen.NUI/src/public/Window.cs
  src/Tizen.NUI/src/public/XamlBinding/Interactivity/DataTrigger.cs
  src/Tizen.NUI/src/public/XamlBinding/Trigger.cs
Labels: Devel-NUI, Internal API Changed

#2563 [NUI] Fix CA1721 warnings (#2541)
  src/Tizen.NUI/src/internal/Camera.cs
  src/Tizen.NUI/src/internal/ItemView.cs
  src/Tizen.NUI/src/internal/RenderTask.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Container.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/Layer.cs
  src/Tizen.NUI/src/public/Window.cs
  src/Tizen.NUI/src/public/XamlBinding/Interactivity/DataTrigger.cs
  src/Tizen.NUI/src/public/XamlBinding/Trigger.cs
Labels: API9, Internal API Changed

#2565 [NUI] Change Feedback default as false in Control
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
Labels: API8

#2419 [NUI] Add some new APIs like Context, Settings, etc.
  src/Tizen.NUI/src/internal/Interop/Interop.WebBackForwardList.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebContext.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebCookieManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebContext.cs
  src/Tizen.NUI/src/internal/WebCookieManager.cs
  src/Tizen.NUI/src/internal/WebSettings.cs
  src/Tizen.NUI/src/internal/WebView.cs
Labels: Devel-NUI, Internal API Changed

#2528 [NUI] Support scroll in WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
  src/Tizen.NUI/src/internal/WebViewScrollEdgeReachedEventArgs.cs
  src/Tizen.NUI/src/internal/WebViewScrollEdgeReachedSignal.cs
  test/Tizen.NUI.WebViewTest/Tizen.NUI.WebViewTest.csproj
  test/Tizen.NUI.WebViewTest/Tizen.NUI.WebViewTest.sln
  test/Tizen.NUI.WebViewTest/WebViewApp.cs
  test/Tizen.NUI.WebViewTest/shared/res/Tizen.NUI.WebViewTest.png
  test/Tizen.NUI.WebViewTest/tizen-manifest.xml
Labels: Devel-NUI, Internal API Changed

#2567 [NUI] Add some new APIs like Context, Settings, etc. (#2419)
  src/Tizen.NUI/src/internal/Interop/Interop.WebBackForwardList.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebContext.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebCookieManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebContext.cs
  src/Tizen.NUI/src/internal/WebCookieManager.cs
  src/Tizen.NUI/src/internal/WebSettings.cs
  src/Tizen.NUI/src/internal/WebView.cs
Labels: API8, Internal API Changed

#2564 [NUI] Add some APIs into WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
Labels: API8, Internal API Changed

#2548 [Tizen.Applications.ComponentBased][TCSACR-398] Add ComponentPort class
  src/Tizen.Applications.ComponentBased.Port/Interop/Interop.ComponentPort.cs
  src/Tizen.Applications.ComponentBased.Port/Interop/Interop.Libraries.cs
  src/Tizen.Applications.ComponentBased.Port/Interop/Interop.Parcel.cs
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port.csproj
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port.sln
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/ComponentPort.cs
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/Parcel.cs
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/SafeParcelHandle.cs
Labels: ACR Required, API9

#2533 [NUI] Add Value Indicator of Slider
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Style/SliderStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/res/nui_component_default_slider_value_indicator.png
Labels: Devel-NUI, Internal API Changed

#2568 [NUI] Fix svace issue for MergeStyle
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
Labels: API8

#2573 [NUI] Update WebView constructor with program arguments
  src/Tizen.NUI/src/internal/WebView.cs
Labels: API8, Internal API Changed

#2576 [NUI] Fix nui version
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: API9, need be merged into DevelNUI

#2559 [NUI] Add FontSizeScale property in TextLabel, TextField and TextEditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI, Internal API Changed

#2579 [NUI] Change Feedback default as false in Control
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
Labels: Devel-NUI, Internal API Changed

#2580 Fix WatchTime.UtcTimestamp.Millisecond bug
  src/Tizen.Applications.WatchApplication/Tizen.Applications/WatchTime.cs
Labels: API9

#2560 [NUI] Move SuggestedMinimumWidth/Height to native
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: API9, need be merged into DevelNUI

#2587 [NUI] Add GetOriginalImageSize() considering rotation
  src/Tizen.NUI/src/internal/Interop/Interop.ImageLoading.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/ImageLoading.cs
Labels: API8, Internal API Changed
