Repository Samsung/TizenFX, pull requests merged in 2021-06, with the labels that each got.

#3083 [NUI][AT-SPI] Remove AccessibilityAnimated
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Devel-NUI, Internal API Changed

#3128 [NUI] Fix issue that NUI will crash when load the boolean of "False" of EXaml. (Fix Jira 2295)
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueAction.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/Binding.cs
Labels: Devel-NUI

#3123 [NUI] sync from master to DevelNUI
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3127 [NUI] Fix ABI break for API8 NUI image
  src/Tizen.NUI/src/public/Images/ImageLoading.cs
Labels: Devel-NUI, Internal API Changed

#3073 [NUI] Add InputMethodSettings property to TextEditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
Labels: **NO MERGE**, Devel-NUI, Internal API Changed

#3132 [NUI][Xaml] Fix issue that BindingContext can't be used in C# code （JIRA 2296）
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#3133 [NUI] Version update (nui22028)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2981 [NUI][AT-SPI] Support for SetTextContents and InsertText
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI, Internal API Changed

#3138 [NUI] Fix Navigator's animation and Page's visible state
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3137 [Camera] Add CameraDeviceManager
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceListChangedEventArgs.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
  src/Tizen.Multimedia.Camera/Camera/CameraEnums.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.Camera.cs
Labels: API9, Internal API Changed

#3121 [NUI] Change the type of Consumed property for GestureInfo
  src/Tizen.NUI/src/internal/Accessibility/AccessibilityDoGestureSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.DoGestureSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
Labels: Devel-NUI, Internal API Changed

#3140 [Camera] Add ctor for network camera
  src/Tizen.Multimedia.Camera/Camera/Camera.Properties.cs
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.Camera.cs
Labels: API9, Internal API Changed

#3141 [NUI] fix CollectionView scroll block issue.
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
Labels: Devel-NUI

#3144 [NUI] Fix Picker value changed not invoked when align animation ended
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#3134 [NUI] Theme constructor throws XamlParseException
  src/Tizen.NUI/src/public/Theme/Theme.cs
Labels: Devel-NUI

#3145 [NUI] Fix to require Layout to fit to children or fill to parent
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI

#3149 [NUI] Set AlertDialog's LinearLayout center aligned
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
Labels: Devel-NUI

#3150 [NUI] Provide method so that user can register properties to group (JIRA 2301)
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI, Internal API Changed

#3156 [NUI] fix layouter null exception while clearing it
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
Labels: Devel-NUI

#3157 [NUI] Add hidden Disposed field for BaseHandle
  src/Tizen.NUI/src/public/BaseHandle.cs
Labels: API8

#3155 [NUI] Add Page's Appeared and Disappeared events
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
Labels: Devel-NUI, Internal API Changed

#3160 [NUI] Make BindableProperty of ItemsSource
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI, Internal API Changed

#3146 [Camera] Hide CDM interface from user
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
Labels: API9, Internal API Changed

#3130 [NUI] Add NeedGesturePropagation
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/Events/LongPressGestureDetector.cs
  src/Tizen.NUI/src/public/Events/PanGestureDetector.cs
  src/Tizen.NUI/src/public/Events/PinchGestureDetector.cs
  src/Tizen.NUI/src/public/Events/RotationGestureDetector.cs
  src/Tizen.NUI/src/public/Events/TapGestureDetector.cs
Labels: Devel-NUI, Internal API Changed

#3142 [NUI] Fix button CellPadding policy and default CornerRadius
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#3148 [NUI] make IsGrouped setter internal as only the GroupHeaderTemplate can enable it
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewGridGroupSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewLinearGroupSample.cs
Labels: Devel-NUI

#3151 [NUI] Add Utility(public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/res/arrow.jpg
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSCapture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSCubeTransitionEffect.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSFontClient.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSGraphicsCapabilities.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSGraphicsTypeConverter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSGraphicsTypeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSPalette.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSScrollView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSScrollViewEffect.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSScrollViewEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSScrollViewPagePathEffect.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSTTSPlayer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSTextPageUtil.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Utility/TSTimer.cs
Labels: Devel-NUI

#3152 [NUI] Add TCs of public input
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Input/TSAutofillContainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Input/TSFocusManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Input/TSInputMethod.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Input/TSInputMethodContext.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Input/TSKey.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Input/TSKeyValue.cs
Labels: Devel-NUI

#3161 [NUI] Add Template(public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/res/index.xml
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Template/TSDataTemplate.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Template/TSDataTemplateExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Template/TSDataTemplateSelector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Template/TSElementTemplate.cs
Labels: Devel-NUI

#3163 Revert "make IsGrouped setter internal as only the GroupHeaderTemplate can enable it
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewGridGroupSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewLinearGroupSample.cs
Labels: Devel-NUI

#3165 [NUI] Version update (nui22029)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3167 [NUI] Fix RelativeLayout's descendant size and position calculations
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#3143 [NUI][AT-SPI] Bindings for ScrollToChild
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI, Internal API Changed

#3159 [NUI][EXaml] Support FactoryMethod in EXaml (JIRE 2305)
  src/Tizen.NUI/src/internal/EXaml/Action/CreateInstanceAction.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherMethodsBlock.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateInstance.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherMethod.cs
  src/Tizen.NUI/src/internal/EXaml/Utility/GetBaseType.cs
Labels: Devel-NUI, Internal API Changed

#3169 [NUI] Fix implicit dispose exception defect
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#3172 [NUI] fix initialize layouter on empty count source insertion
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3110 [NUI][AT-SPI] Add AccessibilityInterface.Selection
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
Labels: Devel-NUI, Internal API Changed

#3175 [NUI] Add SpaceEvenly to FlexJustification
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: API8, Internal API Changed

#3179 Add Internal Notification Response Event handler
  src/Tizen.Applications.Notification/Interop/Interop.Notification.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationManager.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationResponseEventArgs.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationResponseEventType.cs
Labels: API9, Internal API Changed

#3178 Add Internal Notification Response Event handler
  src/Tizen.Applications.Notification/Interop/Interop.Notification.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationManager.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationResponseEventArgs.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationResponseEventType.cs
Labels: API8, Internal API Changed

#3180 [NUI] Fix typo error (filename & arguments)
  src/Tizen.NUI/src/internal/Common/ViewVisibilityChangedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.GLWindowVisibilityChangedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.KeyboardEventSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ObjectCreatedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewVisibilityChangedSignal.cs
Labels: Devel-NUI

#3173 Add ViewProperty and EXaml(public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/EXaml/TSEXamlExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/ViewProperty/TSBackgroundExtraData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/ViewProperty/TSImageShadow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/ViewProperty/TSShadow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/ViewProperty/TSShadowBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/ViewProperty/TSTextShadow.cs
Labels: Devel-NUI

#3177 [NUI] Add Transition(internal & public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Transition/TSTransitionItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Transition/TSTransitionItemBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Transition/TSTransitionSet.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Transition/TSTransitionSetSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Transition/TSTransition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Transition/TSTransitionBase.cs
Labels: Devel-NUI

#3181 [NUI] Add public theme TCs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSDefaultTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSDictionaryExternalTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSExternalThemeKeyList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSExternalThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSThemeChangedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Theme/TSTizenExternalTheme.cs
Labels: Devel-NUI

#3158 [NUI] Remove unused property of Transition
  src/Tizen.NUI/src/internal/Interop/Interop.TransitionItem.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TransitionItemBase.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItemBase.cs
Labels: Devel-NUI

#3185 [NUI] Update theme system
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/Notification.cs
  src/Tizen.NUI.Components/Style/TabButtonStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/Theme/ThemeDark.cs
  src/Tizen.NUI.Components/Utils/StyleManager.cs
  src/Tizen.NUI.Components/res/IoT_Toast_1.png
  src/Tizen.NUI.Components/res/Theme/Tizen.NUI.Components_Tizen.NUI.Theme.Common.xaml
  src/Tizen.NUI.Components/res/Theme/Tizen.NUI.Components_Tizen.NUI.Theme.Wearable.xaml
  src/Tizen.NUI.Wearable/res/Theme/Tizen.NUI.Wearable_Tizen.NUI.Theme.Common.xaml
  src/Tizen.NUI.Wearable/src/internal/Theme/DefaultTheme.cs
  src/Tizen.NUI/res/Theme/Tizen.NUI_Tizen.NUI.Theme.Common.xaml
  src/Tizen.NUI/res/Theme/Tizen.NUI_Tizen.NUI.Theme.Wearable.xaml
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Theme/DefaultTheme.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI/src/public/Theme/DictionaryExternalTheme.cs
  src/Tizen.NUI/src/public/Theme/ExternalThemeKeyList.cs
  src/Tizen.NUI/src/public/Theme/ExternalThemeManager.cs
  src/Tizen.NUI/src/public/Theme/IExternalTheme.cs
  src/Tizen.NUI/src/public/Theme/IThemeCreator.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeChangedEventArgs.cs
  src/Tizen.NUI/src/public/Theme/ThemeDark.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  src/Tizen.NUI/src/public/Theme/TizenExternalTheme.cs
  src/Tizen.NUI/src/public/Xaml/MarkupExtensions/ThemeResourcePathExtension.cs
Labels: Devel-NUI, Internal API Changed

#3191 [NUI] fix bug in item's content set
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
Labels: Devel-NUI

#3192 [NUI] Update MenuItem's image resource and Menu's background color
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/nui_component_menu_item_bg.png
Labels: Devel-NUI

#3188 [NUI] ThemeManager.GetStyle returns integrate style and fix some bugs.
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#3193 [NUI] Fix flickering buttons in ActionContent of AlertDialog
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#3194 [NUI] Update button components text size
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#3164 [Camera] Add new CameraPixelFormat - VP8,VP9
  src/Tizen.Multimedia.Camera/Camera/CameraEnums.cs
  src/Tizen.Multimedia.Camera/Camera/PreviewFrame.cs
Labels: ACR Required, API9

#3182 [Camera] Change CDM param check
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
Labels: API9, Internal API Changed

#3154 [NUI] Add FocusableInTouch property
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: **NO MERGE**, Devel-NUI, Internal API Changed

#3187 [NUI] Fix Slider Thumb shown issue
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/IoT_slider_handler_disabled.png
  src/Tizen.NUI.Components/res/IoT_slider_handler_pressed.png
  src/Tizen.NUI.Components/res/IoT_slider_handler_pressedW.png
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
Labels: Devel-NUI

#3196 [NUI] Fix Progress size issue
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI, Internal API Changed

#3195 [NUI] fix property binding error message
  src/Tizen.NUI/src/internal/XamlBinding/BindingExpression.cs
Labels: Devel-NUI

#3199 [NUI] enable groups regardless of groupHeader
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3170 [NUI] Fix wrong name
  src/Tizen.NUI/src/internal/XamlBinding/NUIConstantExtension.cs
  src/Tizen.NUI/src/public/Visuals/MeshVisual.cs
  src/Tizen.NUI/src/public/Visuals/PrimitiveVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Devel-NUI, Internal API Changed

#3174 [NUI] Add source type to TapGesture.
  src/Tizen.NUI/src/internal/Interop/Interop.TapGesture.cs
  src/Tizen.NUI/src/public/Events/TapGesture.cs
Labels: Devel-NUI, Internal API Changed

#3202 [Bluetooth][Non-ACR] Fix GattConnectonStateChanged not occured issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
Labels: API9

#3198 [NUI] Change date/time picker param to formal C# DateTime
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DatePickerSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TimePickerSample.cs
Labels: Devel-NUI, Internal API Changed

#3200 [NUI] Fix Picker scroll issue with 4 or fewer items
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#3205 [NUI][Xaml] Support create element in Xaml with default params
  src/Tizen.NUI/src/internal/Xaml/CreateValuesVisitor.cs
Labels: Devel-NUI

#3204 [NUI] fix IsSelected default value true to false
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
Labels: Devel-NUI

#3209 [NUI] Fix errors of NUI line coverage TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Accessibility/TSAccessibilityDoGestureSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSComponentApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Animation/TSPath.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Application/TSNUIWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSColor.cs
Labels: Devel-NUI

#3207 [NUI] Add tests for some WebView APIs.
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
  test/Tizen.NUI.WebViewTest/Tizen.NUI.WebViewTest.csproj
  test/Tizen.NUI.WebViewTest/WebViewApp.cs
Labels: Devel-NUI

#3096 [NUI][ATSPI] Modify Accessbility for picker components
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: Devel-NUI

#3216 [Bluetooth][Non-ACR] Fix unhandled exception in GetBondedDevice()
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API8

#3217 [NUI] Add Rotate API in Rotation to rotate vector
  src/Tizen.NUI/src/internal/Interop/Interop.Rotation.cs
  src/Tizen.NUI/src/public/Common/Rotation.cs
Labels: Devel-NUI, Internal API Changed

#3203 [NUI] Add public window TCs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Window/TSGLWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Window/TSGLWindowEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Window/TSGLWindowVisibilityChangedEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Window/TSWindow.cs
Labels: Devel-NUI

#3208 [NUI] Add description for Text component's PropertyMap.
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#3213 [NUI] Fix not to make LinearLayout.CellPadding nullable
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#3214 [NUI] Add BaseComponents(public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSAnimatedImageView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSAnimatedVectorImageView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSCameraView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSControlState.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSCustomView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSFlexContainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSImageView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSLottieAnimationView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextField.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextLabelEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextLabelSelectorData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextUtils.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewPublicMethods.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewSelectorData.cs
Labels: Devel-NUI

#3183 [NUI] Add GetHeightForWidth(), GetWidthForHeight()
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: **NO MERGE**, ACR Accepted, Devel-NUI

#3220 [NUI]Fix SetAvailableOrientation
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#3219 [NUI] Reset XamlParser's xamlns definitions whenever it starts to parse
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
Labels: Devel-NUI

#3223 [NUI] version update (nui22031)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3228 [Camera] Remove DeviceListChanged event
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceListChangedEventArgs.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.Camera.cs
Labels: API9, Internal API Changed

#3235 Fix static analysis issues
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API7

#3234 Fix static analysis issues
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API6

#3236 [NUI] Fix itemslayouter nullable value checking.
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
Labels: Devel-NUI

#3215 [NUI] Add fade transition
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FadeItem.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TransitionItemBase.cs
  src/Tizen.NUI/src/internal/Transition/FadeItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItemBase.cs
  src/Tizen.NUI/src/public/Transition/Fade.cs
  src/Tizen.NUI/src/public/Transition/TransitionBase.cs
Labels: Devel-NUI, Internal API Changed

#3237 [NUI] API for load image from System.IO.Stream
  src/Tizen.NUI/src/internal/Interop/Interop.ImageLoading.cs
  src/Tizen.NUI/src/public/Images/ImageLoading.cs
Labels: Devel-NUI, Internal API Changed

#3221 [NUI] Add SelectedChanged event to the SelectGroup and etc.
  src/Tizen.NUI.Components/Controls/RadioButtonGroup.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  src/Tizen.NUI.Components/Controls/SelectGroup.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI, Internal API Changed

#3225 [NUI] Fix color format to #RRGGBBAA from #AARRGGBB
  src/Tizen.NUI/src/public/XamlBinding/ColorTypeConverter.cs
Labels: Devel-NUI

#3241 [NUI] Fix to support simple MatchParent in RelativeLayout
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#3240 Revert "[NUI] Deprecate ResizePolicyType"
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: ACR Required, Devel-NUI

#3243 [NUI] Version update (nui22032)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3244 [Camera] Remove DeviceListChanged event (#3228)
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceListChangedEventArgs.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.Camera.cs
Labels: Devel-NUI, Internal API Changed

#3242 [MediaTool] Fix buffer bug
  src/Tizen.Multimedia/MediaTool/MediaPacket.cs
Labels: API9

#3229 [NUI] Add public window TCs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowVisibilityChangedEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindow.cs
Labels: Devel-NUI

#3230 [NUI] Update Application(internal & public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSApplicationControlSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSApplicationSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSComponentApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSNUIComponentCoreBackend.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSNUICoreBackend.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSNUIWidgetCoreBackend.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSWatchApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSWatchBoolSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSWatchTimeSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIComponentApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIFrameComponent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSWatchTime.cs
Labels: Devel-NUI

#3231 [NUI] Add Widget(internal & public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Widget/TSWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Widget/TSWidgetImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Widget/TSWidgetImplPtr.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Widget/TSWidgetViewSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidget.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetViewManager.cs
Labels: Devel-NUI
