Repository Samsung/TizenFX, pull requests merged in 2021-07, with the labels that each got.

#3252 [NUI] Change WebView namespace to Tizen.NUI.BaseComponents
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewPageLoadEventArgs.cs
Labels: Devel-NUI, Internal API Changed

#3248 [Camera] Change the way to invoke CDM event
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
Labels: API9

#3239 [NUI] BaseComponent: Add RiveAnimationView Component.
  src/Tizen.NUI/src/internal/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/RiveAnimationView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/buggy.riv
Labels: Devel-NUI, Internal API Changed

#3218 [NUI] Add GetCapturedBuffer api for Capture
  src/Tizen.NUI/src/internal/Interop/Interop.Capture.cs
  src/Tizen.NUI/src/public/Capture.cs
Labels: API8, Internal API Changed

#3232 [NUI] Switch icon includes track and thumb for aligning
  src/Tizen.NUI.Components/Controls/Switch.cs
Labels: Devel-NUI, Internal API Changed

#3251 [NUI] Add API Button.IconSize
  src/Tizen.NUI.Components/Controls/Button.cs
Labels: Devel-NUI, Internal API Changed

#3253 [NUI] Fix TC build errors & update TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionItemBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionSet.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSTransitionSetSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSDefaultTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSDictionaryExternalTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSExternalThemeKeyList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSExternalThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSThemeChangedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSTizenExternalTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindowVisibilityChangedEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindow.cs
Labels: Devel-NUI

#3255 [NUI] Add Utility(internal) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSBuilder.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSCamera.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSColorCutQuantizer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSColorHistogram.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSColorUtils.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSConnectionTracker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSConnectionTrackerInterface.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSCreateWidgetFunction.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSEnvironmentVariable.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSGaussianBlurViewSignal.cs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemCollection.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemFactory.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemIdCollection.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemRange.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageFactory.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPagePanSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageTurnLandscapeView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageTurnPortraitView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageTurnSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageTurnView.cs
Labels: Devel-NUI

#3256 [NUI] Add new features for window
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI, Internal API Changed

#3258 [NUI] Fix issue of SetValue to the property which hasn't DefaultValue Create delegate
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#3260 [NUI] Version Update (nui22033)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3257 [Camera] Add extra stream format for production
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
  src/Tizen.Multimedia.Camera/Camera/CameraSettings.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.Camera.cs
Labels: API9, Internal API Changed

#3267 [NUI] Fix picker not to use ViewStyle.
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: Devel-NUI, Internal API Changed

#3265 [NUI] Fix Shadow issue when we set BoxShadow = null
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
Labels: Devel-NUI

#3268 [NUI] Fix AlertDialog not to use ViewStyle.
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
Labels: Devel-NUI

#3269 [NUI] Fix AppBar not to use ViewStyle.
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
Labels: Devel-NUI

#3226 [NUI][ATSPI] Change 'Caret' for binding name to 'Cursor'
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
Labels: **NO MERGE**, Devel-NUI

#3270 [Camera] Change the dispose timing of CameraDeviceManager
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
Labels: API9

#3275 [NUI] Fix to calculate RelativeLayout's children MeasuredWidth/Height correctly
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#3271 [NUI] Fix build error of Devel.NUI.Tests
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSComponentApplication.cs
Labels: Devel-NUI

#3276 [NUI] Fix Navigator Transition issue
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3277 [Camera] Handle GetDeviceInformation returns null
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
Labels: API9, Internal API Changed

#3278 [NUI] Add Api for getting window from view
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI, Internal API Changed

#3283 [NUI] Fix Dialog Transition issue
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3280 [NUI][Xaml] Support different params in Vector Converter
  src/Tizen.NUI/src/internal/XamlBinding/VectorTypeConverter.cs
Labels: Devel-NUI

#3189 [NUI] Add ImageUrl
  src/Tizen.NUI/src/internal/Interop/Interop.Capture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ImageUrl.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageSource.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PixelData.cs
  src/Tizen.NUI/src/internal/WebView/WebHitTestResult.cs
  src/Tizen.NUI/src/public/Images/ImageUrl.cs
  src/Tizen.NUI/src/public/Images/NativeImageSource.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
Labels: **NO MERGE**, Devel-NUI, Internal API Changed

#3292 [NUI] fix transition order
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3295 [NUI] Add WebView.SetTtsFocus API
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
Labels: API8, Internal API Changed

#3287 [NUI] Fix RelativeLayout Measure size calculation
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#3293 [NUI] Apply ImageUrl in CaptureTest
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CaptureTest.cs
Labels: Devel-NUI

#3263 [NUI] Rename APIs related to context menu.
  src/Tizen.NUI/src/internal/Interop/Interop.WebContext.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebContextMenu.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebContextMenu.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewContextMenuHiddenEventArgs.cs
  src/Tizen.NUI/src/internal/WebView/WebViewContextMenuHiddenSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewContextMenuShownEventArgs.cs
  src/Tizen.NUI/src/internal/WebView/WebViewContextMenuShownSignal.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
  test/Tizen.NUI.WebViewTest/tizen-manifest.xml
Labels: Devel-NUI, Internal API Changed

#3300 [NUI] Fix ThemeManager to return valid platform theme Id
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#3301 [NUI] Add a tip for NUITizenGallery project
  test/NUITizenGallery/.pic/NugetConfig.png
  test/NUITizenGallery/.pic/csproj-file.png
  test/NUITizenGallery/.pic/launch.png
  test/NUITizenGallery/.pic/run.png
  test/NUITizenGallery/NUITizenGallery.code-workspace
  test/NUITizenGallery/README.md
Labels: Devel-NUI

#3298 [NUI] Add XAML TCs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSApplyPropertiesVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSCreateValuesVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSDesignMode.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSExpandMarkupsVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSFillResourceDictionariesVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSHydrationContext.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSIDictionaryExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSMarkupExpressionParser.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSMarkupExtensionParser.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSNamescopingVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSPruneIgnoredNodesVisitor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSReflectionExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSApplicationResourcePathExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSArrayExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSBindingExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSDynamicResourceExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSNUIResourcePathExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSNullExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSReferenceExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSStaticExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSTemplateBindingExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSTypeExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSProvideCompiledAttribute.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSStaticResourceExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSTypeConversionAttribute.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSViewExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlCompilationAttribute.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlFilePathAttribute.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlParseException.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlResourceIdAttribute.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlServiceProvider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXmlLineInfo.cs
Labels: Devel-NUI

#3296 [XamlBuild] Remove static member in EXaml Operation
  src/Tizen.NUI/src/internal/EXaml/Action/CreateInstanceAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetObjectByPropertyAction.cs
  src/Tizen.NUI/src/internal/EXaml/GlobalDataList.cs
  src/Tizen.NUI/src/internal/EXaml/LoadEXaml.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateInstance.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherStaticInstance.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/RegisterXName.cs
Labels: Devel-NUI

#3294 [NUI] Fix build erros of Devel.NUI.Tests.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageLoading.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSNativeImageSource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSPixelBuffer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSPixelData.cs
Labels: Devel-NUI

#3291 [NUI] Add EncodedImageBuffer class (Load image frome Stream)
  src/Tizen.NUI/src/internal/Interop/Interop.EncodedImageBuffer.cs
  src/Tizen.NUI/src/public/Images/EncodedImageBuffer.cs
Labels: Devel-NUI, Internal API Changed

#3289 [NUI] Add TCs of FrameBroker(internal).
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/FrameBroker/TSDefaultFrameBroker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/FrameBroker/TSFrameData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/FrameBroker/TSSafeFrameBrokerHandle.cs
Labels: Devel-NUI

#3288 [NUI] Add TCs of Common(Internal).
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSActivatedSignalType.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSBackKeyManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSBaseObject.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSChildPropertyRegistration.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSCustomActorImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDaliException.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDefaultRuler.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDoublep.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSFixedRuler.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSFloatp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSFontDescription.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSFontMetrics.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSFrameBuffer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSGlyphInfo.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSMatrix.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSMatrix3.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSNativeImageInterface.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSPathConstrainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSPropertyHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSPropertyRangeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRenderTask.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRuler.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRulerDomain.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSStringValuePair.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSTimePeriod.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSTouchPoint.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSTouchPointContainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSTypeAction.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSVectorBlob.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSVectorUint16Pair.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSVectorUnsignedChar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSVersionCheck.cs
Labels: Devel-NUI

#3279 [NUI] Change InterceptTouchEvent.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3299 [NUI] Rectoring items layout
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
Labels: Devel-NUI

#3303 [Bluetooth][Non-ACR] Add log for converting devcie info
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#3304 [NUI] Change shouldIntercept value
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3306 [NUI] Revert shouldIntercept check
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3307 [NUI] Version update (nui22034)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3305 [NUI] Change default Navigator Animation
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3308 [Bluetooth][Non-ACR] Add log for converting devcie info (#3303)
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: Devel-NUI

#3315 Revert "[NUI] BaseComponent: Add RiveAnimationView Component."
  src/Tizen.NUI/src/internal/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/RiveAnimationView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/buggy.riv
Labels: API9, Internal API Changed

#3316 Revert "[NUI] BaseComponent: Add RiveAnimationView Component."
  src/Tizen.NUI/src/internal/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/RiveAnimationView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/buggy.riv
Labels: Devel-NUI, Internal API Changed

#3310 [NUI] Add WebView.SetTtsFocus(bool) method
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI, Internal API Changed

#3313 [NUI] Fix AppBar Content's Layout properties
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#3314 [NUI] Fix Menu's BackgroundColor
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#3312 [NUI] Enable Slider value to be updated using both touch and key event
  src/Tizen.NUI.Components/Controls/Slider.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SliderSample.cs
Labels: Devel-NUI, Internal API Changed

#3321 [NUI] Fix to measure RelativeLayout's children sizes correctly
  src/Tizen.NUI/src/internal/Layouting/RelativeLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#3322 [NUI] Change RelativeLayout's default offset values
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#3318 [NUI] Replace Signal with callback.
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Interop/Interop.WebCertificate.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebConsoleMessage.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebFormRepostPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebHttpAuthHandler.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebPageLoadError.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebCertificate.cs
  src/Tizen.NUI/src/internal/WebView/WebConsoleMessage.cs
  src/Tizen.NUI/src/internal/WebView/WebFormRepostPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpAuthHandler.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/internal/WebView/WebPageLoadError.cs
  src/Tizen.NUI/src/internal/WebView/WebPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewCertificateReceivedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewConsoleMessageReceivedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewContextMenuHiddenSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewContextMenuShownSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewFormRepostPolicyDecidedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewFrameRenderedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewHttpAuthRequestedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewHttpRequestInterceptedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewPageLoadErrorSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewPageLoadSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewResponsePolicyDecidedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewScrollEdgeReachedSignal.cs
  src/Tizen.NUI/src/internal/WebView/WebViewUrlChangedSignal.cs
Labels: Devel-NUI, Internal API Changed

#3324 [NUI] Fix the build error when referencing to NUI.XamlBuild of which version is higher than 1.0.11
  test/NUITizenGallery/NUITizenGallery.csproj
  test/NUITizenGallery/README.md
Labels: Devel-NUI

#3302 [NUI] Add Constraint base + inhouse ResizePolicyType:KeepSizeFollowingParent
  src/Tizen.NUI/src/internal/Animation/Constraint.cs
  src/Tizen.NUI/src/internal/Animation/EqualConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/Animation/RelativeConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Constraint.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_Dali__Constraint.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Utility/ScrollView.cs
Labels: Devel-NUI, Internal API Changed

#3311 [NUI] Supports moving focus of items in ScrollableBase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/internal/Common/ViewWrapperImpl.cs
Labels: Devel-NUI, Internal API Changed

#3246 [NUI] Add GetBrightness()
  src/Tizen.NUI/src/internal/Interop/Interop.PixelBuffer.cs
  src/Tizen.NUI/src/public/Images/PixelBuffer.cs
Labels: Devel-NUI, Internal API Changed

#3323 [NUI] Add EnableDefaultAlgorithm and IsDefaultAlgorithmEnabled
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
Labels: Devel-NUI, Internal API Changed

#3325 [NUI] Version update (nui22035)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3055 [Build] Modify the TFM list set in vconf
  packaging/500.tizenfx_upgrade.sh
  packaging/csapi-tizenfx.spec
  packaging/maketfm.py
Labels: API9

#3054 [ThumbnailExtractor] Add missed description
  src/Tizen.Multimedia.Util/ThumbnailExtractor/ThumbnailExtractor.cs
Labels: API9

#3328 [NUI] Fix gridlayouter find wrong visible item
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
Labels: Devel-NUI

#3329 [NUI] Reset transition order to match scene tree order
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3327 [NUI] Fix fail issues of NUI.Devel.Test .
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSBuilder.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemCollection.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemIdCollection.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSTransitionOptions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextUtils.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSNativeImageSource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Input/TSInputMethodContext.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Input/TSKeyValue.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSCapture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSScrollView.cs
Labels: Devel-NUI

#3333 [NUI] Add Popped event to Navigator
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NavigatorSample.cs
Labels: Devel-NUI, Internal API Changed

#3331 [NUI] Add new rotation constructor
  src/Tizen.NUI/src/internal/Interop/Interop.Rotation.cs
  src/Tizen.NUI/src/public/Common/Rotation.cs
Labels: Devel-NUI, Internal API Changed

#3320 [NUI] Add Enabled property to Slider and Progress
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Devel-NUI, Internal API Changed

#3330 [NUI] Fix the Window.VisibilityChanged event's crash issue
  src/Tizen.NUI/src/internal/Common/KeyboardRepeatSettingsChangedSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowEffectSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowVisibilityChangedEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples.sln
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CaptureTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowEventsTest.cs
Labels: Devel-NUI

#3337 [Tizen.ApplicationManager] Add a new internal method
  src/Tizen.Applications.Common/Interop/Interop.ApplicationManager.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API9, Internal API Changed

#3338 [NUI] Fix to call base.Initialize() of LinearLayouter and GridLayouter
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3342 [NUI] Fix Navigator sample build error
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NavigatorSample.cs
Labels: Devel-NUI

#3343 [NUI] Fix Navigator sample build error
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NavigatorSample.cs
Labels: API9

#3344 [NUI] Implement WebView.GetPlainTextAsynchronously method
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI, Internal API Changed

#3341 [NUI] Add NativeImageQueue
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageQueue.cs
  src/Tizen.NUI/src/public/Images/NativeImageQueue.cs
Labels: Devel-NUI, Internal API Changed

#3347 [NUI] Add GetBrightness()
  src/Tizen.NUI/src/internal/Interop/Interop.PixelBuffer.cs
  src/Tizen.NUI/src/public/PixelBuffer.cs
Labels: API8, Internal API Changed

#3345 [NUI] Add some comment about Animatable property of View
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#3340 [NUI] Remove cached ImageUrl at EncodedImageBuffer
  src/Tizen.NUI/src/public/Images/EncodedImageBuffer.cs
Labels: Devel-NUI

#3339 [NUI] Added string key to Placeholder PropertyMap
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Devel-NUI

#3348 [NUI] Version update (nui22036)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3349 Rebase DevelNUI
  src/Tizen.Applications.Common/Interop/Interop.ApplicationManager.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: Devel-NUI, Internal API Changed

#3354 [NUI] Implement WebView.GetPlainTextAsynchronously method (#3344)
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
Labels: API8, Internal API Changed

#3351 [Bluetooth][Non-ACR] Fix DeviceName converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#3346 [NUI] CanvasView: Add ClipPath and Mask feature for Drawable
  src/Tizen.NUI/src/internal/Interop/Interop.Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Drawable.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CanvasViewSamsple.cs
Labels: Devel-NUI, Internal API Changed

#3355 [NUI] CanvasView: Add RemoveDrawable/RemoveAllDrawables method
  src/Tizen.NUI/src/internal/Interop/Interop.CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
Labels: Devel-NUI, Internal API Changed

#3356 [NUI] CanvasView: Add constructor that can be created without viewbox
  src/Tizen.NUI/src/internal/Interop/Interop.CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
Labels: Devel-NUI, Internal API Changed

#3357 [NUI] Fix bugs in ViewStyle.CopyFrom
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
Labels: Devel-NUI
