Repository Samsung/TizenFX, pull requests merged in 2021-05, with the labels that each got.

#2985 [NUI] Refactoring itemSelectionMode names and adding SingleAlways
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSelectionMode.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/CollectionViewGridSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/CollectionViewLinearSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewGridGroupSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewLinearGroupSample.cs
Labels: Devel-NUI, Internal API Changed

#2986 [NUI] Fix dispoing collectionView and related classes.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: Devel-NUI

#2988 [ElmSharp] Fix EcoreEvent
  src/ElmSharp/ElmSharp/EcoreEvent.cs
Labels: API9

#2987 [NUI] Fix Utility.Dispose not to set null to method parameter
  src/Tizen.NUI.Components/Utils/Utility.cs
Labels: Devel-NUI

#2972 [NUI] Add GLWindow Rendering mode
  src/Tizen.NUI/src/internal/Interop/Interop.GLWindow.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Window/GLWindow.cs
Labels: Devel-NUI, Internal API Changed

#2983 [NUI] Set FittingMode only when value has changed
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#2873 [NUI] Open newly added APIs in VectorGraphics
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
Labels: **NO MERGE**, ACR Required, Devel-NUI, Internal API Changed

#2918 [NUI] Make Dialog APIs public
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  src/Tizen.NUI.Components/Style/AlertDialogStyle.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2990 [NUI] Update some descriptions
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Devel-NUI

#2916 [NUI] Make Page Navigation APIs public
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2919 [NUI] Make TabView APIs public
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Controls/TabContent.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TabViewSample.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2922 [NUI] Make Menu APIs public
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuItem.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MenuSample.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2971 [NUI] Fix contradictory code in SetProperty
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
Labels: Devel-NUI

#2967 [NUI] Add Application(Internal & Public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSApplicationControlSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSApplicationSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSComponentApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSNUIComponentCoreBackend.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSNUICoreBackend.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSNUIWidgetCoreBackend.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSWatchApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSWatchBoolSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Application/TSWatchTimeSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Application/TSNUIApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Application/TSNUIComponentApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Application/TSNUIFrameComponent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Application/TSNUIWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Application/TSWatchTime.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSProperty.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyArray.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPropertyNotifySignal.cs
Labels: Devel-NUI

#2993 [NUI] Replace NavigationPages.Count with PageCount
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AlertDialogSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DialogSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MenuSample.cs
Labels: Devel-NUI

#2994 [NUI] Change property name Caption to Label and related names on DefaultGridItem
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Style/DefaultGridItemStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#2992 [NUI] Replace duplicate documentation of CopyFrom with inheritdoc
  src/Tizen.NUI.Components/Style/ButtonStyle.cs
  src/Tizen.NUI.Components/Style/DatePickerStyle.cs
  src/Tizen.NUI.Components/Style/DefaultGridItemStyle.cs
  src/Tizen.NUI.Components/Style/DefaultLinearItemStyle.cs
  src/Tizen.NUI.Components/Style/DefaultTitleItemStyle.cs
  src/Tizen.NUI.Components/Style/ImageScrollBarStyle.cs
  src/Tizen.NUI.Components/Style/LoadingStyle.cs
  src/Tizen.NUI.Components/Style/Navigation/AppBarStyle.cs
  src/Tizen.NUI.Components/Style/PaginationStyle.cs
  src/Tizen.NUI.Components/Style/PickerStyle.cs
  src/Tizen.NUI.Components/Style/ProgressStyle.cs
  src/Tizen.NUI.Components/Style/RecyclerViewItemStyle.cs
  src/Tizen.NUI.Components/Style/SliderStyle.cs
  src/Tizen.NUI.Components/Style/SwitchStyle.cs
  src/Tizen.NUI.Components/Style/TabButtonStyle.cs
  src/Tizen.NUI.Components/Style/TimePickerStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
Labels: Devel-NUI

#2973 [NUI] Make LayoutParamPolicies public
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2974 [Multimedia] Add Validation util and rename filename
  src/Tizen.Multimedia/Common.Internal/ValidationUtil.cs
Labels: API9

#2997 [NUI] Fix issue that a symbol is not found.
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
Labels: Devel-NUI

#2998 [NUI] Fix issue that a symbol is not found.
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/WebSettings.cs
Labels: API8

#2999 [NUI] Fix issue that a symbol is not found.
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
Labels: API9

#2878 [NUI] Make Palette APIs public
  src/Tizen.NUI/src/public/Utility/Palette.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaletteSample.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#3001 [NUI] Open newly added APIs in VectorGraphics
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
Labels: ACR Required, API9, Internal API Changed

#3002 [NUI] Make Palette APIs public
  src/Tizen.NUI/src/public/Utility/Palette.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaletteSample.cs
Labels: ACR Required, API9, Internal API Changed

#2907 [NUI] Deprecate BaseHandle.PropertySet and Add BindableProperty.PropertyChanged
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: ACR Accepted, Devel-NUI, Internal API Changed

#3006 [NUI] Deprecate BaseHandle.PropertySet and Add BindableProperty.PropertyChanged
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: ACR Required, API9, Internal API Changed

#2996 [NUI] Update Slider sample to test touch event
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SliderSample.cs
Labels: Devel-NUI

#3010 [NUI] Fix crash issue when favicon is null.
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI

#3013 [NUI] Fix not to dereference nullable handle ItemsLayouter
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#3014 [NUI] Fix not to dereference nullable handle ItemsLayouter
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: API9

#3017 [NUI] Fix some typo and grammar mistake
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/TimePeriod.cs
Labels: Devel-NUI

#3000 [NUI] Rename functions, variables, etc related to policy decision.
  src/Tizen.NUI/src/internal/Interop/Interop.WebPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewResponsePolicyDecidedEventArgs.cs
  src/Tizen.NUI/src/internal/WebView/WebViewResponsePolicyDecidedSignal.cs
Labels: Devel-NUI, Internal API Changed

#3016 [NUI][AT-SPI] Move code from View.cs to ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI

#3009 [NUI] atspi: use 'class' key for Dali type name
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
Labels: Devel-NUI

#2991 [NUI] Disable external theme in TV profile and make theme data compact
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#3007 [NUI] Add Visuals(Public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSAnimatedImageVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSArcVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSBorderVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSColorVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSGradientVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSImageVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSMeshVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSNPatchVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSPrimitiveVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSSVGVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSTextVisual.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSVisualAnimator.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSVisualBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSVisualFactory.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Visuals/TSVisualMaps.cs
Labels: Devel-NUI

#3018 [NUI] Notification throws a proper exception when the device does not support it.
  src/Tizen.NUI.Components/Controls/Notification.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#3019 [NUI] Add Hyphenation, Mixed to LineWrapMode
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI, Internal API Changed

#3023 [NUI] Fix issue that default value of BindableProperty is incorrect.
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI

#3024 [NUI] Fix issue that default value of BindableProperty is incorrect.
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: API9

#3031 [Telephony][Non-ACR] Fix ReleaseCallList crash issue
  src/Tizen.Telephony/Interop/Interop.Call.cs
Labels: API9

#3015 [NUI] Fix Svace issues
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI/src/internal/EXaml/Action/AddEventAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/AddToResourceDictionary.cs
  src/Tizen.NUI/src/internal/EXaml/Action/CallAddMethodAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetBindalbePropertyAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetBindingAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetDynamicResourceAction.cs
  src/Tizen.NUI/src/internal/EXaml/Action/SetPropertyAction.cs
  src/Tizen.NUI/src/internal/EXaml/Block/GatherTypesBlock.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/AddToResourceDictionary.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherBindableProperties.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherConvertedValue.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetDynamicResource.cs
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#3032 [NUI] fix nullable member access code to prevent future crash.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#3034 fix nullable member access code to prevent future crash.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: API9

#3021 [NUI] Rename functions, variables, etc related to policy decision.
  src/Tizen.NUI/src/internal/Interop/Interop.WebPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewResponsePolicyDecidedEventArgs.cs
  src/Tizen.NUI/src/internal/WebView/WebViewResponsePolicyDecidedSignal.cs
Labels: API9, Internal API Changed

#2958 [NUI][AT-SPI] Simplify AccessibilityStates
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI, Internal API Changed

#2982 [NUI][AT-SPI] Add Value interface to Pagination
  src/Tizen.NUI.Components/Controls/Pagination.cs
Labels: Devel-NUI, Internal API Changed

#3027 [NUI] Add Layouting(public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSAbsoluteLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSFlexLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSGridLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSILayoutParent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSLayoutGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSLayoutItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSLayoutLength.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSLayoutTransition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSLinearLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSMeasureSpecification.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSMeasuredSize.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSPaddingType.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSRelativeLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Layouting/TSRelayoutContainer.cs
Labels: Devel-NUI

#3036 [NUI] Change OnAccessibilityActivated() access modifier
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: API8, Internal API Changed

#3037 [NUI] Add AlertDialog bg resource image
  src/Tizen.NUI.Components/res/nui_component_default_dialog_bg.#.png
Labels: Devel-NUI

#3038 [NUI] Add AlertDialog bg resource image
  src/Tizen.NUI.Components/res/nui_component_default_dialog_bg.#.png
Labels: API9

#3039 [Build] Add a github workflow to deploy documents
  .github/workflows/deploy-documents.yml
Labels: API9

#3040 [Build] Add a github workflow to deploy tizen docs
  .github/workflows/deploy-documents-for-tizen-docs.yml
Labels: API9

#3042 [NUI] refactoring ScrollTo.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI, Internal API Changed

#3044 [Build] Downgrade tizenfx-build-worker to 2.0
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
Labels: API9

#3045 [Build] Add a workflow for package deployment
  .github/workflows/deploy-packages.yml
Labels: API9

#2955 [NUI][AT-SPI] Add API for blocking automatic Bridge initialization
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Devel-NUI, Internal API Changed

#3029 [NUI] Fix MatchParent to fill remaining space in LinearLayout
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#3049 [NUI] Add Borderline Properties
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
Labels: Devel-NUI, Internal API Changed

#3043 [NUI] refactoring ScrollTo. (#3042)
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: API9, Internal API Changed

#3050 [NUI] fix disposing crash when layouter is null
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: Devel-NUI

#3047 [NUI] Fix MatchParent to fill remaining space in LinearLayout
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: API9

#3051 [NUI] fix disposing crash when layouter is null (#3050)
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: API9

#3052 [NUI] Calculate correct MatchParent size for ContentPage and TabView
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
Labels: Devel-NUI, Internal API Changed

#3053 [NUI] Revert ImageLoading's access modifier
  src/Tizen.NUI/src/public/Images/ImageLoading.cs
Labels: Devel-NUI, Internal API Changed

#3056 [Build] Update workflow for release process
  .github/workflows/deploy-packages.yml
  .github/workflows/nightly-release.yml
Labels: API9

#3057 [NUI] Change ulong to uint at Interop.Touch.GetMouseButton
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
Labels: Devel-NUI

#3058 [NUI][Xaml] Support nest type in Xaml
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
Labels: Devel-NUI

#3065 [Bluetooth][Non-ACR] Add public constructor for BluetoothDevice
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
Labels: API8, Internal API Changed

#3066 [Bluetooth][Non-ACR] Add MTU functionalities (#2790)
  src/Tizen.Network.Bluetooth/Interop/Interop.Bluetooth.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEventArgs.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGattImpl.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#3067 [Bluetooth][Non-ACR] Add public constructor for BluetoothDevice (#3065)
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
Labels: API9, Internal API Changed

#3022 [NUI] Update ViewAccessibility according to the coding rule
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI, Internal API Changed

#3062 [NUI] Fix to calculate LinearLayout's MatchParent children correctly
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#3063 Revert "[NUI] Calculate correct MatchParent size for ContentPage and …
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
Labels: Devel-NUI, Internal API Changed

#3064 [NUI] Apply the latest UX of TabView
  src/Tizen.NUI.Components/Controls/TabView.cs
Labels: Devel-NUI

#3071 [NUI] Fix to calculate LinearLayout's MatchParent children correctly
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: API9

#3046 [NUI] Add EnableGrabHandle, EnableGrabHandlePopup to TextEditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
Labels: **NO MERGE**, Devel-NUI, Internal API Changed

#3070 [NUI][AT-SPI] Fix DllImport typo in Interop.Accessibility.SuppressScreenReader
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
Labels: Devel-NUI

#3060 [NUI] CanvasView: Manage added drawables as a list
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
Labels: Devel-NUI

#3077 [NUI] Fix item position to apply collectionView Padding
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: API9

#2995 [NUI]CanvasView: Add BoundingBox property
  src/Tizen.NUI/src/internal/Interop/Interop.Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Drawable.cs
Labels: **NO MERGE**, Devel-NUI, Internal API Changed

#3082 [NUI] Add more log info for recursive dependency in LinearLayout
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#3026 [NUI] Window operations can get detail result
  src/Tizen.NUI.Components/Controls/Notification.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#3074 [NUI] Add Common(public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/Resource.Designer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/Resource.resx
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSBaseHandle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSColor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSContainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSDegree.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSFrameUpdateCallbackInterface.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSLayer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPosition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSPosition2D.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSRadian.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSRectangle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSRelativeVector2.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSRelativeVector3.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSRelativeVector4.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSRotation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSSize.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSSize2D.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSStyleManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSTimePeriod.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSTypeRegistry.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSVector2.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSVector3.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Common/TSVector4.cs
Labels: Devel-NUI

#3076 [NUI] Fix item position to apply collectionView Padding
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3079 [NUI] Fix BindableObject.SetValue to allow Selector types flexibly
  src/Tizen.NUI/src/public/XamlBinding/BindableProperty.cs
Labels: Devel-NUI

#3080 [NUI] Remove duplicate AlertDialog theme
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#3084 [Bluetooth][Non-ACR] Add device name null check logic
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API9

#3086 [Bluetooth][Non-ACR] Add device name null check logic
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API8

#2978 [MediaTool] Add new video mime types
  src/Tizen.Multimedia/MediaTool/MediaFormatVideoMimeType.cs
Labels: ACR Accepted, API9

#3088 [NUI][ATSPI] Default accessibility support for Picker components
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: Devel-NUI, Internal API Changed

#3078 [NUI] Fix crash when background color of webview is set.
  src/Tizen.NUI/src/internal/Interop/Interop.WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI, Internal API Changed

#3008 [NUI] Deprecate ResizePolicyType
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: **NO MERGE**, ACR Required, Devel-NUI

#3087 [NUI] Change interruptView to InterceptTouchEvent
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3089 [NUI][ATSPI] Accessibility support for AppBar
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
Labels: Devel-NUI, Internal API Changed

#3090 [NUI][ATSPI] Not highlightable for AlertDialog
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
Labels: Devel-NUI

#3091 [NUI][ATSPI] Accessibility support for TabView components
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Controls/TabContent.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
Labels: Devel-NUI, Internal API Changed

#3097 [NUI] fix CollecitonView item sizing on MeasureFirst
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3098 [NUI] fix CollecitonView item sizing on MeasureFirst
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: API9

#3048 [NUI] Update ViewAccessibility enumerations
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#3104 [NUI] Apply Page color
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#3105 [NUI] Apply Page color
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: API9

#3100 [NUI] Fix ScrollableBase Remove issue
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API9

#3102 [NUI] Add Images(public) TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Images/TSImageLoading.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Images/TSNativeImageSource.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Images/TSPixelBuffer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Images/TSPixelData.cs
Labels: Devel-NUI

#3095 [NUI] Disable desired size when image loading fail
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#3103 [NUI] Add TCs for Event
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSGesture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSGestureDetectorManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSHover.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSLongPressGesture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSLongPressGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSPanGesture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSPanGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSPinchGesture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSPinchGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSRotationGesture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSRotationGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSTapGesture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSTapGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSTouch.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSWheel.cs
Labels: Devel-NUI

#3115 [NUI] Disable desired size when image loading fail
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API8

#3108 [NUI] Fix to set Actions center aligned in AlertDialog
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
Labels: Devel-NUI

#3109 [NUI] Fix to set Actions center aligned in AlertDialog
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
Labels: API9

#3112 [NUI] Fix not to apply DialogPage color
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/Theme/ThemeDark.cs
Labels: Devel-NUI

#3113 [NUI] Fix not to apply DialogPage color
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/Theme/ThemeDark.cs
Labels: API9

#3116 [NUI] Add FindLayerByID(), FindChildByID()
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FindChildByIDTest.cs
Labels: Devel-NUI, Internal API Changed

#3111 [NUI] sync from master to DevelNUI
  README.md
Labels: Devel-NUI

#3107 [NUI] fix layouter and cache clearing when property changed
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: Devel-NUI, Internal API Changed

#3106 [NUI] fix layouter and cache clearing when property changed
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: API9, Internal API Changed

#3117 [NUI] updating InternalItemsSource when header/footer is updated
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#3118 [NUI] fix contentcontainer size initalize
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
Labels: Devel-NUI

#3120 [NUI] Cancel pressed state properly on touch events
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
Labels: Devel-NUI

#3099 [NUI] Fix ScrollableBase Remove issue
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3092 [NUI] Add GetCapturedBuffer api for Capture
  src/Tizen.NUI/src/internal/Interop/Interop.Capture.cs
  src/Tizen.NUI/src/public/Utility/Capture.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CaptureTest.cs
Labels: Devel-NUI, Internal API Changed

#3114 [NUI] Fix ScrollableBase animation issue
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3119 [NUI] Add TCs for Public Events
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Events/TSGestureDetectorManager.cs
Labels: Devel-NUI

#3125 [NUI] Set Notification Window transparent
  src/Tizen.NUI.Components/Controls/Notification.cs
Labels: Devel-NUI

#3124 [NUI] Fix Scrolling position issue by animation
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI
