Repository Samsung/TizenFX, pull requests merged in 2021-02, with the labels that each got.

#2588 [Tizen.Applications] Make exception safe codes
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API9

#2589 [Tizen.Applications] Make exception safe codes
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API8

#2590 [NUI] Fix Dispose memory leak issue
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#2592 [NUI] Version update (nui22011)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2591 [Applications.ComponentBased.ComponentPort] Add a missing exception
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/ComponentPort.cs
Labels: API9

#2594 [NUI] Fix a bug related to CA1721
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ItemViewDemo/ItemViewSample.cs
Labels: Devel-NUI

#2598 [NUI] Fix AnimatedVectorImageView pagination visual defect
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: Devel-NUI, Internal API Changed

#2603 [NUI] Improve package theme creator
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Style/ControlStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Wearable/src/internal/Theme/DefaultTheme.cs
  src/Tizen.NUI.Wearable/src/public/CircularPagination.cs
  src/Tizen.NUI.Wearable/src/public/CircularProgress.cs
  src/Tizen.NUI.Wearable/src/public/CircularScrollbar.cs
  src/Tizen.NUI.Wearable/src/public/CircularSlider.cs
Labels: API9, Devel-NUI

#2584 [NUI] Fix Selector bug and add new clone method
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
Labels: Devel-NUI, Internal API Changed

#2605 [NUI] Support scroll in WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
  src/Tizen.NUI/src/internal/WebViewScrollEdgeReachedEventArgs.cs
  src/Tizen.NUI/src/internal/WebViewScrollEdgeReachedSignal.cs
Labels: API6, Internal API Changed

#2578 [NUI] Add some APIs into WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI, Internal API Changed

#2600 [NUI] Modify svace issues for NUI and wearable
  src/Tizen.NUI.Wearable/src/internal/FishEyeLayoutManager.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
Labels: API8

#2606 [NUI] Add a VideoHoleEnabled property into WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
Labels: Devel-NUI, Internal API Changed

#2551 [Tizen.Multimedia.Vision][TCSACR-399] Add pose detect API
  src/Tizen.Multimedia.Vision/Interop/Interop.MediaVision.Inference.cs
  src/Tizen.Multimedia.Vision/MediaVision/PoseLandmarkDetector.cs
Labels: ACR Required, API9

#2607 [NUI] Add a VideoHoleEnabled property into WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
Labels: API8, Internal API Changed

#2601 [NUI] Add obsolete tag
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/CustomView/CustomViewRegistry.cs
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
Labels: ACR Required, Devel-NUI

#2610 [ThemeManager] Add new internal API for ThemeManager
  internals/src/Tizen.Applications.ThemeManager/Interop/Interop.Libraries.cs
  internals/src/Tizen.Applications.ThemeManager/Interop/Interop.ThemeManager.cs
  internals/src/Tizen.Applications.ThemeManager/Tizen.Applications.ThemeManager/Theme.cs
Labels: API9

#2616 [NUI] Add TC template for coverage
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT.sln
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/NuiSample.snk
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/Program.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/Properties/Resources.Designer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/Properties/Resources.resx
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/Tizen.NUI.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/etc/TSButtonExample.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/etc/TSLottieAnimationView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/etc/ViewMemoryLeakTest.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Accessibility/TSAccessibilityActionSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/internal/Accessibility/TSAccessibilityFocusOvershotSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/tizen-manifest.xml
Labels: Devel-NUI

#2617 [NUI] ScrollableBase supports Scrollbar properly
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/res/Theme/Tizen.NUI.Components_Tizen.NUI.Theme.Common.xaml
Labels: API8

#2618 [NUI] Prevent svace issues in Scrollbar
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: API8

#2622 [NUI] Add Slider warning properties
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Style/SliderStyle.cs
Labels: Devel-NUI, Internal API Changed

#2621 [NUI] NUI ThemeManager works with TizenThemeManager
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: ACR Required, Devel-NUI

#2619 [NUI] ScrollableBase supports Scrollbar properly
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/res/Theme/Tizen.NUI.Components_Tizen.NUI.Theme.Common.xaml
Labels: Devel-NUI

#2613 [NUI] Fix dispose bug in ImageView.UpdateImage
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#2612 [NUI] Use 'Container GetParent() for derived class' instead of Parent.
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI

#2604 [Tizen.Applications.ComponentBased][TCSACR-400] Add WidgetComponent API
  src/Tizen.Applications.ComponentBased/Interop/Interop.CBApplication.cs
  src/Tizen.Applications.ComponentBased/Interop/Interop.Libraries.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/ComponentBasedApplication.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/IWindowProxy.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/WidgetComponent.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/WidgetComponentStateManager.cs
Labels: ACR Required, API9

#2609 [Tizen.Applications.ComponentBased.ComponentManager][TCSACR-401] Add ComponentType enum value at ComponentType
  src/Tizen.Applications.ComponentBased.ComponentManager/Tizen.Applications/ComponentType.cs
Labels: ACR Required, API9

#2525 [NUI] Introduce CollectionView and related classes.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ICollectionChangedNotifier.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSelectionMode.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSizingStrategy.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/EmptySource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/IItemSource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/ItemsSourceFactory.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/ListSource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/MarshalingObservableCollection.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/ObservableGroupedSource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/ObservableItemSource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/UngroupedItemSource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/SelectionChangedEventArgs.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/SelectionList.cs
  src/Tizen.NUI.Components/Style/DefaultGridItemStyle.cs
  src/Tizen.NUI.Components/Style/DefaultLinearItemStyle.cs
  src/Tizen.NUI.Components/Style/DefaultTitleItemStyle.cs
  src/Tizen.NUI.Components/Style/RecyclerViewItemStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeMobile.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/GridRecycleLayoutManager.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/LinearRecycleLayoutManager.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecycleAdapter.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecycleItem.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecycleLayoutManager.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecyclerView.cs
  src/Tizen.NUI/src/internal/XamlBinding/Internals/IDataTemplate.cs
  src/Tizen.NUI/src/public/Template/DataTemplate.cs
  src/Tizen.NUI/src/public/Template/DataTemplateExtensions.cs
  src/Tizen.NUI/src/public/Template/DataTemplateSelector.cs
  src/Tizen.NUI/src/public/Template/ElementTemplate.cs
  src/Tizen.NUI/src/public/Template/IDataTemplate.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/CollectionViewGridSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/CollectionViewLinearSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Gallery.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewGridGroupSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CollectionViewDemo/Group/CollectionViewLinearGroupSample.cs
Labels: Devel-NUI, Internal API Changed

#2628 [NUI] Change LayoutController process
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API8

#2629 [NUI] Version update (nui22012)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2608 [NUI] Fix CA1721 warnings of Public APIs
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/XamlBinding/Interactivity/DataTrigger.cs
  src/Tizen.NUI/src/public/XamlBinding/Trigger.cs
Labels: ACR Required, API9, Internal API Changed

#2627 [NUI] Change LayoutController process
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#2632 [NUI] Fix CA1721 warnings of Public APIs
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/XamlBinding/Interactivity/DataTrigger.cs
  src/Tizen.NUI/src/public/XamlBinding/Trigger.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2625 [NUI] Enables animation of view visual properties
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2626 [NUI] Add all Dali colors to NUI
  src/Tizen.NUI/src/internal/Interop/Interop.NDalicColor.cs
  src/Tizen.NUI/src/internal/NativeBinding/NDalic.cs
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: ACR Required, Devel-NUI

#2635 [NUI] Make hidden for un-ACR-ed Color APIs
  src/Tizen.NUI/src/internal/Interop/Interop.NDalicColor.cs
  src/Tizen.NUI/src/internal/NativeBinding/NDalic.cs
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2636 [NUI] Disable Tizen Theme Manager code
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: API9

#2637 [NUI] Disable Tizen Theme Manager code
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#2645 [NUI] Removed old dependency in Tizen.NUI.csproj
  src/Tizen.NUI/Tizen.NUI.csproj
Labels: ACR Required, Devel-NUI

#2639 [NUI] Fix vertical scrollbar position bug
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: API8

#2638 [NUI] Fix vertical scrollbar position bug
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: Devel-NUI

#2642 [NUI] remove empty space
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: Devel-NUI

#2593 [NUI] Add Preload to load default theme
  src/Tizen.NUI.Components/Controls/Control.cs
Labels: Devel-NUI, Internal API Changed

#2651 [NUI] Version update (nui22013)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2653 [NUI] Delete exception of View.Remove
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI

#2547 [MachineLearning.Inference][Non-ACR] Fix the potential bug
  src/Tizen.MachineLearning.Inference/Interop/Interop.Nnstreamer.cs
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/TensorsData.cs
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/TensorsInfo.cs
Labels: API9

#2486 [WebView] Support request intecept
  src/Tizen.WebView/Interop/Interop.ChromiumEwk.Context.cs
  src/Tizen.WebView/Interop/Interop.ChromiumEwk.InterceptRequest.cs
  src/Tizen.WebView/Tizen.WebView.sln
  src/Tizen.WebView/Tizen.WebView/Context.cs
  src/Tizen.WebView/Tizen.WebView/RequestInterceptor.cs
Labels: API8, Internal API Changed

#2660 [NUI] Fix Xaml issue
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
Labels: Devel-NUI

#2661 [MachineLearning.Inference][Non-ACR] Fix the potential bug (#2547)
  src/Tizen.MachineLearning.Inference/Interop/Interop.Nnstreamer.cs
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/TensorsData.cs
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/TensorsInfo.cs
Labels: Devel-NUI

#2662 [NUI] Fix Xaml issue
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
Labels: API9

#2640 [NUI] Add obsolete to Tizen.NUI.Components.StyleManager
  src/Tizen.NUI.Components/Utils/StyleManager.cs
Labels: Devel-NUI, Internal API Changed

#2646 [NUI] Parse Color from Strings (hexCode, RGB, RGBA)
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: Devel-NUI

#2647 [NUI] Added Paused and Resumed to Accessibility.SayFinishedState enum
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Devel-NUI, Internal API Changed

#2648 [NUI][VisualFittingModeType] update documentation
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Devel-NUI

#2664 [NUI] Remove wrong force casting, Layer as View
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2665 [NUI] Add Culled property as Hidden-API
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CulledTest.cs
Labels: Devel-NUI, Internal API Changed

#2650 [NUI] Clean code releated to application
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Widget/WidgetViewManager.cs
  src/Tizen.NUI/src/public/XamlBinding/IRegisterable.cs
  src/Tizen.NUI/src/public/XamlBinding/Registrar.cs
Labels: Devel-NUI, Internal API Changed

#2641 [NUI] Deprecate Tizen.NUI.StyleManager
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Common/StyleManager.cs
Labels: ACR Required, API9, need be merged into DevelNUI

#2668 [NUI] Deprecate Tizen.NUI.StyleManager (#2641)
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Common/StyleManager.cs
Labels: ACR Required, Devel-NUI

#2666 [NUI] Fix NUI and wearable svace issues
  src/Tizen.NUI.Wearable/src/internal/FishEyeLayoutManager.cs
  src/Tizen.NUI/src/internal/XamlBinding/SynchronizedList.cs
Labels: API8

#2671 [NUI] Fix Svace defects for NUI and wearable
  src/Tizen.NUI.Wearable/src/internal/FishEyeLayoutManager.cs
  src/Tizen.NUI/src/internal/XamlBinding/SynchronizedList.cs
Labels: Devel-NUI

#2656 [NUI] Introduce NUI Palette APIs
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Utility/ColorCutQuantizer.cs
  src/Tizen.NUI/src/internal/Utility/ColorHistogram.cs
  src/Tizen.NUI/src/internal/Utility/ColorUtils.cs
  src/Tizen.NUI/src/public/Utility/Palette.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaletteSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/10by10tree.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/red2.jpg
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/rock.jpg
Labels: Devel-NUI, Internal API Changed

#2670 [NUI] Create TextLayout when parent has layout
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: API8

#2461 [NUI][ACR] Deprecate swigCMemOwn which is not used
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
Labels: ACR Required, API9, need be merged into DevelNUI

#2470 [NUI][ACR] Remove APIs which have been deprecated in API7
  src/Tizen.NUI/src/internal/Common/ButtonSignal.cs
  src/Tizen.NUI/src/internal/Common/KeyboardTypeSignalType.cs
  src/Tizen.NUI/src/internal/Common/ProgressBarValueChangedSignal.cs
  src/Tizen.NUI/src/internal/Common/ScrollViewSnapStartedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderMarkReachedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderValueChangedSignal.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_bundle.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Widget/WidgetViewSignal.cs
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Common/PropertyBuffer.cs
  src/Tizen.NUI/src/public/Common/PropertyNotification.cs
  src/Tizen.NUI/src/public/Common/PropertyNotifySignal.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/Rendering/Renderer.cs
  src/Tizen.NUI/src/public/Rendering/Shader.cs
  src/Tizen.NUI/src/public/UIComponents/Button.cs
  src/Tizen.NUI/src/public/UIComponents/CheckBoxButton.cs
  src/Tizen.NUI/src/public/UIComponents/Popup.cs
  src/Tizen.NUI/src/public/UIComponents/PopupBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ProgressBar.cs
  src/Tizen.NUI/src/public/UIComponents/PushButton.cs
  src/Tizen.NUI/src/public/UIComponents/RadioButton.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
  src/Tizen.NUI/src/public/UIComponents/ToggleButton.cs
Labels: API9, Internal API Changed, need be merged into DevelNUI

#2669 [NUI] Create TextLayout when parent has layout
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Devel-NUI

#2677 [NUI] Fix build error of Tizen.NUI.Samples
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CulledTest.cs
Labels: Devel-NUI

#2674 [NUI] Delete Tizen.NUI.Components build warnings
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/CheckBox.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.cs
  src/Tizen.NUI.Components/Controls/ImageScrollBar.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/RadioButton.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollbarBase.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI.Components/Controls/Toast.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Template/DataTemplate.cs
Labels: Devel-NUI, Internal API Changed

#2667 [NUI] Add GetOriginalImageSize() considering rotation
  src/Tizen.NUI/src/internal/Interop/Interop.ImageLoading.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/Images/ImageLoading.cs
Labels: Devel-NUI, Internal API Changed

#2615 [NUI] Open FontSizeScale properties
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: ACR Required, API9, Internal API Changed

#2614 [NUI] Open FontSizeScale properties
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: ACR Required, Devel-NUI, Internal API Changed

#2681 Revert "[NUI] Introduce NUI Palette APIs"
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Utility/ColorCutQuantizer.cs
  src/Tizen.NUI/src/internal/Utility/ColorHistogram.cs
  src/Tizen.NUI/src/internal/Utility/ColorUtils.cs
  src/Tizen.NUI/src/public/Utility/Palette.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaletteSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/10by10tree.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/red2.jpg
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/rock.jpg
Labels: Devel-NUI, Internal API Changed

#2672 [NUI] Deprecate swigCMemOwn which is not used
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
Labels: ACR Required, Devel-NUI

#2682 [NUI] Remove APIs which have been deprecated in API7
  src/Tizen.NUI/src/internal/Common/ButtonSignal.cs
  src/Tizen.NUI/src/internal/Common/KeyboardTypeSignalType.cs
  src/Tizen.NUI/src/internal/Common/ProgressBarValueChangedSignal.cs
  src/Tizen.NUI/src/internal/Common/ScrollViewSnapStartedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderMarkReachedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderValueChangedSignal.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_bundle.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Widget/WidgetViewSignal.cs
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Common/PropertyBuffer.cs
  src/Tizen.NUI/src/public/Common/PropertyNotification.cs
  src/Tizen.NUI/src/public/Common/PropertyNotifySignal.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/Rendering/Renderer.cs
  src/Tizen.NUI/src/public/Rendering/Shader.cs
  src/Tizen.NUI/src/public/UIComponents/Button.cs
  src/Tizen.NUI/src/public/UIComponents/CheckBoxButton.cs
  src/Tizen.NUI/src/public/UIComponents/Popup.cs
  src/Tizen.NUI/src/public/UIComponents/PopupBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ProgressBar.cs
  src/Tizen.NUI/src/public/UIComponents/PushButton.cs
  src/Tizen.NUI/src/public/UIComponents/RadioButton.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
  src/Tizen.NUI/src/public/UIComponents/ToggleButton.cs
Labels: Devel-NUI, Internal API Changed

#2686 Revert "[NUI] Remove APIs which have been deprecated in API7"
  src/Tizen.NUI/src/internal/Common/ButtonSignal.cs
  src/Tizen.NUI/src/internal/Common/KeyboardTypeSignalType.cs
  src/Tizen.NUI/src/internal/Common/ProgressBarValueChangedSignal.cs
  src/Tizen.NUI/src/internal/Common/ScrollViewSnapStartedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderMarkReachedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderValueChangedSignal.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_bundle.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Widget/WidgetViewSignal.cs
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Common/PropertyBuffer.cs
  src/Tizen.NUI/src/public/Common/PropertyNotification.cs
  src/Tizen.NUI/src/public/Common/PropertyNotifySignal.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/Rendering/Renderer.cs
  src/Tizen.NUI/src/public/Rendering/Shader.cs
  src/Tizen.NUI/src/public/UIComponents/Button.cs
  src/Tizen.NUI/src/public/UIComponents/CheckBoxButton.cs
  src/Tizen.NUI/src/public/UIComponents/Popup.cs
  src/Tizen.NUI/src/public/UIComponents/PopupBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ProgressBar.cs
  src/Tizen.NUI/src/public/UIComponents/PushButton.cs
  src/Tizen.NUI/src/public/UIComponents/RadioButton.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
  src/Tizen.NUI/src/public/UIComponents/ToggleButton.cs
Labels: API9, Internal API Changed

#2689 [NUI] sync work step5
  src/Tizen.NUI/src/internal/Common/ButtonSignal.cs
  src/Tizen.NUI/src/internal/Common/KeyboardTypeSignalType.cs
  src/Tizen.NUI/src/internal/Common/ProgressBarValueChangedSignal.cs
  src/Tizen.NUI/src/internal/Common/ScrollViewSnapStartedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderMarkReachedSignal.cs
  src/Tizen.NUI/src/internal/Common/SliderValueChangedSignal.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_bundle.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Widget/WidgetViewSignal.cs
  src/Tizen.NUI/src/internal/Xaml/XamlParser.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Common/PropertyBuffer.cs
  src/Tizen.NUI/src/public/Common/PropertyNotification.cs
  src/Tizen.NUI/src/public/Common/PropertyNotifySignal.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/Rendering/Renderer.cs
  src/Tizen.NUI/src/public/Rendering/Shader.cs
  src/Tizen.NUI/src/public/UIComponents/Button.cs
  src/Tizen.NUI/src/public/UIComponents/CheckBoxButton.cs
  src/Tizen.NUI/src/public/UIComponents/Popup.cs
  src/Tizen.NUI/src/public/UIComponents/PopupBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ProgressBar.cs
  src/Tizen.NUI/src/public/UIComponents/PushButton.cs
  src/Tizen.NUI/src/public/UIComponents/RadioButton.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollBar.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewBindableProperty.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/UIComponents/Slider.cs
  src/Tizen.NUI/src/public/UIComponents/ToggleButton.cs
Labels: Devel-NUI

#2693 [NUI] Fix Tizen.NUI.Samples build errors
  src/Tizen.NUI/src/internal/Common/ScrollViewSnapStartedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ScrollView.cs
  src/Tizen.NUI/src/public/Common/PropertyBuffer.cs
  src/Tizen.NUI/src/public/Utility/DirectionBias.cs
  src/Tizen.NUI/src/public/Utility/ScrollView.cs
  src/Tizen.NUI/src/public/Utility/ScrollViewBindableProperty.cs
  src/Tizen.NUI/src/public/Utility/ScrollViewEffect.cs
  src/Tizen.NUI/src/public/Utility/ScrollViewEvent.cs
  src/Tizen.NUI/src/public/Utility/ScrollViewPagePathEffect.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ClippedImage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ContactCard.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/MaskedImage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliTableView.cs
Labels: Devel-NUI, Internal API Changed

#2633 [NUI] Re-design theme resource structure from the tizen-theme-manager
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeMobile.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeWearable.cs
  src/Tizen.NUI.Components/Utils/StyleManager.cs
  src/Tizen.NUI.Wearable/src/internal/Theme/DefaultTheme.cs
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/Theme/DefaultTheme.cs
  src/Tizen.NUI/src/public/Theme/DictionaryExternalTheme.cs
  src/Tizen.NUI/src/public/Theme/ExternalThemeKeyList.cs
  src/Tizen.NUI/src/public/Theme/ExternalThemeManager.cs
  src/Tizen.NUI/src/public/Theme/IExternalTheme.cs
  src/Tizen.NUI/src/public/Theme/IThemeCreator.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  src/Tizen.NUI/src/public/Theme/TizenExternalTheme.cs
Labels: Devel-NUI, Internal API Changed
