Repository Samsung/TizenFX, pull requests merged in 2021-03, with the labels that each got.

#2696 [NUI] Fix svace issue for wearable
  src/Tizen.NUI.Wearable/src/internal/FishEyeLayoutManager.cs
Labels: API8

#2697 [NUI] Fix svace issues for wearable
  src/Tizen.NUI.Wearable/src/internal/FishEyeLayoutManager.cs
Labels: Devel-NUI

#2676 [NUI] Support vertical direction page snap
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#2698 [NUI] Remove theme resource update sample
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
Labels: Devel-NUI

#2695 [NUI] Remove rarely used properties from the Style class
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ImageViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewSelectorData.cs
Labels: Devel-NUI, Internal API Changed

#2700 [NUI] Version update (nui22015)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2701 [Cov] Fix coverage.sh
  coverage.sh
Labels: API9

#2702 [NUI] rebase from master to DevelNUI
  coverage.sh
Labels: Devel-NUI

#2277 [NUI] Interops for accessibility
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/CheckBox.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/RadioButton.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI/src/internal/Accessibility/AccessibilityDoGestureSignal.cs
  src/Tizen.NUI/src/internal/Common/StringToVoidSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/internal/Interop/Interop.DoGestureSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.StringToVoidSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/BaseComponents/VisualView.cs
Labels: Devel-NUI, Internal API Changed

#2699 [NUI] Delegate Button.OnAccessibilityActivated() to OnKey()
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
Labels: Devel-NUI

#2708 [NUI] Enable Window.ViewAdded event
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#2707 [NUI] Enable Window.ViewAdded event
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API8

#2706 [NUI] Change Tizen.NUI.Components sequence
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
Labels: Devel-NUI

#2705 [NUI] Fix Accessibility warning messages
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
Labels: Devel-NUI, Internal API Changed

#2711 [NUI] Catch DllNotFound exception for capi-appfw-tizen-theme.so
  src/Tizen.NUI/src/public/Theme/ExternalThemeManager.cs
Labels: Devel-NUI

#2712 [NUI] Catch all exceptions from tizen theme manager
  src/Tizen.NUI/src/public/Theme/ExternalThemeManager.cs
Labels: Devel-NUI

#2704 [NUI] Improve performance in theme and styles
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldSelectorData.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelSelectorData.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewSelectorData.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI, Internal API Changed

#2713 [NUI] AppBar code refactoring to introduce AppBarStyle
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AppBarSample.cs
Labels: Devel-NUI, Internal API Changed

#2715 [NUI] Fix a Warning in WidgetView
  src/Tizen.NUI/src/public/Widget/WidgetViewManager.cs
Labels: Devel-NUI

#2717 [NUI] Fix AccessibilityManager's unsafe conversion to View from IntPtr
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
Labels: Devel-NUI

#2517 [Bluetooth][Non-ACR] GetBondedDevice converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
Labels: API9

#2722 Sync Mater to DevelNui
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
Labels: Devel-NUI

#2718 [NUI] Add AppBarStyle class with the latest AppBar UX
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Style/Navigation/AppBarStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/nui_component_default_back_button.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AppBarSample.cs
Labels: Devel-NUI, Internal API Changed

#2725 [Bluetooth][Non-ACR] Fix GetLocalOobData memory leak
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
Labels: API8

#2724 [Bluetooth][Non-ACR] Fix GetLocalOobData memory leak
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
Labels: API9

#2723 [NUI] Introduce NUI Palette APIs
  src/Tizen.NUI/src/internal/Utility/ColorCutQuantizer.cs
  src/Tizen.NUI/src/internal/Utility/ColorHistogram.cs
  src/Tizen.NUI/src/internal/Utility/ColorUtils.cs
  src/Tizen.NUI/src/public/Utility/Palette.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaletteSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/10by10tree.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/3color.jpeg
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/red2.jpg
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/PaletteTest/rock.jpg
Labels: Devel-NUI, Internal API Changed

#2710 [NUI] Fix build warning for AccessibilityEvent naming
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
Labels: Devel-NUI, Internal API Changed

#2719 [NUI] Support TranslatablePlaceholderTextFocused to TextField
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldSelectorData.cs
Labels: API8, Internal API Changed

#2720 [NUI] Support TranslatablePlaceholderTextFocused to TextField
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldSelectorData.cs
Labels: Devel-NUI, Internal API Changed

#2721 [NUI] Add Slider discrete value properties
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Devel-NUI, Internal API Changed

#2728 [NUI] Clean up View's Events
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#2729 [NUI] Remove CA2000 false alarm in Navigator
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#2727 [NUI] Set Navigator Layout
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#2732 [NUI] Delete unuused code
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2730 [NUI] Add TouchArea property.
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Devel-NUI, Internal API Changed

#2736 [NUI] Fix TV TCT fails
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/DropDown.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
Labels: API8

#2738 [NUI] Fix TV TCT fails (2nd)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/DropDown.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API8, Internal API Changed

#2734 [NUI] Clean up MeasureAndLayout of LayoutController
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: Devel-NUI

#2731 [NUI] Theme change do not overwrite user set properties.
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/CheckBox.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.cs
  src/Tizen.NUI.Components/Controls/ImageScrollBar.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/RadioButton.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI.Components/Controls/Toast.cs
  src/Tizen.NUI.Components/Style/PaginationStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Wearable/src/public/CircularPagination.cs
  src/Tizen.NUI.Wearable/src/public/CircularProgress.cs
  src/Tizen.NUI.Wearable/src/public/CircularScrollbar.cs
  src/Tizen.NUI.Wearable/src/public/CircularSlider.cs
  src/Tizen.NUI.Wearable/src/public/Title.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/CustomView/ViewWrapper.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI, Internal API Changed

#2739 [NUI] change type from Size2D to Size at TouchArea api
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Devel-NUI, Internal API Changed

#2221 [NUI] Remove StyleCop CA1715 warning messages
  src/Tizen.NUI/src/internal/Common/DaliEventHandler.cs
Labels: Devel-NUI

#2735 [NUI] Scrollbar uses View instead Visual since blinking issue
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/ScrollbarBase.cs
  src/Tizen.NUI.Wearable/src/public/CircularScrollbar.cs
Labels: API8, Internal API Changed

#2743 Revert "[NUI] Create TextLayout when parent has layout"
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: API8

#2742 [Tizen.Uix.InputMethod] Fix typo in function
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodEditor.cs
Labels: API9

#2744 [NUI] : Add ScrollPosition in ScrollEventArgs for user convenience.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI, Internal API Changed

#2746 [NUI] Version update (nui22017)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#2748 [NUI] Create TextLayout when parent has layout
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: API8

#2750 [NUI] Remove Debug.WritelineIf
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#2747 [NUI] Fix padding issue
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2756 [Inputmethod] Fix the crash issue when setting PreEditString's attribute
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodEditor.cs
Labels: API9

#2760 Revert "[NUI] Clean up View's Events"
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#2761 [Inputmethod] Fix the crash issue due to double free (#2756)
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodEditor.cs
Labels: Devel-NUI

#2745 [NUI] Scrollbar uses View instead Visual since blinking issue
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/ScrollbarBase.cs
  src/Tizen.NUI.Wearable/src/public/CircularScrollbar.cs
Labels: Devel-NUI, Internal API Changed

#2766 [NUI] Remove Transition for xaml
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/XamlBinding/Transition.cs
Labels: Devel-NUI, Internal API Changed

#2764 [NUI] Modify NUI.Components private variable
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/Extension/LottieButtonExtension.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.Helper.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleViewAdapter.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleViewLayoutManager.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleViewRecycler.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleViewViewHolder.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/GridLayoutManager.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/LinearLayoutManager.Internal.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/LinearLayoutManager.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/OrientationHelper.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/ItemSource/ListSource.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/SelectionChangedEventArgs.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollbarBase.cs
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Style/Extension/ILottieButtonStyle.cs
Labels: Devel-NUI

#2767 [NUI] Fix TCT fails
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#2755 [NUI] Improve LayoutController.Process performance
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Devel-NUI

#2763 [NUI] CheckBox, RadioButton and Switch can place text without setting…
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/CheckBox.cs
  src/Tizen.NUI.Components/Controls/Extension/LottieButtonExtension.cs
  src/Tizen.NUI.Components/Controls/Extension/LottieSwitchExtension.cs
  src/Tizen.NUI.Components/Controls/RadioButton.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI, Internal API Changed

#2770 [NUI] Update InputPanelLanguage enum description
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
Labels: Devel-NUI

#2772 [NUI] Button text ellipsis enabled and etc.
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#2773 [NUI] Update 6.5 UX for CheckBox, Switch and RadioButton
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
  src/Tizen.NUI.Components/res/IoT_check_off.svg
  src/Tizen.NUI.Components/res/IoT_check_off_d.svg
  src/Tizen.NUI.Components/res/IoT_check_off_f.svg
  src/Tizen.NUI.Components/res/IoT_check_off_p.svg
  src/Tizen.NUI.Components/res/IoT_check_on.svg
  src/Tizen.NUI.Components/res/IoT_check_on_d.svg
  src/Tizen.NUI.Components/res/IoT_check_on_f.svg
  src/Tizen.NUI.Components/res/IoT_check_on_p.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_off.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_off_d.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_off_f.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_off_p.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_on.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_on_d.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_on_f.svg
  src/Tizen.NUI.Components/res/IoT_radiobutton_on_p.svg
  src/Tizen.NUI.Components/res/IoT_switch_thumb.svg
  src/Tizen.NUI.Components/res/IoT_switch_thumb_d.svg
  src/Tizen.NUI.Components/res/IoT_switch_thumb_s.svg
  src/Tizen.NUI.Components/res/IoT_switch_thumb_sf.svg
  src/Tizen.NUI.Components/res/IoT_switch_thumb_sp.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_off.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_off_d.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_off_f.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_off_p.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_on.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_on_d.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_on_f.svg
  src/Tizen.NUI.Components/res/IoT_switch_track_on_p.svg
  src/Tizen.NUI.Components/res/nui_component_default_checkbox_bg_n.png
  src/Tizen.NUI.Components/res/nui_component_default_checkbox_bg_p.png
  src/Tizen.NUI.Components/res/nui_component_default_checkbox_s.png
  src/Tizen.NUI.Components/res/nui_component_default_radiobutton_n.png
  src/Tizen.NUI.Components/res/nui_component_default_radiobutton_p.png
  src/Tizen.NUI.Components/res/nui_component_default_radiobutton_s.png
  src/Tizen.NUI.Components/res/nui_component_default_switch_thumb_d.png
  src/Tizen.NUI.Components/res/nui_component_default_switch_thumb_n.png
  src/Tizen.NUI.Components/res/nui_component_default_switch_track_d.png
  src/Tizen.NUI.Components/res/nui_component_default_switch_track_ds.png
  src/Tizen.NUI.Components/res/nui_component_default_switch_track_n.png
  src/Tizen.NUI.Components/res/nui_component_default_switch_track_s.png
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
Labels: Devel-NUI, Internal API Changed

#2733 [NUI] Add Progress Indeterminate mode
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/res/nui_component_default_progress_indeterminate.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/progress-bar-skin-indeterminate.png
Labels: Devel-NUI, Internal API Changed

#2774 [NUI] TextLayout can consider specified maximum width.
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#2775 [NUI] Fix TabButton not to invoke duplicate SelectedChanged
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Controls/TabButtonGroup.cs
Labels: Devel-NUI, Internal API Changed

#2675 [Applications.ComponentBased] Modify and Add classes for IPC feature
  src/Tizen.Applications.ComponentBased.Port/Interop/Interop.ComponentPort.cs
  src/Tizen.Applications.ComponentBased.Port/Interop/Interop.Parcel.cs
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/ComponentPort.cs
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/ComponentTask.cs
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/RequestEventArgs.cs
Labels: ACR Required, API9

#2776 [NUI] Add GrabHandleColor property
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
Labels: Devel-NUI, Internal API Changed

#2783 [NUI] Make possible to capture on the old driver devices.
  src/Tizen.NUI/src/internal/Interop/Interop.Capture.cs
  src/Tizen.NUI/src/public/Capture.cs
Labels: API8, Internal API Changed

#2782 [Tts/Stt] Use thread lock only when add and remove event handler
  src/Tizen.Uix.Stt/Tizen.Uix.Stt/SttClient.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: API9

#2791 [NUI] Fix layout null crash issue
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: API8

#2790 [Bluetooth][Non-ACR] Add MTU functionalities
  src/Tizen.Network.Bluetooth/Interop/Interop.Bluetooth.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEventArgs.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGattImpl.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API8, Internal API Changed

#2795 [VoiceControl] Support multi handle for event and add thread lock for these handles
  src/Tizen.Uix.VoiceControl/Tizen.Uix.VoiceControl/VoiceControlClient.cs
Labels: API9

#2792 [NUI] Fix layout null crash issue
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2788 [NUI] Add Apis of Webview Settings.
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
Labels: Devel-NUI, Internal API Changed

#2779 [NUI][ATSPI]Move responsibility of calculation CHECKED atspi state from SelectButton to Button class
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
Labels: Devel-NUI, Internal API Changed

#2789 [NUI] Change button theme to show Focused+Pressed state well.
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#2806 [NUI] Fix Svace issue
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Wearable/src/public/CircularScrollbar.cs
  src/Tizen.NUI/src/internal/Common/PropertyRangeManager.cs
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/internal/XamlBinding/DependencyService.cs
  src/Tizen.NUI/src/public/Common/Color.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Common/Position2D.cs
  src/Tizen.NUI/src/public/Common/RelativeVector2.cs
  src/Tizen.NUI/src/public/Common/RelativeVector4.cs
  src/Tizen.NUI/src/public/Common/Size.cs
  src/Tizen.NUI/src/public/Common/Size2D.cs
  src/Tizen.NUI/src/public/Common/Vector2.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
Labels: Devel-NUI

#2802 [Applications.ComponentBased] Fix static analysis issue
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/ComponentPort.cs
Labels: API9

#2804 [NUI] Add some comments for NUI Layout
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#2680 [NUI] Implement CameraView
  src/Tizen.NUI/src/internal/Interop/Interop.CameraView.cs
  src/Tizen.NUI/src/public/BaseComponents/CameraView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CameraVideoViewTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CameraViewTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/tizen-manifest.xml
Labels: Devel-NUI, Internal API Changed

#2815 [NUI] Fix NUI.Components test case fail
  src/Tizen.NUI.Components/Controls/Progress.cs
Labels: API9

#2816 [NUI] Fix NUI.Components test case fail
  src/Tizen.NUI.Components/Controls/Progress.cs
Labels: Devel-NUI

#2821 [MachineLearning.Inference] Fix the Svace issue
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/SingleShot.cs
Labels: API9

#2769 [NUI] Introduce NUI Picker
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Style/PickerStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PickerSample.cs
Labels: Devel-NUI, Internal API Changed

#2780 [NUI] Add TabButtonStyle class with the latest TabButton UX
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Style/TabButtonStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI, Internal API Changed

#2801 [Applications.ComponentBased] Fix SendAndReceiveAsync() of ComponentPort class
  src/Tizen.Applications.ComponentBased.Port/Tizen.Applications.ComponentBased.Port/ComponentPort.cs
Labels: API9

#2796 [NUI] Selector class implements ICollection and etc.
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
Labels: Devel-NUI, Internal API Changed

#2800 [NUI] Add a method to create a toast in Notification and etc.
  src/Tizen.NUI.Components/Controls/Notification.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/IoT_Toast_1.png
Labels: Devel-NUI, Internal API Changed

#2811 [NUI] Suppress CA1054 and CA1056 (forced to use Uri) and clean code
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/Images/ImageLoading.cs
  src/Tizen.NUI/src/public/Images/NativeImageSource.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CaptureTest.cs
Labels: Devel-NUI, Internal API Changed

#2819 [NUI] Fix not to check non-nullable value
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#2817 [NUI] Fix NUI svace issue
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI/src/internal/Common/PropertyRangeManager.cs
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: Devel-NUI

#2824 [NUI] Fix NUI svace issue (#2817)
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI/src/internal/Common/PropertyRangeManager.cs
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: API9
