Repository Samsung/TizenFX, pull requests merged in 2021-09, with the labels that each got.

#3481 [NUI] Fix to follow coding rule
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: Devel-NUI

#3484 [NUI] Fix Layout Performance Issue
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: Devel-NUI

#3489 [Camera] Add internal constructor
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
  src/Tizen.Multimedia.Camera/Camera/CameraEnums.cs
Labels: Internal API Changed, API9

#3491 [NUI] CanvasView: Change parameter and return type of binder function
  src/Tizen.NUI/src/internal/Interop/Interop.Gradient.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Gradient.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
Labels: Devel-NUI

#3494 [NUI] Fix testhub NUI.Components coredump issue
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI

#3500 [WebRTC] Remove wrong state check code
  src/Tizen.Multimedia.Remoting/WebRTC/MediaPacketSource.cs
Labels: API9

#3447 [ImageUtil] Support HEIF decoder
  src/Tizen.Multimedia.Util/ImageUtil/ImageDecoder.cs
  src/Tizen.Multimedia.Util/ImageUtil/ImageFormat.cs
Labels: ACR Required, API9

#3399 [NUI] Add Slide transition
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI/src/internal/Interop/Interop.SlideTransitionDirection.cs
  src/Tizen.NUI/src/internal/Interop/Interop.SlideTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/SlideTransitionItem.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Transition/SlideTransition.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
Labels: Internal API Changed, Devel-NUI

#3412 [ScreenMirroring] Add ConnectAsync method to support port selection
  src/Tizen.Multimedia.Remoting/ScreenMirroring/ScreenMirroring.cs
Labels: ACR Required, API9

#3374 [MediaContent] Support ebook format
  src/Tizen.Content.MediaContent/Interop/Interop.BookInfo.cs
  src/Tizen.Content.MediaContent/Interop/Interop.MediaInfo.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent.csproj
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/BookInfo.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/Enums.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaInfo.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaInfoCommand.cs
  src/Tizen.Multimedia/AssemblyAttrs.cs
Labels: ACR Required, Internal API Changed, API9

#3483 Fix unhandled exception while calling CoRegister
  src/Tizen.Nlp/Tizen.Nlp/NaturalLanguageProcess.cs
Labels: API9

#3508 [MediaContent] Use MediaContent internal free method
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaInfoCommand.cs
Labels: API9

#3505 [NUI] Fix Svace issues
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueAction.cs
  src/Tizen.NUI/src/internal/XamlBinding/BindingExpression.cs
Labels: Devel-NUI

#3504 [NUI] Fix setvalue and xamlstyle issues
  src/Tizen.NUI/src/internal/Utility/GaussianBlurView.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/BindablePropertyConverter.cs
Labels: Internal API Changed, Devel-NUI

#3499 [NUI] Update TCs of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSBaseObject.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSCustomActorImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDaliEnumConstants.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSFontMetrics.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Layouting/TSLayoutController.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSActionSheetArguments.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSAlertArguments.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSBindingExpression.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSContentPropertyAttribute.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSDependencyService.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSDevice.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSMessagingCenter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSNUIConstantExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSUriTypeConverter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSVectorTypeConverter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSApplicationResourcePathExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSArrayExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSReferenceExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSResourcePathExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSStaticExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSThemeResourcePathExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/MarkupExtensions/TSTypeExtension.cs
Labels: Devel-NUI

#3479 [NUI] Add SetDoubleTapTimeout binding
  src/Tizen.NUI/src/internal/Interop/Interop.GestureOptions.cs
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TouchGestureSample.cs
Labels: Internal API Changed, Devel-NUI

#3458 [NUI] Fix to measure GridLayout's children sizes correctly
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
Labels: Devel-NUI

#3466 [NUI] Implement more request interceptor APIs.
  src/Tizen.NUI/src/internal/Interop/Interop.WebContext.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/Interop/WebHttpRequestInterceptorPtr.cs
  src/Tizen.NUI/src/internal/WebView/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewHttpRequestInterceptedEventArgs.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Internal API Changed, Devel-NUI

#3510 [MediaPlayer] Support Video and UI sync mode
  src/Tizen.Multimedia.MediaPlayer/Player/Player.Properties.cs
  src/Tizen.Multimedia.MediaPlayer/Player/PlayerDisplayType.cs
  src/Tizen.Multimedia/Common/Display.cs
Labels: ACR Required, API9

#3515 [ScreenMirroring] Fix exception bug
  src/Tizen.Multimedia.Remoting/ScreenMirroring/ScreenMirroring.cs
Labels: API9

#3506 [WebRTC] Add CreateOffer/AnswerAsync method
  src/Tizen.Multimedia.Remoting/Interop/Interop.WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: ACR Required, API9

#3514 [NUI] Fix issue that objects are disposed outside callback.
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebContextMenuItem.cs
  src/Tizen.NUI/src/internal/WebView/WebHitTestResult.cs
  src/Tizen.NUI/src/internal/WebView/WebView.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Internal API Changed, Devel-NUI

#3516 [NUI] Version update (nui22042)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3521 [NUI] Fix svace issue
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: Devel-NUI

#3523 [MediaPlayer] Fix svace issue
  src/Tizen.Multimedia.MediaPlayer/Player/Player.Properties.cs
Labels: API9

#3441 [NUI] Add Scale transition
  src/Tizen.NUI/src/internal/Interop/Interop.ScaleTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/ScaleTransitionItem.cs
  src/Tizen.NUI/src/public/Transition/ScaleTransition.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
Labels: Internal API Changed, Devel-NUI

#3524 [NUI] Fix svace issue of dereferencing null handle in SetProperty
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
Labels: Devel-NUI

#3525 [NUI] Fix svace issue of dereferencing possible null handle in TextUtils
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: Devel-NUI

#3512 [Tizen.Applications.RPCPort] Add RPCPort ParcelHeader APIs
  src/Tizen.Applications.Common/Interop/Interop.Libc.cs
  src/Tizen.Applications.Common/Interop/Interop.RPCPort.cs
  src/Tizen.Applications.Common/Tizen.Applications.Common.csproj
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Port.cs
Labels: ACR Required, API9

#3475 [Tts][TCSACR-449] Add new method for checking screen reader status
  src/Tizen.Uix.Tts/Interop/Interop.Tts.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/ScreenReaderChangedEventArgs.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: ACR Required, API9

#3528 [Tizen.Applications.RPCPort] Change internal TimeStamp's type to IntPtr
  src/Tizen.Applications.Common/Interop/Interop.Libc.cs
  src/Tizen.Applications.Common/Tizen.Applications.Common.csproj
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
Labels: API9

#3529 [Tizen.WebView] Fix SVACE issue
  src/Tizen.WebView/Tizen.WebView/RequestInterceptor.cs
  src/Tizen.WebView/Tizen.WebView/WebView.cs
Labels: API9

#3502 [InputMethod] Add UnauthorizedAccessException
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodEditor.cs
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodExceptionFactory.cs
Labels: API9

#3530 [Build] Fix common.props to drop ref assemblies
  build/common.props
Labels: API9

#3414 [Applications][TCSACR-441] Add new APIs for resource control
  src/Tizen.Applications.Common/Interop/Interop.ApplicationManager.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfo.cs
  src/Tizen.Applications.Common/Tizen.Applications/ResourceControl.cs
Labels: ACR Required, API9

#3531 [NUI] Fix comments of BorderlineColor
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#3415 [PackageManager][TCSACR-442] Add new APIs for resource control
  src/Tizen.Applications.PackageManager/Interop/Interop.Package.cs
  src/Tizen.Applications.PackageManager/Interop/Interop.PackageManager.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageFilter.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: ACR Required, API9

#3472 [Cion] Add new APIs for Advanced Companion Framework
  src/Tizen.Applications.Cion/Interop/Interop.Cion.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionClient.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionConnectionResult.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionGroup.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionPayload.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionPayloadAsyncResult.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionPeerInfo.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionSecurity.cs
  src/Tizen.Applications.Cion/Interop/Interop.CionServer.cs
  src/Tizen.Applications.Cion/Interop/Interop.Libraries.cs
  src/Tizen.Applications.Cion/Tizen.Applications.Cion.csproj
  src/Tizen.Applications.Cion/Tizen.Applications.Cion.sln
  src/Tizen.Applications.Cion/Tizen.Applications/Cion/SecurityInfo.cs
  src/Tizen.Applications.Cion/Tizen.Applications/Cion/SecuritySafeHandle.cs
  src/Tizen.Applications.Cion/Tizen.Applications/CionErrorFactory.cs
  src/Tizen.Applications.Cion/Tizen.Applications/ClientBase.cs
  src/Tizen.Applications.Cion/Tizen.Applications/ClientSafeHandle.cs
  src/Tizen.Applications.Cion/Tizen.Applications/ConnectionResult.cs
  src/Tizen.Applications.Cion/Tizen.Applications/ConnectionStatus.cs
  src/Tizen.Applications.Cion/Tizen.Applications/DataPayload.cs
  src/Tizen.Applications.Cion/Tizen.Applications/FilePayload.cs
  src/Tizen.Applications.Cion/Tizen.Applications/GroupBase.cs
  src/Tizen.Applications.Cion/Tizen.Applications/GroupSafeHandle.cs
  src/Tizen.Applications.Cion/Tizen.Applications/Payload.cs
  src/Tizen.Applications.Cion/Tizen.Applications/PayloadAsyncResult.cs
  src/Tizen.Applications.Cion/Tizen.Applications/PayloadAsyncResultCode.cs
  src/Tizen.Applications.Cion/Tizen.Applications/PayloadSafeHandle.cs
  src/Tizen.Applications.Cion/Tizen.Applications/PayloadTransferStatus.cs
  src/Tizen.Applications.Cion/Tizen.Applications/PayloadType.cs
  src/Tizen.Applications.Cion/Tizen.Applications/PeerInfo.cs
  src/Tizen.Applications.Cion/Tizen.Applications/PeerInfoSafeHandle.cs
  src/Tizen.Applications.Cion/Tizen.Applications/ServerBase.cs
  src/Tizen.Applications.Cion/Tizen.Applications/ServerSafeHandle.cs
Labels: ACR Required, API9

#3362 [NUI] Open newly added APIs in CameraView
  src/Tizen.NUI/src/public/BaseComponents/CameraView.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#3527 [Camera] Add internal APIs for extra preview bitrate
  src/Tizen.Multimedia.Camera/Camera/CameraSettings.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.CameraSettings.cs
Labels: Internal API Changed, API9

#3542 [NUI] Update TCs of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSInterceptTouchSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSKeyInputFocusManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSLinearConstrainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRenderTask.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAlphaFunction.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAnimatable.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAnimation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/Style/TSConstants.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/Style/TSSelector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/CustomView/TSCustomViewRegistry.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSLongPressGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSPanGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSPinchGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSRotationGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSTapGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageLoading.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageUrl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Input/TSFocusManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Input/TSKeyValue.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSExternalThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSThemeChangedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Widget/TSWidgetViewManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindowEvent.cs
Labels: Devel-NUI

#3540 [NUI] Fix typo from synchronos to synchronous
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ImageViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Internal API Changed, Devel-NUI

#3536 [NUI] Change SelectedTextStart, SelectedTextEnd to read-only
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Devel-NUI

#3533 [NUI] Remove Obsolete methods
  src/Tizen.NUI/src/internal/Xaml/XamlLoader.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObjectExtensions.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableProperty.cs
  src/Tizen.NUI/src/public/XamlBinding/Binding.cs
Labels: Internal API Changed, Devel-NUI

#3519 [NUI] Change the parameter of SelectText from uint to int
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Internal API Changed, Devel-NUI

#3501 [NUI] Make Copy, Cut and Paste APIs public
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#3547 Revert "[NUI] Make Copy, Cut and Paste APIs public"
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: Internal API Changed, Devel-NUI

#3493 [NUI] Make CursorPositionChanged event for TextField & TextEditor public
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#3490 [NUI] Make Hypenation & Mixed line wrap modes public
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#3335 [NUI] Make APIs of WebView editor-browsable
  src/Tizen.NUI/src/public/WebView/WebPageLoadError.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
  src/Tizen.NUI/src/public/WebView/WebViewPageLoadErrorEventArgs.cs
  src/Tizen.NUI/src/public/WebView/WebViewPageLoadEventArgs.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#3238 [NUI] Make Picker APIs public
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#3385 [NUI] Add FindDescendantByID(), Raise(), Lower(), and etc by request of user
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Images/ImageLoader.cs
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#3548 [NUI] Add new SetParent in Window
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SubWindowTest.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Window/TSWindow.cs
Labels: Internal API Changed, Devel-NUI

#3550 [Camera] Change Default CameraDevice value
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/CameraEnums.cs
Labels: Internal API Changed, API9

#3551 [NUI] Fix Tizen.NUI.Samples build error
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CircularTextSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CubeTransitionEffectSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DisposeTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FindChildByIDTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaletteSample.cs
Labels: Devel-NUI

#3526 [WebRTC] Fix bugs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaFileSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaStreamTrack.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCDataChannel.cs
Labels: ACR Required, Internal API Changed, API9

#3537 [NUI] Add AdjustViewSize to ImageView
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Internal API Changed, Devel-NUI

#3554 [NUI] Fix svace issue
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
Labels: Devel-NUI

#3555 [NUI] Version update (2.0.43)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3507 [NUI][TSCACR-454] Add RiveAnimationView APIs
  src/Tizen.NUI.Extension/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI.Extension/Properties/AssemblyInfo.cs
  src/Tizen.NUI.Extension/RiveAnimation/RiveAnimationView.cs
  src/Tizen.NUI.Extension/Tizen.NUI.Extension.csproj
  src/Tizen.NUI.Extension/Tizen.NUI.Extension.sln
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationFollowTouch.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationRollInOut.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationUniverse.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
Labels: ACR Required, Devel-NUI

#3352 [SecureRepository] Deprecate OCSP check API
  src/Tizen.Security.SecureRepository/Tizen.Security.SecureRepository/CertificateManager.cs
  src/Tizen.Security.SecureRepository/Tizen.Security.SecureRepository/OcspStatus.cs
Labels: ACR Required, API9

#3559 [NUI] Roll back to fix build error of TCT code
  src/Tizen.NUI/src/internal/Xaml/XamlLoader.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObjectExtensions.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableProperty.cs
  src/Tizen.NUI/src/public/XamlBinding/Binding.cs
Labels: Internal API Changed, Devel-NUI

#3560 [NUI] Fix TCT error
  src/Tizen.NUI/src/internal/images/ImageLoading.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI

#3561 [NUI] Fix svace issue
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
Labels: Devel-NUI

#3563 [NUI] sync from master to DevelNUI
  src/Tizen.Security.SecureRepository/Tizen.Security.SecureRepository/CertificateManager.cs
  src/Tizen.Security.SecureRepository/Tizen.Security.SecureRepository/OcspStatus.cs
Labels: ACR Required, Devel-NUI

#3522 [NUI] Layout Performance improvement
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#3569 [NUI] Fix MatchParent child position with LinearLayout Center Alignment
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#3562 [NUI] Layout Transition Performance Improvement
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: Devel-NUI

#3577 [NUI] Change Default value of Scale Transition
  src/Tizen.NUI/src/public/Transition/ScaleTransition.cs
Labels: Devel-NUI

#3575 [NUI] Add RiveAnimationView Tizen Music Application Samples
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveMusicApp.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveMusicBoxApp.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/music.riv
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/rive/musicbox.riv
Labels: Devel-NUI

#3573 [NUI] Update TCs of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Accessibility/TSAccessibilityDoGestureSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSBaseObject.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSEnumHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRenderTaskList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSWeakEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSWeakEventHandler.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAnimatable.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSTransitionAnimations.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSTransitionData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSTransitionOptions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSLottieAnimationView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibilityProperties.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewPublicMethods.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSExtents.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSPropertyMap.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSPropertyValue.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSRotation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSSize.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSSize2D.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSVector2.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSVector4.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Rendering/TSGeometry.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Rendering/TSVertexBuffer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSCubeTransitionEffect.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSFontClient.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSTextPageUtil.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Visuals/TSVisualFactory.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Visuals/TSVisualMaps.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindow.cs
Labels: Devel-NUI

#3570 [NUI] Add Horizontal/VerticalAlignment to LinearLayout
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#3546 [NUI] Remove redundant DALi object reference check code
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Common/ViewImpl.cs
  src/Tizen.NUI/src/internal/Common/ViewWrapperImpl.cs
  src/Tizen.NUI/src/internal/FrameBroker/DefaultFrameBroker.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Devel-NUI

#3495 [NUI] Make SelectionCleared event for TextField & TextEditor public
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#3445 [NUI] Make EllipsisPosition property public
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#3147 [NUI] Add SpaceEvenly to FlexJustification
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: ACR Accepted, Devel-NUI

#3434 [NUI] Scalability : Refactoring GraphicsTypeManager and Converter, Extensions.
  src/Tizen.NUI/src/public/Utility/DpTypeConverter.cs
  src/Tizen.NUI/src/public/Utility/GraphicsTypeConverter.cs
  src/Tizen.NUI/src/public/Utility/GraphicsTypeExtensions.cs
  src/Tizen.NUI/src/public/Utility/GraphicsTypeManager.cs
  src/Tizen.NUI/src/public/Utility/PointTypeConverter.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/GraphicsTypeTest.cs
Labels: Internal API Changed, Devel-NUI

#3549 [Applications.RPCPort] Add new constructor and method for Parcel
  src/Tizen.Applications.Common/Interop/Interop.RPCPort.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
Labels: ACR Required, API9

#3588 [NUI] Add brokenImageUrl
  src/Tizen.NUI/src/internal/Interop/Interop.StyleManager.cs
  src/Tizen.NUI/src/public/Common/StyleManager.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Internal API Changed, Devel-NUI

#3589 [NUI] Delete dispose() in GetOriginalImageSize
  src/Tizen.NUI/src/internal/images/ImageLoading.cs
Labels: Devel-NUI

#3587 [NUI] Read ScalingFactor from environment.
  src/Tizen.NUI/src/public/Utility/GraphicsTypeManager.cs
Labels: Devel-NUI

#3579 [NUI] Clean up DisconnectFromSignals(). and Add Exception when NUI object is used after disposed
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples.sln
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DisposeWithoutEventUnsubscribedTest.cs
Labels: Devel-NUI

#3565 [Applications.Cion] Fix svace issue
  src/Tizen.Applications.Cion/Tizen.Applications/ClientBase.cs
  src/Tizen.Applications.Cion/Tizen.Applications/ServerBase.cs
Labels: API9

#3591 [Inputmethod] Fix enum values to get InputHint correctly
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodContext.cs
Labels: ACR Required, API9

#3592 [NUI] Separate the LayoutTransition from LayoutController
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/internal/Layouting/LayoutTransitionManager.cs
Labels: **NO MERGE**, Devel-NUI

#3594 [NUI] apply scaling factor to point size
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
Labels: Devel-NUI

#3598 [NUI] Prevent zero division of item StepCandidate
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3599 [NUI] fix Item measure specification to be largable as much as they need
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
Labels: Devel-NUI

#3586 [NUI] fix to use static converter in timeperiod
  src/Tizen.NUI/src/public/Common/TimePeriod.cs
Labels: Devel-NUI

#3602 [NUI] Fix build errors of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Transition/TSFadeItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebBackForwardList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContext.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContextMenuItemList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebHttpRequestInterceptor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewHttpRequestInterceptedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageLoader.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Transition/TSFade.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSCubeTransitionEffect.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebPageLoadError.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebViewPageLoadErrorEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebViewPageLoadEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/Interactivity/TSCondition.cs
Labels: Devel-NUI

#3604 [NUI] Remove Tizen.NUI RiveAnimationView for moving Tizen.NUI.Extension package
  src/Tizen.NUI/src/internal/Interop/Interop.RiveAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/RiveAnimationView.cs
Labels: Internal API Changed, Devel-NUI

#3608 [NUI] Add xaml & xamlbinding testcases
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSReflectionExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSXamlLoader.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSXamlParser.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/Interactivity/TSMultiCondition.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/XamlBinding/TSTemplateBinding.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSViewExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethodMissingMethod.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XStaticException.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/Interactivity/TSBehavior.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSBindingBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSElement.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSResourceDictionary.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSTriggerBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSXamlStyle.cs
Labels: Devel-NUI

#3609 Revert "[NUI] Roll back to fix build error of TCT code"
  src/Tizen.NUI/src/internal/Xaml/XamlLoader.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObjectExtensions.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableProperty.cs
  src/Tizen.NUI/src/public/XamlBinding/Binding.cs
Labels: Internal API Changed, Devel-NUI

#3571 [NUI] Add BindableProperties to all public Properties
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/internal/Utility/CameraBindableProperty.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Utility/ItemViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
  src/Tizen.NUI/src/public/WebView/WebViewBindableProperty.cs
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: Internal API Changed, Devel-NUI

#3584 [Tts] Remove exception description that does not generated by this property
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: API9

#3597 [NUI] Add CreateDefaultLayout function
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: **NO MERGE**, Devel-NUI

#3520 [NUI] Replace PropertyMap with Dictionary in HitTest.
  src/Tizen.NUI/src/internal/WebView/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebView/WebCertificate.cs
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebContextMenu.cs
  src/Tizen.NUI/src/internal/WebView/WebContextMenuItem.cs
  src/Tizen.NUI/src/internal/WebView/WebCookieManager.cs
  src/Tizen.NUI/src/internal/WebView/WebFormRepostPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/WebView/WebHitTestResult.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpAuthHandler.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/internal/WebView/WebPasswordData.cs
  src/Tizen.NUI/src/internal/WebView/WebPasswordDataList.cs
  src/Tizen.NUI/src/internal/WebView/WebPolicyDecisionMaker.cs
  src/Tizen.NUI/src/internal/WebView/WebSecurityOriginList.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebViewUrlChangedEventArgs.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, Devel-NUI

#3590 [NUI] Apply dp converting in xaml float, int, extents, rectangles
  src/Tizen.NUI/src/internal/Xaml/CreateValuesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/TypeConversionExtensions.cs
  src/Tizen.NUI/src/internal/XamlBinding/ExtentsTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/RectangleTypeConverter.cs
Labels: Internal API Changed, Devel-NUI

#3601 [NUI] Support dp converter for Width/Height specification
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/XamlBinding/IntDpTypeConverter.cs
Labels: Internal API Changed, Devel-NUI

#3611 Revert "[NUI] Add BindableProperties to all public Properties"
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/internal/Utility/CameraBindableProperty.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Utility/ItemViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
  src/Tizen.NUI/src/public/WebView/WebViewBindableProperty.cs
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: Internal API Changed, Devel-NUI

#3612 [Tizen.Applications.RPCPort] Add RPCPort ParcelHeader internal APIs
  src/Tizen.Applications.Common/Interop/Interop.Libc.cs
  src/Tizen.Applications.Common/Interop/Interop.RPCPort.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Port.cs
Labels: Internal API Changed, API8

#3613 [NUI] Version update (2.0.45)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3621 [NUI] sync from DevelNUI to master
  src/Tizen.NUI/src/internal/Common/DaliEnumConstants.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: API9

#3617 [Build] Print SubmitRequest Tag to Annotations
  .github/workflows/deploy-packages.yml
Labels: Devel-NUI

#3624 [NUI] Fix tct exception block issues
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#3623 [NUI] Fix to update Scrollbar when ScrollableBase size changes
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#3596 [AudioIO] Support up-to 16 channel for recording
  src/Tizen.Multimedia.AudioIO/AudioIO/AudioChannel.cs
Labels: ACR Required, API9

#3566 [MediaVision] Add MetadataFilePath and deprecated old properties
  src/Tizen.Multimedia.Vision/MediaVision/InferenceModelConfiguration.cs
Labels: ACR Required, Internal API Changed, API9

#3618 [WebRTC] Fix bugs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaStreamTrack.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.Properties.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCDataChannel.Events.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCDataChannel.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCEnums.cs
Labels: API9

#3627 [NUI] Fix runtime error of xaml testcases
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/Tizen.NUI.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/BaseXamlSample.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/BaseXamlSample3.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/Transition.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSXamlLoader.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSStaticResourceExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlServiceProvider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BaseXamlSample.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BindablePropertiesAccessModifiers.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BindingsCompiler.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BuiltInConversions.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DuplicatePropertyElements.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DuplicateXArgumentsElements.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DynamicResource.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethodMissingCtor.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethodMissingMethod.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethods.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FieldModifier.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FindByName.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/GenericCollections.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/I8.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/McIgnorable.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/ResourceDictionaryWithInvalidSource.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/SetStyleIdFromXName.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/StaticDateTimeView.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/StringLiterals.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/TestXmlnsUsing.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XArray.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XReference.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XStatic.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XStaticException.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSResourceDictionary.cs
Labels: Devel-NUI

#3543 [NUI] Avoid creating BindablePropertyContext for the special cases
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#3626 [NUI][EXaml] Support DP and PX in EXaml
  src/Tizen.NUI/src/internal/EXaml/Action/RootAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateDPObject.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherAssembly.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherMethod.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/SetProperty.cs
  src/Tizen.NUI/src/internal/EXaml/Utility/EXamlOperationType.cs
Labels: Devel-NUI

#3629 [NUI] Fix View.DisConnectFromSignals() to return when the native object has no body
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Common/DaliEnumConstants.cs
  src/Tizen.NUI/src/internal/Common/Registry.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI
