Repository Samsung/TizenFX, pull requests merged in 2022-08, with the labels that each got.

#4450 [NUI] Add DispatchTouchEvents
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Internal API Changed, Devel-NUI

#4452 [NUI] Remove Previous ModelView, and modify new ModelView
  src/Tizen.NUI.Scene3D/src/ModelView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ModelView.cs
  src/Tizen.NUI/src/public/BaseComponents/ModelView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSModelView.cs
Labels: Internal API Changed, Devel-NUI

#4454 [NUI] Call Dispose when WidgetApplication is terminated
  src/Tizen.NUI/src/internal/Application/NUIWidgetCoreBackend.cs
  src/Tizen.NUI/src/internal/Widget/WidgetApplication.cs
Labels: Devel-NUI

#4455 [NUI] Fix IsEqual
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#4442 [XamlBuild] Correct the code format
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
Labels: Devel-NUI

#4453 [NUI] Update webview sample and load local files instead.
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
  test/Tizen.NUI.WebViewTest/Tizen.NUI.WebViewTest.csproj
  test/Tizen.NUI.WebViewTest/res/test.png
  test/Tizen.NUI.WebViewTest/res/test1.html
  test/Tizen.NUI.WebViewTest/res/test2.html
  test/Tizen.NUI.WebViewTest/tizen-manifest.xml
Labels: Devel-NUI

#4457 [NUI] (Partial Update) Change UpdateSizeHint to UpdateAreaHint
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Internal API Changed, Devel-NUI

#4458 [NUI] Version up nui22133
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4459 Rebase master to DevelNUI
  src/Tizen.Log/Tizen/Log.cs
Labels: Devel-NUI

#4456 [Packagemanager] Remove warning log when failed to get tep name
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
Labels: API10

#4399 [Applications.Cion] Fix bug of sending data
  src/Tizen.Applications.Cion/Interop/Interop.CionServer.cs
  src/Tizen.Applications.Cion/Tizen.Applications.Cion/ServerBase.cs
Labels: API10

#4463 [WebRTC] Change private SignalingServer/Client internal APIs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCSignalingEventArgs.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCSignalingServer.cs
Labels: Internal API Changed, API10

#4464 [NUI] Change directory of Tizen.NUI.Scene3D ModelView
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Libraries.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.ModelView.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/ModelView.cs
Labels: Internal API Changed, Devel-NUI

#4461 [NUI] Modify GetWidgetViewFromPtr to use ManagedBaseHandle
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: Devel-NUI

#4466 [NUI] Temporarily use InterceptTouchEvent instead of FocusChanged.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#4469 [NUI] Fix Key constructor's cMemoryOwn as false
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API9

#4470 [Applications.Common] Fix OnLowMememory
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API10

#4473 [NUI] Version up nui22134
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4403 [Connection][TCSACR-492] Add feature for route
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionManager.cs
Labels: ACR Required, API10

#4481 [NUI] Append window move evnet
  src/Tizen.NUI/src/internal/Interop/Interop.WindowMovedSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowMovedSignal.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
Labels: Internal API Changed, Devel-NUI

#4483 Version up to nui22135
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4484 rebase master
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionManager.cs
Labels: Devel-NUI

#4486 [NUI] Fix typo & bind error at FrameUpdateCallbackInterface
  src/Tizen.NUI/src/internal/Interop/Interop.FrameUpdateCallbackInterface.cs
  src/Tizen.NUI/src/public/Common/FrameUpdateCallbackInterface.cs
Labels: API10

#4487 [NUI][API9] Fix typo & bind error at FrameUpdateCallbackInterface
  src/Tizen.NUI/src/internal/Interop/Interop.FrameUpdateCallbackInterface.cs
  src/Tizen.NUI/src/public/Common/FrameUpdateCallbackInterface.cs
Labels: API9

#4451 [NUI] Add ActionForward event for Accessibility
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilityManager.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManagerEvent.cs
Labels: Internal API Changed, API8

#4490 [NUI] Changes ModelView to Model
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, Devel-NUI

#4476 Correct the method names
  src/Tizen.NUI/src/internal/Interop/Interop.FrameUpdateCallbackInterface.cs
  src/Tizen.NUI/src/public/Common/FrameUpdateCallbackInterface.cs
Labels: Devel-NUI

#4493 [NUI] Make sure that Interop return type is bool
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
Labels: Devel-NUI

#4477 [NUI][AT-SPI] Do not set Popup's sub-role to "Alert"
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
Labels: Devel-NUI

#4492 [NUI] Add CurrentColor and CurrentScale as hidden API
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PropertyNotificationTest.cs
Labels: Internal API Changed, Devel-NUI

#4494 [NUI] Add Test of NUISettings
  test/NUISettings/NUISettings/NUISettings.cs
  test/NUISettings/NUISettings/NUISettings.csproj
  test/NUISettings/NUISettings/NUISettings.sln
  test/NUISettings/NUISettings/shared/res/NUISettings.png
  test/NUISettings/NUISettings/tizen-manifest.xml
  test/NUISettings/NUISettingsReset/NUISettingsReset.cs
  test/NUISettings/NUISettingsReset/NUISettingsReset.csproj
  test/NUISettings/NUISettingsReset/NUISettingsReset.sln
  test/NUISettings/NUISettingsReset/shared/res/NUISettingsReset.png
  test/NUISettings/NUISettingsReset/tizen-manifest.xml
Labels: Devel-NUI

#4496 [NUI] Make WidgetView not propagate touch event to the below
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: Internal API Changed, Devel-NUI

#4497 [NUI] Update CurrentSize, CurrentPosition, CurrentColor, CurrentScale's comments
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#4498 [NUI] Changed from StdCall to Cdecl at WindowFocusChangedEventCallbackType
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#4482 [NUI] Added API to know when border window starts moving and ends moving
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
Labels: Internal API Changed, Devel-NUI

#4495 [NUI] Add UpdateProperty api for BorderWindow
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Internal API Changed, Devel-NUI

#4462 [NUI] Add an API for getting web view when request is intercepted.
  src/Tizen.NUI/src/internal/Interop/Interop.WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WebViewInterceptTest.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Internal API Changed, Devel-NUI

#4499 [NUI] version update as 22136
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4502 [Build] Enable aarch64 build for API8
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API8

#4488 [Tts][TCSACR-497] Add new API for service state information
  src/Tizen.Uix.Tts/Interop/Interop.Tts.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/ServiceStateChangedEventArgs.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: ACR Required, API10

#4480 [MediaVision] Add an Exception for SetTarget
  src/Tizen.Multimedia.Vision/MediaVision/ImageTrackingModel.cs
Labels: API10

#4504 [NUI] Use FocusChanged in BorderWindow because it fixed an issue with Emulator's FocusChanged.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#4424 [StreamRecorder] Deprecate StreamRecorder module
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorder.Capabilities.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorder.Events.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorder.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorderAudioOptions.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorderBufferConsumedEventArgs.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorderEnums.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorderErrorOccurredEventArgs.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorderOptions.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorderStateChangedEventArgs.cs
  src/Tizen.Multimedia.StreamRecorder/StreamRecorder/StreamRecorderVideoOptions.cs
Labels: ACR Required, API10

#4518 [NUI] Border lines make the window invisible when maximized.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4520 [NUI] Fix ContentPageLayout to measure AppBar prior to Content
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
Labels: Devel-NUI

#4519 [NUI] Update NUISettings to guide how to use Navigator in Widget
  test/NUISettings/NUISettings/NUISettings.cs
  test/NUISettings/NUISettingsReset/NUISettingsReset.cs
Labels: Devel-NUI

#4521 [build] Push extracted API specs to git repo
  .github/workflows/build-branches.yml
Labels: API10

#4524 [NUI] Version update nui-22137
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4531 [NUI] Add InterceptKeyEvent
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, API9
