Repository Samsung/TizenFX, pull requests merged in 2022-07, with the labels that each got.

#4384 [NUI] Add InterceptKeyEvent
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, Devel-NUI

#4385 [NUI] Version up nui22129
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4333 [ImageUtil] Support JPEG XL image encoder/decoder
  src/Tizen.Multimedia.Util/ImageUtil/ImageDecoder.cs
  src/Tizen.Multimedia.Util/ImageUtil/ImageEncoder.cs
  src/Tizen.Multimedia.Util/ImageUtil/ImageFormat.cs
  src/Tizen.Multimedia.Util/Interop/Interop.ImageUtil.Encode.cs
Labels: ACR Required, API10

#4392 [NUI] When hiding the overlaid border, the timer is also initialized.
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4391 [Applications.Common] Use using to dispose ManualResetEvent handle
  src/Tizen.Applications.Common/Tizen.Applications/TizenSynchronizationContext.cs
  src/Tizen.Applications.Common/Tizen.Applications/TizenUISynchronizationContext.cs
Labels: Devel-NUI

#4393 [WebRTC] Fix DataChannel bug
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCDataChannel.cs
Labels: API10

#4358 [NUI] Add UI thread feature
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  test/Tizen.NUI.UIThread/Tizen.NUI.UIThread.cs
  test/Tizen.NUI.UIThread/Tizen.NUI.UIThread.csproj
  test/Tizen.NUI.UIThread/shared/res/Tizen.NUI.UIThread.png
  test/Tizen.NUI.UIThread/tizen-manifest.xml
Labels: Internal API Changed, Devel-NUI

#4389 [NUI][AT-SPI] Store AccessibilityAttributes in NUI
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#4383 [NUI] Add NativeImageQueue.ColorFormat for BGR~~~
  src/Tizen.NUI/src/public/Images/NativeImageQueue.cs
Labels: Internal API Changed, Devel-NUI

#4395 [NUI] Delay old ResourceReady signal
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Internal API Changed, Devel-NUI

#4394 [NUI] set default value for AutoScroll in TextLabel
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4398 [NUI] Fixed border behavior of windows launched at full size
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#4397 Add comments for animation property
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Devel-NUI

#4400 [NUI] Version up nui22130
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4404 [NUI][AT-SPI] Update AccessibilityAttributes tests
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibility.cs
Labels: Devel-NUI

#4405 [Build] Add dali2-csharp-binder to BuildRequires
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: Devel-NUI

#4411 [NUI] Add new constructor for BorderWindow
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Internal API Changed, Devel-NUI

#4406 [NUI] PropertyValue.EqualTo()
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyValue.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/TSPropertyValue.cs
Labels: Internal API Changed, Devel-NUI

#4409 [NUI][XamlBuild] Fix issues of xamlbuild.
  src/Tizen.NUI.Components/Properties/AssemblyInfo.cs
  src/Tizen.NUI.Extension/Properties/AssemblyInfo.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/BindablePropertyConverter.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
Labels: Devel-NUI

#4410 [NUI][NUI.Devel.Tests] Fix build errors of NUI.Devel following latest codes.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/BaseXamlSample.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/layout/BaseXamlSample3.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSCustomAlgorithmInterface.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPolicyDecisionMaker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewResponsePolicyDecidedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Widget/TSWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Xaml/TSResourcesLoader.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibility.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSGLWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BaseXamlSample.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BaseXamlSample2.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BaseXamlSample2.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BindablePropertiesAccessModifiers.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BindingsCompiler.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BindingsCompiler.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/BuiltInConversions.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/ClockView.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/CustomXamlView.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DuplicatePropertyElements.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DuplicatePropertyElements.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DuplicateXArgumentsElements.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DuplicateXArgumentsElements.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DynamicResource.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DynamicResource.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethodMissingCtor.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethodMissingCtor.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethodMissingMethod.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethodMissingMethod.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FactoryMethods.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FieldModifier.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/FindByName.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/GenericCollections.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/GenericCollections.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/HslColorScrollView.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/I8.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/McIgnorable.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/ResourceDictionaryWithInvalidSource.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/SetStyleIdFromXName.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/StaticDateTimeView.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/StringLiterals.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/TestXmlnsUsing.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/TotalSample.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/TotalSample.xaml.g.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XArray.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XReference.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XStatic.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XStaticException.xaml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XStaticException.xaml.cs
Labels: Devel-NUI

#4381 [WebRTC] Add new APIs for VideoFrameRate and bundle policy
  src/Tizen.Multimedia.Remoting/Interop/Interop.WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.Properties.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCEnums.cs
Labels: ACR Required, API10

#4415 [NUI] fix the defect that an wrong image is shown when async loading of the AnimatedVectorImageView
  src/Tizen.NUI/src/internal/Common/DebugFileLogging.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#4416 [NUI] Version up nui22131
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4417 [WebRTC] Fix error value bug
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCError.cs
Labels: ACR Required, API10

#4420 [WebRTC] Add new APIs for VideoFrameRate and bundle policy (#4381)
  src/Tizen.Multimedia.Remoting/Interop/Interop.WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.Properties.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCEnums.cs
Labels: ACR Required, Devel-NUI

#4422 [WebRTC] Handle error while WebRTC is started asynchronously
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: API10

#4427 Add internal API
  src/Tizen.Applications.Common/Interop/Interop.Bundle.cs
  src/Tizen.Applications.Common/Tizen.Applications/Bundle.cs
Labels: Internal API Changed, API10

#4425 [NUI] Palette: Add an exception for 4ch(ARGB) image processing
  src/Tizen.NUI/src/internal/Utility/ColorCutQuantizer.cs
Labels: Devel-NUI

#4407 [NUI] Make webcontext/cookiemanager static.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI

#4431 Replace getting filename with a primitive way
  src/Tizen.Log/Tizen/Log.cs
Labels: API10

#4432 [Tizen.Log] Replace getting filename with a primitive (fast) way
  src/Tizen.Log/Tizen/Log.cs
Labels: API9

#4434 [NUI] Correct the signal related document of WidgetView
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: Devel-NUI

#4429 [NUI] Add Scene3D assembly
  src/Tizen.NUI.Scene3D/Interop/Interop.Libraries.cs
  src/Tizen.NUI.Scene3D/Interop/Interop.ModelView.cs
  src/Tizen.NUI.Scene3D/Properties/AssemblyInfo.cs
  src/Tizen.NUI.Scene3D/Tizen.NUI.Scene3D.csproj
  src/Tizen.NUI.Scene3D/Tizen.NUI.Scene3D.sln
  src/Tizen.NUI.Scene3D/src/ModelView.cs
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: Internal API Changed, Devel-NUI

#4428 [NUI] Fix to change IsSelected when ControlState is changed
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  test/Tizen.NUI.StyleGuide/Examples/DefaultLinearItemExample.cs
Labels: Devel-NUI

#4426 [NUI] Propagate AutomationId value to DALi
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Devel-NUI

#4437 [Tizen.Log] Optimize getting filename
  src/Tizen.Log/Tizen/Log.cs
Labels: API10

#4438 [Tizen.Log] Optimize getting filename
  src/Tizen.Log/Tizen/Log.cs
Labels: API9

#4435 [NUI] fix ScrollableBase focus moving bug on non-scrollable case
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4439 [NUI] Add UpdateProperty() api and revert "Fixed border behavior of windows launched at full size" patch
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4440 [NUI] fix AnimatedVectorImageView's current frame set defect
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: Devel-NUI

#4396 [NUI] Add MaskingMode property in imageView to use Rendering Time Masking
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#4318 [NUI] Apply Tizen 7.0 UX on Loading
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Style/LoadingStyle.cs
  src/Tizen.NUI.Components/res/IoT_loading_circle_light.json
Labels: Devel-NUI

#4408 [NUI] Add AllowOnlyOwnTouch property and SetDefaultAllowOnlyOwnTouch api
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Internal API Changed, Devel-NUI

#4443 [NUI] Version up nui22132
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4447 [Tizen.Log] Optimize separator
  src/Tizen.Log/Tizen/Log.cs
Labels: API9

#4448 [Tizen.Log] Optimize separator
  src/Tizen.Log/Tizen/Log.cs
Labels: API10

#4449 [NUI] Fix API/ABI break on WebView
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI
