Repository Samsung/TizenFX, pull requests merged in 2022-02, with the labels that each got.

#3918 [Camera] Fix preview gc issue
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
  src/Tizen.Multimedia.Camera/Camera/DepthPlane.cs
  src/Tizen.Multimedia.Camera/Camera/DoublePlane.cs
  src/Tizen.Multimedia.Camera/Camera/EncodedPlane.cs
  src/Tizen.Multimedia.Camera/Camera/PinnedPreviewBuffer.cs
  src/Tizen.Multimedia.Camera/Camera/PreviewFrame.cs
  src/Tizen.Multimedia.Camera/Camera/RgbPlane.cs
  src/Tizen.Multimedia.Camera/Camera/SinglePlane.cs
  src/Tizen.Multimedia.Camera/Camera/TriplePlane.cs
Labels: API10

#3924 [NUI] Fix svace issue of RecyclerView LinearLayouter
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: API9

#3912 [NUI] Add SelectionStarted event
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditorEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextFieldEvent.cs
Labels: Internal API Changed, Devel-NUI

#3923 [NUI] Fix svace issue of RecyclerView LinearLayouter
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3916 [NUI] Catch DllNotFoundException in IsSupportedMultiWindow() for desktop
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#3917 [WebRTC] Add new MediaFileSource APIs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaFileSource.cs
Labels: ACR Required, Internal API Changed, API10

#3401 [NUI] Add CharacterSpacing property
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextField.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextLabel.cs
Labels: Internal API Changed, Devel-NUI

#3925 [WiFi] Add missing lock condition (2)
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: API9

#3905 [NUI][AT-SPI] Fixed A11y support for Navigator
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3919 [NUI] Call ProcessorOnceEvent after all event finished
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
Labels: Devel-NUI

#3920 [NUI] Fix PointSizeTypeConverter error
  src/Tizen.NUI/src/public/XamlBinding/PointSizeTypeConverter.cs
Labels: Devel-NUI

#3884 [NUI]Set response body in binary format when intercepting http request.
  src/Tizen.NUI/src/internal/Interop/Interop.WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Internal API Changed, Devel-NUI

#3864 [NUI] Add callback for navigation policy decision.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewPolicyDecidedEventArgs.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Internal API Changed, Devel-NUI

#3922 [NUI] Add DisposeTest, Add DebugFileLogging Test
  src/Tizen.NUI/src/internal/Common/DebugFileLogging.cs
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/Program.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/etc/DisposeTest.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/internal/TSView.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/TUnit/TAsyncThreadMgr.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/TUnit/TLogger.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunitlite/TUnit/TRunner.cs
Labels: Devel-NUI

#3921 [NUI] Support RequestLayout() while main loop is in idle state
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#3839 [NUI] Fix the defect that CurrentFrame is not updated properly when AnimatedVectorImageView stops
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: Devel-NUI

#3930 [ACR-1655][Sensor] Add new orientation sensor types
  src/Tizen.Sensor/Tizen.Sensor/SensorEnumerations.cs
Labels: API10

#3931 [Sensor] Add orientation sensor type
  src/Tizen.Sensor/Tizen.Sensor/SensorEnumerations.cs
Labels: API9

#3904 [NUI][AT-SPI] Clean up APIs related to AccessibilityStates
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewAccessibility.cs
Labels: Internal API Changed, Devel-NUI

#3933 [Camera] Support variable buffer size
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/PinnedPreviewBuffer.cs
  src/Tizen.Multimedia.Camera/Camera/PreviewFrame.cs
Labels: API9

#3936 [NUI] Add KeyFrameAnimationTest sample
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/KeyFrameAnimationTest.cs
Labels: API9

#3940 [NUI] Add FeedTouch and FeedWheel
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API9

#3934 [Camera] Support variable buffer size
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/PinnedPreviewBuffer.cs
  src/Tizen.Multimedia.Camera/Camera/PreviewFrame.cs
Labels: API10

#3941 [NUI] Add FeedTouch and FeedWheel
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API9

#3939 [NUI] Add FeedTouch and FeedWheel
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#3944 [NUI] add style guide sample.
  .github/CODEOWNERS
  test/Tizen.NUI.StyleGuide/.pic/NugetConfig.png
  test/Tizen.NUI.StyleGuide/.pic/csproj-file.png
  test/Tizen.NUI.StyleGuide/.pic/launch.png
  test/Tizen.NUI.StyleGuide/.pic/run.png
  test/Tizen.NUI.StyleGuide/.vscode/launch.json
  test/Tizen.NUI.StyleGuide/.vscode/tasks.json
  test/Tizen.NUI.StyleGuide/Examples/ButtonExample.cs
  test/Tizen.NUI.StyleGuide/Examples/ScrollableBase/ScrollableBaseDirectionExample.cs
  test/Tizen.NUI.StyleGuide/Examples/ScrollableBase/ScrollableBaseExample.cs
  test/Tizen.NUI.StyleGuide/IExample.cs
  test/Tizen.NUI.StyleGuide/README.md
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.code-workspace
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.cs
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.csproj
  test/Tizen.NUI.StyleGuide/res/menu.png
  test/Tizen.NUI.StyleGuide/shared/res/Tizen.NUI.StyleGuide.png
  test/Tizen.NUI.StyleGuide/tizen-manifest.xml
Labels: Devel-NUI

#3949 [NUI] Apply focusable features and Automatic Focus algorithm
  test/Tizen.NUI.StyleGuide/Examples/ButtonExample.cs
  test/Tizen.NUI.StyleGuide/Examples/ScrollableBase/ScrollableBaseDirectionExample.cs
  test/Tizen.NUI.StyleGuide/Examples/ScrollableBase/ScrollableBaseExample.cs
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.cs
Labels: Devel-NUI

#3950 [NUI] Change csproj file to make this sample run on Ubuntu, tizen-emul and TV
  test/Tizen.NUI.StyleGuide/.vscode/launch.json
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.csproj
  test/Tizen.NUI.StyleGuide/tizen-manifest.xml
Labels: Devel-NUI

#3952 [NUI][Test] Apply home env in launch.json of test projects
  test/NUITizenGallery/.vscode/launch.json
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/.vscode/launch.json
  test/Tizen.NUI.StyleGuide/.vscode/launch.json
Labels: Devel-NUI

#3957 [NUI] Version update (2.1.09)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3953 [Tts] Fix the description of Repeat()
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: API10

#3963 [WiFi] Add missing lock condition (3)
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: API9

#3937 [NUI] Fix unmatched return values after change LazyUpdate (NaturalSize / CropToMask)
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/res/Image.png
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/res/star-mod.png
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/TSImageView.cs
Labels: Internal API Changed, Devel-NUI

#3961 [NUI] Rotary Event (Custom Wheel Type) improvement
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TouchGestureSample.cs
Labels: Devel-NUI

#3932 [NUI] Add forward and backward direction type on FocusDirection
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Internal API Changed, Devel-NUI

#3967 [NUI] Version update (2.1.10)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3968 [Tts] Fix the description of Repeat() (#3953)
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: Devel-NUI

#3973 [NUI] Fix GetProperty ambiguousmatch exception
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherProperty.cs
Labels: API9

#3964 [NUI]Fix ResourcesDictionary & BindingContext issues
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/CreateValuesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/FillResourceDictionariesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/IResourcesLoader.cs
  src/Tizen.NUI/src/internal/Xaml/ResourcesLoader.cs
  src/Tizen.NUI/src/internal/Xaml/XamlLoader.cs
  src/Tizen.NUI/src/internal/XamlBinding/Internals/ResourceLoader.cs
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
  src/Tizen.NUI/src/internal/XamlBinding/ResourcesExtensions.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Xaml/XamlFilePathAttribute.cs
  src/Tizen.NUI/src/public/Xaml/XamlParseException.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/Element.cs
  src/Tizen.NUI/src/public/XamlBinding/IValueConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/ResourceDictionary.cs
  src/Tizen.NUI/src/public/XamlBinding/XamlStyle.cs
Labels: Internal API Changed, Devel-NUI

#3972 [NUI]Fix ResourcesDictionary & BindingContext issues
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/CreateValuesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/FillResourceDictionariesVisitor.cs
  src/Tizen.NUI/src/internal/Xaml/IResourcesLoader.cs
  src/Tizen.NUI/src/internal/Xaml/ResourcesLoader.cs
  src/Tizen.NUI/src/internal/Xaml/XamlLoader.cs
  src/Tizen.NUI/src/internal/XamlBinding/Internals/ResourceLoader.cs
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
  src/Tizen.NUI/src/internal/XamlBinding/ResourcesExtensions.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Xaml/XamlFilePathAttribute.cs
  src/Tizen.NUI/src/public/Xaml/XamlParseException.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/Element.cs
  src/Tizen.NUI/src/public/XamlBinding/IValueConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/ResourceDictionary.cs
  src/Tizen.NUI/src/public/XamlBinding/XamlStyle.cs
Labels: Internal API Changed, API9

#3954 [NUI] Add an API for evaluating js with callback in WebView.
  src/Tizen.NUI/src/public/WebView/WebView.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Internal API Changed, API9

#3970 [NUI] Fix GetProperty ambiguousmatch exception
  src/Tizen.NUI/src/internal/EXaml/Operation/GatherProperty.cs
Labels: Devel-NUI

#3980 [NUI] Use CurrentCulture to prevent exception
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: API9

#3978 [NUI] Fix timePicker ampm internal logic
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: Devel-NUI

#3981 [NUI] Support last day of month when month change in DatePicker
  src/Tizen.NUI.Components/Controls/DatePicker.cs
Labels: API9

#3982 [NUI] Fix timePicker ampm internal logic
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: API9
