Repository Samsung/TizenFX, pull requests merged in 2022-04, with the labels that each got.

#4069 [NUI][AT-SPI] Introduce AtspiEvents
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AtspiSample.cs
Labels: Internal API Changed, Devel-NUI

#4103 [NUI][TEST] Fix tizen-manifest files for frequently used and managed samples
  test/NUITizenGallery/tizen-manifest.xml
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/tizen-manifest.xml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/tizen-manifest.xml
Labels: API9

#4104 [NUI][TEST] Fix tizen-manifest files for frequently used and managed samples
  test/NUITizenGallery/tizen-manifest.xml
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/tizen-manifest.xml
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/tizen-manifest.xml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/tizen-manifest.xml
Labels: Devel-NUI

#4116 [NUI] Fix warning by checking null argument in LayoutGroup
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Devel-NUI

#4121 [NUI] Fix to disable ThemeManager in tv profile
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API9

#4120 [NUI] Fix comments according to ACR review
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: Devel-NUI

#4118 [NUI] Fix comments according to ACR review
  src/Tizen.NUI/src/public/Color.cs
Labels: API8

#4115 [NUI][TEST] Add ContentPage, DialogPage, Navigator and TabView examples in StyleGuide
  test/Tizen.NUI.StyleGuide/.vscode/launch.json
  test/Tizen.NUI.StyleGuide/Examples/ContentPageExample.cs
  test/Tizen.NUI.StyleGuide/Examples/DialogAndAlertDialogExample.cs
  test/Tizen.NUI.StyleGuide/Examples/NavigatorExample.cs
  test/Tizen.NUI.StyleGuide/Examples/TabViewExample.cs
Labels: Devel-NUI

#4100 [NUI][XamlBuild] Support DateTime
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
Labels: API9

#4086 [NUI][XamlBuild] Support classmodifier in xaml
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#3948 [Sticker] Add Sticker APIs
  src/Tizen.Uix.Sticker/Interop/Interop.Libraries.cs
  src/Tizen.Uix.Sticker/Interop/Interop.StickerConsumer.cs
  src/Tizen.Uix.Sticker/Interop/Interop.StickerData.cs
  src/Tizen.Uix.Sticker/Interop/Interop.StickerProvider.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker.csproj
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker.sln
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/DeletedEventArgs.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/ExceptionFactory.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/GroupImage.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/InsertedEventArgs.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/StickerConsumer.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/StickerData.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/StickerProvider.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/UpdatedEventArgs.cs
Labels: ACR Required, API10

#4130 [NUI] Add Null check in Slider Dispose
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Devel-NUI

#4022 [NUI][AT-SPI] Remove SetAccessibilityConstructor()
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/CheckBox.cs
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuItem.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/RadioButton.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Controls/TabContent.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiEditableText.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiSelection.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiText.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiValue.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#4101 [NUI] TextField and TextEditor have Focusable set to true.
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Devel-NUI

#4106 [NUI][Test] fix wrong test value checking.
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/TSView.cs
Labels: Devel-NUI

#4123 [NUI] application: remove unnecessary reference count increments
  src/Tizen.NUI/src/internal/Application/Application.cs
Labels: Devel-NUI

#4126 [NUI] Fix to disable ThemeManager in tv profile
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#4127 [NUI][XamlBuild] Set ExitXaml() as internal method.
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: Devel-NUI

#4128 [NUI] Remove some potential of memory leak
  src/Tizen.NUI/src/public/Common/PropertyNotification.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4129 [NUI] Add VerticalAlignment in TextEditor
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
Labels: Internal API Changed, Devel-NUI

#4132 [NUI] Update StyleGuide README
  test/Tizen.NUI.StyleGuide/.pic/csproj-file.png
  test/Tizen.NUI.StyleGuide/.pic/launch.png
  test/Tizen.NUI.StyleGuide/README.md
Labels: Devel-NUI

#4133 [NUI][XamlBuild] Fix build error when calling ExitXaml() if XamlOptimization set as 0.
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: Devel-NUI

#4136 [NUI][XamlBinding] Unifying the delimiter for TypeConverter.
  src/Tizen.NUI/src/internal/XamlBinding/ExtentsTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/ListStringTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/PositionTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/RectangleTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/RotationTypeConverter.cs
  src/Tizen.NUI/src/internal/XamlBinding/VectorTypeConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/ColorTypeConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/SizeTypeConverter.cs
  src/Tizen.NUI/src/public/XamlBinding/TypeConverter.cs
Labels: Devel-NUI

#4138 [NUI][XamlBuild] Set ExitXaml() as internal method.
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#4140 [NUI][XamlBuild] Fix build error when calling ExitXaml() if XamlOptimization set as 0.
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#4137 [Sticker] Modified to change initialization flag properly
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/StickerConsumer.cs
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/StickerProvider.cs
Labels: API10

#4141 [NUI][XamlBuild] Sync xamlbuild from api9
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.targets
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXaml/EXamlCreateObject/EXamlCreateResourceDictionary.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlContext.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/Utility/EXamlOperationType.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/RDSourceTypeConverter.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/ILContext.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlTask.cs
Labels: Devel-NUI

#4083 [NUI][TCSACR-485] Add some methods for Loading
  src/Tizen.NUI.Components/Controls/Loading.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#4142 [NUI] Fix IsEnabledProperty name
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#4124 [NUI] change SetPosition(...) as a hidden API for internal use only
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI

#4149 [NUI][Xaml] Fix issue that the Xaml element which has the created-in-csharp parent will not be disposed when exit xaml
  src/Tizen.NUI/src/public/EXaml/EXamlExtensions.cs
Labels: API9

#4088 [NUI][Test] WhiteBoardAllApps Sample
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AllAppsSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/frame.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/google chrome.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/hbo.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/igtv.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/instagram.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/linkedin.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/netflix.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/pinterest.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/soundcloud.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/spoti.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/shared/res/youtube.png
Labels: Devel-NUI

#4107 [NUI] Add Tizen.NUI.LayoutSamples
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples.sln
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/CellPaddingView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/CellPaddingView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ControlView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ControlView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ControlWindowLayoutTab.png
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ControlWindowViewTab.png
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/DisplayWindow.png
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/HeightSpecificationView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/HeightSpecificationView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/HorizontalAlignmentView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/HorizontalAlignmentView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ILayoutProperty.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/IObjectLayout.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/IObjectProperty.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/IObjectView.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LayoutSamplesClassDiagram.png
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LayoutSamplesClassDiagram.txt
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LayoutTypeView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LayoutTypeView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LinearLayoutControlView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LinearLayoutControlView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LinearOrientationView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/LinearOrientationView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/MarginView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/MarginView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectControlView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectControlView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectLinearLayout.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectView.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectViewGroup.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/PaddingView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/PaddingView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples.csproj
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/VerticalAlignmentView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/VerticalAlignmentView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/WidthSpecificationView.xaml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/WidthSpecificationView.xaml.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/tizen-manifest.xml
Labels: Devel-NUI

#4144 [NUI] Apply DialogPage's Scrim UX - BackgroundColor
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4145 [NUI] Apply AppBar UX - Size, BackgroundColor, BackButton Icon
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/nui_component_default_back_button.png
Labels: Devel-NUI

#4147 [NUI] Apply ContentPage UX - BackgroundColor, CornerRadius, BoxShadow
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4150 [NUI][AT-SPI] Add indexable AccessibilitySuppressedEvents
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AtspiSample.cs
Labels: Internal API Changed, Devel-NUI

#4148 [NUI][TEST] Components function coverage test
  src/Tizen.NUI.Components/Controls/Picker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/nui-components-tct.png
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSNavigator.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Item/TSDefaultGridItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Item/TSDefaultLinearItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSCollectionView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSMenu.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPagination.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPopup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSlider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Utils/TSStyleManager.cs
Labels: Devel-NUI

#4152 [Sticker] Fix typo in description
  src/Tizen.Uix.Sticker/Tizen.Uix.Sticker/StickerProvider.cs
Labels: API10

#4155 [docs] Add `using tizen tfm` section to README.md
  README.md
Labels: API10

#4154 [NUI] Minimize size is set too large. And code clean up
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AllAppsSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
Labels: Internal API Changed, Devel-NUI

#4158 [NUI][TEST] Update TCs to improve function coverage of NUI.Components.
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/GlobalSuppressions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Tizen.NUI.Components.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/CheckBox.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewLayoutManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewRecycler.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSOrientationHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSAppBar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Layouter/TSGridLayouter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/Layouter/TSItemsLayouter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSRecyclerView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSSelectionChangedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSSelectionList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.Internal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButtonGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSCheckBoxGroup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDatePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSImageScrollBar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSMenu.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPagination.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSRadioButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollableBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSlider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTimePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSLottieSwitchExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSSlidingSwitchExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSDatePickerStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSDefaultGridItemStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSDefaultLinearItemStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSDefaultTitleItemStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Style/TSSliderStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Utils/TSStyleManager.cs
Labels: Devel-NUI

#4162 [NUI] version update 22118
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4166 [NUI] Fix LinearLayout to update max height and width correctly
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#4165 [NUI] Fix CustomView.GetNaturalSize() to return Size2D set by user
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#4167 [NUI] Fix Svace issue not to do unnecessary null check in DefaultBorder
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4151 [NUI][AT-SPI] Add to set AccessibilityName and Description in some components
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
Labels: Internal API Changed, Devel-NUI

#4171 [NUI] Apply TabView UX - TabBar and TabButton Size and BackgroundColor
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
  src/Tizen.NUI.Components/Style/TabButtonStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TabViewSample.cs
Labels: Internal API Changed, Devel-NUI

#4169 [NUI][AT-SPI] Apply AccessibilityHidden for Scrollbar
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
Labels: Devel-NUI

#4168 [MachineLearning.Inference] Change interop
  src/Tizen.MachineLearning.Inference/Interop/Interop.Nnstreamer.cs
Labels: API10

#4173 [MachineLearning.Inference] Change interop (#4168)
  src/Tizen.MachineLearning.Inference/Interop/Interop.Nnstreamer.cs
Labels: Devel-NUI

#4176 [Bluetooth] Fix BluetoothDevice converting issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API6

#4134 [Build] Enable aarch64 build
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API10

#4181 [NUI] Apply text UX
  src/Tizen.NUI/res/IoT_handler_center_downW.png
  src/Tizen.NUI/res/IoT_handler_downleftW.png
  src/Tizen.NUI/res/IoT_handler_downrightW.png
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4180 [NUI][TEST] Update TCs of NUI.Components.
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/res/demoVideo.mp4
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewAdapter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewLayoutManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSOrientationHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSRecyclerView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDatePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSMenu.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPopup.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollableBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTimePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSLottieSwitchExtension.cs
Labels: Devel-NUI

#4183 [NUI] Apply Menu and MenuItem UX - Sizes and Colors
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuItem.cs
  src/Tizen.NUI.Components/Style/MenuStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/nui_component_menu_item_bg.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MenuSample.cs
Labels: Internal API Changed, Devel-NUI

#4184 [NUI] Fix Svace issue on TabButton by null check
  src/Tizen.NUI.Components/Controls/TabButton.cs
Labels: Devel-NUI

#4185 [NUI] Fix to null check menuStyle in Menu
  src/Tizen.NUI.Components/Controls/Menu.cs
Labels: Devel-NUI

#4186 [NUI] Fix Window.Dispose and Layer.LayoutCount
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4188 [NUI] version update 22119
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4189 [Build] Enable aarch64 build (#4134)
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: Devel-NUI

#4177 [NUI] DragAndDrop: Implements drag source events.
  src/Tizen.NUI/src/internal/Interop/Interop.DragAndDrop.cs
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
  src/Tizen.NUI/src/public/DragAndDrop/DragEvent.cs
  test/NUIDnDSource/NUIDnDSource.cs
Labels: Internal API Changed, Devel-NUI

#4192 [NUI][XamlBuild] Change XamlCTask / XamlGTask into NUIXamlCTask / NUIXamlGTask.
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.targets
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlGTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetNamescopesAndRegisterNamesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: Devel-NUI

#4195 [NUI][XamlBuild] Change XamlCTask / XamlGTask into NUIXamlCTask / NUIXamlGTask.
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.targets
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlGTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetNamescopesAndRegisterNamesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#4197 [NUI][Xamlbuild] Update Tizen.NUI.XamlBuild.dll.
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
Labels: Devel-NUI

#4198 [NUI][Xamlbuild] Update Tizen.NUI.XamlBuild.dll.
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
Labels: API9

#4201 [NUI] Remove redundant codes in MenuItem
  src/Tizen.NUI.Components/Controls/MenuItem.cs
Labels: Devel-NUI

#4191 [NUI][TEST] Update TCs of FlexibleView.
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewAdapter.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/FlexibleView/TSFlexibleViewHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPopup.cs
Labels: Devel-NUI

#4200 [NUI][Xaml] Sync patch 4056 from API9
  src/Tizen.NUI/src/internal/XamlBinding/BindingExpression.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/TypedBinding.cs
Labels: Internal API Changed, Devel-NUI

#4202 [NUI][SVACE] fix svace defect (add null check, replace TopCentor as Vector3 which is same)
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4204 [Multimedia] Fix build error
  src/Tizen.Multimedia/Tizen.Multimedia.sln
Labels: API10

#4178 [NUI][TEST] Fix StyleGuide examples
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MenuSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SwitchSample.cs
  test/Tizen.NUI.StyleGuide/Examples/MenuExample.cs
  test/Tizen.NUI.StyleGuide/Examples/ScrollableBase/ScrollableBaseDirectionExample.cs
  test/Tizen.NUI.StyleGuide/Examples/ScrollableBase/ScrollableBaseExample.cs
  test/Tizen.NUI.StyleGuide/Examples/SwitchExample.cs
Labels: Devel-NUI

#4206 [NUI] Apply Tizen 7.0 UX for Button, Check, Switch and Notification
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/IoT_check_off.png
  src/Tizen.NUI.Components/res/IoT_check_off_d.png
  src/Tizen.NUI.Components/res/IoT_check_off_f.png
  src/Tizen.NUI.Components/res/IoT_check_off_p.png
  src/Tizen.NUI.Components/res/IoT_check_on.png
  src/Tizen.NUI.Components/res/IoT_check_on_d.png
  src/Tizen.NUI.Components/res/IoT_check_on_f.png
  src/Tizen.NUI.Components/res/IoT_check_on_p.png
  src/Tizen.NUI.Components/res/IoT_switch_thumb.png
  src/Tizen.NUI.Components/res/IoT_switch_thumb_d.png
  src/Tizen.NUI.Components/res/IoT_switch_thumb_s.png
  src/Tizen.NUI.Components/res/IoT_switch_thumb_sf.png
  src/Tizen.NUI.Components/res/IoT_switch_thumb_sp.png
  src/Tizen.NUI.Components/res/IoT_switch_track_off.png
  src/Tizen.NUI.Components/res/IoT_switch_track_off_d.png
  src/Tizen.NUI.Components/res/IoT_switch_track_off_f.png
  src/Tizen.NUI.Components/res/IoT_switch_track_off_p.png
  src/Tizen.NUI.Components/res/IoT_switch_track_on.png
  src/Tizen.NUI.Components/res/IoT_switch_track_on_d.png
  src/Tizen.NUI.Components/res/IoT_switch_track_on_f.png
  src/Tizen.NUI.Components/res/IoT_switch_track_on_p.png
Labels: Devel-NUI

#4194 [NUI] Apply AlertDialog UX - Sizes and Colors
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4210 [NUI] Fix Window.Add and Remove to use Layer.Add and Remove directly
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI
