Repository Samsung/TizenFX, pull requests merged in 2022-10, with the labels that each got.

#4585 [NUI] ACR Tizen.NUI.Scene3D.Camera/SceneView
  src/Tizen.NUI.Scene3D/src/public/Controls/Camera.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#4615 [NUI] Support native new window position
  src/Tizen.NUI/src/internal/Interop/Interop.WindowIntPair.cs
  src/Tizen.NUI/src/internal/Window/WindowIntPair.cs
  src/Tizen.NUI/src/internal/Window/WindowMovedSignal.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
Labels: Devel-NUI

#4616 [WiFi] Add missing lock
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: API10

#4612 [Stc] Fix datatype conversion issue
  src/Tizen.Network.Stc/Interop/Interop.Stc.cs
  src/Tizen.Network.Stc/Tizen.Network.Stc/StcStatsFilter.cs
Labels: API10

#4554 [NUI.Scene3D] Add private property ChildrenSensitive
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Devel-NUI

#4617 [NUI] Change property get/set not to use PropertyValue (patch set2)
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4614 [NUI.Scene3D] Add ProjectionDirection in Camera
  src/Tizen.NUI.Scene3D/src/internal/CameraBindableProperty.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Camera.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Camera.cs
Labels: Internal API Changed, Devel-NUI

#4611 [Build] Add RID for 7.0.0
  packaging/csapi-tizenfx.spec
  pkg/Tizen.NET/runtime.json
Labels: API10

#4547 [Tizen.Applications] Deprecate some application API
  src/Tizen.Applications.ComponentBased.Default/Tizen.Applications.ComponentBased.Default/EFLComponentBasedApplication.cs
  src/Tizen.Applications.ComponentBased.Default/Tizen.Applications.ComponentBased.Default/EFLWindowInfo.cs
  src/Tizen.Applications.RemoteView/Tizen.Applications/RemoteView.cs
  src/Tizen.Applications.RemoteView/Tizen.Applications/RemoteViewFactory.cs
  src/Tizen.Applications.WatchApplication/Tizen.Applications/AmbientEventArgs.cs
  src/Tizen.Applications.WatchApplication/Tizen.Applications/AmbientTickType.cs
  src/Tizen.Applications.WatchApplication/Tizen.Applications/TimeEventArgs.cs
  src/Tizen.Applications.WatchApplication/Tizen.Applications/TimeTickResolution.cs
  src/Tizen.Applications.WatchApplication/Tizen.Applications/WatchApplication.cs
  src/Tizen.Applications.WatchApplication/Tizen.Applications/WatchTime.cs
  src/Tizen.Applications.WidgetApplication/Tizen.Applications/WidgetApplication.cs
  src/Tizen.Applications.WidgetApplication/Tizen.Applications/WidgetBase.cs
Labels: ACR Required, API10

#4514 [MachineLearning.Train] Remove dot at the end of enum value description
  src/Tizen.MachineLearning.Train/Tizen.MachineLearning.Train/Commons.cs
Labels: API10

#4618 [NUI] Version Update 22142
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4620 [NUI] Fix Rotation Property set/get usage
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#4622 [Build] Remove simple warnings
  build/common.props
  internals/src/Tizen.Peripheral/Tizen.Peripheral/Gpio.cs
  packages-microsoft-prod.deb
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Wearable/src/public/CircularPagination.cs
  src/Tizen.NUI.Wearable/src/public/CircularProgress.cs
  src/Tizen.NUI.Wearable/src/public/CircularSlider.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/GridRecycleLayoutManager.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/LinearRecycleLayoutManager.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Wearable/src/public/WearableStyle/CircularProgressStyle.cs
  src/Tizen.NUI.Wearable/src/public/WearableStyle/CircularSliderStyle.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
Labels: Internal API Changed, API10

#4623 [MediaContent] Check null or empty string for file path
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaInfoCommand.cs
Labels: API10

#4627 [NUI] Fix Apps crash issue when terminated
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#4626 [Applications.Service] Add a new internal API
  src/Tizen.Applications.Service/Interop/Interop.Service.cs
  src/Tizen.Applications.Service/Tizen.Applications/ServiceApplication.cs
Labels: Internal API Changed, API10

#4625 [Applications.Common] Add a new internal API
  src/Tizen.Applications.Common/Interop/Interop.ApplicationManager.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationRunningContext.cs
Labels: Internal API Changed, API10

#4591 Deprecating Attach Panel APIs
  src/Tizen.Applications.AttachPanel/Tizen.Applications.AttachPanel/AttachPanel.cs
  src/Tizen.Applications.AttachPanel/Tizen.Applications.AttachPanel/ContentCategory.cs
  src/Tizen.Applications.AttachPanel/Tizen.Applications.AttachPanel/EventType.cs
  src/Tizen.Applications.AttachPanel/Tizen.Applications.AttachPanel/ResultEventArgs.cs
  src/Tizen.Applications.AttachPanel/Tizen.Applications.AttachPanel/StateEventArgs.cs
  src/Tizen.Applications.AttachPanel/Tizen.Applications.AttachPanel/StateType.cs
Labels: ACR Required, API10

#4624 [NUI] Apply Tizen 7.0 UX on Slider ValueIndicator
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4629 [NUI] Change Window's events to follow View's event pattern
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#4532 [NUI][TCSACR-503] Camera class and CameraType enum, which are not used, are deprecated
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#4635 [NUI] Fix Svace issues of dereferenced nullable variables
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecyclerView.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/GetStaticObject.cs
  src/Tizen.NUI/src/internal/FrameBroker/DefaultFrameBroker.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/Common/Container.cs
Labels: Devel-NUI

#4633 [Applications.WidgetControl] change return type of get widget list callback for internal.
  src/Tizen.Applications.WidgetControl/Interop/Interop.WidgetService.cs
  src/Tizen.Applications.WidgetControl/Tizen.Applications/WidgetControl.cs
Labels: API10

#4638 [NUI] Change property get/set not to use PropertyValue (patch set3)
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4639 [NUI] Change property get/set not to use PropertyValue (patch set3)
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API10

#4642 [WebRTC] Disable MediaPacket native handle destroy
  src/Tizen.Multimedia.Remoting/WebRTC/MediaPacketSource.cs
  src/Tizen.Multimedia/MediaTool/MediaPacket.cs
Labels: API10

#4634 [Coverage] Support --exclude-sources option
  coverage.sh
Labels: API10

#4593 [Tizen.MapView] Deprecate Tizen.MapView and other view related APIs
  src/Tizen.Maps/Tizen.Maps/Area.cs
  src/Tizen.Maps/Tizen.Maps/MapView.cs
  src/Tizen.Maps/Tizen.Maps/Marker.cs
  src/Tizen.Maps/Tizen.Maps/Overlay.cs
  src/Tizen.Maps/Tizen.Maps/Polygon.cs
  src/Tizen.Maps/Tizen.Maps/Polyline.cs
Labels: ACR Required, API10

#4644 [NUI] Fix type casting bug
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
Labels: API10

#4643 [NUI] Fix type casting bug
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
Labels: Devel-NUI

#4641 [Applications.Badge] change return type of foreach callback for internal
  src/Tizen.Applications.Badge/Interop/Interop.Badge.cs
  src/Tizen.Applications.Badge/Tizen.Applications/BadgeControl.cs
Labels: API10

#4645 [NUI] Minor refactoring CollectionView and RecyclerView
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionViewBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: Devel-NUI

#4637 [NUI] Palette use ConcurrentDictionary for thread-safe
  src/Tizen.NUI/src/internal/Utility/ColorCutQuantizer.cs
Labels: Devel-NUI

#4649 [NUI] Fix picker, scroller animation gives abnormal position value
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4646 [Coverage] Fix bug
  coverage.sh
Labels: API10

#4654 [NUI] If the view had focus when it was unparented, the focus is cleared.
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: Devel-NUI

#4650 [NUI] Include json files
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
Labels: Devel-NUI

#4656 [NUI] Picker: Fix scroll area height calc logic and Expand default scroll area
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#4659 [NUI] Picker: Protect delegate from GC
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#4660 [NUI] Picker: Protect delegate from GC
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: API10

#4655 [NUI] Change property get/set not to use PropertyValue (patch set4)
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4661 [NUI] Change property get/set not to use PropertyValue (patch set4)
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API10

#4662 [NUI] Add null checking in InternalSet/GetPropertyXXX(), Change to use internalName
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#4663 [NUI] Add null checking in InternalSet/GetPropertyXXX(), Change to use internalName
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: API10

#4667 [NUI] Add null checking in internalSet/GetPropertyXXX()
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API10

#4664 [NUI] Fix Linear Layouter crash and update issue
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#4668 [NUI] Fix the propertyNotification to be disposed in ScrollableBase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4669 [NUI] Remove debugging code
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4670 [NUI] Remove debugging code
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API10

#4671 [Applications.Common] Modify Post method of CoreApplication and CoreTask
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
  src/Tizen.Applications.Common/Tizen.Applications/CoreTask.cs
Labels: Internal API Changed, API10

#4647 [NUI] Apply dotnet-nui type
  test/NUIDnDSource/tizen-manifest.xml
  test/NUIDnDTarget/tizen-manifest.xml
  test/NUISettings/NUISettings/tizen-manifest.xml
  test/NUISettings/NUISettingsReset/tizen-manifest.xml
  test/NUITestSample/NUITestSample/tizen-manifest.xml
  test/Tizen.NUI.ComponentApplication/NUIComponentApplication/tizen-manifest.xml
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/tizen-manifest.xml
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/tizen-manifest.xml
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/tizen-manifest.xml
  test/Tizen.NUI.SeamlessSamples/BrokerSample/tizen-manifest.xml
  test/Tizen.NUI.SeamlessSamples/ProviderSample/tizen-manifest.xml
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/tizen-manifest.xml
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/tizen-manifest.xml
  test/Tizen.NUI.UIThread/tizen-manifest.xml
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/tizen-manifest.xml
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/tizen-manifest.xml
  test/Tizen.NUI.WidgetViewTest/1.SendInfo/Tizen.NUI.WidgetTest/tizen-manifest.xml
  test/Tizen.NUI.WidgetViewTest/1.SendInfo/Tizen.NUI.WidgetViewTest/tizen-manifest.xml
  test/Tizen.NUI.WindowSystem.Samples/tizen-manifest.xml
Labels: Devel-NUI

#4672 [NUI] Change property get/set not to use PropertyValue (patch set5)
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#4673 [NUI][API10] Change property get/set not to use PropertyValue (patch5)
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, API10

#4674 [NUI] Reduce PropertyValue creation during Animation
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyValue.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
Labels: Devel-NUI

#4675 [NUI][API10] Reduce PropertyValue creation during Animation
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyValue.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
Labels: API10

#4648 [Applications.WidgetControl] change return type of get instance list …
  src/Tizen.Applications.WidgetControl/Interop/Interop.WidgetService.cs
  src/Tizen.Applications.WidgetControl/Tizen.Applications/WidgetControl.cs
Labels: API10

#4636 [Applications.ThemeManager] Fix return type of theme loader add event callback for internal.
  src/Tizen.Applications.ThemeManager/Interop/Interop.ThemeManager.cs
  src/Tizen.Applications.ThemeManager/Tizen.Applications.ThemeManager/ThemeLoader.cs
Labels: API10

#4676 [NUI] Fix issue item is not unrealized after insertion.
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  test/NUITizenGallery/Examples/CollectionViewTest/CollectionViewObservableTestPage.xaml
  test/NUITizenGallery/Examples/CollectionViewTest/CollectionViewObservableTestPage.xaml.cs
Labels: Devel-NUI

#4677 [NUI] Modify TabView and TabBar to help customizing classes
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
Labels: Devel-NUI

#4682 [NUI] Fix relative layout issue on DefaultLinearItem
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
Labels: Devel-NUI

#4685 [NUI] Fix crash on ScrollableBase.Dispose()
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4678 [NUI] 1. Move the Transparency setting to OnMaximize().
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Internal API Changed, Devel-NUI

#4686 [NUI] Fix relative layout issue on DefaultLinearItem
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
Labels: API10

#4691 [Applications.Common] Increment the reference counter on SafeHandle instances
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/Bundle.cs
Labels: API11

#4693 [Applications.Common] Increment the reference counter on SafeHandle instances
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/Bundle.cs
Labels: API10

#4694 [Applications.Common] Remove unused variable
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API11

#4681 [NUI] Correct code format
  src/Tizen.NUI/src/internal/Xaml/ApplyPropertiesVisitor.cs
Labels: Internal API Changed, Devel-NUI

#4687 [NUI] Modify Menu to help customizing class
  src/Tizen.NUI.Components/Controls/Menu.cs
Labels: Devel-NUI

#4689 [NUI] Add constructor with style instance
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuItem.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/TabBar.cs
  src/Tizen.NUI.Components/Controls/TabContent.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, Devel-NUI
