Repository Samsung/TizenFX, pull requests merged in 2022-05, with the labels that each got.

#4217 [NUI] Update Tizen 7.0 UX for Button, Check and Switch
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/IoT_check_off_f.png
  src/Tizen.NUI.Components/res/IoT_check_on_f.png
  src/Tizen.NUI.Components/res/IoT_switch_track_off_f.png
  src/Tizen.NUI.Components/res/IoT_switch_track_on_f.png
Labels: Devel-NUI

#4215 [NUI] Fix crash issue in widget
  src/Tizen.NUI/src/internal/Widget/WidgetApplication.cs
Labels: Devel-NUI

#4214 [NUI] Fix MarginProperty and PaddingProperty with Layout
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  test/Tizen.NUI.LayoutSamples/Tizen.NUI.LayoutSamples/ObjectView.cs
Labels: Devel-NUI

#4143 [NUI][AT-SPI] Window: add highlight signal
  src/Tizen.NUI/src/internal/Interop/Interop.WindowAccessibilityHighlightSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowAccessibilityHighlightEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AtspiSample.cs
Labels: **NO MERGE**, Internal API Changed, Devel-NUI

#4218 [NUI] Apply Progress and Loading UX
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/IoT_progress_indeterminate.png
  test/Tizen.NUI.StyleGuide/Examples/ProgressExample.cs
  test/Tizen.NUI.StyleGuide/res/loading/Iot_Loading_1.png
  test/Tizen.NUI.StyleGuide/res/loading/Iot_Loading_2.png
  test/Tizen.NUI.StyleGuide/res/loading/Iot_Loading_3.png
  test/Tizen.NUI.StyleGuide/res/loading/Iot_Loading_4.png
  test/Tizen.NUI.StyleGuide/res/loading/Iot_Loading_5.png
  test/Tizen.NUI.StyleGuide/res/loading/Iot_Loading_6.png
Labels: Devel-NUI

#4216 [NUI] Apply Slider UX - Thumb and Tracks
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/IoT_slider_handler_disabled.png
  src/Tizen.NUI.Components/res/IoT_slider_handler_focused.png
  src/Tizen.NUI.Components/res/IoT_slider_handler_normal.png
  src/Tizen.NUI.Components/res/IoT_slider_handler_pressed.png
  test/Tizen.NUI.StyleGuide/Examples/SliderExample.cs
Labels: Devel-NUI

#4213 [NUI] DragAndDrop : change drag window reusable
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#4219 [NUI] Fix RelativeLayout to calculate ellipsis text from line target
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#4160 [NUI] apply Tizen 7.0 UX on CollectionView and Scrollbar and add samples.
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Style/ScrollbarStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  test/Tizen.NUI.StyleGuide/Examples/DefaultGridItemExample.cs
  test/Tizen.NUI.StyleGuide/Examples/DefaultLinearItemExample.cs
  test/Tizen.NUI.StyleGuide/Examples/DefaultTitleItemExample.cs
  test/Tizen.NUI.StyleGuide/res/icon/icon_arrow_down.svg
  test/Tizen.NUI.StyleGuide/res/icon/icon_arrow_up.svg
  test/Tizen.NUI.StyleGuide/res/images/grid_01.jpg
  test/Tizen.NUI.StyleGuide/res/images/grid_02.jpg
  test/Tizen.NUI.StyleGuide/res/images/grid_03.jpg
Labels: Devel-NUI

#4220 [NUI] Apply IsEnabled feature on Pickers.
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
  test/Tizen.NUI.StyleGuide/Examples/DatePickerExample.cs
  test/Tizen.NUI.StyleGuide/Examples/TimePickerExample.cs
Labels: Internal API Changed, Devel-NUI

#4207 [NUI] When calculating position coordinates, it should be calculated based on the nextFocusedView.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4221 [NUI] Update Tizen 7.0 UX for Button and Check- sizes and text color
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4224 [NUI] Change menu icon based on the latest Icon UX
  test/NUITizenGallery/res/menu.png
  test/Tizen.NUI.StyleGuide/res/menu.png
Labels: Devel-NUI

#4223 [NUI] DragAndDrop: fix svace error
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#4222 [NUI] Fix CheckBox and Button.Icon sizes in theme
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4225 [NUI] version update 22120
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4226 [Multimedia] Fix build error (#4204)
  src/Tizen.Multimedia/Tizen.Multimedia.sln
Labels: Devel-NUI

#4229 [NUI] Update control theme whose UX is not defined by Tizen 7.0
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4208 [NUI] Add SetFocusFinderRootView() and ResetFocusFinderRootView() api
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
Labels: Internal API Changed, Devel-NUI

#4230 [NUI][AT-SPI] window disconnect highlight signal
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#4211 [NUI][Test] Add TCs of NUI.Components to improve function coverage.
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/Navigation/TSAppBar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSCollectionView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSRecyclerView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSSelectionList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSAlertDialog.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSControl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDatePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSImageScrollBar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSLoading.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSProgress.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollableBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollbar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSlider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSwitch.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTimePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSToast.cs
Labels: Devel-NUI

#4205 [NUI] Fix FocusIndicator default value
  src/Tizen.NUI/res/keyboard_focus.9.png
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  test/Tizen.NUI.StyleGuide/Examples/DialogAndAlertDialogExample.cs
  test/Tizen.NUI.StyleGuide/Examples/FocusIndicatorTest.cs
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.cs
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.csproj
Labels: Internal API Changed, Devel-NUI

#4170 Modified to appropriate exception type
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/EditorWindow.cs
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodEditor.cs
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodExceptionFactory.cs
Labels: API10

#4238 [NUI] There was a problem calculating the scroll position. Change it to scroll only when needed.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4239 [NUI] remove previous shadowView before adding new shadowView
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#4240 [NUI] Fix Navigator not to make ContentPage.Content hide
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#4236 [NUI] Apply Tizen 7.0 UX to Navigator - Page animation
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#4232 [NUI] Set Padding to CheckBox and RadioButton based on the latest UX
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4231 [NUI] Fix TabButton's size calculation logic with the latest UX
  src/Tizen.NUI.Components/Controls/TabButton.cs
  src/Tizen.NUI.Components/Style/TabButtonStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  test/NUITizenGallery/Examples/TabViewTest/TabViewWithIconOnlyTest.cs
  test/NUITizenGallery/Examples/TabViewTest/TabViewWithIconOnlyTestPage.xaml
  test/NUITizenGallery/Examples/TabViewTest/TabViewWithIconOnlyTestPage.xaml.cs
  test/NUITizenGallery/Examples/TabViewTest/TabViewWithIconTest.cs
  test/NUITizenGallery/Examples/TabViewTest/TabViewWithIconTestPage.xaml
  test/NUITizenGallery/Examples/TabViewTest/TabViewWithIconTestPage.xaml.cs
  test/NUITizenGallery/res/home.png
  test/Tizen.NUI.StyleGuide/Examples/TabViewWithIconExample.cs
  test/Tizen.NUI.StyleGuide/Examples/TabViewWithIconOnlyExample.cs
  test/Tizen.NUI.StyleGuide/res/home.png
Labels: Internal API Changed, Devel-NUI

#4241 [NUI] version update 22121
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4242 Modified to appropriate exception type (#4170)
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/EditorWindow.cs
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodEditor.cs
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodExceptionFactory.cs
Labels: Devel-NUI

#4245 [NUI] Fix typo in ScrollableBase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4246 [NUI] Fix typo in ScrollableBase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API10

#4250 [NUI] Fix crash on Navigator to check ContentPage.Content correctly
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#4251 [NUI] Change IsCreateByXaml to virtual
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#4255 [NUI] Fixed svace issue
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: API9

#4256 [NUI] Remove useless API in FlexLayout
  src/Tizen.NUI/src/internal/Layouting/Interop/Interop.FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#4248 [NUI] Allows you to set the border to the top or bottom.
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AllAppsSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/close.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/leftCorner.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/maximalize.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/minimalize.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/rightCorner.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/smallwindow.png
Labels: Internal API Changed, Devel-NUI

#4262 [NUI] DragAndDrop: Fit drag window to shadow view
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
  test/NUIDnDSource/NUIDnDSource.cs
Labels: Devel-NUI

#4235 [NUI] Modify the size of Slider track
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  test/Tizen.NUI.StyleGuide/Examples/SliderExample.cs
Labels: Devel-NUI

#4259 [NUI] Refactoring key focusable feature for supporting non-focusable browsing.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollableBaseBindableProperty.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusAllChildrenSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusNoneChildrenSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusSample2.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusSparseChildrenSample.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollableBase.cs
Labels: Internal API Changed, Devel-NUI

#4244 [NUI] Fix ThumbColor property to change its own color
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Devel-NUI

#4268 [Applications.Common] Fix CultureInfoHelper class
  src/Tizen.Applications.Common/Interop/Interop.IniParser.cs
  src/Tizen.Applications.Common/Interop/Interop.Libraries.cs
  src/Tizen.Applications.Common/Tizen.Applications/CultureInfoHelper.cs
Labels: API10

#4271 [NUI] Replace the part that throws an exception with an error message to keep the behavior of previous version
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
Labels: Devel-NUI

#4273 [System][Feedback] Fix Tizen.System.Feedback not to throw exception i…
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API10

#4196 [NUI] Apply AccessibilityHidden for Picker
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI

#4252 [NUI] Change IsCreateByXaml to virtual
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: API9

#4264 [NUI] fix warnings. add null argument exceptions and comments.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#4265 [NUI][AT-SPI] Make GetAccessibilityRelations() usable
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Internal API Changed, Devel-NUI

#4266 [NUI][AT-SPI] Remove AccessibilityShouldReportZeroChildren()
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#4270 [NUI] Apply Tizen 7.0 UX on Pagination
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI.Components/res/nui_component_default_pagination_focus_dot.png
  src/Tizen.NUI.Components/res/nui_component_default_pagination_normal_dot.png
  test/Tizen.NUI.StyleGuide/Examples/PaginationExample.cs
  test/Tizen.NUI.StyleGuide/res/pagination/pagination_ic_nor.png
  test/Tizen.NUI.StyleGuide/res/pagination/pagination_ic_sel.png
Labels: Devel-NUI

#4269 [NUI] Supprot border for apps launched in full size.
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
Labels: Devel-NUI

#4179 [NUI][TEST] add multi Window dispose test
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MultiWindowDisposeTest.cs.cs
Labels: Devel-NUI

#4277 [NUI] Add Tizen.Tracer logs at some critical points for app launching performance
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#4274 [NUI] Support fade scrollbar feature.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollableBaseBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/ScrollbarBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollableBase.cs
Labels: Internal API Changed, Devel-NUI

#4280 Add AppControl.SetAutoRestart method
  src/Tizen.Applications.Common/Interop/Interop.AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: Internal API Changed, API10

#4263 [WebRTC] Add new DataChannel buffered amount APIs
  src/Tizen.Multimedia.Remoting/Interop/Interop.WebRTC.DataChannel.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCDataChannel.Events.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCDataChannel.cs
Labels: ACR Required, ACR Accepted, API10

#4281 [NUI] Add Tracer.End() to make a pair with Tracer.Begin()
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#4287 [NUI][TEST] add sample to use native image
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NativeImageSourceTest.cs
Labels: Devel-NUI

#4288 [NUI] Add Maximize and Minimize related APIs and Add Focusable property to the icon
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
Labels: Internal API Changed, Devel-NUI

#4272 [NUI] Fix MenuItem to add TextLabel and Icon always
  src/Tizen.NUI.Components/Controls/MenuItem.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, Devel-NUI

#4279 [NUI][AT-SPI] make window border icons work
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
Labels: Internal API Changed, Devel-NUI

#4289 [NUI] Version Update 22123
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4290 [NUI][TEST] add widget sample
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/SimpleWidgetApp.cs
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/Tizen.NUI.WidgetTest.csproj
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/Tizen.NUI.WidgetTest.sln
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/shared/res/Tizen.NUI.WidgetTest.png
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/tizen-manifest.xml
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/SimpleWidgetViewApp.cs
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/Tizen.NUI.WidgetViewTest.csproj
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/Tizen.NUI.WidgetViewTest.sln
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/shared/res/Tizen.NUI.WidgetViewTest.png
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/tizen-manifest.xml
Labels: Devel-NUI

#4296 [NUI]First use own bindingcontext
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#4282 [NUI] Support Layout property by ViewStyle
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Internal API Changed, Devel-NUI

#4295 [NUI] Fix bug that PreMultipliedAlpha not applied to Visual
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/TSImageView.cs
Labels: Devel-NUI

#4299 [NUI] Fix svace issues
  src/Tizen.NUI/src/public/Visuals/ArcVisual.cs
  src/Tizen.NUI/src/public/Visuals/ColorVisual.cs
Labels: API9

#4298 [NUI] Add manually set api10 20220530
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#4294 [NUI.Components] Fix issue of LowIndicatorImage & HighIndicatorImage could not shown normally
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Devel-NUI

#4300 [NUI] Add GetLastKeyEvent and GetLastTouchEvent api for Window
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI
