Repository Samsung/TizenFX, pull requests merged in 2022-11, with the labels that each got.

#4679 [NUI] Add input source type to Gesture.
  src/Tizen.NUI/src/internal/Interop/Interop.Gesture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TapGesture.cs
  src/Tizen.NUI/src/public/Events/Gesture.cs
  src/Tizen.NUI/src/public/Events/TapGesture.cs
Labels: Internal API Changed, Devel-NUI

#4696 [NUI] Add native handle null check in Uint16Pair
  src/Tizen.NUI/src/internal/Common/Uint16Pair.cs
Labels: Devel-NUI

#4697 [NUI] Add CornerRadiusPolicy property for VisualMap
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
Labels: Internal API Changed, Devel-NUI

#4680 [NUI] Fix some errors when we remove NUI_PROPERTY_CHANGE tag
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#4653 [NUI] Remove AnyContainerBase type
  src/Tizen.NUI/src/internal/Common/Any.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Any.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_f_p_q_const__Dali__Any__AnyContainerBase__void.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_f_r_q_const__Dali__Any__AnyContainerBase__p_Dali__Any__AnyContainerBase.cs
Labels: Devel-NUI

#4700 [NUI.Scene3D] Transition animation with FieldOfView
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Devel-NUI

#4695 [NUI] add null type checking after as operation.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#4705 [NUI] Fixed crash when destroy border window.
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4701 [NUI][EXaml] Support Dictionary
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXaml/EXamlAddToDictionary.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/Utility/EXamlOperationType.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
Labels: Devel-NUI

#4706 [NUI] Version update 22146
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4709 [NUI] Lets you know if the window is maximized.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#4704 [NUI] Fix SVACE issue
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Devel-NUI

#4712 [NUI] Fix SVACE issue
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: API10

#4711 [WiFi] Add lock to _callback_map
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: API10

#4713 [WiFi] Add lock to _callback_map
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: API11

#4715 [NUI] Modify TabContent to help customizing class
  src/Tizen.NUI.Components/Controls/TabContent.cs
  src/Tizen.NUI.Components/Controls/TabView.cs
Labels: Internal API Changed, Devel-NUI

#4683 [NUI][NUI.Devel] Fix build errors of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/Tizen.NUI.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSBorderWindow.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSDefaultBorder.cs
  test/Tizen.NUI.Tests/nunit.framework/nunit.framework.csproj
Labels: Devel-NUI

#4720 [Applications.Common] Keep delegate objects
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfo.cs
Labels: API10

#4719 [Applications.Common] Keep delegate objects
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfo.cs
Labels: API11

#4721 [NUI][NUI.Devel] Fix build errors of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSAny.cs
Labels: Devel-NUI

#4718 [NUI][EXaml] Fix build error of Array/Extents in EXaml
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
  src/Tizen.NUI/src/internal/EXaml/Action/RootAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/AddToDictionary.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateResourceDictionary.cs
  src/Tizen.NUI/src/internal/EXaml/Utility/EXamlOperationType.cs
Labels: Devel-NUI

#4690 [NUI] Add Skybox in SceneView
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.SceneView.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Internal API Changed, Devel-NUI

#4723 [NUI] Add Desktop WindowType
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Internal API Changed, Devel-NUI

#4724 [NUI] Add back trace and debugging msg when native handle is null
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API10

#4725 [NUI] Add back trace and debugging msg when SwigCPtr is null
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#4717 Add wheelEvent and WheelScrollDistance property on ScrollableBase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollableBaseBindableProperty.cs
Labels: Internal API Changed, Devel-NUI

#4727 [NUI] Changed from BaseHande to BindableObject, IDispose
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Internal API Changed, Devel-NUI

#4728 [NUI] Changed from BaseHande to BindableObject, IDispose
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Internal API Changed, API10

#4731 [NUI] remove unnecessary dispose code.
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: API10

#4730 [NUI] remove unnecessary dispose code.
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4729 [NUI][NUI.Components] Fix SVACE issue in CollectionView.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Devel-NUI

#4732 [NUI][NUI.Components] Fix SVACE issue in CollectionView.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: API10

#4733 [NUI] change View and Window events pattern matching with latest NUI
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/WindowEvent.cs
Labels: API8

#4738 [Build] Update to sync API11 to tizen gerrit
  .github/branch-metadata.yml
Labels: API11

#4743 [API10][NUI.Scene3D] Remove useless default property setter on Model
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: API10

#4742 [NUI.Scene3D] Remove useless default property setter on Model
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Devel-NUI

#4539 [NUI] Update summary of RegisterHttpRequestInterceptedCallback
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
Labels: Devel-NUI

#4735 [EXaml] Support import xaml to ResourceDictionary in EXaml
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXaml/EXamlCreateObject/EXamlCreateArrayObject.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
Labels: Devel-NUI

#4739 [NUI] Add CameraTransitionFinished in SceneView
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Internal API Changed, API10

#4746 [NUI] Add Desktop WindowType
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Internal API Changed, API10

#4740 [NUI] Support device and window orientation event
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Application/NUIWidgetCoreBackend.cs
  src/Tizen.NUI/src/internal/Common/DeviceOrientationChangedSignalType.cs
  src/Tizen.NUI/src/internal/Interop/Interop.DeviceOrientationChangedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowOrientationChangedSignal.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/internal/Window/WindowOrientationChangedSignal.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Application/NUIWidgetApplication.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowEventsTest.cs
  test/Tizen.NUI.UIThread/Tizen.NUI.UIThread.cs
Labels: Internal API Changed, Devel-NUI

#4750 [NUI] Version update 22147
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4751 [NUI] Fix version with 22201
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4737 [NUI] Move Matrix API as public (hidden)
  src/Tizen.NUI/src/internal/Interop/Interop.Matrix.cs
  src/Tizen.NUI/src/public/Common/Matrix.cs
  src/Tizen.NUI/src/public/Common/Matrix3.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/Program.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/Common/TSMatrix.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/Common/TSMatrix3.cs
Labels: Internal API Changed, Devel-NUI

#4722 [NUI] Add CameraTransitionFinished in SceneView
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Internal API Changed, Devel-NUI

#4756 [NUI] Implement missing properties for LottieAnimationView.
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#4726 [NUI.Scene3D] OrthographicSize native binding
  src/Tizen.NUI.Scene3D/src/internal/CameraBindableProperty.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Camera.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Camera.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Devel-NUI

#4754 [NUI] Add ScreenPositionSize
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Internal API Changed, Devel-NUI

#4759 [NUI] Add ScreenPositionSize
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Internal API Changed, API10

#4758 [NUI][NUI.Components.Devel] Fix build errors of NUI.Components.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Tizen.NUI.Components.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.Internal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDatePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSProgress.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSScrollableBase.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSlider.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTabContent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTimePicker.cs
Labels: Devel-NUI

#4744 [NUI] Add FontSizeScale in TextStyle
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, Devel-NUI

#4763 [NUI] Remove useless macros
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyValue.cs
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
Labels: API10

#4764 [NUI] Remove useless macros
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyValue.cs
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
Labels: Devel-NUI

#4769 [NUI] Version update 22202
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4734 [WebRTC] Enable event debug log
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.Events.cs
Labels: API11

#4772 [NUI] Fix TextEditor default theme
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, Devel-NUI

#4773 [Build] Bump ssh-agent to 0.7.0
  .github/workflows/deploy-packages.yml
Labels: API11

#4774 [Build] Use ubuntu-20.04
  .github/workflows/build-branches.yml
  .github/workflows/build-pull-request.yml
  .github/workflows/check-api-level.yml
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
  .github/workflows/deploy-packages.yml
  .github/workflows/nightly-release.yml
  .github/workflows/postback-pull-request.yml
Labels: API11

#4778 [NUI] Rebase master
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, API11

#4781 [NUI] Add webview API for url,change event.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView.cs
  src/Tizen.NUI/src/internal/WebViewUrlChangedEventArgs.cs
Labels: Internal API Changed, API8

#4783 [NUI] fix to be able to set null to AnimatedVectorImageView.ResoureUrl property
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
Labels: Devel-NUI

#4782 [NUI] fix to be able to set null to AnimatedVectorImageView.ResoureUrl property
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
Labels: API10

#4775 [NUI] Fix Layouter to handle empty group case.
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#4784 [NUI] Version update 22203
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI
