Repository Samsung/TizenFX, pull requests merged in 2022-03, with the labels that each got.

#3938 [NUI][AT-SPI] Support multiple AT-SPI interfaces for View
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#3991 [NUI][XamlBuild] Fix issue of project which hasn't debug symbol
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NodeILExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlCTask.cs
Labels: API9

#3914 [NUI][ATSPI] Set AccessibilityHidden for DefaultLinearItem Seperator
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
Labels: Internal API Changed, Devel-NUI

#3989 [NUI][AT-SPI] Set CollectionView role to List
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Internal API Changed, Devel-NUI

#3995 [NUI] Update the touch description.
  src/Tizen.NUI/src/public/Events/Touch.cs
Labels: Devel-NUI

#3987 [NUI][AT-SPI] Static class Accessibility
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  test/NUITestSample/NUITestSample/examples/AtspiTest.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibility.cs
Labels: Internal API Changed, Devel-NUI

#3998 [Applications.Common] Add Globalization-invariant mode check
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
  src/Tizen.Applications.Common/Tizen.Applications/CultureInfoHelper.cs
Labels: API10

#3997 [NUI] Version update (2.1.11)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3999 [Applications.Common] Add Globalization invariant mode check (#3998)
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
  src/Tizen.Applications.Common/Tizen.Applications/CultureInfoHelper.cs
Labels: Devel-NUI

#3842 [NUI] Add New NUI DnD Class and Demo
  src/Tizen.NUI/src/internal/Interop/Interop.DragAndDrop.cs
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
  src/Tizen.NUI/src/public/DragAndDrop/DragEvent.cs
  test/NUIDnDSource/NUIDnDSource.cs
  test/NUIDnDSource/NUIDnDSource.csproj
  test/NUIDnDSource/res/dragsource.png
  test/NUIDnDSource/res/droptarget.png
  test/NUIDnDSource/shared/res/NUIDnDSource.png
  test/NUIDnDSource/shared/res/dragsource.png
  test/NUIDnDSource/shared/res/droptarget.png
  test/NUIDnDSource/tizen-manifest.xml
  test/NUIDnDTarget/NUIDnDTarget.cs
  test/NUIDnDTarget/NUIDnDTarget.csproj
  test/NUIDnDTarget/res/droptarget.png
  test/NUIDnDTarget/shared/res/NUIDnDTarget.png
  test/NUIDnDTarget/tizen-manifest.xml
Labels: Internal API Changed, Devel-NUI

#3974 [NUI][Test] xaml indexer sample
  test/NUITizenGallery/Examples/XamlIndexerTest/XamlIndexerTest.cs
  test/NUITizenGallery/Examples/XamlIndexerTest/XamlIndexerTest.xaml
  test/NUITizenGallery/Examples/XamlIndexerTest/XamlIndexerTest.xaml.cs
Labels: Devel-NUI

#4003 [NUI][Samples] Remove error message on Tizen.NUI.Samples
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliTableView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/style/demo-theme.json
Labels: Devel-NUI

#3993 [NUI][AT-SPI] text: add "GetRangeExtents" interface
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#4008 [NUI] Prevent to call button up event when button is not pressed
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
Labels: API8

#4009 [NUI] Prevent to call button up event when button is not pressed
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
Labels: API9

#4012 [Build] Use dotnet sdk 6.0.102 in release workflow
  .github/workflows/deploy-packages.yml
Labels: API10

#4016 [Build] Use dotnet sdk 6.0.102 in release workflow (#4012)
  .github/workflows/deploy-packages.yml
Labels: Devel-NUI

#4017 [NUI] version update (2.1.12)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3943 [NUI] Add an API for evaluating js with callback in WebView.
  src/Tizen.NUI/src/public/WebView/WebView.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: Internal API Changed, Devel-NUI

#4020 [NUI] integration from DevelNUI to master
  src/Tizen.NUI/src/public/WebView/WebView.cs
  test/Tizen.NUI.WebViewTest/SimpleWebViewApp.cs
Labels: API10

#4007 [NUI] Allow BorderlineWidth without BackgroundColor setup.
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#4010 [NUI] Fix the mismatch between the selected state and clicked event.
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
Labels: Devel-NUI

#4024 [NUI] Add Selected theme color to MenuItem
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#4011 [NUI] Add window min max feature
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest.cs
Labels: Internal API Changed, Devel-NUI

#4025 [Bluetooth] Fix svace issues
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
Labels: API10

#4027 [XamlBuild] Fix issue of project which hasn't debug symbol
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.targets
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlTask.cs
Labels: Devel-NUI

#4029 [Bluetooth] Fix svace issues (#4025)
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothGatt.cs
Labels: Devel-NUI

#3986 [NUI] Add a virtual bool HitTest(Touch touch) method
  src/Tizen.NUI/src/internal/Interop/Interop.ActorSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/EventPropagationSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/HitTestSample.cs
Labels: Internal API Changed, Devel-NUI

#4028 [NUI][SVACE]Fix SVACE issue of 483571
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#4032 [NUI][SVACE] Fix SVACE issues
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Wearable/src/public/CircularPagination.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
Labels: Devel-NUI

#4023 [NUI] Fix to invoke SelectedChanged when IsSelected is changed by setter
  src/Tizen.NUI.Components/Controls/SelectButton.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CheckBoxSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MenuSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RadioButtonSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TabViewSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
Labels: Devel-NUI

#3965 [NUI][AT-SPI] Remove interops for SetAccessibilityConstructor()
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI

#4036 [NUI][AT-SPI] Remove interops for SetAccessibilityConstructor()
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: API10

#4038 [NUI] version update 22113
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4039 [NUI] version update 22113
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: API10

#4041 [NUI] Fix crash issue when visual create failed
  src/Tizen.NUI/src/public/BaseComponents/VisualView.cs
Labels: Devel-NUI

#4042 [NUI][XamlBuild] Fix internal class generate error
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#4021 [XamlBuild] Add XamlOptimization to use xaml/injection/examl
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.targets
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#4047 [NUI] Fix test-hub crash issue
  src/Tizen.NUI/src/internal/Common/DebugFileLogging.cs
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#4049 [NUI] Fix svace issue
  src/Tizen.NUI/src/public/XamlBinding/XamlStyle.cs
Labels: API9

#4048 [NUI] fix svace issue
  src/Tizen.NUI/src/public/XamlBinding/XamlStyle.cs
Labels: Devel-NUI

#4050 [NUI] Fix test-hub crash issue
  src/Tizen.NUI/src/internal/Common/DebugFileLogging.cs
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API10

#4046 [NUI][XamlBuild] Fix Xaml issues reported by VD
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlContext.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NodeILExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlTask.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateObject.cs
Labels: API9

#3992 [NUI] Fix ImageView.Image property bugs + Make AnimatedImageView use LazyUpdate
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/res/dali-logo-anim.gif
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/TSAnimatedImageView.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/TSImageView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AnimatedImageViewTest.cs
Labels: Internal API Changed, Devel-NUI

#4002 [NUI] Add API for consuming keyEvent in Widget
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetImpl.cs
  src/Tizen.NUI/src/internal/Widget/WidgetImpl.cs
  src/Tizen.NUI/src/public/Widget/Widget.cs
Labels: Internal API Changed, Devel-NUI

#4052 [NUI] Fix FlexLayout size calculation issue caused by typo
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#4053 [NUI] version update 22114
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4061 [NUI] Fix SVACE issue
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API10

#4064 [NUI][XamlBuild] Support use root node inheirt nest type
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#4066 [XamlBuild] Fix issue of boolean element node
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
Labels: API9

#4065 [NUI] Add Button ItemHorizontalAlignment and ItemVerticalAlignment
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Style/ButtonStyle.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, Devel-NUI

#3976 [NUI] Do not set value of property again when theme is changed.
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ThemeChangeSample.cs
Labels: Devel-NUI

#4006 [NUI] Add a new Tizen.NUI.ICustomAwareDeviceFocusAlgorithm.
  src/Tizen.NUI/src/internal/Common/CustomAlgorithmInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.CustomAlgorithmInterface.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  src/Tizen.NUI/src/public/Input/ICustomAwareDeviceFocusAlgorithm.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/GetNextFocusSample.cs
Labels: Internal API Changed, Devel-NUI

#4015 [NUI] Supports Clockwise and CounterClockwise focus movement.
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CustomWheelEventSample.cs
Labels: Internal API Changed, Devel-NUI

#4031 [NUI][AT-SPI] Add ScreenReaderEnabled, Disabled
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Internal API Changed, Devel-NUI

#4071 [NUI][XamlBuild] Remove the reference of Tizen.NUI.XamlBuild in NUITizenGallery
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/internal/Xaml/MarkupExtensions/BindingExtension.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXaml/EXamlCreateObject/EXamlCreateArrayObject.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXaml/EXamlCreateObject/EXamlCreateObject.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlExpandMarkupsVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/Utility/EXamlUtility.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/BindablePropertyConverter.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/TypeTypeConverter.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledMarkupExtensions/StaticExtension.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledMarkupExtensions/TypeExtension.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/ExpandMarkupsVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XmlTypeExtensions.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateArrayObject.cs
  test/NUITizenGallery/Examples/CarouselTest/CarouselViewFocusTestPage.xaml
  test/NUITizenGallery/Examples/MenuTest/MenuTestMenu.xaml.cs
  test/NUITizenGallery/NUITizenGallery.csproj
Labels: API9

#4058 [NUI][Xaml] Fix issue of call SetBinding in c# code
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#4062 [NUI] Make PropertyMap look like Dictionary.
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyMap.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PropertyMapSample.cs
Labels: Internal API Changed, Devel-NUI

#4068 [NUI][XamlBuild] Set node as null when calling ExitXaml().
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: Devel-NUI

#4072 [NUI] sync from master to DevelNUI
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#4070 [NUI] propose Slider's key navigation and edit mode, Add more samples in StyleGuilde
  src/Tizen.NUI.Components/Controls/Slider.cs
  test/Tizen.NUI.StyleGuide/Examples/AlertDialogExample.cs
  test/Tizen.NUI.StyleGuide/Examples/CheckBoxExample.cs
  test/Tizen.NUI.StyleGuide/Examples/PaginationExample.cs
  test/Tizen.NUI.StyleGuide/Examples/ProgressExample.cs
  test/Tizen.NUI.StyleGuide/Examples/RadioButtonExample.cs
  test/Tizen.NUI.StyleGuide/Examples/SwitchExample.cs
  test/Tizen.NUI.StyleGuide/res/pagination/pagination_ic_next.png
  test/Tizen.NUI.StyleGuide/res/pagination/pagination_ic_nor.png
  test/Tizen.NUI.StyleGuide/res/pagination/pagination_ic_return.png
  test/Tizen.NUI.StyleGuide/res/pagination/pagination_ic_sel.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_check_on_24c447.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_check_on_9762d9.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_check_on_ec7510.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_radio_on_24c447.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_radio_on_9762d9.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_radio_on_ec7510.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_slide_handler_normal_24c447.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_slide_handler_normal_9762d9.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_slide_handler_normal_ec7510.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_slide_handler_press_24c447.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_slide_handler_press_9762d9.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_btn_slide_handler_press_ec7510.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_switch_bg_on_24c447.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_switch_bg_on_9762d9.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_switch_bg_on_dim_24c447.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_switch_bg_on_dim_9762d9.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_switch_bg_on_dim_ec7510.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/controller_switch_bg_on_ec7510.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/picker_date_select_24c447.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/picker_date_select_9762d9.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/[Controller] App Primary Color/picker_date_select_ec7510.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_check.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_check_off.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_check_on.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_check_shadow.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_radio_off.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_radio_on.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_slide_handler_effect.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_slide_handler_normal.png
  test/Tizen.NUI.StyleGuide/res/radiobutton/controller_btn_slide_handler_press.png
  test/Tizen.NUI.StyleGuide/res/switch/controller_switch_bg_off.png
  test/Tizen.NUI.StyleGuide/res/switch/controller_switch_bg_off_dim.png
  test/Tizen.NUI.StyleGuide/res/switch/controller_switch_bg_on.png
  test/Tizen.NUI.StyleGuide/res/switch/controller_switch_bg_on_dim.png
  test/Tizen.NUI.StyleGuide/res/switch/controller_switch_handler.png
  test/Tizen.NUI.StyleGuide/res/switch/controller_switch_handler_dim.png
Labels: Internal API Changed, Devel-NUI

#4073 [NUI] version update 22115
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4060 [NUI] Fix SVACE issue
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
Labels: Devel-NUI

#4075 [NUI][XamlBuild] Fix Xaml issues reported by VD
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlContext.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NodeILExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlTask.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateObject.cs
Labels: Devel-NUI

#4077 Revert "[NUI][XamlBuild] Fix Xaml issues reported by VD"
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlContext.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NodeILExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlTask.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateObject.cs
Labels: Devel-NUI

#4079 [NUI][XamlBuild] Fix Xaml issues reported by VD
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlContext.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NodeILExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlTask.cs
  src/Tizen.NUI/src/internal/EXaml/Action/GetValueAction.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateObject.cs
Labels: Devel-NUI

#4055 [NUI][TCSACR-483] Remove Slider deprecated events and eventArgs
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/Constants.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSSlider.cs
Labels: ACR Required, Devel-NUI

#4085 [NUI][XamlBuild] Remove the reference of Tizen.NUI.XamlBuild in NUITizenGa…
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/internal/Xaml/MarkupExtensions/BindingExtension.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXaml/EXamlCreateObject/EXamlCreateArrayObject.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXaml/EXamlCreateObject/EXamlCreateObject.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlCreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlExpandMarkupsVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/EXamlSetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/EXamlBuild/Utility/EXamlUtility.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/BindablePropertyConverter.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/TypeTypeConverter.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledMarkupExtensions/StaticExtension.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledMarkupExtensions/TypeExtension.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CreateObjectVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/ExpandMarkupsVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XmlTypeExtensions.cs
  src/Tizen.NUI/src/internal/EXaml/Operation/CreateArrayObject.cs
  test/NUITizenGallery/Examples/CarouselTest/CarouselViewFocusTestPage.xaml
  test/NUITizenGallery/Examples/MenuTest/MenuTestMenu.xaml.cs
  test/NUITizenGallery/NUITizenGallery.csproj
Labels: Devel-NUI

#4063 [NUI] propose a way to change the value of Picker by up/down direction key
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: Devel-NUI

#4096 [NUI][Tizen.NUI.PerfNew] Add View creation performance benchmark app
  test/Tizen.NUI.PerfNew/PerfNew.cs
  test/Tizen.NUI.PerfNew/Tizen.NUI.PerfNew.code-workspace
  test/Tizen.NUI.PerfNew/Tizen.NUI.PerfNew.csproj
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-1.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-10.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-11.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-12.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-13.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-14.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-15.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-16.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-17.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-18.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-19.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-2.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-20.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-21.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-22.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-23.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-24.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-25.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-26.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-27.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-28.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-29.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-3.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-30.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-31.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-32.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-33.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-34.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-35.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-36.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-37.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-38.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-39.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-4.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-40.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-41.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-42.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-43.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-44.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-45.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-46.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-47.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-48.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-49.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-5.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-50.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-51.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-52.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-53.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-6.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-7.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-8.jpg
  test/Tizen.NUI.PerfNew/res/image/gallery-medium-9.jpg
  test/Tizen.NUI.PerfNew/shared/res/Tizen.NUI.PerfNew.png
  test/Tizen.NUI.PerfNew/tizen-manifest.xml
Labels: Devel-NUI

#4098 [NUI][TEST] change Tizen.NUI.Components.Devel.Tests to run on the tizen_7.0's csharp-tct
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Program.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Properties/Resources.Designer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Properties/Resources.resx
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/README.md
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Tizen.NUI.Components.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Tizen.NUI.Components.Devel.Tests.sln
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/res/demoVideo.mp4
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/shared/res/Tizen.NUI.Components.Devel.Tests.png
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/shared/res/nui-csharp.png
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/tizen-manifest.xml
Labels: Devel-NUI

#4093 [NUI] remove warning messages with refactoring collectionView bindableProperties
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionViewBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: Internal API Changed, Devel-NUI

#4091 [NUI] Checks the button area if GrabTouchAfterLeave is true.
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
Labels: Devel-NUI

#4087 [NUI][XamlBuild] Set node as null after calling ExitXaml().
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: API9

#4082 [NUI] Add SetDefaultGrabTouchAfterLeave api.
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DefaultGrabTouchAfterLeaveSample.cs
Labels: Internal API Changed, Devel-NUI
