Repository Samsung/TizenFX, pull requests merged in 2022-06, with the labels that each got.

#4297 [NUI] Add border resizing policy and add api to show/hide border when OverlayMode is true.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
Labels: Internal API Changed, Devel-NUI

#4305 [NUI] Version Update 22125
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4306 [NUI][Xaml] Support Dictionary which has string key in Xaml
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
Labels: Devel-NUI

#4307 [NUI][Xaml] Support Dictionary which has string key in Xaml
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/SetPropertiesVisitor.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/TypeReferenceExtensions.cs
Labels: API9

#4308 [NUI] Apply SetFocusFinderRootView() to DialogPage only when DefaultAlgorithm Enabled
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
Labels: Devel-NUI

#4312 [NUI] version update 22053
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: API9

#4317 Revert "[NUI] Support Layout property by ViewStyle"
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Internal API Changed, API10

#4316 Revert "[NUI] Support Layout property by ViewStyle"
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Internal API Changed, Devel-NUI

#4315 [NUI] Add CloseDelegate for closing the application by the border.
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4319 [NUI] Remove GetDescription() in TextLabelBindableProperty
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
Labels: Devel-NUI

#4324 [NUI][Xaml] Change default value of XamlOptimization to 1 (use inject…
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlGTask.cs
Labels: Devel-NUI

#4261 [WebRTC] Add IsLooping API for MediaFileSource
  src/Tizen.Multimedia.Remoting/Interop/Interop.WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaFileSource.cs
Labels: ACR Required, ACR Accepted, API10

#4322 [NUI] Allows user to set the height of the top and bottom borders respectively
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
Labels: Devel-NUI

#4328 [NUI] Replace GetValueByDescription in TextLabel Alignment
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
Labels: Devel-NUI

#4329 [NUI] Initialize Drag window position and size based on Shadow View
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#4325 [NUI] Fix to invoke ValueChanged event when changing the value to Key
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Internal API Changed, Devel-NUI

#4339 [NUI] Changed Border Icons
  src/Tizen.NUI/res/close.png
  src/Tizen.NUI/res/leftCorner.png
  src/Tizen.NUI/res/maximalize.png
  src/Tizen.NUI/res/minimalize.png
  src/Tizen.NUI/res/rightCorner.png
  src/Tizen.NUI/res/smallwindow.png
Labels: Devel-NUI

#4343 [NUI] Fix Key constructor's cMemoryOwn as false
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4344 [NUI] Fix Key constructor's cMemoryOwn as false
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API10

#4323 [NUI][Xaml] Change default value of XamlOptimization to 1 (use injection)
  pkg/Tizen.NET.API9/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlGTask.cs
Labels: API9

#4345 [NUI] Fix comments according to the document review
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Common/StyleManager.cs
  src/Tizen.NUI/src/public/CustomView/CustomViewRegistry.cs
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
  src/Tizen.NUI/src/public/Input/KeyValue.cs
  src/Tizen.NUI/src/public/Layouting/LayoutTransition.cs
  src/Tizen.NUI/src/public/Layouting/MeasureSpecification.cs
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
Labels: API9

#4330 [NUI] Fix comments according to the document review
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Common/StyleManager.cs
  src/Tizen.NUI/src/public/CustomView/CustomViewRegistry.cs
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
  src/Tizen.NUI/src/public/Input/KeyValue.cs
  src/Tizen.NUI/src/public/Layouting/LayoutTransition.cs
  src/Tizen.NUI/src/public/Layouting/MeasureSpecification.cs
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
Labels: Devel-NUI

#4346 Add new internal APIs for UIThread model
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
  src/Tizen.Applications.Common/Tizen.Applications/CoreTask.cs
Labels: Internal API Changed, API10

#4349 [NUI] Slider track make correct value.
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Devel-NUI

#4347 [NUI] Open text selection APIs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: ACR Required, Internal API Changed, API9

#4348 [NUI] Open Text InputFilter APIs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: ACR Required, Internal API Changed, API9

#4332 [NUI] If window is in overlay mode, pass the hittest so that the lower layer can be hit.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
Labels: Internal API Changed, Devel-NUI

#4351 [NUI] Add dispose.
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#4352 [NUI] Fix not to use PROFILE_MOBILE
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SwitchSample.cs
  test/Tizen.NUI.StyleGuide/Examples/SwitchExample.cs
Labels: Devel-NUI

#4353 [NUI] Fix not to do NUI.Components preloading on TV target
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI.Components/Tizen.NUI.Components.preload
Labels: Devel-NUI

#4350 [NUI][AT-SPI] Apply AccessibilityHidden to Switch
  src/Tizen.NUI.Components/Controls/Switch.cs
Labels: Devel-NUI

#4340 [NUI] Fix scrollableBase focus issue.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusAllChildrenSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusNoneChildrenSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusSparseChildrenSample.cs
Labels: Devel-NUI

#4354 [NUI] Add maximum motion age of pan motion gesture
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PanGestureDetector.cs
  src/Tizen.NUI/src/public/Events/PanGestureDetector.cs
Labels: Internal API Changed, Devel-NUI

#4355 [WebRTC] Add parameter null check code
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: API10

#4360 [NUI] version update 22126
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4362 [NUI] Fix IsSet return false
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#4364 [NUI] DevelNUI => master
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: API10

#4367 [NUI] Make the velocity of slider as 1% at key event
  src/Tizen.NUI.Components/Controls/Slider.cs
Labels: Devel-NUI

#4365 [NUI] Use IsSet replace changedPropertiesSet
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Devel-NUI

#4321 [MediaTool] Add new Create API to support increasing ref count
  src/Tizen.Multimedia/Interop/Interop.MediaTool.cs
  src/Tizen.Multimedia/MediaTool/MediaPacket.cs
Labels: ACR Required, API10

#4374 [NUI] Add function to set maximum/minimum size
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest.cs
Labels: Internal API Changed, Devel-NUI

#4375 [NUI] Sets the minimum / maximum size to be resized by RequestResizeToServer.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#4376 [NUI] Version up nui22128
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4378 [NUI] Rebase master --> DevelNUI
  src/Tizen.Multimedia/Interop/Interop.MediaTool.cs
  src/Tizen.Multimedia/MediaTool/MediaPacket.cs
Labels: ACR Required, Devel-NUI

#4377 [NUI] Fixed SVACE issues
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#4372 [NUI] DragAndDrop: Add NotSupportedException for Multi-Window Feature
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#4371 [NUI][XamlBuild] Correct some code to right formart
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
Labels: Devel-NUI

#4370 [NUI] Fix AccessibilityCalculateStatesWrapper
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Devel-NUI

#4278 [NUI] Add TextSelectionPopupStyle for 7.0 UX
  src/Tizen.NUI/res/IoT-selection-popup-background.9.png
  src/Tizen.NUI/res/IoT-selection-popup-border.9.png
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/ManualPINVOKE.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, Devel-NUI

#4267 [NUI] test: Add WebView DigitalHumanLayer Sample
  test/DigitalHumanLayer/DigitalHumanLayer.cs
  test/DigitalHumanLayer/DigitalHumanLayer.csproj
  test/DigitalHumanLayer/shared/res/DigitalHumanLayer.png
  test/DigitalHumanLayer/tizen-manifest.xml
Labels: Devel-NUI

#4035 [NUI][TCSACR-482] Make PrimaryCursorPosition property public
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextField.cs
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#4258 [NUI] [TCSACR-484] Make SelectionStarted event public
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#4380 [NUI] Fix Picker issues
  src/Tizen.NUI.Components/Controls/Picker.cs
Labels: Devel-NUI
