Repository Samsung/TizenFX, pull requests merged in 2022-01, with the labels that each got.

#3684 [Nlp] Fix parse method to add IFormatProvider arg
  src/Tizen.Nlp/Tizen.Nlp/NaturalLanguageProcess.cs
Labels: Stale, API10

#3827 [NUI] Use ActionUpdateProperty for CornerRadius and Borderline
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Internal API Changed, Devel-NUI

#3829 [NUI] Update ImageView properties lazy
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
Labels: **NO MERGE**, Devel-NUI

#3833 [MediaPlayer] Fix description error
  src/Tizen.Multimedia.MediaPlayer/Player/Player.Properties.cs
Labels: docs, API10

#3834 [MediaPlayer] Fix description error(API9)
  src/Tizen.Multimedia.MediaPlayer/Player/Player.Properties.cs
Labels: docs, API9

#3832 [NUI] fix warning for text components
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#3779 [WebRTC] Prevent cb instance from GC
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: API10

#3835 [WebRTC] Prevent cb instance from GC
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: Bug, API9

#3798 [NUI] Add to call UnregisterDefaultLabel when Page is popped
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#3765 [NUI][AT-SPI] Add AccessibilityHidden property
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Internal API Changed, Devel-NUI

#3836 [NUI] Delete Xaml seamless
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/DefaultView.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/NUIBrokerSample.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/NUIBrokerSample.csproj
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/ObjectAnimationManager.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/SeamlessBackward.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/SeamlessAnimation/SeamlessForward.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/ViewModel/DelegateCommand.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/ViewModel/MainViewModel.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/XamlPage.xaml.cs
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/add.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/arrow-89-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/bar-chart-5-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/clock-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/emart.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg1.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg15.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/familyboard_setting_bg6.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/layout/XamlPage.xaml
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/pic_1.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/play-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/profile.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/res/video-play-64.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/shared/res/NUIBrokerSample.png
  test/Tizen.NUI.Seamless.Xaml/NUIBrokerSample/tizen-manifest.xml
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/NUIMusicPlayer.cs
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/NUIMusicPlayer.csproj
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/XamlPage.xaml.cs
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/add.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/arrow-89-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/bar-chart-5-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/clock-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/layout/XamlPage.xaml
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/pic_1.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/play-128.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/res/profile.jpg
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/shared/res/NUIMusicPlayer.png
  test/Tizen.NUI.Seamless.Xaml/NUIMusicPlayer/tizen-manifest.xml
Labels: Devel-NUI

#3831 [NUI] Make SynchronousLoading use index key
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#3824 [NUI] Add Xaml line info for bindable object
  src/Tizen.NUI/src/internal/Xaml/CreateValuesVisitor.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Internal API Changed, Devel-NUI

#3838 [NUI] Fix the defect that CurrentFrame is not updated properly when AnimatedVectorImageView stops
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
Labels: API9

#3840 [NUI][ATSPI] Make ScrollableBase work for ScrollToChild
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Internal API Changed, Devel-NUI

#3841 [NUI] Add EnableFontSizeScale to Text components
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextField.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextLabel.cs
Labels: Internal API Changed, Devel-NUI

#3845 [NUI] Fix issue if application info is null
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
Labels: API9

#3843 [NUI] Support Layout for Multi-Window
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MultiWindowLayoutSample.cs
Labels: Devel-NUI

#3846 [NUI] Update ImageView properties lazy
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
Labels: Internal API Changed, API9

#3847 [NUI] Fix svace issue
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI/src/public/Common/Container.cs
Labels: Devel-NUI

#3850 Revert "[NUI] Update ImageView properties lazy"
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
Labels: Internal API Changed, API9

#3851 [NUI] Fix bug when ResourceUrl is empty string
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#3852 Revert "[NUI] Support Layout for Multi-Window"
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MultiWindowLayoutSample.cs
Labels: Devel-NUI

#3854 [NUI] Version update (2.1.04)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3844 [NUI] Add Strikethrough Set/Get methods
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextConstants.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextMapHelper.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextField.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextLabel.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextMapHelper.cs
Labels: Internal API Changed, Devel-NUI

#3812 [NUI] Add TextFieldLayout and TextEditorLayout
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TextEditorLayoutTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TextFieldLayoutTest.cs
Labels: Devel-NUI

#3858 [NUI] Fix svace issues
  src/Tizen.NUI.Components/Controls/Extension/LottieButtonExtension.cs
  src/Tizen.NUI/src/internal/Layouting/RelativeLayout.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
Labels: Devel-NUI

#3861 [NUI][API8] Add Constraint base + inhouse ResizePolicyType.KeepSizeFo…
  src/Tizen.NUI/src/internal/Constraint.cs
  src/Tizen.NUI/src/internal/EqualConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Constraint.cs
  src/Tizen.NUI/src/internal/RelativeConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/SWIGTYPE_p_Dali__Constraint.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/NUIConstants.cs
  src/Tizen.NUI/src/public/UIComponents/ScrollView.cs
Labels: Internal API Changed, API8

#3857 [NUI] fix non-initialized exception on layout notifier
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#3860 [NUI] Fix equals issue of Selector
  src/Tizen.NUI/src/public/BaseComponents/Style/Selector.cs
Labels: Devel-NUI

#3859 [NUI] Add NUI Code Onwers
  CODEOWNERS
Labels: Devel-NUI

#3873 [NUI] move codeowners under the github directories and fix typo.
  .github/CODEOWNERS
Labels: Devel-NUI

#3862 [NUI] Modify GLWindow's method names
  src/Tizen.NUI/src/internal/Interop/Interop.GLWindow.cs
  src/Tizen.NUI/src/public/Window/GLWindow.cs
Labels: Internal API Changed, Devel-NUI

#3876 [NUI] change individual code owners from team.
  .github/CODEOWNERS
Labels: Devel-NUI

#3879 [NUI] Add IsWindowRotating()
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest.cs
Labels: Internal API Changed, API9

#3877 [NUI] Support Layout for Multi-Window
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/MultiWindowLayoutSample.cs
Labels: Internal API Changed, Devel-NUI

#3869 [NUI][AT-SPI] Fix accessibility activation for RecyclerViewItem
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
Labels: Devel-NUI

#3880 [NUI] Version update (2.1.05)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3638 [InputMethod] Add new APIs for advanced IME
  src/Tizen.Uix.InputMethod/Interop/Interop.InputMethod.cs
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputHintSetEventArgs.cs
  src/Tizen.Uix.InputMethod/Tizen.Uix.InputMethod/InputMethodEditor.cs
Labels: ACR Required, API10

#3882 [WiFi] Add missing lock condition
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: API10

#3888 [Connection] Do not use Lazy for Singleton
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionInternalManager.cs
Labels: API10

#3890 [Connection] Do not use Lazy for Singleton
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionInternalManager.cs
Labels: API9

#3895 [NUI][AT-SPI] Remove unused interop for GetBoundAccessibilityObject
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
Labels: Devel-NUI

#3887 [NUI] Clean up SubWindowTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SubWindowTest.cs
Labels: API9

#3886 [NUI] Clean up SubWindowTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SubWindowTest.cs
Labels: Devel-NUI

#3891 [NUI] Use CurrentCulture to prevent exception
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
Labels: Devel-NUI

#3902 [NUI] Fix View not to proceed Remove() if argument is not child
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI

#3896 [NUI] Fix duplicated unparent issue at Layer
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: Devel-NUI

#3901 [WiFi] Add missing lock condition
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: API9

#3892 [NUI] Overloading == operator in Color class and fix GetHashCode
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: Internal API Changed, Devel-NUI

#3893 [NUI] Get native image PropertyMap instead of cached.
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Devel-NUI

#3885 [NUI] Focus movement follows the GetNextFocusableView() method of ScrollableBase
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
Labels: Internal API Changed, Devel-NUI

#3898 [NUI][AT-SPI] Fix memory management issues
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI

#3903 [NUI] Fix warnings for TextConstants
  src/Tizen.NUI/src/public/BaseComponents/TextConstants.cs
Labels: Internal API Changed, Devel-NUI

#3863 [NUI] Add Dashed/Double type to Text Underline
  src/Tizen.NUI/src/public/BaseComponents/TextConstants.cs
  src/Tizen.NUI/src/public/BaseComponents/TextMapHelper.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextMapHelper.cs
Labels: Internal API Changed, Devel-NUI

#3907 [NUI] Version update (2.1.06)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#3894 [NUI][ATSPI] remove duplicated calculation for states
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI

#3911 [NUI] Support last day of month when month change in DatePicker
  src/Tizen.NUI.Components/Controls/DatePicker.cs
Labels: Devel-NUI

#3909 [NUI] fix text underline struct
  src/Tizen.NUI/src/public/BaseComponents/TextConstants.cs
Labels: Devel-NUI

#3883 [Camera] Fix preview gc issue
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
  src/Tizen.Multimedia.Camera/Camera/Camera.cs
  src/Tizen.Multimedia.Camera/Camera/DepthPlane.cs
  src/Tizen.Multimedia.Camera/Camera/DoublePlane.cs
  src/Tizen.Multimedia.Camera/Camera/EncodedPlane.cs
  src/Tizen.Multimedia.Camera/Camera/PinnedPreviewBuffer.cs
  src/Tizen.Multimedia.Camera/Camera/PreviewFrame.cs
  src/Tizen.Multimedia.Camera/Camera/RgbPlane.cs
  src/Tizen.Multimedia.Camera/Camera/SinglePlane.cs
  src/Tizen.Multimedia.Camera/Camera/TriplePlane.cs
Labels: Bug, API9

#3915 [Camera] Remove useless logs
  src/Tizen.Multimedia.Camera/Camera/Camera.Events.cs
  src/Tizen.Multimedia.Camera/Camera/CameraDeviceManager.cs
  src/Tizen.Multimedia.Camera/Camera/PreviewFrame.cs
Labels: API9
