Repository Samsung/TizenFX, pull requests merged in 2023-12, with the labels that each got.

#5782 [NUI] Added collider mesh support
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.ModelNode.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
Labels: Internal API Changed, Devel-NUI

#5783 [NUI] Add EnableFrameCache in LottieAnimationView
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationViewBindableProperty.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, API10

#5787 [NUI] Add SetResolution method to SceneView
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.SceneView.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Internal API Changed, API10

#5788 [Bluetooth] Fix BluetoothProfileType enum mismatch issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API11

#5789 [Bluetooth] Fix BluetoothProfileType enum mismatch issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API10

#5785 [Bluetooth] Fix BluetoothProfileType enum mismatch issue
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothStructs.cs
Labels: API12

#5784 [NUI] Fix some SVACE issues.
  src/Tizen.NUI.Physics2D/src/internal/chipmunk/NativeInterop.cs
  src/Tizen.NUI.Physics2D/src/internal/chipmunk/cpSpaceDebugDrawOptions.cs
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
Labels: Devel-NUI

#5792 [NUI] Support RootTranslationOnly option for motion capture data
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.MotionData.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionData.cs
Labels: Internal API Changed, Devel-NUI

#5778 [Packagemanager] Fix Tizen.Applications.Package for performance
  src/Tizen.Applications.PackageManager/Interop/Interop.Libraries.cs
  src/Tizen.Applications.PackageManager/Interop/Interop.Package.cs
  src/Tizen.Applications.PackageManager/Interop/Interop.PackageManagerInfoInternal.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageCertificate.cs
Labels: API12

#5795 [NUI] Add log for ClearFocus
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#5800 [NoACR][MachineLearning.Inference] Fix bug using wrong handle
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/TensorsData.cs
Labels: API12

#5801 [Build] Update docker image version
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
Labels: API12

#5799 [NUI] Added collider mesh support (#5782)
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.ModelNode.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
Labels: Internal API Changed, API10

#5794 [Packagemanager] Fix Tizen.Applications.Package for performance
  src/Tizen.Applications.PackageManager/Interop/Interop.Libraries.cs
  src/Tizen.Applications.PackageManager/Interop/Interop.Package.cs
  src/Tizen.Applications.PackageManager/Interop/Interop.PackageManagerInfoInternal.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageCertificate.cs
Labels: API11

#5805 Fix defect that is detected by static analisys tool
  src/Tizen.Uix.VoiceControlManager/Tizen.Uix.VoiceControlManager/VoiceCommandsGroup.cs
Labels: API11

#5807 [NUI.Scene3D] Remove build warning
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
Labels: Devel-NUI

#5808 [Build] Update docker image version
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
Labels: API12

#5806 [NUI] Dispose queue incrementally
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
Labels: Devel-NUI

#5810 [NUI] Make ensure ImageView._resourceUrl is latest
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
Labels: Devel-NUI

#5811 [NUI] Skip text getter when Text never setted before
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
Labels: Devel-NUI

#5813 [NUI] Make we flush DisposeQueue before app start
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
Labels: Devel-NUI

#5814 [NUI] Add API for ProcessController without Initialize
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
Labels: Devel-NUI

#5815 [NUI] Version Update (22302)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5822 [NUI] DragAndDrop : Allow to get mimetype for Enter and Move events
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#5812 [NUI] Add DepthIndex in Material
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Material.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/Material.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/MaterialDepthIndexRanges.cs
Labels: Internal API Changed, API10

#5826 [NUI] Version Update (22303)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5827 [NUI] Revert dispose synchronously logic when APP is not started
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
Labels: Devel-NUI

#5833 [NUI] Add AnchorColor Property
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, Devel-NUI

#5834 [NUI] Add AnchorColor Property
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, API10

#5835 [NUI] Add AnchorColor Property
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Internal API Changed, API11

#5804 [MediaVision] Change feature key of inference face recognition
  src/Tizen.Multimedia.Vision/MediaVision/DeepLearningFaceRecognizer.cs
  src/Tizen.Multimedia.Vision/MediaVision/VisionFeatures.cs
Labels: ACR Required, API10

#5836 [NUI] Apply CornerRadius to WidgetView
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetTest/SimpleWidgetApp.cs
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetTest/Tizen.NUI.WidgetTest.csproj
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetTest/Tizen.NUI.WidgetTest.sln
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetTest/shared/res/Tizen.NUI.WidgetTest.png
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetTest/tizen-manifest.xml
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetViewTest/SimpleWidgetViewApp.cs
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetViewTest/Tizen.NUI.WidgetViewTest.csproj
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetViewTest/Tizen.NUI.WidgetViewTest.sln
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetViewTest/shared/res/Tizen.NUI.WidgetViewTest.png
  test/Tizen.NUI.WidgetViewTest/3.CornerRadius/Tizen.NUI.WidgetViewTest/tizen-manifest.xml
Labels: API10

#5809 [NUI] Add DepthIndex in Material
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Material.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/Material.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/MaterialDepthIndexRanges.cs
Labels: Internal API Changed, Devel-NUI

#5831 [System.Feedback] Add internal API to support sound playing with priority
  src/Tizen.System.Feedback/Feedback/Feedback.cs
  src/Tizen.System.Feedback/Interop/Interop.Feedback.cs
Labels: Internal API Changed, API10

#5840 [Tizen.Network.WiFi] Add APIs for multi-scanning
  src/Tizen.Network.WiFi/Interop/Interop.WiFi.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiConfiguration.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManager.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: Internal API Changed, API9

#5838 Fix svace issue of Marshal.Copy
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
Labels: API11

#5845 [NUI] Fix Navigator to support Page with Transitions
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: Devel-NUI

#5846 [NUI] Fix Navigator to support Page with Transitions
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: API11

#5847 [NUI] Fix Navigator to support Page with Transitions
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
Labels: API10

#5848 [NUI] Version Update (22304)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5781 [NUI] Add EnableFrameCache in LottieAnimationView
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationViewBindableProperty.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI
