Repository Samsung/TizenFX, pull requests merged in 2023-05, with the labels that each got.

#5231 [Tdbc] Fix static analysis issues
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Connection.cs
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Statement.cs
Labels: API11

#5232 [NUI] Version up 22224
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5210 [NUI.Scene3D] Add property for bvh that translate by RootNode or not
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, Devel-NUI

#5233 [NUI.Gadget] Modify NUIGadgetResourceManager class
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: API11

#5244 [Tizen.Log] Fix gbs build error
  src/Tizen.Log/Tizen.Log.csproj
Labels: API11

#5243 [NUI] Binding EnableFocusIndicator and IsFocusIndicatorEnabled
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
Labels: Internal API Changed, Devel-NUI

#5240 [NUI.Scene3D] Add property for bvh that translate by RootNode or not
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, API10

#5242 [NUI] Add WindowMouseInOutEvent
  src/Tizen.NUI/src/internal/Interop/Interop.MouseInOut.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowMouseInOutEventSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowMouseInOutEventSignal.cs
  src/Tizen.NUI/src/public/Window/MouseInOut.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, Devel-NUI

#5227 [NUI.Scene3D] Make API to apply ModelMotion
  src/Tizen.NUI.Scene3D/src/internal/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/BlendShapeIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionData.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionTransformIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionValue.cs
  test/Tizen.NUI.Scene3D.Sample/Scene3DSample.cs
  test/Tizen.NUI.Scene3D.Sample/res/model/MorphStressTest/Base_AO.png
  test/Tizen.NUI.Scene3D.Sample/res/model/MorphStressTest/ColorSwatches.png
  test/Tizen.NUI.Scene3D.Sample/res/model/MorphStressTest/MorphStressTest.bin
  test/Tizen.NUI.Scene3D.Sample/res/model/MorphStressTest/MorphStressTest.gltf
  test/Tizen.NUI.Scene3D.Sample/res/model/MorphStressTest/TinyGrid.png
Labels: Internal API Changed, Devel-NUI

#5247 [NUI] Binding EnableFocusIndicator and IsFocusIndicatorEnabled
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
Labels: Internal API Changed, API10

#5245 [MediaVision] Fix Design QR bug
  src/Tizen.Multimedia.Vision/MediaVision/BarcodeGenerator.cs
Labels: Bug, API11

#5241 [MediaVision] Add internal APIs for Design QR feature
  src/Tizen.Multimedia.Vision/MediaVision/BarcodeGenerationConfiguration.cs
  src/Tizen.Multimedia.Vision/MediaVision/BarcodeGenerator.cs
  src/Tizen.Multimedia.Vision/MediaVision/QrConfiguration.cs
  src/Tizen.Multimedia.Vision/MediaVision/QrShape.cs
Labels: ACR Required, Internal API Changed, API10

#5248 [NUI] Add WindowMouseInOutEvent (#5242)
  src/Tizen.NUI/src/internal/Interop/Interop.MouseInOut.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowMouseInOutEventSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowMouseInOutEventSignal.cs
  src/Tizen.NUI/src/public/Window/MouseInOut.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, API10

#5250 [NUI] Binding GetDeviceClass and GetDeviceSubclass of touch event
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
Labels: Internal API Changed, Devel-NUI

#5249 [NUI][API10] Fix the issue that max width of Button Text is incorrect.
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
Labels: API10

#5252 [NUI] Binding GetDeviceClass and GetDeviceSubclass of touch event
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
Labels: Internal API Changed, API10

#5253 [NUI] Binding GetDeviceClass and GetDeviceSubclass of touch event
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
Labels: Internal API Changed, API9

#4934 Mark all Tizen.Security.PrivacyPrivilegeManager APIs as deprecated
  src/Tizen.Security.PrivacyPrivilegeManager/Tizen.Security/PrivacyPrivilegeManager.cs
Labels: ACR Required, API11

#5190 [NUI] Remove duplicate ?. operator and use using statement
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
Labels: Devel-NUI

#5257 [NUI] Add BlendPoint to blend animation of AnimateBetween
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Internal API Changed, API10

#5260 [NUI] Add Touch source type for gesture
  src/Tizen.NUI/src/public/Events/Gesture.cs
Labels: Internal API Changed, Devel-NUI

#5264 Fix SVACE issues.
  src/Tizen.NUI.Wearable/src/public/NUIWatchApplication.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: API10

#5180 [DevicePolicyManager] Deprecate DevicePolicyManager APIs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/BluetoothPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/BrowserPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/DevicePolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/DevicePolicyManager.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/EmailPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/LocationPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/MediaPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/PasswordPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/PasswordQuality.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/PolicyChangedEventArgs.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/StoragePolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/TelephonyPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/UsbPolicy.cs
  src/Tizen.Security.DevicePolicyManager/Tizen.Security.DevicePolicyManager/WifiPolicy.cs
Labels: ACR Required, API11

#5251 [Tdbc] Fix Sqlite update hook
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Connection.cs
Labels: API11

#5256 [NUI] Add BlendPoint to blend animation of AnimateBetween
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Internal API Changed, Devel-NUI

#5262 [NUI] Add FontPreLoad API to FontClient
  src/Tizen.NUI/src/internal/Interop/Interop.FontClient.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
Labels: Internal API Changed, Devel-NUI

#5269 [NUI] Add FontPreLoad API to FontClient
  src/Tizen.NUI/src/internal/Interop/Interop.FontClient.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
Labels: Internal API Changed, API10

#5270 [NUI] fix font size scale issue in fhub
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: API10

#5268 [NUI.Scene3D] Change the API name for BlendShape morphing
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, API10

#5266 [NUI.WindowSystem] introduce the taskbar service feature
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.TaskbarService.cs
  src/Tizen.NUI.WindowSystem/src/public/TaskbarService.cs
Labels: Internal API Changed, API11

#5272 [NUI.Sample] BlendPoint demo
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BlendPointSample.cs
  test/Tizen.NUI.Scene3D.Sample/Scene3DSample.cs
Labels: Devel-NUI

#5271 [NUI.Scene3D] Remove build warning
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: API10

#5273 [NUI.Scene3D.Sample] BlendPoint demo
  test/Tizen.NUI.Scene3D.Sample/Scene3DSample.cs
Labels: API10

#5275 [Application.Common] Add internal APIs for getting path related resource control
  src/Tizen.Applications.Common/Interop/Interop.AppCommon.cs
  src/Tizen.Applications.Common/Tizen.Applications/DirectoryInfo.cs
Labels: Internal API Changed, API10

#5276 [NUI] Binds GetCurrentProperty to Animatable class
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Handle.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
Labels: Internal API Changed, Devel-NUI

#5280 [NUI] Reduce get/set overhead for some LottieAnimationView properties
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Devel-NUI

#5281 [NUI][API10] Reduce get/set overhead for some LottieAnimationView properties
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: API10

#5279 [NUI][API10] Fix a SVACE issue in RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
Labels: API10

#5282 [NUI] replace warning msg with normal msg
  pkg/Tizen.NET.API10/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
Labels: API10

#5285 [NUI] Cache url when we call SetImage + Make way to skip visual creation
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Internal API Changed, Devel-NUI

#5284 [NUI][API10] Let LottieAnimationView use InternalVisual API
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: API10

#5283 [NUI] Let LottieAnimationView use InternalVisual API
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Devel-NUI

#5293 [NUI] Add DispatchParentTouchEvent
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Internal API Changed, Devel-NUI

#5259 [NUI] Deprecated Animation.Stop(EndActions)
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: ACR Required, Devel-NUI

#5296 [NUI] Binds GetCurrentProperty to Animatable class
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Handle.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
Labels: Internal API Changed, API10

#5298 [NUI] Fix theme applied issue
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#5297 [NUI] Fix theme applied issue
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API10

#5287 [NUI][AT-SPI] Add AccessibilityDynamicAttributes
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#5299 [NUI][AT-SPI] Add AccessibilityDynamicAttributes
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, API10

#5286 [NUI] Add Comment on the View.VisibilityChanged event
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Devel-NUI

#5300 [NUI] Add new constructor to Rotation by using Quaternion vector4
  src/Tizen.NUI/src/internal/Interop/Interop.Rotation.cs
  src/Tizen.NUI/src/public/Common/Rotation.cs
Labels: Internal API Changed, Devel-NUI

#5301 [Applications.Common] Fix file not found exception
  src/Tizen.Applications.Common/Tizen.Applications/CultureInfoHelper.cs
Labels: API11

#5302 [NUI.Gadget] Modify NUIGadgetResourceManager
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: API11

#5238 [NUI.Gadget] Modify NUIGadgetResourceManager class
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: ACR Required, Internal API Changed, API10

#5303 [NUI] Add font thread sync creation option
  src/Tizen.NUI/src/internal/Interop/Interop.FontClient.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
Labels: Internal API Changed, Devel-NUI

#5212 [NUI] Update WebView TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/Tizen.NUI.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/console_info.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/index.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/picture.png
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/second.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebPageLoadError.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebViewPageLoadErrorEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebViewPageLoadEventArgs.cs
Labels: Devel-NUI

#5306 [NUI] Double buffered ProcessorOnceEvent so we allow attach event dur…
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#5307 [NUI][API10]Double buffered ProcessorOnceEvent so we allow attach event during in…
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API10

#5310 [NUI] Version up 22228
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5305 [NUI][AT-SPI] Add IAtspiTable and IAtspiTableCell interfaces
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiTable.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiTableCell.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#5304 [NUI][API10][AT-SPI] Add IAtspiTable and IAtspiTableCell interfaces
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiTable.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiTableCell.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, API10

#5315 [NUI] Add KeepRendering to Window
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI
