Repository Samsung/TizenFX, pull requests merged in 2023-10, with the labels that each got.

#5599 [NUI] Fix the scroll issue on Accessibility
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: API8

#5597 [NUI] Fix some SVACE issues.
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/BoundingBox.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/ContactPoint.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/ContactPointSet.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/DebugColor.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/SegmentQueryInfo.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/Transform.cs
  src/Tizen.NUI/src/public/ParticleSystem/ParticleEmitter.cs
Labels: Devel-NUI

#5595 [NUI] Let registry throw exception at error case
  src/Tizen.NUI/src/internal/Common/DaliEnumConstants.cs
  src/Tizen.NUI/src/internal/Common/Registry.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Utility/Timer.cs
Labels: Devel-NUI

#5605 [NUI] Fix some SVACE issues of null reference.
  src/Tizen.NUI.Components/Controls/TabButton.cs
Labels: Devel-NUI

#5601 [NUI] Fix some SVACE issues related to methods of Marshal.
  src/Tizen.NUI.Physics2D/src/internal/chipmunk/NativeInterop.cs
  src/Tizen.NUI.Physics2D/src/internal/chipmunk/cpSpaceDebugDrawOptions.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/Body.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/Space.cs
  src/Tizen.NUI.Physics2D/src/public/chipmunk/SpaceRef.cs
Labels: Devel-NUI

#5602 [NUI] Remove build warnings
  src/Tizen.NUI/src/public/Accessibility/IAtspiSelection.cs
  src/Tizen.NUI/src/public/ParticleSystem/Particle.cs
  src/Tizen.NUI/src/public/ParticleSystem/ParticleEmitter.cs
  src/Tizen.NUI/src/public/ParticleSystem/ParticleModifier.cs
Labels: Devel-NUI

#5603 [NUI] BaseHandle without Registry but own memory
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Events/Hover.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
  src/Tizen.NUI/src/public/Events/Wheel.cs
  src/Tizen.NUI/src/public/Images/PixelBuffer.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
  src/Tizen.NUI/src/public/Input/Key.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5604 [NUI] Consider WeakReference resurrection at Registry.
  src/Tizen.NUI/src/internal/Common/Registry.cs
Labels: Devel-NUI

#5606 [NUI] bug fixed about cMemoryOwn
  src/Tizen.NUI/src/public/Events/Hover.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
  src/Tizen.NUI/src/public/Events/Wheel.cs
  src/Tizen.NUI/src/public/Input/Key.cs
Labels: Devel-NUI

#5610 [NUI] revert default key construct
  src/Tizen.NUI/src/public/Input/Key.cs
Labels: Devel-NUI

#5608 [ThumbnailExtractor] Fix VD SVACE issue - incomplete switch
  src/Tizen.Multimedia.Util/ThumbnailExtractor/ThumbnailExtractorError.cs
Labels: API11

#5598 Deprecating Tizen.Location.Geofence APIs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/Fence.cs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/FenceData.cs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/FenceStatus.cs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/GeofenceEnum.cs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/GeofenceErrorFactory.cs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/GeofenceEventArgs.cs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/GeofenceManager.cs
  src/Tizen.Location.Geofence/Tizen.Location.Geofence/VirtualPerimeter.cs
  src/Tizen.Location.Geofence/doc/api/Tizen.Location.Geofence.md
Labels: ACR Required, API11, API12

#5528 [Tdbc] Fix UpdateHookCallback released issue
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Connection.cs
Labels: API11, API12

#5611 [NUI] Add TextFitArray
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextConstants.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextMapHelper.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TextFitChangedSample.cs
Labels: Internal API Changed, Devel-NUI

#5616 [NUI][API10] Unregister callbacks when passed argument is null.
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebCookieManager.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: API10

#5618 [NUI] Resolve TextLable build warning
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#5617 [NUI] Fix Registry exception for custom view wrapper
  src/Tizen.NUI/src/internal/Common/ViewWrapperImpl.cs
  src/Tizen.NUI/src/public/Events/Gesture.cs
  src/Tizen.NUI/src/public/Events/LongPressGesture.cs
  src/Tizen.NUI/src/public/Events/PanGesture.cs
  src/Tizen.NUI/src/public/Events/PinchGesture.cs
  src/Tizen.NUI/src/public/Events/RotationGesture.cs
  src/Tizen.NUI/src/public/Events/TapGesture.cs
Labels: Devel-NUI

#5615 [System.Feedback] Add new feedback_pattern
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API10

#5620 [System.Feedback] Add new feedback_pattern
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API11

#5619 [System.Feedback] Add new feedback_pattern
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API12

#5612 [NUI][AT-SPI] Fix Accessibility.Say interop
  src/Tizen.NUI/src/internal/Interop/Interop.Accessibility.cs
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Internal API Changed, Devel-NUI

#5596 Deprecating Tizen.Messaging.Email APIs
  src/Tizen.Messaging/Tizen.Messaging.Email/EmailAttachment.cs
  src/Tizen.Messaging/Tizen.Messaging.Email/EmailEnumerations.cs
  src/Tizen.Messaging/Tizen.Messaging.Email/EmailMessage.cs
  src/Tizen.Messaging/Tizen.Messaging.Email/EmailRecipient.cs
  src/Tizen.Messaging/Tizen.Messaging.Email/EmailSender.cs
  src/Tizen.Messaging/doc/api/Tizen.Messaging.Email.md
Labels: ACR Required, API11, API12

#5622 [NUI.Wearable] Remove build warning
  src/Tizen.NUI.Wearable/src/public/CircularPagination.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Wearable/src/public/WearableList.cs
Labels: Devel-NUI

#5628 [Applications.Common] Use Marshal.FreeHGlobal() instead of Libc.Free()
  src/Tizen.Applications.Common/Interop/Interop.Libc.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: API12

#5626 [NUI.Gadget] Change visibility of NUIGadgetResourceManager ctor
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: Internal API Changed, API12

#5627 [NUI] Fix the SVACE issue.
  src/Tizen.NUI.Components/Controls/Button.cs
Labels: Devel-NUI

#5593 Deprecating Tizen.Messaging.Messages APIs
  src/Tizen.Messaging/Tizen.Messaging.Messages/CBMessage.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/Message.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/MessageReceivedEventArgs.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/MessagesAddress.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/MessagesAttachment.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/MessagesEnumerations.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/MessagesManager.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/MessagesSearchFilter.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/MmsMessage.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/PushMessage.cs
  src/Tizen.Messaging/Tizen.Messaging.Messages/SmsMessage.cs
  src/Tizen.Messaging/doc/api/Tizen.Messaging.Messages.md
Labels: ACR Required, API11, API12

#5630 [NUI] Resolve registry issue for RenderTaskList
  src/Tizen.NUI/src/internal/Common/RenderTaskList.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5636 [Content.MimeType] Use Marshal.FreeHGlobal() instead of Libc.Free()
  src/Tizen.Content.MimeType/Interop/Interop.Libc.cs
  src/Tizen.Content.MimeType/Interop/Interop.Libraries.cs
  src/Tizen.Content.MimeType/Tizen.Content.MimeType/MimeUtil.cs
Labels: API12

#5637 [NUI] Make AddFrameUpdateCallback with root view
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FrameUpdateCallbackTest.cs
Labels: Internal API Changed, Devel-NUI

#5638 [NUI] Add widget list for keeping widget instance
  src/Tizen.NUI/src/public/Widget/Widget.cs
Labels: API10

#5632 [Nsd] Fix ASAN crash
  src/Tizen.Network.Nsd/Interop/Interop.Nsd.cs
  src/Tizen.Network.Nsd/Tizen.Network.Nsd/DnssdService.cs
Labels: API12

#5643 [NUI] fix IME window crash issue
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
Labels: API11

#5641 [System.Feedback] Add feedback theme index range description
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API10

#5640 [NUI] Add an API to set offset for drag window
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
  test/NUIDnDSource/NUIDnDSource.cs
Labels: Internal API Changed, Devel-NUI

#5644 [System.Feedback] Add feedback theme index range description
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API11

#5645 [System.Feedback] Add feedback theme index range description
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API12

#5631 [WiFi] Fix ASAN crash
  src/Tizen.Network.WiFi/Interop/Interop.Libraries.cs
  src/Tizen.Network.WiFi/Interop/Interop.WiFi.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAddressInformation.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiNetwork.cs
Labels: API12

#5634 [NUI] Public RemoveBinding and ClearBinding api
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Internal API Changed, API11

#5633 [NUI] Public RemoveBinding and ClearBinding apis
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Internal API Changed, Devel-NUI

#5647 [System.Information] Use Marshal.FreeHGlobal() instead of Libc.Free()
  src/Tizen.System.Information/Interop/Interop.Libc.cs
  src/Tizen.System.Information/Interop/Interop.Libraries.cs
  src/Tizen.System.Information/Usage/ProcessMemoryUsage.cs
Labels: API12

#5624 [Bluetooth] Fix ASAN crash issue
  src/Tizen.Network.Bluetooth/Interop/Interop.Glib.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothLeAdapterImpl.cs
Labels: API12

#5650 [NUI] Flush action implement for LottieAnimationView
  src/Tizen.NUI/src/internal/Interop/Interop.LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Devel-NUI

#5648 [NUI.Scene3D] Bug fix when we get ModelNode from Model
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
Labels: Devel-NUI

#5649 [NUI] Preload some static values
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Common/Container.cs
Labels: Devel-NUI

#5652 [MediaController] Fix CustomCommand crash issue
  src/Tizen.Multimedia.Remoting/MediaController/MediaControlCommand.cs
Labels: Internal API Changed, API10

#5653 [NUI] Supports set/get full screen window
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSWindow.cs
Labels: Internal API Changed, Devel-NUI

#5654 [NUI.Scene3D][API10] Bug fix when we get ModelNode from Model
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
Labels: API10

#5656 [NUI.Components] Remove build warning for Control.Preload()
  src/Tizen.NUI.Components/Controls/Control.cs
Labels: Devel-NUI

#5639 [NUI] Make View.TooltipText return valid value
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/TSView.cs
Labels: Devel-NUI

#5614 [NUI] Fix some SVACE issues.
  src/Tizen.NUI.Physics2D/src/internal/chipmunk/cpSpaceDebugDrawOptions.cs
  src/Tizen.NUI/src/internal/Xaml/CreateValuesVisitor.cs
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
Labels: Devel-NUI

#5655 [NUI] Change Accessibility.cs not to use net6.0 dependency function
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Devel-NUI

#5657 [NUI] Version up nui22249
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5660 [NUI] Add KeepWidgetSize for control widget's size
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetView.cs
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: Internal API Changed, Devel-NUI

#5662 [NUI] Make NativeImageQueue generate valid url
  src/Tizen.NUI/src/internal/Common/NativeImageInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageQueue.cs
  src/Tizen.NUI/src/public/Images/NativeImageQueue.cs
  src/Tizen.NUI/src/public/Images/NativeImageSource.cs
Labels: Internal API Changed, Devel-NUI

#5666 [NUI][Devel.Tests.Ubuntu] Make it works on net6.0
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/.vscode/launch.json
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/Program.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/TSPropertyValue.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Api/NUnitTestAssemblyRunner.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Internal/Execution/CompositeWorkItem.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Internal/Execution/ParallelWorkItemDispatcher.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Internal/Execution/SimpleWorkItem.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Internal/Execution/SimpleWorkItemDispatcher.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Internal/Execution/TestWorker.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Internal/Execution/WorkItem.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/Internal/Execution/WorkShift.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/TUnit/TAsyncThreadMgr.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunitlite/TUnit/TRunner.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunitlite/TextRunner.cs
Labels: Devel-NUI

#5665 [NUI] Resolve DisposeRecursively crashed when we dispose scrollbase
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  test/NUITizenGallery/Examples/PerformanceTest/PerformanceTest1Page.xaml.cs
Labels: Devel-NUI

#5667 [NUI] Temperary revert exception throw at Registry.
  src/Tizen.NUI/src/internal/Common/Registry.cs
Labels: Devel-NUI

#5646 [NUI][AT-SPI] Detach NUIViewAccessible in View.Dispose()
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Devel-NUI

#5663 [API10][NUI][AT-SPI] Detach NUIViewAccessible in View.Dispose()
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: API10

#5664 [API11][NUI][AT-SPI] Detach NUIViewAccessible in View.Dispose()
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: API11

#5674 [NUI] Make DaliAccessibilityDetachAccessibleObject called at main thread
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Internal API Changed, Devel-NUI

#5673 [NUI] Do not register when we try to copy instance
  src/Tizen.NUI.Scene3D/src/public/Controls/Camera.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
  src/Tizen.NUI.Scene3D/src/public/Light/Light.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/Material.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelPrimitive.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionData.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/BlendShapeIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionPropertyIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionTransformIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionValue.cs
  src/Tizen.NUI/src/internal/Utility/GaussianBlurView.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
  src/Tizen.NUI/src/public/Animation/TransitionData.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/Common/TypeInfo.cs
  src/Tizen.NUI/src/public/Events/Gesture.cs
  src/Tizen.NUI/src/public/Events/GestureDetector.cs
  src/Tizen.NUI/src/public/Events/LongPressGestureDetector.cs
  src/Tizen.NUI/src/public/Events/PanGestureDetector.cs
  src/Tizen.NUI/src/public/Events/PinchGestureDetector.cs
  src/Tizen.NUI/src/public/Events/RotationGestureDetector.cs
  src/Tizen.NUI/src/public/Events/TapGestureDetector.cs
  src/Tizen.NUI/src/public/ParticleSystem/ParticleEmitter.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, Devel-NUI

#5678 [NUI] Reinforce NUI Sample for window
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest1.cs
Labels: Devel-NUI

#5682 [Build] Create vconf related to .NET as a file in RO location
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API11

#5679 [Build] Create vconf related to .NET as a file in RO location
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API12

#5685 [Build] Modify build error for vconf of runtime_version
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
  packaging/makespec.sh
Labels: API10

#5686 [Build] the dotnet_resolving.info file has been renamed
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API11

#5687 [Build] the dotnet_resolving.info file has been renamed
  packaging/csapi-tizenfx.spec
  packaging/csapi-tizenfx.spec.in
Labels: API12

#5694 [Nsd] Fix ASAN crash
  src/Tizen.Network.Nsd/Interop/Interop.Nsd.cs
  src/Tizen.Network.Nsd/Tizen.Network.Nsd/DnssdService.cs
Labels: API11
