Repository Samsung/TizenFX, pull requests merged in 2023-03, with the labels that each got.

#5042 [NUI] Fix dispose xaml elements
  src/Tizen.NUI/src/public/EXaml/EXamlExtensions.cs
Labels: Devel-NUI

#5043 [NUI] Fix dispose xaml elements
  src/Tizen.NUI/src/public/EXaml/EXamlExtensions.cs
Labels: API10

#4767 [XamlBuild] Fix extents convert issue
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/ExtentsTypeConverter.cs
Labels: Devel-NUI

#5044 [NUI] Add friend assembly for NUI FLUX
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API10

#5045 [NUI] Fix set input region binding
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5046 [NUI] Fix set input regine binded api
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API10

#5048 [NUI] Add Dispose to LongPressGestureDetector and modify ReleaseSwigCPtr
  src/Tizen.NUI/src/public/Events/LongPressGestureDetector.cs
Labels: Internal API Changed, Devel-NUI

#5050 [NUI] Remove duplicate size setter
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#5052 [NUI] Version up 22216
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5051 [NUI] Add getter property about WindowPositionSizeWithBorder and WindowSizeWithBorder
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Internal API Changed, Devel-NUI

#5056 [NUI] Add getter property about WindowPositionSizeWithBorder and WindowSizeWithBorder
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Internal API Changed, API11

#5055 [NUI] Remove duplicate URL settup
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#5057 [NUI] Add getter property about WindowPositionSizeWithBorder and Wind…
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Internal API Changed, API10

#5058 [NUI] Fix layer MoveAbove/MoveBelow API change window's List
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: Devel-NUI

#5059 Update github action
  .github/workflows/build-branches.yml
  .github/workflows/build-pull-request.yml
  .github/workflows/check-api-level.yml
  .github/workflows/deploy-packages.yml
  .github/workflows/nightly-release.yml
  .github/workflows/postback-pull-request.yml
Labels: API11

#5011 [NUI.Gadget] Modify NUIGadgetManager.Add() method
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: API11

#4976 [NUI.Gadget] Add a new internal API
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: Internal API Changed, API11

#5063 [NUI.Gadget] Modify NUIGadgetManager.Add() method
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: API10

#5064 [NUI.Gadget] Add a new internal API (#4976)
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: Internal API Changed, API10

#5065 [NUI] Remove unused field in View
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#5066 [NUI] Remove unused field in View
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API10

#5068 [Applications.Common / UI] Add new internal APIs
  src/Tizen.Applications.Common/Interop/Interop.AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/WindowPosition.cs
  src/Tizen.Applications.UI/Interop/Interop.Application.cs
  src/Tizen.Applications.UI/Tizen.Applications/CoreUIApplication.cs
Labels: Internal API Changed, API10

#5054 [NUI] Do not connect default signals when View created
  src/Tizen.NUI/src/internal/Common/WindowViewAddedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowViewAddedSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/EventPropagationSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/HitTestSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowEventsTest.cs
Labels: Internal API Changed, Devel-NUI

#5070 Update deprecated actions
  .github/workflows/build-pull-request.yml
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
  .github/workflows/deploy-packages.yml
  .github/workflows/nightly-release.yml
Labels: API11

#5074 [NUI] fix previous patch by coding rules
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
Labels: Devel-NUI

#5061 [NLP] Deprecated NLP APIs
  src/Tizen.Nlp/Tizen.Nlp/LanguageDetectedResult.cs
  src/Tizen.Nlp/Tizen.Nlp/NamedEntityRecognitionResult.cs
  src/Tizen.Nlp/Tizen.Nlp/NaturalLanguageProcess.cs
  src/Tizen.Nlp/Tizen.Nlp/PosTagResult.cs
  src/Tizen.Nlp/Tizen.Nlp/WordTokenizeResult.cs
Labels: ACR Required, API11

#5075 [NUI] Version up 22217
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5078 [NUI.Scene3D] Load facial blendshape animation
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Camera.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Internal API Changed, Devel-NUI

#5081 [NUI] AIAgentLayer : fix animation usage issue
  test/AIAgentLayer/AIAgentLayer.cs
Labels: Devel-NUI

#5080 [NUI] Refactor NUI.ThemeManager
  src/Tizen.NUI/src/public/Theme/ExternalThemeManager.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  test/Tizen.NUI.ThemeManager.Samples/TizenThemeChangeSample/TizenThemeChangeSample.cs
  test/Tizen.NUI.ThemeManager.Samples/TizenThemeChangeSample/TizenThemeChangeSample.csproj
  test/Tizen.NUI.ThemeManager.Samples/TizenThemeChangeSample/tizen-manifest.xml
Labels: Devel-NUI

#5082 [NUI] Change log info to debug in NUI.ThemeManager
  src/Tizen.NUI/src/public/Theme/ExternalThemeManager.cs
Labels: Devel-NUI

#5083 [NUI] Change log info to debug in NUI.ThemeManager
  src/Tizen.NUI/src/public/Theme/ExternalThemeManager.cs
Labels: API10

#5086 Update postback PR
  .github/workflows/nightly-release.yml
  .github/workflows/postback-pull-request.yml
Labels: API11

#5087 [NUI] Fix some SVACE issues.
  src/Tizen.NUI/src/internal/XamlBinding/ResourcesExtensions.cs
Labels: Devel-NUI

#5091 [NUI.Gadget] Support Internationalization
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadget.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: Internal API Changed, API11

#5092 [NUI.Gadget] Support Internationalization
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadget.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: Internal API Changed, API10

#5079 [NUI] Add internal property to avoid binding canceling on property set
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
Labels: Devel-NUI

#5095 [NUI] Remove unnecessary gesture events from DefaultBorder.
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#5096 [NUI] Remove unnecessary gesture events from DefaultBorder.
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: API10

#5094 [NUI] merge Window event changes of API10
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: API9

#5090 [NUI] Add RotationCompletedAcknowledgement APIs
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest.cs
Labels: Internal API Changed, Devel-NUI

#5089 [NUI] Add RotationCompletedAcknowledgement APIs
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest.cs
Labels: Internal API Changed, API10

#5103 [NUI] DragAndDrop : allow to control shadow view opacity
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#4991 [Packagemanager] Add APIs for internal
  src/Tizen.Applications.PackageManager/Interop/Interop.Libraries.cs
  src/Tizen.Applications.PackageManager/Interop/Interop.PackageManagerInternal.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: Internal API Changed, API11

#5105 [Multimedia] Fix rotation issue for portrait mode
  src/Tizen.Multimedia.Camera/Camera/Camera.Properties.cs
  src/Tizen.Multimedia.MediaPlayer/Player/Player.Properties.cs
  src/Tizen.Multimedia.Remoting/ScreenMirroring/ScreenMirroring.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaStreamTrack.cs
  src/Tizen.Multimedia/Common/Display.cs
Labels: API10

#5106 [NUI] Refactor ButtonExtension
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Extension/ButtonExtension.cs
  src/Tizen.NUI.Components/Controls/Extension/LottieButtonExtension.cs
  src/Tizen.NUI.Components/Controls/Extension/LottieSwitchExtension.cs
  src/Tizen.NUI.Components/Controls/Extension/SwitchExtension.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/PreloadStyle/OverlayAnimationButtonStyle.cs
Labels: Internal API Changed, API10

#5093 [NUI] Refactor ButtonExtension
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/Extension/ButtonExtension.cs
  src/Tizen.NUI.Components/Controls/Extension/LottieButtonExtension.cs
  src/Tizen.NUI.Components/Controls/Extension/LottieSwitchExtension.cs
  src/Tizen.NUI.Components/Controls/Extension/SwitchExtension.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/PreloadStyle/OverlayAnimationButtonStyle.cs
Labels: Internal API Changed, Devel-NUI

#5109 [NUI][AT-SPI] Add ViewAccessibilityMode
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Internal API Changed, Devel-NUI

#5114 [NUI] Add GetOverlayLayer in NUI window.
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#5116 [NUI] Register HitTest callback only if GrabTouchAfterLeave = true
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#5111 [NUI] Add interceptTouchEvent at WindowEvent
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, API9

#5119 [NUI] Version up 22219
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5113 [Connection] Fix race condition
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionInternalManager.cs
Labels: API11

#5120 rebase master
  src/Tizen.Applications.PackageManager/Interop/Interop.Libraries.cs
  src/Tizen.Applications.PackageManager/Interop/Interop.PackageManagerInternal.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: Internal API Changed, Devel-NUI

#5112 [NUI] Add Font PreCache API to FontClient
  src/Tizen.NUI/src/internal/Interop/Interop.FontClient.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
Labels: Internal API Changed, Devel-NUI

#5125 [NUI] Add Font PreCache API to FontClient
  src/Tizen.NUI/src/internal/Interop/Interop.FontClient.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
Labels: Internal API Changed, API10

#5123 [NUI] refactoring collectionView and Layouters for extended class
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/ItemsLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
Labels: Internal API Changed, Devel-NUI

#5117 [WebRTC] Change Stats enum value and add new enum value
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCEnums.cs
Labels: ACR Required, API11

#5132 [NUI] Fix signal bugs in View and Window.
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#5133 [NUI] Fix size calculation for TextLabel with Margin in RelativeLayout
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#5136 [NUI] Refactor Signal structure.
  src/Tizen.NUI/src/internal/Common/ControlKeySignal.cs
  src/Tizen.NUI/src/internal/Common/HoverSignal.cs
  src/Tizen.NUI/src/internal/Common/InterceptTouchSignal.cs
  src/Tizen.NUI/src/internal/Common/KeyInputFocusSignal.cs
  src/Tizen.NUI/src/internal/Common/TouchDataSignal.cs
  src/Tizen.NUI/src/internal/Common/TouchSignal.cs
  src/Tizen.NUI/src/internal/Common/ViewImpl.cs
  src/Tizen.NUI/src/internal/Common/ViewSignal.cs
  src/Tizen.NUI/src/internal/Common/WheelSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilityManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorHoverSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorTouchDataSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorWheelSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlKeySignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FocusManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.GLWindow.cs
  src/Tizen.NUI/src/internal/Interop/Interop.KeyInputFocusManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NDalic.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TouchSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewSignal.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/internal/Layouting/Interop/Interop.Layout.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManager.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManagerEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  src/Tizen.NUI/src/public/Window/GLWindowEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: **NO MERGE**, Devel-NUI
