Repository Samsung/TizenFX, pull requests merged in 2023-04, with the labels that each got.

#5137 [NUI] Remove regacy Interop files
  src/Tizen.NUI/src/internal/Common/ViewLayoutDirectionChangedSignal.cs
  src/Tizen.NUI/src/internal/Common/ViewVisibilityChangedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Button.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ButtonSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.CheckBoxButton.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Popup.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProgressBar.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PushButton.cs
  src/Tizen.NUI/src/internal/Interop/Interop.RadioButton.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Slider.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ToggleButton.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewVisibilityChangedSignal.cs
  src/Tizen.NUI/src/internal/Layouting/Interop/Interop.Layout.cs
Labels: Devel-NUI

#5135 [NUI] Introduce WindowLayoutType enum and SetLayout Method
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#5140 [NUI] Introduce WindowLayoutType enum and SetLayout Method
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, API10

#5088 Add new cache APIs
  src/Tizen.Content.Download/Interop/Interop.Download.cs
  src/Tizen.Content.Download/Tizen.Content.Download/CacheManager.cs
  src/Tizen.Content.Download/Tizen.Content.Download/Request.cs
Labels: ACR Required, API11

#5118 [NUI][AT-SPI] Add ViewAccessibilityMode
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Internal API Changed, API10

#5141 [NUI][AT-SPI] Override ContentPage.AccessibilityGetName()
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
Labels: Internal API Changed, Devel-NUI

#5146 [NUI][AT-SPI] Override ContentPage.AccessibilityGetName()
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
Labels: Internal API Changed, API10

#5147 [NUI.Samples] Add sample for spring like animation
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SpringAnimationSample.cs
Labels: Devel-NUI

#5153 [NUI.Samples] Fix visual defect for SpringAnimationSample
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SpringAnimationSample.cs
Labels: Devel-NUI

#5154 [Connection] Fix race condition
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionInternalManager.cs
Labels: API10

#5157 [NUI] Version up 22220
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5124 [NUI] Add view helper API to rotate : LookAt
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI

#5160 Rebase master
  src/Tizen.Content.Download/Interop/Interop.Download.cs
  src/Tizen.Content.Download/Tizen.Content.Download/CacheManager.cs
  src/Tizen.Content.Download/Tizen.Content.Download/Request.cs
Labels: ACR Required, Devel-NUI

#5151 [NUI][AT-SPI] Promote DoAction implementation from CustomView to View
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Internal API Changed, Devel-NUI

#5144 [NUI] Use ModelNode for the child of Model
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Material.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.ModelNode.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.ModelPrimitive.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/Material.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/MaterialAlphaModeType.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/MaterialTextureType.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelPrimitive.cs
Labels: Internal API Changed, Devel-NUI

#5149 [NUI] Add a LoadContents API with byte array for WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, Devel-NUI

#5161 [NUI][AT-SPI] Promote DoAction implementation from CustomView to View
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Internal API Changed, API10

#5150 [NUI][API10] Add a LoadContents API with byte array for WebView.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebBackForwardList.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, API10

#5164 [NUI] Fix svace issues
  src/Tizen.NUI.Wearable/src/public/NUIWatchApplication.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#5163 [NUI] Fix svace issues
  src/Tizen.NUI.Wearable/src/public/NUIWatchApplication.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: API10

#5162 [Tizen.Content.Download] Update protection level for CacheManager class
  src/Tizen.Content.Download/Tizen.Content.Download/CacheManager.cs
Labels: ACR Required, Internal API Changed, API11

#5148 [Tizen.Security] Deprecate GetPrivacyDisplayName
  src/Tizen.Security/Tizen.Security/Privilege.cs
Labels: ACR Required, API11

#5166 [NUI] Rotation class with EulerAngle (pitch/yaw/roll)
  src/Tizen.NUI/src/internal/Interop/Interop.Rotation.cs
  src/Tizen.NUI/src/public/Common/Rotation.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/Common/TSRotation.cs
Labels: Internal API Changed, Devel-NUI

#5104 [MediaVision] Add APIs for Design QR feature
  src/Tizen.Multimedia.Vision/MediaVision/BarcodeGenerationConfiguration.cs
  src/Tizen.Multimedia.Vision/MediaVision/BarcodeGenerator.cs
  src/Tizen.Multimedia.Vision/MediaVision/QrConfiguration.cs
  src/Tizen.Multimedia.Vision/MediaVision/QrShape.cs
Labels: ACR Required, ACR Accepted, API11

#5179 [NUI.Gadget] Clean up
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetLifecycleState.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: API11

#5177 [NUI][AT-SPI] Add IAtspiValue.AccessibilityGetValueText()
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiValue.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, Devel-NUI

#5085 [Applications.UI] Add Get window position api
  src/Tizen.Applications.UI/Interop/Interop.Application.cs
  src/Tizen.Applications.UI/Tizen.Applications/CoreUIApplication.cs
Labels: ACR Required, API11

#5181 [NUI][AT-SPI] Add IAtspiValue.AccessibilityGetValueText()
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiValue.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
Labels: Internal API Changed, API10

#5173 [NUI] Add NUIApplicaion.GetScreenSize
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Internal API Changed, API10

#5183 [Applications.Common] Add an internal API
  src/Tizen.Applications.Common/Interop/Interop.AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: Internal API Changed, API11

#5184 [Applications.Common] Add an internal API
  src/Tizen.Applications.Common/Interop/Interop.AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: Internal API Changed, API10

#5182 [NUI] Use ModelNode for the child of Model
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Material.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.ModelNode.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.ModelPrimitive.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/Material.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/MaterialAlphaModeType.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/MaterialTextureType.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelNode.cs
  src/Tizen.NUI.Scene3D/src/public/ModelComponents/ModelPrimitive.cs
Labels: Internal API Changed, API10

#5165 [NUI] Collect Renderer Property enum as public hidden
  src/Tizen.NUI/src/internal/Common/DepthFunctionType.cs
  src/Tizen.NUI/src/internal/Common/DepthTestModeType.cs
  src/Tizen.NUI/src/internal/Common/DepthWriteModeType.cs
  src/Tizen.NUI/src/internal/Common/FaceCullingModeType.cs
  src/Tizen.NUI/src/internal/Common/RenderModeType.cs
  src/Tizen.NUI/src/internal/Common/StencilFunctionType.cs
  src/Tizen.NUI/src/internal/Common/StencilOperationType.cs
  src/Tizen.NUI/src/internal/Utility/BlendFactorType.cs
  src/Tizen.NUI/src/internal/Utility/BlendModeType.cs
  src/Tizen.NUI/src/public/Common/BlendEquationType.cs
  src/Tizen.NUI/src/public/Rendering/Renderer.cs
  src/Tizen.NUI/src/public/Rendering/RendererConstants.cs
Labels: Internal API Changed, Devel-NUI

#5186 [NUI] Add defence codes for specific events
  src/Tizen.NUI/src/public/Accessibility/AccessibilityManagerEvent.cs
  src/Tizen.NUI/src/public/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/PropertyNotification.cs
  src/Tizen.NUI/src/public/StyleManager.cs
  src/Tizen.NUI/src/public/Timer.cs
  src/Tizen.NUI/src/public/WindowEvent.cs
Labels: Internal API Changed, API8

#5178 [NUI] Add defence code for Window.VisibilityChanged event
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, API10

#5189 Version up 22222
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5195 [NUI] Add OverlayLayer to Window's LayersChildren to calculate Layout
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5197 [NUI] Add OverlayLayer to Window's LayersChildren to calculate Layout
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API10

#5202 [NUI.Scene3D] Make bvh/facial Animation from string buffer
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, API10

#5198 Fix NUIApplication svace issue
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: API10

#5201 [NUI] Fix SVACE issues.
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#5187 [NUI.Scene3D] Make bvh/facial Animation from string buffer
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, Devel-NUI

#5200 [NUI][API10] Fix SVACE issues.
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: API10

#5205 [NUI] Remove default parameter of Animation.Stop(EndActions)
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Devel-NUI

#5204 [NUI] Remove unused signal : Window.ViewAdded
  src/Tizen.NUI/src/internal/Common/WindowViewAddedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowViewAddedSignal.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, Devel-NUI

#5206 [NUI] Fix some comments of Animation class
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Devel-NUI

#5145 [Tdbc] Add Tizen.Data.Tdbc
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.Driver.Sqlite/Connection.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.Driver.Sqlite/Interop/Interop.Sqlite.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.Driver.Sqlite/Record.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.Driver.Sqlite/ResultSet.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.Driver.Sqlite/Statement.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite.csproj
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.sln
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/ConnectionUriBuilder.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/DriverManager.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/IConnection.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/IRecord.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/IResultSet.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/IStatement.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/OperationType.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/RecordChangedEventArgs.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/Sql.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/Tizen.Data.Tdbc.csproj
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/TransactionGuard.cs
  src/Tizen.Data.Tdbc/doc/api/Tizen.Data.Tdbc.md
Labels: Internal API Changed, API11

#5126 [Application.Common][TCSACR-536]Add APIs for getting path related resource control
  src/Tizen.Applications.Common/Interop/Interop.AppCommon.cs
  src/Tizen.Applications.Common/Tizen.Applications/DirectoryInfo.cs
Labels: ACR Required, API11

#5209 [Tdbc] Split Tizen.Data.Tdbc.Driver.Sqlite project from Tizen.Data.Tdbc
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite.csproj
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite.sln
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Connection.cs
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Interop/Interop.Sqlite.cs
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Record.cs
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/ResultSet.cs
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Statement.cs
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.csproj
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc.sln
Labels: API11

#5208 [NUI] Remove some TCs which are not effective.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/Tizen.NUI.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Accessibility/TSAccessibilityDoGestureSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSControlKeySignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSHoverSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSInterceptTouchSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSKeyInputFocusSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSTouchDataSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSTouchSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewLayoutDirectionChangedSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewVisibilityChangedSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSWheelSignal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSPageTurnView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Accessibility/TSAccessibilityManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSViewEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSPropertyNotification.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSTheme.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Theme/TSThemeManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSCapture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT.sln
Labels: Devel-NUI

#5172 [Camera] Add new camera setting APIs
  src/Tizen.Multimedia.Camera/Camera/CameraCapabilities.cs
  src/Tizen.Multimedia.Camera/Camera/CameraEnums.cs
  src/Tizen.Multimedia.Camera/Camera/CameraSettings.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.CameraSettings.cs
Labels: ACR Required, API11

#5214 [NUI] Add SetTapRecognizerTime
  src/Tizen.NUI/src/internal/Interop/Interop.GestureOptions.cs
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
Labels: Internal API Changed, Devel-NUI

#5215 [NUI] Add SetTapRecognizerTime
  src/Tizen.NUI/src/internal/Interop/Interop.GestureOptions.cs
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
Labels: Internal API Changed, API10

#5193 [NUI] Modify property name of Property class
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
  src/Tizen.NUI/src/public/Common/Property.cs
Labels: Devel-NUI

#5101 [Tizen.Log] Replace dlog_print with dlog_print_dotnet
  src/Tizen.Log/Interop/Interop.Dlog.cs
  src/Tizen/Interop/Interop.Dlog.cs
  test/ElmSharp.Test/Log.cs
  test/ElmSharp.Wearable.Test/TC/Log.cs
Labels: API11

#5216 [NUI] Change the call to GetRootLayer() so that the layer index can be updated.
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5217 [NUI] Change the call to GetRootLayer() so that the layer index can be updated.
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: API10

#5213 [Tdbc] Fix binding methods
  src/Tizen.Data.Tdbc/Tizen.Data.Tdbc/Sql.cs
Labels: API11

#5219 [NUI] version update
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5218 [NUI] LoopingMode enum for Animation class
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Internal API Changed, Devel-NUI

#5155 [NUI] Add Default Image & transition effect
  src/Tizen.NUI/src/internal/Interop/Interop.ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PlaceHolderImageTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/placeholder_image.png
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/placeholder_image_large.png
Labels: Internal API Changed, Devel-NUI

#5156 [Tizen.Log] Optimize garbage collection
  src/Tizen.Log/Interop/Interop.Dlog.cs
  src/Tizen.Log/Tizen.Log.csproj
  src/Tizen.Log/Tizen/Log.cs
Labels: API11

#5223 [NUI] Fix empty item case crash. wrong bracket conditions.
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: Devel-NUI

#5225 [NUI] Fix empty item case crash. wrong bracket conditions.
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
Labels: API10

#5226 [NUI.Gadget] Add Assembly property to NUIGadgetInfo
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: API11

#5228 [NUI.Gadget] Add Assembly property to NUIGadgetInfo
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: API10

#5224 [NUI] Add GenerateUrl API to FrameBuffer
  src/Tizen.NUI/src/internal/Common/FrameBuffer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FrameBuffer.cs
Labels: Internal API Changed, API10

#5230 [NUI] Add GenerateUrl API to FrameBuffer
  src/Tizen.NUI/src/internal/Common/FrameBuffer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FrameBuffer.cs
Labels: Internal API Changed, Devel-NUI

#5222 [NUI] Reuse internally created Key/Touch for Window.GetLastEvent API
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI
