Repository Samsung/TizenFX, pull requests merged in 2023-09, with the labels that each got.

#5452 [NUI] Public open MotionData
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionData.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/BlendShapeIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionPropertyIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionTransformIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionValue.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#5520 [MediaVision] Remove deprecated API - InferenceTargetType
  src/Tizen.Multimedia.Vision/MediaVision/InferenceModelConfiguration.cs
  src/Tizen.Multimedia.Vision/MediaVision/InferenceType.cs
Labels: ACR Required, API11

#5525 [NUI] Apply constant value for default drag window size
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: Devel-NUI

#5521 [NUI] Add descriptions of Accessibility Interfaces
  src/Tizen.NUI/src/public/Accessibility/IAtspiEditableText.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiSelection.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiTable.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiTableCell.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiText.cs
  src/Tizen.NUI/src/public/Accessibility/IAtspiValue.cs
Labels: Devel-NUI

#5532 [Applications.Common] Remove warning messages
  src/Tizen.Applications.Common/Tizen.Applications.CoreBackend/DefaultCoreBackend.cs
  src/Tizen.Applications.Common/Tizen.Applications.CoreBackend/ICoreBackend.cs
  src/Tizen.Applications.Common/Tizen.Applications.Exceptions/AppNotFoundException.cs
  src/Tizen.Applications.Common/Tizen.Applications.Exceptions/LaunchFailedException.cs
  src/Tizen.Applications.Common/Tizen.Applications.Exceptions/LaunchRejectedException.cs
  src/Tizen.Applications.Common/Tizen.Applications.Exceptions/OutOfMemoryException.cs
  src/Tizen.Applications.Common/Tizen.Applications.Exceptions/PermissionDeniedException.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Exceptions.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/ProxyBase.cs
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/StubBase.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControlLaunchMode.cs
  src/Tizen.Applications.Common/Tizen.Applications/Application.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfo.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfoFilter.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationRunningContext.cs
  src/Tizen.Applications.Common/Tizen.Applications/Bundle.cs
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
  src/Tizen.Applications.Common/Tizen.Applications/CultureInfoHelper.cs
  src/Tizen.Applications.Common/Tizen.Applications/DeviceOrientation.cs
  src/Tizen.Applications.Common/Tizen.Applications/GSourceManager.cs
  src/Tizen.Applications.Common/Tizen.Applications/ReceivedAppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/RecentApplicationControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/RecentApplicationInfo.cs
  src/Tizen.Applications.Common/Tizen.Applications/SafeBundleHandle.cs
  src/Tizen.Applications.Common/Tizen.Applications/TizenSynchronizationContext.cs
  src/Tizen.Applications.Common/Tizen.Applications/TizenUISynchronizationContext.cs
Labels: API11

#5469 FIDO-Client Deprecation
  src/Tizen.Account.FidoClient/Tizen.Account.FidoClient/AuthenticatorInformation.cs
  src/Tizen.Account.FidoClient/Tizen.Account.FidoClient/UafAuthenticatorFinder.cs
  src/Tizen.Account.FidoClient/Tizen.Account.FidoClient/UafClient.cs
  src/Tizen.Account.FidoClient/Tizen.Account.FidoClient/UafEnumerations.cs
  src/Tizen.Account.FidoClient/Tizen.Account.FidoClient/UafMessage.cs
  src/Tizen.Account.FidoClient/Tizen.Account.FidoClient/UafResponse.cs
Labels: ACR Required, API11

#5533 [NUI] Fix the SVACE issue.
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Wearable/src/public/Title.cs
Labels: Devel-NUI

#5527 [Applications.Common] Add TimeZoneChanged Event
  src/Tizen.Applications.Common/Interop/Interop.AppCommon.cs
  src/Tizen.Applications.Common/Tizen.Applications.CoreBackend/DefaultCoreBackend.cs
  src/Tizen.Applications.Common/Tizen.Applications.CoreBackend/EventType.cs
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
  src/Tizen.Applications.Common/Tizen.Applications/TimeZoneChangedEventArgs.cs
Labels: ACR Required, Internal API Changed, API11

#5526 [Tts] Add new internal API for TTS synthesized PCM
  src/Tizen.Uix.Tts/Interop/Interop.Tts.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/SynthesizedPcmEventArgs.cs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/TtsClient.cs
Labels: Internal API Changed, API10

#5534 [Applications.Service] Modify ServiceCoreBackend for TimeZone Event
  src/Tizen.Applications.Service/Tizen.Applications.CoreBackend/ServiceCoreBackend.cs
  src/Tizen.Applications.Service/Tizen.Applications/ServiceApplication.cs
Labels: API11

#5487 [TCSACR-533] Maps deprecation message
  src/Tizen.Maps/doc/api/Tizen.Maps.md
Labels: API11

#5535 [System.Feedback] Add new feedback_pattern for "da" profile
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API10

#5522 [NUI] Add missing code
  src/Tizen.NUI/src/internal/Interop/Interop.Clipboard.cs
Labels: Devel-NUI

#5538 [NUI] Add DataSelected in Clipboard
  src/Tizen.NUI/src/internal/Interop/Interop.Clipboard.cs
  src/Tizen.NUI/src/public/Clipboard/Clipboard.cs
  src/Tizen.NUI/src/public/Clipboard/ClipboardEvent.cs
  test/NUIClipboard/Clipboard.cs
  test/NUIClipboardDataSelected/ClipboardDataSelected.cs
  test/NUIClipboardDataSelected/NUIClipboardDataSelected.csproj
  test/NUIClipboardDataSelected/shared/res/NUIClipboardDataSelected.png
  test/NUIClipboardDataSelected/tizen-manifest.xml
Labels: Internal API Changed, Devel-NUI

#5539 [Tdbc] Fix sqlite driver
  src/Tizen.Data.Tdbc.Driver.Sqlite/Tizen.Data.Tdbc.Driver.Sqlite/Connection.cs
Labels: API11

#5542 [Applications.UI] Modify UICoreBackend for time zone event
  src/Tizen.Applications.UI/Tizen.Applications.CoreBackend/UICoreBackend.cs
  src/Tizen.Applications.UI/Tizen.Applications/CoreUIApplication.cs
Labels: API11

#5537 [ComponentBased] Add TimeZoneChanged EventHandler
  src/Tizen.Applications.ComponentBased/Interop/Interop.CBApplication.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/BaseComponent.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/ComponentStateManger.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/FrameComponentStateManager.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/ServiceComponentStateManager.cs
  src/Tizen.Applications.ComponentBased/Tizen.Applications.ComponentBased.Common/WidgetComponentStateManager.cs
Labels: ACR Required, API11

#5544 [NUI] Enhance clipboard sample code
  test/NUIClipboard/Clipboard.cs
  test/NUIClipboardDataSelected/ClipboardDataSelected.cs
Labels: Devel-NUI

#5541 [NUI] Binding PointerConstraintsEvent
  src/Tizen.NUI/src/internal/Interop/Interop.PointerConstraints.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowPointerConstraintsSignal.cs
  src/Tizen.NUI/src/internal/Window/WindowPointerConstraintsSignal.cs
  src/Tizen.NUI/src/public/Window/PointerConstraints.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, Devel-NUI

#5552 [NUI.Scene3D] Add Shadow for a Directional Light
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Light.cs
  src/Tizen.NUI.Scene3D/src/public/Light/Light.cs
Labels: API10

#5540 [TCSACR-553][Tts] Make SynthesizedPcmEventArgs inherit System.EventArgs
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/SynthesizedPcmEventArgs.cs
Labels: ACR Required, API11

#5559 [NUI] Binding GetLastHoverEvent
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#5554 [NUI] Fix ImageColor alpha not applied issue
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
Labels: Devel-NUI

#5560 [System.Feedback] Add new feedback_pattern to support general feedback patterns
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API10

#5561 [NUI] Rebase from master to DevelNUI
  src/Tizen.Uix.Tts/Tizen.Uix.Tts/SynthesizedPcmEventArgs.cs
Labels: Devel-NUI

#5563 [System.Feedback] Add internal API to support feedback stop by feedback type
  src/Tizen.System.Feedback/Feedback/Feedback.cs
  src/Tizen.System.Feedback/Interop/Interop.Feedback.cs
Labels: Internal API Changed, API10

#5564 [NUI] DragAndDrop : Add APIs for Window
  src/Tizen.NUI/src/internal/Interop/Interop.DragAndDrop.cs
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#5536 [System.Feedback] Add new feedback_pattern for "da" profile
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API11

#5566 [System.Feedback] Add internal API to support feedback stop by feedback type
  src/Tizen.System.Feedback/Feedback/Feedback.cs
  src/Tizen.System.Feedback/Interop/Interop.Feedback.cs
Labels: Internal API Changed, API11

#5565 [System.Feedback] Add new feedback_pattern to support general feedback patterns
  src/Tizen.System.Feedback/Feedback/Feedback.cs
Labels: API11

#5569 [NUI] Version Update (22244)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5572 DragAndDrop : hide window event handler
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#5573 DragAndDrop : hide window event handler
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
Labels: ACR Required, Internal API Changed, API11

#5576 [NUI.Scene3D] Fix MotionData TCT error
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.MotionIndex.cs
Labels: Devel-NUI

#5577 [NUI.Scene3D] Fix MotionData TCT error
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.MotionIndex.cs
Labels: API11

#5578 [NUI] bug fixed about windowPointerConstraintsEventCallback
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#5581 [NUI] Add HoverEvent in Window
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, Devel-NUI

#5568 [NUI.WindowSystem] Introduce the new InputGenerate feature
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.InputGenerator.cs
  src/Tizen.NUI.WindowSystem/src/public/InputGenerator.cs
  test/Tizen.NUI.WindowSystem.InputGenerator/Tizen.NUI.WindowSystem.InputGenerator.cs
  test/Tizen.NUI.WindowSystem.InputGenerator/Tizen.NUI.WindowSystem.InputGenerator.csproj
  test/Tizen.NUI.WindowSystem.InputGenerator/shared/res/Tizen.NUI.WindowSystem.InputGenerator.png
  test/Tizen.NUI.WindowSystem.InputGenerator/tizen-manifest.xml
  test/Tizen.NUI.WindowSystem.InputGenerator/tizen_dotnet_project.yaml
Labels: Internal API Changed, API11

#5579 [NUI.WindowSystem] Add new request of KVM Service
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.KVMService.cs
  src/Tizen.NUI.WindowSystem/src/public/KVMService.cs
  test/NUIWindowKVMSample/NUIWindowKVMSample.cs
Labels: Internal API Changed, API11

#5580 [NUI] Binding DispatchTouchMotion and DispatchHoverMotion
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, Devel-NUI

#5583 [NUI] Add widget list for keeping widget instance
  src/Tizen.NUI/src/public/Widget/Widget.cs
Labels: Devel-NUI

#5582 Add VisualFactory.UsePrecompiledShader()
  src/Tizen.NUI/src/internal/Interop/Interop.VisualFactory.cs
  src/Tizen.NUI/src/public/Visuals/VisualFactory.cs
Labels: Internal API Changed, Devel-NUI

#5585 [NUI] Version Update (22245)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5584 [NUI] Do not registry last event items who get retrieved
  src/Tizen.NUI/src/public/Events/Touch.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5589 [NUI] Implement defaut key construct
  src/Tizen.NUI/src/internal/Interop/Interop.Key.cs
  src/Tizen.NUI/src/public/Input/Key.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5590 [NUI] Let us not dispose cached LastEvents
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5588 [NUI.Scene3D] CodeSync MotionData API and documents
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionData.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/BlendShapeIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionPropertyIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionTransformIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionValue.cs
Labels: Internal API Changed, API10

#5592 [NUI] fix IME window crash issue
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
Labels: Devel-NUI

#5594 [NUI] fix IME window crash issue
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
Labels: API11
