Repository Samsung/TizenFX, pull requests merged in 2023-06, with the labels that each got.

#5317 [NUI] Add MoveCompleted and ResizeCompleted api on BorderWindow
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
  src/Tizen.NUI/src/public/Window/IBorderInterface.cs
Labels: Internal API Changed, Devel-NUI

#5318 [NUI] Add view helper API to rotate : LookAt
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, API10

#5308 [NUI] Update WebView TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/index.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/picture.png
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/tizen.png
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/webdb.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/webformpasword.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/weblocalfilesystem.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/webstorage.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebBackForwardList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebCertificate.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebConsoleMessage.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContext.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContextMenu.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContextMenuItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebFormRepostPolicyDecisionMaker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebFrame.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPasswordData.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPasswordDataList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPolicyDecisionMaker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebSecurityOrigin.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebSecurityOriginList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebSettings.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewCertificateReceivedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewConsoleMessageReceivedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewContextMenuHiddenEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewContextMenuShownEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewFormRepostPolicyDecidedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewHttpAuthRequestedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewResponsePolicyDecidedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewScrollEdgeReachedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewUrlChangedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebView.cs
Labels: Devel-NUI

#5319 [NUI] version update
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5110 [NUI] Introduce WindowData
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowData.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Application/WindowData.cs
Labels: Internal API Changed, Stale, Devel-NUI

#5324 [NUI] Fix incorrect calculation of configGestureCount.
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: API10

#5323 [NUI] Fix incorrect calculation of configGestureCount.
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#5322 [NUI] Fix issue of get ScrollableBase instance's Children
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/public/Common/Container.cs
Labels: Internal API Changed, Devel-NUI

#5329 [NUI] Unregister callbacks when passed argument is null.
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/internal/WebView/WebCookieManager.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI

#5330 [NUI][API10] Fix a svace issue in CustomViewRegistry.cs.
  src/Tizen.NUI/src/public/CustomView/CustomViewRegistry.cs
Labels: API10

#5331 [NUI] Version update (22230)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5333 [NUI] Add DispatchHoverEvents and DispatchPrentHoverEvents
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Internal API Changed, API11

#5334 [NUI] Add DispatchHoverEvents and DispatchPrentHoverEvents
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Devel-NUI

#5335 [NUIComponents] Roll back error modification
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI/src/public/Common/Container.cs
Labels: Internal API Changed, Devel-NUI

#5328 [NUI] Update webview TCs.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/webview/webindexeddbcreation.html
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebBackForwardList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebCertificate.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebConsoleMessage.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebContext.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebCookieManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebHitTestResult.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebHttpAuthHandler.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebHttpRequestInterceptor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebPolicyDecisionMaker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebSettings.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewHttpAuthRequestedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewResponsePolicyDecidedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/WebView/TSWebViewUrlChangedEventArgs.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebPageLoadError.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/WebView/TSWebView.cs
Labels: Devel-NUI

#5337 [NUI.Scene3D] Deprecate direct accessor to motion value list
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionData.cs
  test/Tizen.NUI.Scene3D.Sample/Scene3DSample.cs
Labels: Internal API Changed, Devel-NUI

#5339 [NUI] Add Window validation check
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Common/DaliEnumConstants.cs
Labels: Devel-NUI

#5340 [NUI] Skip when the View.BackgroundImage is set with the same value as previous one
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#5342 [Notification/NotificationEventListener] Add check box for notification
  src/Tizen.Applications.Notification/Interop/Interop.Notification.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/Notification.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationBinder.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationResponseEventType.cs
  src/Tizen.Applications.NotificationEventListener/Interop/Interop.NotificationEventListener.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationEventArgs.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationEventArgsBinder.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationEventArgsEnumerations.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationListenerManager.cs
Labels: Internal API Changed, API11

#5343 [NUI] Make subclass of ImageView can use ResourceUrl normally.
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Devel-NUI

#5320 [ThemeManager] Clear current theme cache when theme changed
  src/Tizen.Applications.ThemeManager/Tizen.Applications.ThemeManager/ThemeLoader.cs
Labels: API11

#5278 [NUI] Make hidden API for calculate screen extents.
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI

#5344 [NUI] Fix some svace issues.
  src/Tizen.NUI.Components/Controls/FlexibleView/LinearLayoutManager.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/LinearLayouter.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/GridRecycleLayoutManager.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/LinearRecycleLayoutManager.cs
  src/Tizen.NUI.Wearable/src/public/RecyclerView/RecyclerView.cs
  src/Tizen.NUI/src/internal/XamlBinding/BindingExpression.cs
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Rendering/VertexBuffer.cs
Labels: Devel-NUI

#5325 [NUI] Add a new WindowLayout Sample
  test/NUIWindowLayout/.pic/quarters-screen.png
  test/NUIWindowLayout/.pic/thirds-screen.png
  test/NUIWindowLayout/NUIWindowLayout.cs
  test/NUIWindowLayout/NUIWindowLayout.csproj
  test/NUIWindowLayout/README.md
  test/NUIWindowLayout/shared/res/NUIWindowLayout.png
  test/NUIWindowLayout/tizen-manifest.xml
Labels: Devel-NUI

#5345 [ThemeManager] Clear current theme cache when theme changed
  src/Tizen.Applications.ThemeManager/Tizen.Applications.ThemeManager/ThemeLoader.cs
Labels: API10

#5351 [NUI] Clear old resources cached marker data
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Devel-NUI

#5348 [NUI] Add some API for KeyFrames
  src/Tizen.NUI/src/internal/Interop/Interop.KeyFrames.cs
  src/Tizen.NUI/src/public/Animation/KeyFrames.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/TSKeyFrames.cs
Labels: Internal API Changed, Devel-NUI

#5352 [NUI] Fix application argv issue
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
Labels: Devel-NUI

#5349 [NUI][API10] Fix a SVACE issue.
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
Labels: API10

#5353 [NUI] Remove useless log + Add todo mark about it
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#5355 [NUI] Add font thread sync creation option
  src/Tizen.NUI/src/internal/Interop/Interop.FontClient.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
Labels: Internal API Changed, API10

#5356 [NUI] Exception if someone change disposed ImageView's property
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#5357 [NUI][API10] Do not register events if disposed ImagView changed
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API10

#5326 [NUI] Add Directional Light on Scene3D
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Light.cs
  src/Tizen.NUI.Scene3D/src/public/Light/Light.cs
Labels: Internal API Changed, Devel-NUI

#5362 [NUI] Add LazyFeedHover api for HoverEvent
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusSample.cs
Labels: Internal API Changed, Devel-NUI

#5366 [NUI] Disable ThemeManager preload
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#5358 [NUI] Write comments for Matrix
  src/Tizen.NUI/src/public/Common/Matrix.cs
  src/Tizen.NUI/src/public/Common/Matrix3.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/Common/TSMatrix.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/Common/TSMatrix3.cs
Labels: Internal API Changed, Devel-NUI
