Repository Samsung/TizenFX, pull requests merged in 2023-01, with the labels that each got.

#4878 [NUI] Reorder DeleteBaseHandle and SwigCPtrCopy = null;
  src/Tizen.NUI/src/internal/Interop/Interop.BaseHandle.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: API11

#4877 [Applications.AppControl] Add new internal APIs
  src/Tizen.Applications.Common/Interop/Interop.AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: Internal API Changed, API11

#4880 [NUI] Support Device orientation and window orientation event.
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Application/NUIWidgetCoreBackend.cs
  src/Tizen.NUI/src/internal/Common/DeviceOrientationChangedSignalType.cs
  src/Tizen.NUI/src/internal/Interop/Interop.DeviceOrientationChangedSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowOrientationChangedSignal.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
  src/Tizen.NUI/src/internal/Window/WindowOrientationChangedSignal.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Application/NUIWidgetApplication.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowEventsTest.cs
  test/Tizen.NUI.UIThread/Tizen.NUI.UIThread.cs
Labels: Internal API Changed, API10

#4861 [Camera] Fix ExtraPreview bugs
  src/Tizen.Multimedia.Camera/Camera/CameraSettings.cs
  src/Tizen.Multimedia.Camera/Interop/Interop.CameraSettings.cs
Labels: Internal API Changed, API11

#4747 [Applications.PackageManager] Add ClearUserData(package, path)
  src/Tizen.Applications.PackageManager/Interop/Interop.PackageManager.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: ACR Required, API11

#4883 [NUI] Version Update 22208
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4885 [NUI] Version Update 22208 (#4883)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: API11

#4887 [ImageUtil] Code clean
  src/Tizen.Multimedia.Util/ImageUtil/ImageRotation.cs
  src/Tizen.Multimedia.Util/ImageUtil/ImageUtilEnums.cs
  src/Tizen.Multimedia.Util/ImageUtil/JpegDownscale.cs
  src/Tizen.Multimedia.Util/ImageUtil/PngCompression.cs
Labels: API11

#4882 [NUI] Add method to DisposeRecursively. + Fix DisposeTest demo works
  src/Tizen.NUI/src/public/Common/Container.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/TSImageView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DisposeTest.cs
Labels: Internal API Changed, Devel-NUI

#4768 Fix extents convert issue
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/CompiledConverters/ExtentsTypeConverter.cs
Labels: API10

#4879 [NUI] Add an API for create,window event.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, Devel-NUI

#4881 [NUI] Add an API for create,window event.
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, API10

#4888 [NUI][NUI.Components.Devel] Fix failed isseus of NUI.Components.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Properties/Resources.Designer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Properties/Resources.resx
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Tizen.NUI.Components.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSDatePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSImageScrollBar.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSPicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSTimePicker.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSToast.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/tizen-manifest.xml
Labels: Devel-NUI, API11

#4889 [NUI][NUI.Devel] Update TCs of NUI.Devel.
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/Tizen.NUI.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/res/examl/Tizen.NUI.Devel.Tests.TotalSample.examl
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Animation/TSConstraint.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Application/TSApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDaliException.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDebugFileLogging.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRenderTaskList.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSViewImpl.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/EXaml/Action/TSGetValueAction.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Layouting/TSLayoutController.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSCamera.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Animation/TSAnimation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Application/TSNUIWidgetApplication.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/ApplicationAnimation/TSApplicationTransitionManager.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/Style/TSTextEditorStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/Style/TSTextFieldStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/Style/TSTextLabelStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSAnimatedImageView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSGLView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditor.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextEditorEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextFieldEvent.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextGeometry.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextLabel.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextLabelBindableProperty.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSContainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSMatrix.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSMatrix3.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSPropertyValue.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Common/TSRotation.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/EXaml/TSEXamlExtensions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Events/TSGestureDetector.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSNativeImageQueue.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Layouting/TSRelativeLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSCapture.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSPalette.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Utility/TSTextPageUtil.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Window/TSDefaultBorder.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TSXamlResourceIdAttribute.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/DynamicResource.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/ResourceDictionaryWithInvalidSource.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/SetStyleIdFromXName.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/TestXmlnsUsing.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XArray.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Xaml/TotalSample/XReference.xaml.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/XamlBinding/TSFloatGraphicsTypeConve.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/tizen-manifest.xml
Labels: Devel-NUI, API11

#4890 [NUI][XamlBuild] Fix namespace confused issue.
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlGenerator.cs
Labels: Devel-NUI, API11

#4894 [NUI] version update
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4892 [NUI] remove swigCPtrCopy which is useless
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#4897 [NUI] Make PixelBuffer & PixelData as Disposable
  src/Tizen.NUI/src/public/Images/EncodedImageBuffer.cs
  src/Tizen.NUI/src/public/Images/NativeImageQueue.cs
  src/Tizen.NUI/src/public/Images/NativeImageSource.cs
  src/Tizen.NUI/src/public/Images/PixelBuffer.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
Labels: Internal API Changed, Devel-NUI

#4898 [NUI] Make ReleaseSwigCPtr didn't check HasBody()
  src/Tizen.NUI/src/internal/Common/Uint16Pair.cs
  src/Tizen.NUI/src/internal/Transition/FadeTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/ScaleTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/SlideTransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItem.cs
  src/Tizen.NUI/src/internal/Transition/TransitionItemBase.cs
  src/Tizen.NUI/src/internal/Transition/TransitionSet.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/Utility/Capture.cs
Labels: Devel-NUI

#4899 [NUI] Fix bug where window size didn't change when borderline was dynamically changed.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#4903 [NUI] fix tct block issue in text field and editor
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
Labels: Devel-NUI

#4902 [NUI] Reorder Disposable's ReleaseSwigCPtr + Allow to dispose seperat…
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/etc/DisposeTest.cs
Labels: Devel-NUI

#4910 [NUI] Revert "Make PixelBuffer & PixelData as Disposable"
  src/Tizen.NUI/src/public/Images/PixelBuffer.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/Images/TSImageLoader.cs
Labels: Internal API Changed, Devel-NUI

#4912 [NUI] fix testhub crash issue
  src/Tizen.NUI/src/public/Events/PinchGestureDetector.cs
  src/Tizen.NUI/src/public/Events/RotationGestureDetector.cs
  src/Tizen.NUI/src/public/Events/TapGestureDetector.cs
Labels: Internal API Changed, Devel-NUI

#4914 [NUI] add code owner
  .github/CODEOWNERS
Labels: Devel-NUI

#4911 [Applications.Common] Modify ImportFromArgv method of Bundle
  src/Tizen.Applications.Common/Tizen.Applications/Bundle.cs
Labels: Internal API Changed, API11

#4893 [NUI] Add NUIApplication.GetScreenSize
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Internal API Changed, Devel-NUI

#4908 [NUI] Window resizing is performed in one step if possible.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#4918 [NUI] Fix perf-view-creation demo think with dali
  test/Tizen.NUI.PerformanceTest/PerformanceTest.cs
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-1.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-10.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-11.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-12.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-13.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-14.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-15.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-16.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-17.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-18.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-19.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-2.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-20.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-21.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-22.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-23.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-24.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-25.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-26.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-27.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-28.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-29.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-3.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-30.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-31.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-32.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-33.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-34.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-35.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-36.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-37.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-38.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-39.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-4.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-40.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-41.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-42.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-43.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-44.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-45.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-46.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-47.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-48.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-49.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-5.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-50.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-51.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-52.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-53.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-6.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-7.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-8.jpg
  test/Tizen.NUI.PerformanceTest/res/image/gallery-medium-9.jpg
Labels: Devel-NUI

#4922 [NUI] Add GetOverlayLayer in NUI window.
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, API10

#4924 [NUI] Version Update 22210
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#4926 Modify ImportFromArgv method of Bundle (#4911)
  src/Tizen.Applications.Common/Tizen.Applications/Bundle.cs
Labels: Devel-NUI

#4920 [Applications.Common] Remove log prints in the thread
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API11

#4921 [Applications.Common] Remove log prints in the thread
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API10

#4929 Remove log prints in the thread (#4920)
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: Devel-NUI

#4827 [NUI][API10] Load bvh file format
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, API10

#4919 [NUI][API10] Fixed the border window.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: API10

#4923 [Applications.Common] Add a new internal API
  src/Tizen.Applications.Common/Interop/Interop.AppControl.cs
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: Internal API Changed, API11

#4931 [NUI] Apply missing comments for Scene3D demo
  test/Tizen.NUI.Scene3D.Sample/Scene3DSample.cs
Labels: Devel-NUI

#4936 [NUI] Prevent NullReferenceException when creating TextLabel
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Devel-NUI

#4935 [NUI.Gadget] Add NUIGadget class for inhouse developers
  src/Tizen.NUI.Gadget/Interop/Interop.Libc.cs
  src/Tizen.NUI.Gadget/Interop/Interop.Libraries.cs
  src/Tizen.NUI.Gadget/Interop/Interop.PkgMgrInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI.Gadget.csproj
  src/Tizen.NUI.Gadget/Tizen.NUI.Gadget.sln
  src/Tizen.NUI.Gadget/Tizen.NUI/Log.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadget.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetEventType.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetLifecycleChangedEventArgs.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetLifecycleState.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetType.cs
Labels: Internal API Changed, API11

#4932 [NUI] Remove build warning messages in NUI Samples
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AllAppsSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AnimatedImageViewTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/BorderWindowTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CameraViewTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CheckBoxSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CircularTextSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ClippedImage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ContactCard.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ContactCardLayouter.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliTableView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FlexibleViewSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FrameUpdateCallbackTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/GraphicsTypeTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/GridLayoutSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ItemViewDemo/ItemViewSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/LoadingSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PageTransitionSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaginationSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PaletteSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ProgressSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PropertyNotificationTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RadioButtonSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationFollowTouch.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RiveAnimationUniverse.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollBarSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SliderSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SwitchSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/TabSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ToastSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ViewSizeWidthPropertySetTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowBorderTest.cs
Labels: Devel-NUI

#4943 [NUI][Test] Commit missing file
  test/Tizen.NUI.PerformanceTest/res/image/gallery-small-1.jpg
Labels: Devel-NUI

#4940 [NUI][Scene3D] Fix memory leak issue for Model's Animation
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Devel-NUI

#4941 [NUI][Scene3D][API10] Fix memory leak issue for Model's Animation
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: API10

#4944 [NUI] Fix ImageUrl.Dispose issue + Add EncodedImageBuffer sample
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/EncodedImageSample.cs
Labels: Devel-NUI

#4945 [NUI][API10] Fix ImageUrl.Dispose issue
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: API10

#4939 [NUI][Scene3D] Load bvh file format
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, Devel-NUI

#4901 [NUI] Fix Navigator & GridLayouter svace issues.
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Layouter/GridLayouter.cs
Labels: Devel-NUI

#4937 [NUI][Scene3D] FBO MultiSamplingLevel Property for SceneView
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.SceneView.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Internal API Changed, Devel-NUI

#4938 [NUI][Scene3D][API10] FBO MultiSamplingLevel Property for SceneView
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.SceneView.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Internal API Changed, API10

#4946 [NUI] Fix NUI button not working when style disabled
  src/Tizen.NUI.Components/Controls/Button.Internal.cs
  src/Tizen.NUI.Components/Controls/Button.cs
Labels: Devel-NUI
