Repository Samsung/TizenFX, pull requests merged in 2023-07, with the labels that each got.

#5364 [NUI] Add ModelRoot Property in Model class
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, API10

#5363 [NUI] Add ModelRoot Property in Model class
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Internal API Changed, Devel-NUI

#5367 [NUI] Partial update feature enable/disable for window
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#5368 [NUI] Add InterceptWheelEvent
  src/Tizen.NUI/src/internal/Interop/Interop.ActorSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ScrollableFocus/ScrollableFocusSample.cs
Labels: Internal API Changed, Devel-NUI

#5371 [NUI] version up(22231)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5370 [NUI] Update FontSizeScale values
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: API10

#5369 [NUI] Update FontSizeScale values
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: Devel-NUI

#5373 [NUI] Disable ThemeManager preload
  src/Tizen.NUI.Components/Theme/DefaultTheme.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: API10

#5375 [NUI] Delete the used window in widget
  src/Tizen.NUI/src/internal/Widget/WidgetImpl.cs
  src/Tizen.NUI/src/public/Widget/Widget.cs
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/SimpleWidgetApp.cs
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/SimpleWidgetViewApp.cs
Labels: Devel-NUI

#5378 [NUI] Binding IsFloatingModeEnabled()
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#5379 [NUI] Register OrientationChanged for BorderWindow.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#5381 [NUI] Fix not to propagate gesture from scrim
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
Labels: Devel-NUI

#5380 [NUI] Fix not to propagate gesture from scrim
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
Labels: API10

#5382 [NUI] Binding IsFloatingModeEnabled()
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, API10

#5384 Version update - 22234
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5359 [MediaPlayer] Add new API to set video codec type
  src/Tizen.Multimedia.MediaPlayer/Interop/Interop.Player.cs
  src/Tizen.Multimedia.MediaPlayer/Player/Player.Properties.cs
  src/Tizen.Multimedia.MediaPlayer/Player/PlayerEnums.cs
Labels: ACR Required, API11

#5383 [NUI] Register OrientationChanged for BorderWindow.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: API10

#5374 [NUI.Scene3D] Make MotionData use Native API, instead of C#
  src/Tizen.NUI.Scene3D/src/internal/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.MotionData.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.MotionValue.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/BlendShapeIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionData.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/BlendShapeIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionPropertyIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionIndex/MotionTransformIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionTransformIndex.cs
  src/Tizen.NUI.Scene3D/src/public/ModelMotion/MotionValue.cs
  test/Tizen.NUI.Scene3D.Sample/Scene3DSample.cs
Labels: Internal API Changed, Devel-NUI

#5387 [NUI][API10][AT-SPI] Set focus in OnAccessibilityActivated()
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: API10

#5391 [NUI] Switch camera includes current camera's Unparent()
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
Labels: Devel-NUI

#5394 [NUI] Update Font size scale again based on the updated guide
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
Labels: API10

#5393 [NUI] Update Font size scale again based on the updated guide
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSTextUtils.cs
Labels: Devel-NUI

#5392 [NUI] Fix SVACE issue.
  src/Tizen.NUI/src/internal/Application/Application.cs
Labels: Devel-NUI

#5389 [Tizen.Applications] Fix static analysis issues
  src/Tizen.Applications.RemoteView/Tizen.Applications/RemoteView.cs
  src/Tizen.Applications.WidgetControl/Tizen.Applications/WidgetControl.cs
Labels: API11

#5395 [NUI] Delete the used window in widget
  src/Tizen.NUI/src/internal/Widget/WidgetImpl.cs
  src/Tizen.NUI/src/public/Widget/Widget.cs
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetTest/SimpleWidgetApp.cs
  test/Tizen.NUI.WidgetViewTest/0.Template/Tizen.NUI.WidgetViewTest/SimpleWidgetViewApp.cs
Labels: API10

#5398 [NUI] Add VisibilityChanged event to Layer
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: Internal API Changed, API10

#5400 [NUI] Version Update (22235)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5406 [NUI] Event-related APIs are moved to ViewEvent.cs, and Add DispatchTouchMotion and DispatchHoverMotion.
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Internal API Changed, Devel-NUI

#5408 [NUI] Remove RenderTask itself from the RenderTaskList when disposed
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
Labels: Internal API Changed, Devel-NUI

#5407 [NUI] Remove RenderTask itself from the RenderTaskList when disposed
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
Labels: Internal API Changed, API10

#5410 [NUI] Get Lottie ActionId of SetDynamicProperty
  src/Tizen.NUI/src/internal/Interop/Interop.LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Internal API Changed, Devel-NUI

#5411 [NUI] Add logic to check if GetLastTouchEvent() is null.
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5412 [NUI] Restore FeedHover due to api compatibility issue.
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#5409 [NUI] Fast track uploading image
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#5108 Deprecating Tizen.Maps APIs
  src/Tizen.Maps/Tizen.Maps/Area.cs
  src/Tizen.Maps/Tizen.Maps/Direction.cs
  src/Tizen.Maps/Tizen.Maps/DistanceUnit.cs
  src/Tizen.Maps/Tizen.Maps/GeocodeRequest.cs
  src/Tizen.Maps/Tizen.Maps/Geocoordinates.cs
  src/Tizen.Maps/Tizen.Maps/GeocoordinatesList.cs
  src/Tizen.Maps/Tizen.Maps/GestureType.cs
  src/Tizen.Maps/Tizen.Maps/IGeocodePreference.cs
  src/Tizen.Maps/Tizen.Maps/IPlaceSearchPreference.cs
  src/Tizen.Maps/Tizen.Maps/IRouteSearchPreference.cs
  src/Tizen.Maps/Tizen.Maps/MapGestureEventArgs.cs
  src/Tizen.Maps/Tizen.Maps/MapObject.cs
  src/Tizen.Maps/Tizen.Maps/MapService.cs
  src/Tizen.Maps/Tizen.Maps/MapServiceRequest.cs
  src/Tizen.Maps/Tizen.Maps/MapTypes.cs
  src/Tizen.Maps/Tizen.Maps/MapView.cs
  src/Tizen.Maps/Tizen.Maps/Marker.cs
  src/Tizen.Maps/Tizen.Maps/MultiReverseGeocodeRequest.cs
  src/Tizen.Maps/Tizen.Maps/Overlay.cs
  src/Tizen.Maps/Tizen.Maps/Place.cs
  src/Tizen.Maps/Tizen.Maps/PlaceAddress.cs
  src/Tizen.Maps/Tizen.Maps/PlaceAttribute.cs
  src/Tizen.Maps/Tizen.Maps/PlaceCategory.cs
  src/Tizen.Maps/Tizen.Maps/PlaceContact.cs
  src/Tizen.Maps/Tizen.Maps/PlaceEditorial.cs
  src/Tizen.Maps/Tizen.Maps/PlaceFilter.cs
  src/Tizen.Maps/Tizen.Maps/PlaceImage.cs
  src/Tizen.Maps/Tizen.Maps/PlaceLink.cs
  src/Tizen.Maps/Tizen.Maps/PlaceMedia.cs
  src/Tizen.Maps/Tizen.Maps/PlaceRating.cs
  src/Tizen.Maps/Tizen.Maps/PlaceReview.cs
  src/Tizen.Maps/Tizen.Maps/PlaceSearchRequest.cs
  src/Tizen.Maps/Tizen.Maps/Polygon.cs
  src/Tizen.Maps/Tizen.Maps/Polyline.cs
  src/Tizen.Maps/Tizen.Maps/ReverseGeocodeRequest.cs
  src/Tizen.Maps/Tizen.Maps/Route.cs
  src/Tizen.Maps/Tizen.Maps/RouteFeature.cs
  src/Tizen.Maps/Tizen.Maps/RouteFeatureWeight.cs
  src/Tizen.Maps/Tizen.Maps/RouteManeuver.cs
  src/Tizen.Maps/Tizen.Maps/RouteOptimization.cs
  src/Tizen.Maps/Tizen.Maps/RouteSearchRequest.cs
  src/Tizen.Maps/Tizen.Maps/RouteSegment.cs
  src/Tizen.Maps/Tizen.Maps/SearchPreference.cs
  src/Tizen.Maps/Tizen.Maps/ServiceData.cs
  src/Tizen.Maps/Tizen.Maps/ServiceRequestType.cs
  src/Tizen.Maps/Tizen.Maps/SnapshotType.cs
  src/Tizen.Maps/Tizen.Maps/TransportMode.cs
  src/Tizen.Maps/Tizen.Maps/TurnInstruction.cs
Labels: ACR Required, API11

#5413 [NUI] Version Update (22236)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#5414 Deprecating Tizen.Maps APIs (#5108)
  src/Tizen.Maps/Tizen.Maps/Area.cs
  src/Tizen.Maps/Tizen.Maps/Direction.cs
  src/Tizen.Maps/Tizen.Maps/DistanceUnit.cs
  src/Tizen.Maps/Tizen.Maps/GeocodeRequest.cs
  src/Tizen.Maps/Tizen.Maps/Geocoordinates.cs
  src/Tizen.Maps/Tizen.Maps/GeocoordinatesList.cs
  src/Tizen.Maps/Tizen.Maps/GestureType.cs
  src/Tizen.Maps/Tizen.Maps/IGeocodePreference.cs
  src/Tizen.Maps/Tizen.Maps/IPlaceSearchPreference.cs
  src/Tizen.Maps/Tizen.Maps/IRouteSearchPreference.cs
  src/Tizen.Maps/Tizen.Maps/MapGestureEventArgs.cs
  src/Tizen.Maps/Tizen.Maps/MapObject.cs
  src/Tizen.Maps/Tizen.Maps/MapService.cs
  src/Tizen.Maps/Tizen.Maps/MapServiceRequest.cs
  src/Tizen.Maps/Tizen.Maps/MapTypes.cs
  src/Tizen.Maps/Tizen.Maps/MapView.cs
  src/Tizen.Maps/Tizen.Maps/Marker.cs
  src/Tizen.Maps/Tizen.Maps/MultiReverseGeocodeRequest.cs
  src/Tizen.Maps/Tizen.Maps/Overlay.cs
  src/Tizen.Maps/Tizen.Maps/Place.cs
  src/Tizen.Maps/Tizen.Maps/PlaceAddress.cs
  src/Tizen.Maps/Tizen.Maps/PlaceAttribute.cs
  src/Tizen.Maps/Tizen.Maps/PlaceCategory.cs
  src/Tizen.Maps/Tizen.Maps/PlaceContact.cs
  src/Tizen.Maps/Tizen.Maps/PlaceEditorial.cs
  src/Tizen.Maps/Tizen.Maps/PlaceFilter.cs
  src/Tizen.Maps/Tizen.Maps/PlaceImage.cs
  src/Tizen.Maps/Tizen.Maps/PlaceLink.cs
  src/Tizen.Maps/Tizen.Maps/PlaceMedia.cs
  src/Tizen.Maps/Tizen.Maps/PlaceRating.cs
  src/Tizen.Maps/Tizen.Maps/PlaceReview.cs
  src/Tizen.Maps/Tizen.Maps/PlaceSearchRequest.cs
  src/Tizen.Maps/Tizen.Maps/Polygon.cs
  src/Tizen.Maps/Tizen.Maps/Polyline.cs
  src/Tizen.Maps/Tizen.Maps/ReverseGeocodeRequest.cs
  src/Tizen.Maps/Tizen.Maps/Route.cs
  src/Tizen.Maps/Tizen.Maps/RouteFeature.cs
  src/Tizen.Maps/Tizen.Maps/RouteFeatureWeight.cs
  src/Tizen.Maps/Tizen.Maps/RouteManeuver.cs
  src/Tizen.Maps/Tizen.Maps/RouteOptimization.cs
  src/Tizen.Maps/Tizen.Maps/RouteSearchRequest.cs
  src/Tizen.Maps/Tizen.Maps/RouteSegment.cs
  src/Tizen.Maps/Tizen.Maps/SearchPreference.cs
  src/Tizen.Maps/Tizen.Maps/ServiceData.cs
  src/Tizen.Maps/Tizen.Maps/ServiceRequestType.cs
  src/Tizen.Maps/Tizen.Maps/SnapshotType.cs
  src/Tizen.Maps/Tizen.Maps/TransportMode.cs
  src/Tizen.Maps/Tizen.Maps/TurnInstruction.cs
Labels: ACR Required, Devel-NUI

#5416 [NUI][Samples] Fix exception during shutdown + Remove useless codes
  test/Tizen.NUI.PerformanceTest/PerformanceTest.cs
Labels: Devel-NUI

#5417 [NUI] Make Action id as internal static readonly
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Internal API Changed, Devel-NUI
