Repository Samsung/TizenFX, pull requests merged in 2024-07, with the labels that each got.

#6180 [NUI] Supports new window functions
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#6191 [NUI] Add sample and description for window
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/WindowTest1.cs
Labels: Devel-NUI

#6195 [NUI] NUI version up(nui22330)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6199 [NUI] Remove unused macro
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Devel-NUI

#6193 [NUI] Make Capture return ImageUrl
  src/Tizen.NUI/src/internal/Interop/Interop.Capture.cs
  src/Tizen.NUI/src/public/Utility/Capture.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CaptureTest.cs
Labels: Internal API Changed, Devel-NUI

#6203 [NUI] Add friend assembly for NUI2
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: Devel-NUI

#6202 [NUI] Add friend assembly for NUI2
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API11

#6201 [NUI] Add friend assembly for NUI2
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API10

#6205 [NUI][API11] Make ProcessController.Initialized check as static + Initialize at Instance getter
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
Labels: API11

#6204 [NUI] Make ProcessController.Initialized check as static + Initialize at Instance getter
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
Labels: Devel-NUI

#6200 [NUI] Refine KeyFrames PropertyValues with propertyValueConverter
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
Labels: Devel-NUI

#6192 [NUI] Avoid boxing,unboxing overhead
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PropertyTest.cs
Labels: Devel-NUI

#6206 [NUI] Make ControlHandle dispose always
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
Labels: Devel-NUI

#6207 [NUI] NUI version up(nui22331)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6210 [NUI] Fix SVACE issues
  src/Tizen.AIAvatar/src/Lipsync/VowelConverter/Audio2Vowel/inMFCC/Algorithm/FFT.cs
  src/Tizen.AIAvatar/src/Lipsync/VowelConverter/Vowel2Animation/AnimationConverter.cs
  src/Tizen.NUI/src/internal/Common/EnumHelper.cs
  src/Tizen.NUI/src/internal/Widget/WidgetImpl.cs
  src/Tizen.NUI/src/internal/Xaml/TypeConversionExtensions.cs
  src/Tizen.NUI/src/internal/Xaml/XamlLoader.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/CustomView/CustomViewRegistry.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  src/Tizen.NUI/src/public/XamlBinding/BindablePropertyConverter.cs
Labels: Devel-NUI

#6211 [NUI.WindowSystem] Introduce the new InputGesture feature
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.InputGesture.cs
  src/Tizen.NUI.WindowSystem/src/public/EdgeDragEventArgs.cs
  src/Tizen.NUI.WindowSystem/src/public/EdgeSwipeEventArgs.cs
  src/Tizen.NUI.WindowSystem/src/public/InputGesture.cs
  src/Tizen.NUI.WindowSystem/src/public/PalmCoverEventArgs.cs
  src/Tizen.NUI.WindowSystem/src/public/TapEventArgs.cs
  test/Tizen.NUI.WindowSystem.InputGesture/Tizen.NUI.WindowSystem.InputGesture.cs
  test/Tizen.NUI.WindowSystem.InputGesture/Tizen.NUI.WindowSystem.InputGesture.csproj
  test/Tizen.NUI.WindowSystem.InputGesture/shared/res/Tizen.NUI.WindowSystem.InputGesture.png
  test/Tizen.NUI.WindowSystem.InputGesture/tizen-manifest.xml
  test/Tizen.NUI.WindowSystem.InputGesture/tizen_dotnet_project.yaml
Labels: Internal API Changed, API10

#6213 [NUI] NUI version up(nui22332)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6214 Update deploy-documents.yml
  .github/workflows/deploy-documents.yml
Labels: API12

#6216 [NUI] Add friend assembly for NUI2.Compatibility
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API10

#6217 [NUI] Add friend assembly for NUI2.Compatibility
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API11

#6218 [NUI] Add friend assembly for NUI2.Compatibility
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API12

#6181 [WebRTC] Change state restriction
  src/Tizen.Multimedia.Remoting/WebRTC/MediaFileSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaMicrophoneSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaNullSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: API12

#6222 [NUI] Revert the legacy Autofill code
  src/Tizen.NUI/src/internal/Common/AuthenticationSignalType.cs
  src/Tizen.NUI/src/internal/Common/ListEventSignalType.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AuthenticationSignalType.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AutofillContainer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ListEventSignalType.cs
  src/Tizen.NUI/src/public/Input/AutofillContainer.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSAuthenticationSignalType.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSListEventSignalType.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Input/TSAutofillContainer.cs
Labels: Internal API Changed, Devel-NUI

#6221 Revert "[NUI] If the view had focus when it was unparented, the focus is cleared. (#4654)"
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: Devel-NUI

#6223 [NUI] Remove the legacy AccessibilityActivate code
  src/Tizen.NUI/src/internal/Common/ViewImpl.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewImpl.cs
Labels: Devel-NUI

#6231 [NUI] NUI Version up(nui22333)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6233 [WebRTC] Change state restriction (#6181)
  src/Tizen.Multimedia.Remoting/WebRTC/MediaFileSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaMicrophoneSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/MediaNullSource.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: Devel-NUI

#6235 Revert "[NUI] If the view had focus when it was unparented, the focusis cleared. (#4654)"
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: API11

#6209 [NUI] Support Shadow and ColorVisual cutout policy
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/ColorVisual.cs
  test/NUITizenGallery/Examples/ShadowFrameTest/ShadowFrameTest1Page.xaml
  test/NUITizenGallery/Examples/ShadowFrameTest/ShadowFrameTest1Page.xaml.cs
Labels: Internal API Changed, Devel-NUI

#6179 [NUI] Support View BackgroundBlurEffect
  src/Tizen.NUI/src/internal/Interop/Interop.RenderEffect.cs
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Utility/RenderEffect.cs
Labels: Internal API Changed, Devel-NUI

#6229 [NoACR][MachineLearning.Inference] Change internal tensor size limit
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/Commons.cs
  src/Tizen.MachineLearning.Inference/Tizen.MachineLearning.Inference/TensorsInfo.cs
Labels: API12

#6238 [NUI] Clean code for NUI Layouting
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
Labels: Devel-NUI

#6244 [NUI] Version update(22334)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6239 [NUI] Add Exclusive Option for Capture
  src/Tizen.NUI/src/internal/Interop/Interop.Capture.cs
  src/Tizen.NUI/src/public/Utility/Capture.cs
Labels: Internal API Changed, Devel-NUI
