Repository Samsung/TizenFX, pull requests merged in 2024-04, with the labels that each got.

#6029 [NUI] Add SetTapMaximumMotionAllowedDistance
  src/Tizen.NUI/src/internal/Interop/Interop.GestureOptions.cs
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
Labels: Internal API Changed, API11

#6025 [NUI] Add SetTapMaximumMotionAllowedDistance
  src/Tizen.NUI/src/internal/Interop/Interop.GestureOptions.cs
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
Labels: Internal API Changed, Devel-NUI

#6001 [NUI] Introduce RemoveFrontInset, RemoveBackInset property
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
Labels: Internal API Changed, Devel-NUI

#6044 [MediaVision] Prevent GC of object including unmanaged handle
  src/Tizen.Multimedia.Vision/MediaVision/BarcodeGenerator.cs
Labels: API12

#6045 [MediaVision] Prevent GC of object including unmanaged handle
  src/Tizen.Multimedia.Vision/MediaVision/BarcodeGenerator.cs
Labels: API11

#6043 [NUI.WindowSystem] Backport GetSourceMimetypes of KVMService to API11
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.KVMService.cs
  src/Tizen.NUI.WindowSystem/src/public/KVMService.cs
  test/NUIWindowKVMSample/NUIWindowKVMSample.cs
Labels: Internal API Changed, API11

#6046 [Tizen.AIAvatar] Fix Svace issue
  src/Tizen.AIAvatar/src/internal/Common/RestClient.cs
  src/Tizen.AIAvatar/src/internal/Uix/TTSLipSyncer.cs
  src/Tizen.AIAvatar/src/public/Avatar/Animations/AnimationModule/BlendShapePlayer.cs
  src/Tizen.AIAvatar/src/public/Avatar/Animations/AnimationModule/LipSyncer.cs
  src/Tizen.AIAvatar/src/public/Avatar/Animations/AnimationModule/MotionPlayer.cs
  src/Tizen.AIAvatar/src/public/Avatar/Avatar.cs
  src/Tizen.AIAvatar/src/public/Avatar/Controller/AvatarTTS.cs
Labels: API12

#6042 [NUI] Add SetTime in Touch
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
Labels: Internal API Changed, API11

#6039 [NUI] Add SetTime in Touch
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
Labels: Internal API Changed, Devel-NUI

#6049 [NUI] Version up 22317
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6058 [NUI] Version up 22318
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6060 [NUI] Version up 22318
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: API12

#6057 [NUI] Fix build errors of Tizen.NUI.Components.Devel.Tests
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/Tizen.NUI.Components.Devel.Tests.csproj
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/RecyclerView/TSCollectionView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Controls/TSButton.Internal.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSLottieButtonExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSLottieSwitchExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/Extension/TSSwitchExtension.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/testcase/PreloadStyle/TSOverlayAnimationButtonStyle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Components.Devel.Tests/tizen-manifest.xml
  test/Tizen.NUI.Tests/nunit.framework/nunit.framework.csproj
  test/Tizen.NUI.Tests/nunitlite/nunitlite.csproj
Labels: Devel-NUI

#6040 [NUI] Fix svace issue of buffer exceed size
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
Labels: API11

#6041 [NUI] Fix svace issue of buffer exceed size
  src/Tizen.NUI.Wearable/src/public/Title.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
Labels: API11

#6047 Fix svace issue df240325-00447 240401
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
Labels: Devel-NUI

#6048 [NUI] Fix svace issue of buffer exceed size
  src/Tizen.NUI.Wearable/src/public/Title.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
Labels: Devel-NUI

#6063 [NUI] Fix View to use control-accessible State::SENSITIVE
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Devel-NUI

#6065 [NUI] Fix View to use control-accessible State::SENSITIVE
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: API10

#6066 [NUI] Fix View to use control-accessible State::SENSITIVE
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: API11

#6055 [NUI] Add IsUsingXaml at NUIWidgetApplication and change AnimatedVectorImageView's property
  src/Tizen.NUI/src/public/Application/NUIWidgetApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
Labels: Internal API Changed, API11

#6067 [NUI] Fix svace issue on Popup
  src/Tizen.NUI.Components/Controls/Popup.cs
Labels: Devel-NUI

#6068 [NUI.Gadget] Fix NUIGadgetResourceManager
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: API10

#6069 [NUI.Gadget] Fix NUIGadgetResourceManager
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: API11

#6070 [NUI.Gadget] Fix NUIGadgetResourceManager
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetResourceManager.cs
Labels: API12

#6074 [NUI.Gadget] Support Unload() method to release assembly
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetAssembly.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: Internal API Changed, API12

#6073 [NUI.Gadget] Support Unload() method to release assembly
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetAssembly.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: Internal API Changed, API11

#6076 [NUI] Change LottieAnimationView's property and renaming summary at NUIApplication
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationViewBindableProperty.cs
Labels: Devel-NUI

#6077 [NUI] Add IsUsingXaml flag in properties of View and AnimatedVectorImageView
  src/Tizen.NUI/Tizen.NUI.csproj
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/public/Application/NUIWidgetApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Internal API Changed, Devel-NUI

#6082 [NUI] Change the SetTime of Touch from ulong to uint.
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
Labels: API11

#6078 [NUI] Change Scrollable property
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
Labels: Devel-NUI

#6086 [NUI] TextEditorBindableProperty changes
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
Labels: Devel-NUI

#6087 [NUI] TextField BindableProperty refactor
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
Labels: Devel-NUI

#6083 [NUI] Change the SetTime of Touch from ulong to uint.
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
Labels: Devel-NUI

#6093 [NUI.Gadget] Modify NUIGadgetManager Implementation
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: API10

#6094 [NUI] TextLabel BindableProperty refactor
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
Labels: Devel-NUI

#6095 [NUI] ScrollViewBindableProperty changes
  src/Tizen.NUI/src/public/Utility/ScrollView.cs
  src/Tizen.NUI/src/public/Utility/ScrollViewBindableProperty.cs
Labels: Devel-NUI

#6096 [NUI] Add IsUsingXaml to RemoveFrontInset and RemoveBackInset
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
Labels: Devel-NUI

#6097 [NUI] Change WebView property
  src/Tizen.NUI/src/public/WebView/WebView.cs
  src/Tizen.NUI/src/public/WebView/WebViewBindableProperty.cs
Labels: Devel-NUI

#6098 [NUI] Change WidgetView property
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
Labels: Devel-NUI

#6099 [NUI] Change DefaultBorder property
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#6106 [NUI] Add VirtualRemocon and VirtualMouse sub device types
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Internal API Changed, API11

#6107 [NUI.Extension] Use rive-tizen so file
  src/Tizen.NUI.Extension/Interop/Interop.RiveAnimationView.cs
Labels: Devel-NUI

#6105 [NUI] Add IsXamlUsing flag to Camera, ItemView and etc
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/internal/Utility/CameraBindableProperty.cs
  src/Tizen.NUI/src/internal/Utility/GaussianBlurView.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Utility/ItemViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
Labels: API11

#6104 [NUI] Add IsXamlUsing flag to Camera, ItemView and etc
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/internal/Utility/CameraBindableProperty.cs
  src/Tizen.NUI/src/internal/Utility/GaussianBlurView.cs
  src/Tizen.NUI/src/internal/Utility/ItemView.cs
  src/Tizen.NUI/src/internal/Utility/ItemViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
Labels: Devel-NUI

#6112 [NUI] Fix TV AdPlayer crash issue
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: API11

#6113 [NUI] Fix TV AdPlayer crash issue
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#6114 Revert "[NUI] Add VirtualRemocon and VirtualMouse sub device types"
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Internal API Changed, API11

#6064 Add C# internal APIs
  src/Tizen.Network.Bluetooth/Interop/Interop.Bluetooth.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapter.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothAdapterImpl.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEnumerations.cs
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothEventArgs.cs
Labels: Internal API Changed, API12

#6090 [NUI][AT-SPI] Fixed Dialog and AlertDialog behaviour
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
Labels: Devel-NUI

#6091 [API11][NUI][AT-SPI] Fixed Dialog and AlertDialog behaviour
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
Labels: API11

#6081 [API10][NUI][AT-SPI] Fixed AlertDialog behaviour
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
Labels: API10

#6116 [NUI] Fix the crash in ubuntu-backend
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
Labels: API11

#6117 [NUI] Fix the crash in ubuntu-backend
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
Labels: Devel-NUI
