Repository Samsung/TizenFX, pull requests merged in 2024-05, with the labels that each got.

#6115 [NUI] Add VelocityTracker
  src/Tizen.NUI/src/public/Utility/AccumulatingVelocityTrackerStrategy.cs
  src/Tizen.NUI/src/public/Utility/LeastSquaresVelocityTrackerStrategy.cs
  src/Tizen.NUI/src/public/Utility/VelocityTracker.cs
  src/Tizen.NUI/src/public/Utility/VelocityTrackerStrategy.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VelocityTrackerSample.cs
Labels: Internal API Changed, Devel-NUI

#6124 [NUI] Fix svace issue for BorderWindow
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: API11

#6125 [NUI] Fix svace issue for BorderWindow
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#6038 [Common] Modify wrong descriptions of AppControl.SendLaunchRequest
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: API12

#6126 [Applications.Common] Fix wrong since_tizen tag
  src/Tizen.Applications.Common/Tizen.Applications/AppControl.cs
Labels: Internal API Changed, API12

#6130 [NUI] Split WidgetViewer so
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetViewManager.cs
  src/Tizen.NUI/src/internal/Interop/NDalicPINVOKE.cs
Labels: Devel-NUI

#6127 [NUI] Clean BackgroundImage setter logic
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#6128 [NUI] Do not ask DALi to get BackgroundImage url
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#6132 [NUI] Version 22323
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6133 [NUI] Add align API to InputMethodContext
  src/Tizen.NUI/src/internal/Interop/Interop.InputMethodContext.cs
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
Labels: Internal API Changed, API11

#6119 Add a new value for WPA3 AP in enum WiFiSecurityType
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionTypes.cs
Labels: ACR Required, API11

#6120 [Tizen.Network.Connection] Add a new value for WPA3 AP in enum WiFiSecurityType
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionTypes.cs
Labels: ACR Required, API10

#6118 Add a new value for WPA3 AP in enum WiFiSecurityType
  src/Tizen.Network.Connection/Tizen.Network.Connection/ConnectionTypes.cs
Labels: ACR Required, API12

#6137 [NUI] Introduce Cutout Property
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
Labels: Internal API Changed, Devel-NUI

#6129 [NUI] Add SetTransitionEffectOption for ImageView's transition effect
  src/Tizen.NUI/src/internal/Interop/Interop.ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/PlaceHolderImageTest.cs
Labels: Internal API Changed, Devel-NUI

#6141 [NUI] Fix multiscreen exception when IsUsingXaml is false
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: API11

#6142 [NUI] Fix multiscreen exception when IsUsingXaml is false
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#6139 [NUI] Add ID value of Animation + Bind more API for RenderTask
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Animation.cs
  src/Tizen.NUI/src/internal/Interop/Interop.RenderTask.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Internal API Changed, Devel-NUI

#6143 [NUI] NUI verson up (nui22324)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6136 [NUI] Calculate desired size internally
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#6148 [NUI] Add FriendAssembly for DA FLUX
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API11

#6149 [NUI] Fix View preload sequences
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: API11
