Repository Samsung/TizenFX, pull requests merged in 2024-08, with the labels that each got.

#6247 [NUI] Add GetLastPanGestureState
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#6250 [NUI.Scene3D.Sample] Remove useless looping animation
  test/Tizen.NUI.Scene3D.Sample/Scene3DSample.cs
Labels: Devel-NUI

#6252 [NUI] Add WebView Certificate policy decision error get and suspend
  src/Tizen.NUI/src/internal/Interop/Interop.WebCertificate.cs
  src/Tizen.NUI/src/internal/WebView/WebCertificate.cs
Labels: Internal API Changed, API10

#6230 [NUI] Add InheritedVisibilityChanged Event
  src/Tizen.NUI/src/internal/Interop/Interop.ActorSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Common/AggregatedVisibilityChangedEventArgs.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: Internal API Changed, Devel-NUI

#6253 [NUI] Version upate(22335)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6248 [NUI] Make VisibilityChangedEventArgs.View return visibility changed view
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VisibilityChangedTest.cs
Labels: Devel-NUI

#6240 [MediaContent] Deprecate all Bookmark and Playlist APIs
  src/Tizen.Content.MediaContent/Interop/Interop.MediaInfo.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/Bookmark.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/BookmarkCommand.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/Columns.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaInfoCommand.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/PlayList.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/PlaylistCommand.cs
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/PlaylistMember.cs
Labels: ACR Required, API12

#6256 [WebRTC] Add debug log
  src/Tizen.Multimedia.Remoting/WebRTC/MediaPacketSourceConfiguration.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTC.cs
Labels: API12

#6259 [NUI] Fix TableView TC fail issue
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: API12

#6249 [NUI] Remove various build warnings (phase 1)
  src/Tizen.NUI/src/internal/Common/DefaultItemLayoutProperty.cs
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Matrix.cs
  src/Tizen.NUI/src/public/Common/Matrix3.cs
  src/Tizen.NUI/src/public/Common/RelativeVector3.cs
  src/Tizen.NUI/src/public/Common/TimePeriod.cs
  src/Tizen.NUI/src/public/Common/WeakEvent.cs
  src/Tizen.NUI/src/public/DragAndDrop/DragAndDrop.cs
  src/Tizen.NUI/src/public/Images/ImageUrl.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
  src/Tizen.NUI/src/public/Images/PixelFormat.cs
  src/Tizen.NUI/src/public/Rendering/VertexBuffer.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  src/Tizen.NUI/src/public/Utility/Capture.cs
  src/Tizen.NUI/src/public/Utility/RenderEffect.cs
Labels: Internal API Changed, Devel-NUI

#6258 [NUI] Fix TableView TC fail issue
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#6251 [NUI] Apply comments at VisualBase (phase 1)
  src/Tizen.NUI/src/internal/Common/VisualObjectsContainer.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
Labels: Internal API Changed, Devel-NUI

#6241 [NUI] Bind SynchronousSizing for ImageView / ImageVisual
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/ImageVisual.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VisualTest.cs
Labels: Internal API Changed, Devel-NUI

#6261 [NUI] Version Update (22336)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6246 [NUI.Scene3D] Move CameraTransition Implementation to Native
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.SceneView.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/Scene3DCameraTransitionTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/models/BoxAnimated.glb
Labels: Internal API Changed, Devel-NUI

#6236 [NUI] Fix SVACE defects
  src/Tizen.AIAvatar/src/Lipsync/LipSyncer.cs
  src/Tizen.AIAvatar/src/Lipsync/VowelConverter/VowelConverter.cs
Labels: Devel-NUI

#6272 [NUI.Devel.Tests] Do not use ColorFormat.RGBA, which might the behavor will be changed
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSNativeImageQueue.cs
Labels: Devel-NUI

#6182 [TCSACR-586][NUI] Add IWindowProvider to be used as a common window interface across different modules
  src/Tizen.Multimedia/Common/Display.cs
  src/Tizen.NUI.WindowSystem/Tizen.NUI.WindowSystem.sln
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.EcoreWl2.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.KVMService.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.QuickPanelClient.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.QuickPanelService.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.SoftkeyClient.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.SoftkeyService.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.TaskbarService.cs
  src/Tizen.NUI.WindowSystem/src/public/KVMService.cs
  src/Tizen.NUI.WindowSystem/src/public/QuickPanelClient.cs
  src/Tizen.NUI.WindowSystem/src/public/QuickPanelService.cs
  src/Tizen.NUI.WindowSystem/src/public/SoftkeyClient.cs
  src/Tizen.NUI.WindowSystem/src/public/SoftkeyService.cs
  src/Tizen.NUI.WindowSystem/src/public/TaskbarService.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  src/Tizen/Tizen.Common/IWindowProvider.cs
  test/Tizen.NUI.WindowSystem.InputGenerator/Tizen.NUI.WindowSystem.InputGenerator.sln
  test/Tizen.NUI.WindowSystem.Samples/Tizen.NUI.WindowSystem.Samples.cs
  test/Tizen.NUI.WindowSystem.Samples/Tizen.NUI.WindowSystem.Samples.sln
Labels: ACR Required, Internal API Changed, API12

#6275 [TCSACR-586][NUI] Add IWindowProvider to be used as a common window interface across different modules
  src/Tizen.Multimedia/Common/Display.cs
  src/Tizen.NUI.WindowSystem/Tizen.NUI.WindowSystem.sln
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.EcoreWl2.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.KVMService.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.QuickPanelClient.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.QuickPanelService.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.SoftkeyClient.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.SoftkeyService.cs
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.TaskbarService.cs
  src/Tizen.NUI.WindowSystem/src/public/KVMService.cs
  src/Tizen.NUI.WindowSystem/src/public/QuickPanelClient.cs
  src/Tizen.NUI.WindowSystem/src/public/QuickPanelService.cs
  src/Tizen.NUI.WindowSystem/src/public/SoftkeyClient.cs
  src/Tizen.NUI.WindowSystem/src/public/SoftkeyService.cs
  src/Tizen.NUI.WindowSystem/src/public/TaskbarService.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  src/Tizen/Tizen.Common/IWindowProvider.cs
  test/Tizen.NUI.WindowSystem.InputGenerator/Tizen.NUI.WindowSystem.InputGenerator.sln
  test/Tizen.NUI.WindowSystem.Samples/Tizen.NUI.WindowSystem.Samples.cs
  test/Tizen.NUI.WindowSystem.Samples/Tizen.NUI.WindowSystem.Samples.sln
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#6266 [NUI] Remove internal ObjectRegistry that is not used
  src/Tizen.NUI/src/internal/Common/ObjectRegistry.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ObjectRegistry.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Stage.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSObjectRegistry.cs
  test/Tizen.NUI.Tests/Tizen.NUI.TCT/testcase/public/Window/TSWindow.cs
Labels: Devel-NUI

#6273 [NUI.Scene3D] Add Panel in Scene3D
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Panel.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Panel.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/Scene3DPanelTest.cs
Labels: Internal API Changed, Devel-NUI

#6276 [NUI] Fix lottie dynamic property crash
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Devel-NUI

#6281 [NUI] Version Update (22337)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6224 [NUI] Add RelativeMotionGrab and RelativeMotionUnGrab
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#6274 [NUI] Added trim paths props
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/LottieAnimationViewDynamicPropertyTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/100.json
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/30.json
Labels: Internal API Changed, Devel-NUI

#6283 [NUI] Fix the handler's garbage collected exception in WebView
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: API11

#6267 [NUI][TCSACR-588] Deprecated Scrollable and ScrollViewEffect classes
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/Utility/ScrollViewEffect.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/CubeTransitionEffect.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemViewBindableProperty.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ScrollView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ScrollViewBindableProperty.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ScrollViewEvent.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ScrollViewPagePathEffect.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ScrollViewSnapStartedSignal.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/SnapType.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.CubeTransitionEffect.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/NDalicPINVOKE.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/NuiSample.snk
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Tizen.NUI.Samples.csproj
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/tizen-manifest.xml
Labels: ACR Required, Internal API Changed, Devel-NUI

#6290 [NUI] Version Update (22338)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6278 [Multimedia] Add MediaPacket TBM surface APIs
  src/Tizen.Multimedia/Interop/Interop.MediaTool.cs
  src/Tizen.Multimedia/MediaTool/MediaPacket.cs
Labels: ACR Required, API12

#6286 [NUI] Binding FrameUpdateCallbackInterface change Orientation
  src/Tizen.NUI/src/internal/Interop/Interop.FrameUpdateCallbackInterface.cs
  src/Tizen.NUI/src/public/Common/FrameUpdateCallbackInterface.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FrameUpdateCallbackTest.cs
Labels: Internal API Changed, Devel-NUI
