Repository Samsung/TizenFX, pull requests merged in 2025-01, with the labels that each got.

#6536 [Tizen.Applications.RPCPort] Add new methods to support new types in tidl
  src/Tizen.Applications.Common/Tizen.Applications.RPCPort/Parcel.cs
Labels: Internal API Changed, API13

#6539 [Build] Modified the RIDs sorted in descending order
  packaging/makerid.py
Labels: API13

#6540 Update runtime.json
  pkg/Tizen.NET/runtime.json
Labels: API12

#6541 [NUI][API12] Match property name of ImageVisual.AlphaMaskUrl with latest version
  src/Tizen.NUI/src/public/Visuals/VisualObject/ImageVisual.cs
Labels: Internal API Changed, API12

#6542 [NUI] Do not re-create visual if we change only transform
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VisualTest.cs
Labels: Devel-NUI

#6547 [NUI] Fix the issue where the AppControlReceived event handler is not being called
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: API12, quick review is required

#6550 [NUI.Devel.Tests] Fix mis-implements for NativeImageSource TCT
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/Images/TSNativeImageSource.cs
Labels: Devel-NUI

#6551 [NUI] Fix AppControlReceived key duplicated error
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: API12, quick review is required

#6552 [NUI] version update
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6544 [NUI] Add value type: color, vector2, shadow
  src/Tizen.NUI/src/devel/Lite/L.Color.cs
  src/Tizen.NUI/src/devel/Lite/L.Shadow.cs
  src/Tizen.NUI/src/devel/Lite/L.Vector2.cs
Labels: Internal API Changed, Devel-NUI

#6555 [NUI] Fix exceptional All state case
  src/Tizen.NUI/src/internal/Common/ControlStateUtility.cs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
Labels: Devel-NUI

#6543 [NUI] Remove unnecessary PInvoke calls
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI

#6557 [NUI] Fix WebView delegate GC error
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: API12, quick review is required

#6564 [NUI] fix controlstate contains check null exceptions
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
Labels: Devel-NUI

#6567 [NUI] NUI Language version upgrade
  src/Tizen.NUI/Tizen.NUI.csproj
Labels: Devel-NUI

#6548 [NUI] Reduce managed PropertyValue creation for VisualObject
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/BorderVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/ColorVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/ImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/NPatchVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/TextVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
Labels: Devel-NUI

#6560 [NUI] Remove unnecessary PInvoke calls (PivotPoint, AnchorPoint, Position)
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Common/Position.cs
Labels: Devel-NUI

#6561 [NUI] Remove unnecessary PInvoke calls related with axis
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Common/Vector2.cs
  src/Tizen.NUI/src/public/Common/Vector3.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
Labels: Devel-NUI

#6562 [NUI] Remove unnecessary PInvoke calls related with SlideTransitionDi…
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI

#6571 [NUI] Remove unused C# bindings anymore
  src/Tizen.NUI/src/internal/Interop/Interop.NDalicAnchorPoint.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NDalicParentOrigin.cs
  src/Tizen.NUI/src/internal/Interop/Interop.SlideTransitionDirection.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector2.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector3.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector4.cs
  src/Tizen.NUI/src/public/Common/Size.cs
Labels: Devel-NUI

#6570 [NUI] Fix wrong params order for ParentOrigin position
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI

#6569 [NUI] Check exception from native when get background color
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#6549 [Build] modified the TFM sorted in descending order
  packaging/csapi-tizenfx.spec
  packaging/maketfm.py
  pkg/Tizen.NET/Tizen.NET.nuspec
Labels: API13

#6559 [NUI] add asynchronous tasked animation play
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Devel-NUI

#6545 [NUI] Update dp and sp extension methods and sp converting.
  src/Tizen.NUI/src/public/Utility/GraphicsTypeExtensions.cs
  src/Tizen.NUI/src/public/Utility/SpTypeConverter.cs
Labels: Internal API Changed, Devel-NUI

#6574 [NUI] Preload static values
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Common/Vector2.cs
  src/Tizen.NUI/src/public/Common/Vector3.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
Labels: Devel-NUI

#6546 [NUI] Add value type: control state
  src/Tizen.NUI/src/devel/Base/DevelView.cs
  src/Tizen.NUI/src/devel/Base/State.cs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Internal API Changed, Devel-NUI

#6538 [NUI] Adds version tag or Hides deprecated APIs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
Labels: ACR Accepted, Internal API Changed, Devel-NUI

#6405 [NUI.WindowSystem] TizenShell: Enhance API description
  src/Tizen.NUI.WindowSystem/src/public/QuickPanelClient.cs
  src/Tizen.NUI.WindowSystem/src/public/TizenShell.cs
Labels: API12, API13

#6578 [NUI] Handles null argument ControlState.Equals
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
Labels: Devel-NUI

#6579 [NUI] Version Update (22401)
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6573 [NUI] Add IsAutoRotationEnabled, IsLetterBoxEnabled
  src/Tizen.NUI/src/internal/Interop/Interop.VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
Labels: Internal API Changed, Devel-NUI

#6583 Update document template for tizen.org
  .github/workflows/deploy-documents-for-tizen-docs.yml
Labels: API13

#6576 [Actions] Update Artifact actions v4
  .github/workflows/build-pull-request.yml
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
Labels: API13

#6584 [NUI] Notify property changed for the property methods using struct
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
Labels: Devel-NUI

#6563 Update CODEOWNERS
  .github/CODEOWNERS
Labels: API13

#6586 [NUI] Move markup methods to Tizen.NUI.Extension
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
Labels: Internal API Changed, Devel-NUI

#6587 [NUI] Rename struct types
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
  src/Tizen.NUI/src/devel/Lite/UICorner.cs
  src/Tizen.NUI/src/devel/Lite/UIShadow.cs
  src/Tizen.NUI/src/devel/Lite/UIState.cs
  src/Tizen.NUI/src/devel/Lite/UIVector2.cs
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
Labels: Internal API Changed, Devel-NUI

#6589 [NUI] Fix svace issue : infinite recursion
  src/Tizen.NUI/src/public/Utility/GraphicsTypeExtensions.cs
Labels: Devel-NUI

#6592 [NUI.Scene3D] Add Capture for SceneView
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.SceneView.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/CaptureFinishedEventArgs.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/Scene3DCaptureTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/models/BoxAnimated.glb
Labels: Internal API Changed, API10

#6595 [NUI] Version 22402
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6597 [NUI] Rebase from DevelNUI to main
  packaging/csapi-tizenfx.spec
  packaging/version.txt
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
  src/Tizen.NUI/src/devel/Lite/UICorner.cs
  src/Tizen.NUI/src/devel/Lite/UIShadow.cs
  src/Tizen.NUI/src/devel/Lite/UIState.cs
  src/Tizen.NUI/src/devel/Lite/UIVector2.cs
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Interop/Interop.VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
  src/Tizen.NUI/src/public/Utility/GraphicsTypeExtensions.cs
Labels: Internal API Changed, API13

#6598 Revert "[NUI] Rebase from DevelNUI to main"
  packaging/csapi-tizenfx.spec
  packaging/version.txt
  src/Tizen.NUI/src/devel/Base/ViewState.cs
  src/Tizen.NUI/src/devel/Lite/L.Color.cs
  src/Tizen.NUI/src/devel/Lite/L.Corner.cs
  src/Tizen.NUI/src/devel/Lite/L.Shadow.cs
  src/Tizen.NUI/src/devel/Lite/L.Vector2.cs
  src/Tizen.NUI/src/devel/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Interop/Interop.VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
  src/Tizen.NUI/src/public/Utility/GraphicsTypeExtensions.cs
Labels: Internal API Changed, API13

#6590 [NUI] Make FrameUpdateCallback could use UIVector2 and UIColor
  src/Tizen.NUI/src/devel/Common/DevelFrameUpdateCallbackInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FrameUpdateCallbackInterface.cs
  src/Tizen.NUI/src/public/Common/FrameUpdateCallbackInterface.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FrameUpdateCallbackTest.cs
Labels: Internal API Changed, Devel-NUI

#6602 [NUI] Fix GridLocations to preserve empty space for Stretch Expand
  src/Tizen.NUI/src/internal/Layouting/GridLocations.cs
  test/NUITizenGallery/Examples/GridTest/GridTest5.cs
  test/NUITizenGallery/Examples/GridTest/GridTest5Page.xaml
  test/NUITizenGallery/Examples/GridTest/GridTest5Page.xaml.cs
Labels: Devel-NUI

#6572 [NUI] Reduce error log by the request of user
  src/Tizen.NUI/src/internal/Common/ViewSignal.cs
Labels: API10

#6605 [NUI] Extract View variables for Layout to remove wasted memory
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/ViewProperty/LayoutExtraData.cs
Labels: Devel-NUI

#6601 [NUI] Add markup extension methods for view properties
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
Labels: Internal API Changed, Devel-NUI

#6607 [NUI] Remove Offscreen rendering markup methods
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
Labels: Internal API Changed, Devel-NUI

#6606 [NUI] Add friend assembly for FLUX.Extension by request of user
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: API12
