Repository Samsung/TizenFX, pull requests merged in 2025-03, with the labels that each got.

#6709 Update actions to remove a deprecated version
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
Labels: API13

#6711 [PackageManager] add IsUpdated property to Package Class
  src/Tizen.Applications.PackageManager/Interop/Interop.Package.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
Labels: Internal API Changed, API12

#6705 [NUI] Remove boxing/unboxing in TextEditor.
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorBindableProperty.cs
Labels: Devel-NUI

#6706 [NUI] Remove boxing/unboxing in TextField.
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldBindableProperty.cs
Labels: Devel-NUI

#6712 [NUI] Remove boxing/unboxing in TextLabel, etc.
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/CanvasView.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/Common/Container.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
Labels: Devel-NUI

#6713 [NUI] Remove boxing/unboxing in WebView, etc.
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/internal/Utility/CameraBindableProperty.cs
  src/Tizen.NUI/src/internal/Utility/GaussianBlurView.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
  src/Tizen.NUI/src/public/WebView/WebViewBindableProperty.cs
  src/Tizen.NUI/src/public/Widget/WidgetView.cs
  src/Tizen.NUI/src/public/Window/DefaultBorder.cs
Labels: Devel-NUI

#6714 [NUI] Remove boxing/unboxing in Button, etc.
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/AlertDialogBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/ButtonBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ButtonGroup.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.cs
  src/Tizen.NUI.Components/Controls/ImageScrollBar.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBarBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
  src/Tizen.NUI.Components/Controls/Pagination.cs
  src/Tizen.NUI.Components/Controls/PaginationBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ScrollBarBindableProperty.cs
Labels: Devel-NUI

#6715 [NUI] Version Up 22408
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6716 [NUI] Rebase main branch
  .github/workflows/deploy-documents-for-tizen-docs.yml
  .github/workflows/deploy-documents.yml
  src/Tizen.Applications.PackageManager/Interop/Interop.Package.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
Labels: Internal API Changed, Devel-NUI

#6721 [NUI](Rendering) Create Renderer constructor without Geometry and Shader
  src/Tizen.NUI/src/internal/Interop/Interop.Renderer.cs
  src/Tizen.NUI/src/public/Rendering/Renderer.cs
Labels: Internal API Changed, Devel-NUI

#6722 [NUI](Rendering) Construct shader with name
  src/Tizen.NUI/src/internal/Interop/Interop.Shader.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/Rendering/Shader.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CircularTextSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ClippedImage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DisposeTest.cs
Labels: Internal API Changed, Devel-NUI

#6719 [NUI] Remove boxing/unboxing in RecyclerView, etc.
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/Picker.cs
  src/Tizen.NUI.Components/Controls/PickerBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Popup.cs
  src/Tizen.NUI.Components/Controls/PopupBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Progress.cs
  src/Tizen.NUI.Components/Controls/ProgressBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionViewBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
  src/Tizen.NUI.Components/Style/LoadingStyle.cs
Labels: Devel-NUI

#6720 [NUI] Fix some warnings in NUI.
  src/Tizen.NUI/src/devel/Binding/BindingExtensions.cs
  src/Tizen.NUI/src/devel/Binding/BindingSession.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI

#6725 [NUI] Remove boxing/unboxing in ScrollableBase, etc.
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollableBaseBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/SliderBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Controls/SwitchBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI.Components/Controls/TabBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Toast.cs
  src/Tizen.NUI.Components/Controls/ToastBindableProperty.cs
Labels: Devel-NUI

#6683 Revert "[NUI] add asynchronous tasked animation play"
  src/Tizen.NUI/src/public/Animation/Animation.cs
Labels: Devel-NUI

#6726 [NUI.Samples] Fix compile error due to some typo error fix
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/GraphicsTypeTest.cs
Labels: Devel-NUI

#6729 [NUI] version up 22409
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6731 [NUI] Rollback of "[NUI] Add ptr pool #6727"
  src/Tizen.NUI/src/internal/Common/IntPtrPool.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Common/Position2D.cs
  src/Tizen.NUI/src/public/Common/Vector2.cs
  src/Tizen.NUI/src/public/Common/Vector3.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
Labels: Internal API Changed, Devel-NUI

#6707 [Tizen.Network.WiFi] Remove thread local support
  src/Tizen.Network.WiFi/Tizen.Network.WiFi.csproj
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiNetworkChange.cs
Labels: API12

#6708 [Tizen.Network.WiFi] Remove thread local support
  src/Tizen.Network.WiFi/Tizen.Network.WiFi.csproj
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiNetworkChange.cs
Labels: API11

#6734 [NUI] Fix AbsoluteLayout to calculate size with WrapContent
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
Labels: Devel-NUI

#6735 [NUI] Fix LayoutLength not to take invalid float values
  src/Tizen.NUI/src/public/Layouting/LayoutLength.cs
Labels: Devel-NUI

#6736 [NUI] Fix AbsoluteLayout not to use Dictionary taking child views
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
Labels: Devel-NUI

#6737 [NUI] Remove unused codes
  src/Tizen.NUI/src/internal/Common/DebugFileLogging.cs
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDebugFileLogging.cs
Labels: Devel-NUI

#6739 [NUI] reorganize the NUI reviwer
  .github/CODEOWNERS
Labels: API13

#6743 [Applications.UnitedService] Add a new module for services
  src/Tizen.Applications.UnitedService/Interop/Interop.Libc.cs
  src/Tizen.Applications.UnitedService/Interop/Interop.Libraries.cs
  src/Tizen.Applications.UnitedService/Interop/Interop.PkgMgrInfo.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications.UnitedService.csproj
  src/Tizen.Applications.UnitedService/Tizen.Applications.UnitedService.sln
  src/Tizen.Applications.UnitedService/Tizen.Applications/Log.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications/Service.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications/ServiceAssembly.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications/ServiceEventType.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications/ServiceInfo.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications/ServiceLifecycleChangedEventArgs.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications/ServiceLifecycleState.cs
  src/Tizen.Applications.UnitedService/Tizen.Applications/ServiceManager.cs
Labels: Internal API Changed, API13

#6742 [NUI] Notify view size and position updated by layout.
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#6723 [NUI] Fix marpkup null type error
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
Labels: Devel-NUI

#6749 [NUI] version up 22410
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6746 [NUI](Internal) Implement AsyncImageLoader ImageLoaded signal
  src/Tizen.NUI/src/internal/Common/AsyncImageLoader.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AsyncImageLoader.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AsyncImageLoaderTest.cs
Labels: Devel-NUI

#6752 [NUI] Fix to apply text objects' padding after added to view
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#6754 [NUI](ImageView) Create new visual if DesiredWidth/DesiredHeight changed
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
Labels: Devel-NUI

#6642 [NUI] Remove NUI.Components not used for tv profile
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
Labels: Devel-NUI

#6756 [NUI] Add LinearLayout cases in NUILayout
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatch.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchCMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchCellPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchMarginPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchMin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchMinMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSize.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeBeginBottom.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeBeginCenter.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeBeginTop.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeCMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeCellPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeCenter.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeCenterBottom.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeCenterTop.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeEndBottom.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeEndCenter.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeEndTop.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeMarginPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeMin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeMinMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizePadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatch.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchCMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchCellPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchMarginPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchMin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchMinMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSize.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeBeginBottom.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeBeginCenter.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeBeginTop.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeCMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeCellPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeCenter.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeCenterBottom.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeCenterTop.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeEndBottom.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeEndCenter.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeEndTop.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeMarginPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeMin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeMinMax.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizePadding.cs
  test/NUILayout/LayoutChildren.cs
Labels: Devel-NUI

#6757 [NUI] Apply Margin to LinearLayout cases in NUILayout
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHMatchMarginPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearHSizeMarginPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVMatchMarginPadding.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeMargin.cs
  test/NUILayout/Examples/LinearLayoutTest/LinearVSizeMarginPadding.cs
Labels: Devel-NUI

#6758 [NUI] Add Min/Max of AbsoluteLayout cases in NUILayout
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteBoundsMax.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteBoundsMin.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteBoundsMinMax.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteBoundsPropMax.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteBoundsPropMin.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteBoundsPropMinMax.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteMatchMax.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteMatchMin.cs
  test/NUILayout/Examples/AbsoluteLayoutTest/AbsoluteMatchMinMax.cs
Labels: Devel-NUI

#6763 [NUI] Try to fix github action error
  .github/workflows/nui-code-style-review.yml
Labels: Devel-NUI

#6764 [NUI] Remove github action error part
  .github/workflows/nui-code-style-review.yml
Labels: Devel-NUI

#6761 [NUI] DirectRenderingGLView Demo
  test/NUIGLView/NUIDirectRenderingGLViewSample/.pic/direct_scene.png
  test/NUIGLView/NUIDirectRenderingGLViewSample/.pic/direct_scene_resize.png
  test/NUIGLView/NUIDirectRenderingGLViewSample/.pic/direct_scene_rotate.png
  test/NUIGLView/NUIDirectRenderingGLViewSample/DirectRenderingGLViewSample.cs
  test/NUIGLView/NUIDirectRenderingGLViewSample/DirectRenderingGLViewSample.csproj
  test/NUIGLView/NUIDirectRenderingGLViewSample/README.md
  test/NUIGLView/NUIDirectRenderingGLViewSample/lib/libNUIDirectRenderingGLView-callbacks.so
  test/NUIGLView/NUIDirectRenderingGLViewSample/res/bg_2.png
  test/NUIGLView/NUIDirectRenderingGLViewSample/res/gallery-small-1.jpg
  test/NUIGLView/NUIDirectRenderingGLViewSample/res/gallery-small-2.jpg
  test/NUIGLView/NUIDirectRenderingGLViewSample/res/gallery-small-3.jpg
  test/NUIGLView/NUIDirectRenderingGLViewSample/res/gallery-small-4.jpg
  test/NUIGLView/NUIDirectRenderingGLViewSample/res/gallery-small-5.jpg
  test/NUIGLView/NUIDirectRenderingGLViewSample/res/gallery-small-6.jpg
  test/NUIGLView/NUIDirectRenderingGLViewSample/shared/res/DirectRenderingGLViewSample.png
  test/NUIGLView/NUIDirectRenderingGLViewSample/tizen-manifest.xml
Labels: Devel-NUI

#6686 [Tizen.Nlp] Remove Tizen.Nlp
  .github/CODEOWNERS
  src/Tizen.Nlp/Tizen.Nlp.csproj
  src/Tizen.Nlp/Tizen.Nlp.sln
  src/Tizen.Nlp/Tizen.Nlp/LanguageDetectedResult.cs
  src/Tizen.Nlp/Tizen.Nlp/MessageReceivedEventArgs.cs
  src/Tizen.Nlp/Tizen.Nlp/NamedEntityRecognitionResult.cs
  src/Tizen.Nlp/Tizen.Nlp/NaturalLanguageProcess.cs
  src/Tizen.Nlp/Tizen.Nlp/NlpProxy.cs
  src/Tizen.Nlp/Tizen.Nlp/PosTagResult.cs
  src/Tizen.Nlp/Tizen.Nlp/WordTokenizeResult.cs
Labels: ACR Required, API13

#6774 [NUI] version up 22411
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6776 [NUI] rebase main
  .github/CODEOWNERS
  src/Tizen.Nlp/Tizen.Nlp.csproj
  src/Tizen.Nlp/Tizen.Nlp.sln
  src/Tizen.Nlp/Tizen.Nlp/LanguageDetectedResult.cs
  src/Tizen.Nlp/Tizen.Nlp/MessageReceivedEventArgs.cs
  src/Tizen.Nlp/Tizen.Nlp/NamedEntityRecognitionResult.cs
  src/Tizen.Nlp/Tizen.Nlp/NaturalLanguageProcess.cs
  src/Tizen.Nlp/Tizen.Nlp/NlpProxy.cs
  src/Tizen.Nlp/Tizen.Nlp/PosTagResult.cs
  src/Tizen.Nlp/Tizen.Nlp/WordTokenizeResult.cs
Labels: ACR Required, Devel-NUI

#6772 [NUI] Introduce FONT_VARIATIONS Property
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#6775 [NUI] Keep CustomAlphaFunction's delegate at least 1 frame
  src/Tizen.NUI/src/internal/Common/RenderThreadObjectHolder.cs
  src/Tizen.NUI/src/internal/NativeBinding/SWIGTYPE_p_f_float__float.cs
  src/Tizen.NUI/src/public/Animation/AlphaFunction.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/FrameUpdateCallbackTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SpringAnimationSample.cs
Labels: Devel-NUI

#6779 [NUI] Reduce build warnings at VisualObjects
  src/Tizen.NUI/src/internal/Interop/Interop.VisualObject.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
  src/Tizen.NUI/src/public/Window/GLWindow.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#6780 [NUI] Relocate the function about Font Variations and enhance its explanation
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#6781 [NUI] Fix SetSize of ExcludeLayouting with LayoutWidth/Height
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#6782 Add BluetoothDevice constructor with remote address (#6165)
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
Labels: Internal API Changed, API10

#6783 [NUI] Fix AbsoluteLayout typo in calculating Padding size
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
Labels: Devel-NUI

#6786 [NUI] Fix to check IsPaddingHandledByNative for Padding getter
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#6785 [NUI] Add background blur effect option: blur once
  src/Tizen.NUI/src/internal/Interop/Interop.BackgroundBlurEffect.cs
  src/Tizen.NUI/src/public/RenderEffects/RenderEffect.cs
Labels: Internal API Changed, Devel-NUI

#6767 [Applications.Common] Add some properties for RecentApplicationInfo
  src/Tizen.Applications.Common/Tizen.Applications/RecentApplicationInfo.cs
Labels: Internal API Changed, API13

#6789 [NUI] Clean up system manager code
  src/Tizen.NUI/src/internal/Common/SystemFontSizeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemFontTypeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemLocaleLanguageChangedManager.cs
Labels: Devel-NUI

#6620 [NUI] Exclude layouting on invisible children
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Layouting/AbsoluteLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
Labels: Devel-NUI

#6795 [Applications.Common] Update libiniparser so version
  src/Tizen.Applications.Common/Interop/Interop.Libraries.cs
Labels: API13

#6794 [NUI.Samples] Make AsyncLoaderSample use Palette.
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AsyncImageLoaderTest.cs
Labels: Devel-NUI

#6765 [NUI] Add SetGestureGrabMode to InputGesture
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.InputGesture.cs
  src/Tizen.NUI.WindowSystem/src/public/InputGesture.cs
  test/Tizen.NUI.WindowSystem.InputGesture/Tizen.NUI.WindowSystem.InputGesture.cs
Labels: Internal API Changed, Devel-NUI

#6787 [NUI] Remove code about boxing/unboxing in Layouting.
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#6796 [NUI] Remove UIColor constructor with vector4 and etc.
  src/Tizen.NUI.Extension/Markup/TextEditorExtensions.cs
  src/Tizen.NUI.Extension/Markup/TextFieldExtensions.cs
  src/Tizen.NUI.Extension/Markup/TextLabelExtensions.cs
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
Labels: Internal API Changed, Devel-NUI

#6799 [NUI] Add OverScrolled in WebView
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewOverScrolledEventArgs.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, API10

#6710 [Tizen.Network.WiFi] Remove thread local support
  src/Tizen.Network.WiFi/Tizen.Network.WiFi.csproj
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiNetworkChange.cs
Labels: API10

#6724 [Tizen.Network.WiFi] Remove thread local support
  src/Tizen.Network.WiFi/Tizen.Network.WiFi.csproj
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiNetworkChange.cs
Labels: API9

#6791 [Tizen.Network.WiFi] Remove thread local support
  src/Tizen.Network.WiFi/Tizen.Network.WiFi.csproj
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiNetworkChange.cs
Labels: API8

#6801 [NUI] Define constant color values at seperated files
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
  src/Tizen.NUI/src/devel/Lite/UIColorCosntants.cs
Labels: Devel-NUI

#6800 [NUI.Palette] Make Palette.GenerateAsync() thread safe
  src/Tizen.NUI/src/internal/Utility/ColorCutQuantizer.cs
Labels: Devel-NUI

#6797 [NUI] Add SetGestureGrabMode to InputGesture
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.InputGesture.cs
  src/Tizen.NUI.WindowSystem/src/public/InputGesture.cs
  test/Tizen.NUI.WindowSystem.InputGesture/Tizen.NUI.WindowSystem.InputGesture.cs
Labels: Internal API Changed, API12

#6798 [NUI] Add SetGestureGrabMode to InputGesture
  src/Tizen.NUI.WindowSystem/src/internal/Interop/Interop.InputGesture.cs
  src/Tizen.NUI.WindowSystem/src/public/InputGesture.cs
  test/Tizen.NUI.WindowSystem.InputGesture/Tizen.NUI.WindowSystem.InputGesture.cs
Labels: Internal API Changed, API13
