Repository Samsung/TizenFX, pull requests merged in 2025-08, with the labels that each got.

#7096 [NUI] Fix a crash When WebView.EvaluateJavaScript is called frequently.
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI

#7102 [NUI] Add GetInsets to Window
  src/Tizen.NUI/src/internal/Interop/Interop.Window.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#7106 [NUI] Print log when IsUsingXaml property changed
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Application/NUIWidgetApplication.cs
Labels: Devel-NUI

#7107 [NUI] Call ProcessorController.Initialize at application OnInit time
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Common/ProcessorController.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#7075 [MediaTool] Add audio, video mimetypes
  src/Tizen.Multimedia/MediaTool/MediaFormatAudioMimeType.cs
  src/Tizen.Multimedia/MediaTool/MediaFormatVideoMimeType.cs
Labels: ACR Required, API13

#7110 [NUI] Seperate OnResume/OnPause override methods and events
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#7105 [NUI] Add Window properties to react ime show/hide
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Devel-NUI

#7094 [NUI] Add resets APIs for Vector2/3 and Extents
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Extents.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector2.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector3.cs
  src/Tizen.NUI/src/public/Common/Extents.cs
  src/Tizen.NUI/src/public/Common/Vector2.cs
  src/Tizen.NUI/src/public/Common/Vector3.cs
Labels: Devel-NUI

#7109 [NUI] Do not call `ThemeManager` constructor at Preload case
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#7113 [NUI] version up to 2230
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#7118 [NUI] Print log relative with Preload at OnApplicationInit
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#7119 [NUI] Do not create `BaseComponents` at NUI.preload time
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#7085 [Telephony] Deprecate Telephony API
  src/Tizen.Telephony/Interop/Interop.Call.cs
  src/Tizen.Telephony/Interop/Interop.Modem.cs
  src/Tizen.Telephony/Interop/Interop.Network.cs
  src/Tizen.Telephony/Interop/Interop.Sim.cs
  src/Tizen.Telephony/Interop/Interop.Telephony.cs
  src/Tizen.Telephony/Tizen.Telephony/Call.cs
  src/Tizen.Telephony/Tizen.Telephony/CallHandle.cs
  src/Tizen.Telephony/Tizen.Telephony/ChangeNotificationEventArgs.cs
  src/Tizen.Telephony/Tizen.Telephony/Modem.cs
  src/Tizen.Telephony/Tizen.Telephony/Network.cs
  src/Tizen.Telephony/Tizen.Telephony/Sim.cs
  src/Tizen.Telephony/Tizen.Telephony/SlotHandle.cs
  src/Tizen.Telephony/Tizen.Telephony/StateEventArgs.cs
  src/Tizen.Telephony/Tizen.Telephony/Telephony.cs
Labels: ACR Required, API13

#7123 [NUI][A11y] Update `Target` of Action arguments to use reference object
  src/Tizen.NUI/src/internal/View/ViewAccessibilityData.cs
Labels: Devel-NUI

#7122 [NUI] Add VirtualRemocon and VirtualMouse sub device types
  src/Tizen.NUI/src/internal/Interop/Interop.Hover.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Events/Hover.cs
Labels: Internal API Changed, Devel-NUI

#7089 [Network.Stc] Deprecate Tizen.Network.Stc APIs
  src/Tizen.Network.Stc/Interop/Interop.Stc.cs
  src/Tizen.Network.Stc/Tizen.Network.Stc/StcEnumerations.cs
  src/Tizen.Network.Stc/Tizen.Network.Stc/StcManager.cs
  src/Tizen.Network.Stc/Tizen.Network.Stc/StcStatistics.cs
  src/Tizen.Network.Stc/Tizen.Network.Stc/StcStatsFilter.cs
Labels: ACR Required, API13

#7130 [NUI][API12] Support NUIApplication.SetMaximumRenderFrameRate
  src/Tizen.NUI/src/internal/Interop/Interop.Adaptor.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Common/Adaptor.cs
Labels: Internal API Changed, API12

#7139 [NUI] Add DeviceName for Hover/Touch event
  src/Tizen.NUI/src/internal/Interop/Interop.Hover.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Touch.cs
  src/Tizen.NUI/src/public/Events/Hover.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
Labels: Internal API Changed, Devel-NUI

#7145 [NUI] Suppress nullable reference warnings in struct definition
  src/Tizen.NUI/src/public/BaseComponents/TextConstants.cs
Labels: Devel-NUI

#7146 [NUI](Accessibility) Fix comments warning for `SetCustomHighlightOverlay`
  src/Tizen.NUI/src/public/Accessibility/Accessibility.cs
Labels: Devel-NUI

#7143 [NUI] Support NUIApplication.SetMaximumRenderFrameRate
  src/Tizen.NUI/src/internal/Interop/Interop.Adaptor.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Common/Adaptor.cs
Labels: Internal API Changed, Devel-NUI

#7157 [NUI] Add a11y attribute bindings
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
Labels: Internal API Changed, Devel-NUI

#7142 [Tizen.Network.WiFi] Add API to remove wifi-manager config
  src/Tizen.Network.WiFi/Interop/Interop.WiFi.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManager.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
Labels: ACR Required, API13

#7164 [PackageManager] Minimize the number of event registration when adding EventHandler
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: API13

#7163 [NUI] Generate url from texture + MultiPassRendering sample
  src/Tizen.NUI/src/internal/Common/FrameBuffer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FrameBuffer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ImageUrl.cs
  src/Tizen.NUI/src/public/Rendering/Texture.cs
  test/Tizen.NUI.MultiPassRendering/MultiPassRenderingSample.cs
  test/Tizen.NUI.MultiPassRendering/Tizen.NUI.MultiPassRendering.code-workspace
  test/Tizen.NUI.MultiPassRendering/Tizen.NUI.MultiPassRendering.csproj
  test/Tizen.NUI.MultiPassRendering/Tizen.NUI.MultiPassRendering.sln
  test/Tizen.NUI.MultiPassRendering/shared/res/Tizen.NUI.MultiPassRendering.png
  test/Tizen.NUI.MultiPassRendering/tizen-manifest.xml
Labels: Internal API Changed, Devel-NUI

#7086 [Tizen.Network] Implementation of Tizen.Network.Tethering APIs
  src/Tizen.Network.Tethering/Interop/Interop.Libraries.cs
  src/Tizen.Network.Tethering/Interop/Interop.TetheringExtension.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering.csproj
  src/Tizen.Network.Tethering/Tizen.Network.Tethering.sln
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/ConnectionStateChangedEventArgs.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringData.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringErrorFactory.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionClient.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionDisabledEventArgs.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionEnabledEventArgs.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionEnumerations.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionEvents.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionManager.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionManagerImpl.cs
  src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringInfo.cs
Labels: ACR Required, Internal API Changed, API13

#7165 [NUI] SetNativeImageSourceForCurrentFrame
  src/Tizen.NUI/src/internal/Interop/Interop.VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VideoViewWithOffScreenRenderingTest.cs
Labels: Internal API Changed, Devel-NUI

#7151 [NUI] Extract View's ImageUrl from offscreen rendering output
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewSignal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/RenderEffects/BackgroundBlurEffect.cs
  src/Tizen.NUI/src/public/RenderEffects/GaussianBlurEffect.cs
  src/Tizen.NUI/src/public/RenderEffects/RenderEffect.cs
Labels: Internal API Changed, Devel-NUI

#7170 Add math method public
  src/Tizen.NUI/src/public/Common/Rotation.cs
  src/Tizen.NUI/src/public/Common/Vector3.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
Labels: Internal API Changed, Devel-NUI

#7168 [NUI] Add property to know the model loaded status
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
  src/Tizen.NUI.Scene3D/src/public/Controls/ModelLoadingStatusType.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/Scene3DModelLoadingStatusTest.cs
Labels: Internal API Changed, Devel-NUI

#7171 Add Tizen.Network.Tethering in internals package
  internals/src/Tizen.Network.Tethering/Interop/Interop.Libraries.cs
  internals/src/Tizen.Network.Tethering/Interop/Interop.TetheringExtension.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering.csproj
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering.sln
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/ConnectionStateChangedEventArgs.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringData.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringErrorFactory.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionClient.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionDisabledEventArgs.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionEnabledEventArgs.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionEnumerations.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionEvents.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionManager.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringExtensionManagerImpl.cs
  internals/src/Tizen.Network.Tethering/Tizen.Network.Tethering/TetheringInfo.cs
Labels: ACR Required, Internal API Changed, API13
