Repository Samsung/TizenFX, pull requests merged in 2025-05, with the labels that each got.

#6866 [NUI] Bind mutable background blur effect with public functions
  src/Tizen.NUI/src/internal/Interop/Interop.BackgroundBlurEffect.cs
  src/Tizen.NUI/src/internal/Interop/Interop.RenderEffect.cs
  src/Tizen.NUI/src/public/RenderEffects/BackgroundBlurEffect.cs
  src/Tizen.NUI/src/public/RenderEffects/RenderEffect.cs
Labels: Internal API Changed, Devel-NUI

#6894 [NUI] Add StartOffset of GradientVisual
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/internal/Interop/Interop.GradientVisual.cs
  src/Tizen.NUI/src/internal/NativeBinding/NDalic.cs
  src/Tizen.NUI/src/internal/XamlBinding/NUIConstantExtension.cs
  src/Tizen.NUI/src/public/Visuals/GradientVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#6895 [NUI] version up to 22417
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6897 [NUI] Add Gradient.StartOffset to upper case table
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
Labels: Devel-NUI

#6900 [NUI] Adds Spring Like AlphaFunction for NUI.Animation
  src/Tizen.NUI/src/internal/Interop/Interop.AlphaFunction.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AlphaFunctionSpringData.cs
  src/Tizen.NUI/src/public/Animation/AlphaFunction.cs
  src/Tizen.NUI/src/public/Animation/AlphaFunctionSpringData.cs
  src/Tizen.NUI/src/public/Animation/AlphaFunctionSpringType.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SpringAlphaFunctionTest.cs
Labels: Internal API Changed, Devel-NUI

#6903 [NUI.Samples] Fix rendering bugs at RendererUpdateAreaTest
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RendererUpdateAreaTest.cs
Labels: Devel-NUI

#6905 [NUI] Introduce MaskEffect
  src/Tizen.NUI/src/internal/Interop/Interop.MaskEffect.cs
  src/Tizen.NUI/src/public/RenderEffects/RenderEffect.cs
Labels: Internal API Changed, Devel-NUI

#6880 [NUI] Fix some CA2000 warnings in NUI.
  src/Tizen.NUI/src/internal/Animation/Constraint.cs
  src/Tizen.NUI/src/public/Common/PropertyArray.cs
  src/Tizen.NUI/src/public/Events/Wheel.cs
  src/Tizen.NUI/src/public/Utility/Capture.cs
  src/Tizen.NUI/src/public/Visuals/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Window/MouseInOut.cs
  src/Tizen.NUI/src/public/Window/MouseRelative.cs
Labels: Devel-NUI

#6906 [NUI] Introduce Conic Gradient
  src/Tizen.NUI/src/internal/Interop/Interop.GradientVisual.cs
  src/Tizen.NUI/src/internal/NativeBinding/NDalic.cs
  src/Tizen.NUI/src/public/Visuals/GradientVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#6888 [NUI] Add measure invalidated event for detecting layout changes
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#6908 [NUI] Add IsEnabled binding property
  src/Tizen.NUI/src/devel/Binding/ViewBindings.cs
Labels: Devel-NUI

#6909 [NUI] Implement InnerShadow + Bind Control Borderline and remove relative codes.
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/ViewProperty/InnerShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/InnerShadowSample.cs
Labels: Internal API Changed, Devel-NUI

#6904 [NUI] Add RenderScale to TextLabel
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Internal API Changed, Devel-NUI

#6902 [Recorder] Add finalizer and modify dispose logic
  src/Tizen.Multimedia.Recorder/Recorder/Recorder.cs
Labels: ACR Required, API13

#6911 [NUI] version up to 22418
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6912 NUI Integration main -> DevelNUI
  src/Tizen.Multimedia.Recorder/Recorder/Recorder.cs
Labels: ACR Required, Devel-NUI

#6915 [NUI][API10] Support to view constructor which we can ignore Relayout
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Internal API Changed, API10

#6861 [Tizen.Applications] Modify CODEOWNERS
  .github/CODEOWNERS
Labels: API13

#6917 [NUI] Fix several compile warning and error
  src/Tizen.NUI/src/public/Animation/AlphaFunctionSpringType.cs
  src/Tizen.NUI/src/public/ViewProperty/InnerShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
Labels: Internal API Changed, API13

#6914 [NUI] Temporal revert for Animatable View corner radius
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI

#6920 Update Tizen.NET.nuspec
  pkg/Tizen.NET/Tizen.NET.nuspec
Labels: API13

#6922 [NUI.Samples] Add Semi-Particle system
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/SemiParticleSystem.cs
Labels: Devel-NUI

#6926 [NUI][API12] Add creation option to visual factory
  src/Tizen.NUI/src/internal/Interop/Interop.VisualFactory.cs
  src/Tizen.NUI/src/public/Visuals/VisualFactory.cs
  src/Tizen.NUI/src/public/Visuals/VisualFactoryCreationOptions.cs
Labels: Internal API Changed, API12

#6925 [NUI] Add creation option to visual factory
  src/Tizen.NUI/src/internal/Interop/Interop.VisualFactory.cs
  src/Tizen.NUI/src/public/Visuals/VisualFactory.cs
  src/Tizen.NUI/src/public/Visuals/VisualFactoryCreationOptions.cs
Labels: Internal API Changed, Devel-NUI

#6928 [NUI] Version up to 22419
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6929 [NUI] Rebase main -> DevelNUI
  pkg/Tizen.NET/Tizen.NET.nuspec
Labels: Devel-NUI

#6907 [NUI] Add some accessibility features for new components
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityRoleV2.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityStatesV2.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityV2.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/TSView.cs
Labels: Internal API Changed, Devel-NUI

#6936 [Multimedia] Update CODEOWNERS
  .github/CODEOWNERS
Labels: API13

#6937 [NUI] Add friend assembly for TV.FLUX.Extension
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: Devel-NUI, quick review is required

#6935 [NUI] Add RemoveTexture and RemoveSampler in TextureSet
  src/Tizen.NUI/src/internal/Interop/Interop.TextureSet.cs
  src/Tizen.NUI/src/public/Rendering/TextureSet.cs
Labels: Internal API Changed, Devel-NUI
