Repository Samsung/TizenFX, pull requests merged in 2025-04, with the labels that each got.

#6803 [NUI.UIColor] Explain more constant colors
  src/Tizen.NUI/src/devel/Lite/UIColorConstants.cs
  src/Tizen.NUI/src/devel/Lite/UIColorCosntants.cs
  src/Tizen.NUI/src/public/Common/Color.cs
Labels: Internal API Changed, Devel-NUI

#6807 [NUI.Samples] Make NUI Samples use Renderable instead Renderer
  src/Tizen.NUI/src/internal/Rendering/RendererProperty.cs
  src/Tizen.NUI/src/public/Rendering/Renderable.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AsyncImageLoaderTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CircularTextSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ClippedImage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DisposeTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/RendererUpdateAreaTest.cs
Labels: Internal API Changed, Devel-NUI

#6806 [NUI] Implement IEquatable for primitive structures and make them immutable
  src/Tizen.NUI/src/devel/Lite/UICorner.cs
  src/Tizen.NUI/src/devel/Lite/UIExtents.cs
  src/Tizen.NUI/src/devel/Lite/UIRect.cs
  src/Tizen.NUI/src/devel/Lite/UIState.cs
  src/Tizen.NUI/src/devel/Lite/UIVector2.cs
  src/Tizen.NUI/src/devel/Lite/UIVector3.cs
Labels: Internal API Changed, Devel-NUI

#6808 [NUI] Fix height calculation of TextLabelLayout
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#6809 [NUI] version up 22412
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6815 [NUI] Fix wrong equality check of UICorner
  src/Tizen.NUI/src/devel/Lite/UICorner.cs
Labels: Internal API Changed, Devel-NUI

#6814 [NUI] Apply Global.ruleset what TizenFX using
  src/Tizen.NUI/Tizen.NUI.csproj
Labels: Devel-NUI

#6812 [NUI] Reduce more build warnings : CA1707, CA2211, CA1815, CA1720
  src/Tizen.NUI/src/deprecated/Rendering/FilterModeType_Deprecated.cs
  src/Tizen.NUI/src/deprecated/Rendering/Geometry_Deprecated.cs
  src/Tizen.NUI/src/deprecated/Rendering/Shader_Deprecated.cs
  src/Tizen.NUI/src/deprecated/Rendering/TextureType_Deprecated.cs
  src/Tizen.NUI/src/devel/Lite/UIExtents.cs
  src/Tizen.NUI/src/devel/Lite/UIShadow.cs
  src/Tizen.NUI/src/devel/Lite/UIVector3.cs
  src/Tizen.NUI/src/internal/Common/DaliEnumConstants.cs
  src/Tizen.NUI/src/internal/Common/FrameBuffer.cs
  src/Tizen.NUI/src/internal/Common/RenderBufferFormat.cs
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ItemFactory.cs
  src/Tizen.NUI/src/internal/Utility/ItemFactory.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
  src/Tizen.NUI/src/public/Layouting/MeasureSpecification.cs
  src/Tizen.NUI/src/public/Layouting/MeasuredSize.cs
  src/Tizen.NUI/src/public/ParticleSystem/Particle.cs
  src/Tizen.NUI/src/public/Rendering/Texture.cs
  src/Tizen.NUI/src/public/Rendering/TextureUploadProperties.cs
  src/Tizen.NUI/src/public/Utility/AccumulatingVelocityTrackerStrategy.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
  src/Tizen.NUI/src/public/Window/WindowBlurInfo.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSRenderTask.cs
Labels: Internal API Changed, Devel-NUI

#6813 [NUI] Reduce build warning CA1805 (Deprecated, BaseComponents, etc)
  src/Tizen.NUI/src/deprecated/Rendering/Renderer_Deprecated.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewVisuals.cs
  src/Tizen.NUI/src/public/BaseComponents/VisualView.cs
  src/Tizen.NUI/src/public/Common/Color.cs
  src/Tizen.NUI/src/public/Rendering/Renderable.cs
Labels: Devel-NUI

#6816 [NUI] Remove unused NUI extension
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
Labels: Internal API Changed, Devel-NUI

#6818 [NUI] Fix wrong disposal bug
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
Labels: Devel-NUI

#6820 [NUI] Bind corner radius properties
  src/Tizen.NUI.Scene3D/src/public/Controls/SceneView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/ViewProperty/BackgroundExtraData.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/public/BaseComponents/TSImageView.cs
Labels: Devel-NUI

#6826 [NUI] Keep DRGLView delegate at least 1 frame rendering
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
Labels: Internal API Changed, Devel-NUI

#6827 Revert "[NUI] Add OverScrolled in WebView"
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewOverScrolledEventArgs.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, API10

#6828 [NUI] Add SetPanGestureMinimumTouchesRequired and SetPanGestureMaximumTouchesRequired() to GestureOptions.
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
  src/Tizen.NUI/src/public/Events/PanGestureDetector.cs
Labels: Internal API Changed, Devel-NUI

#6825 [NUI] Update and sync all the latest patches related to WebView that have been modified so far
  src/Tizen.NUI/src/internal/Application/NUICoreBackend.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebDeviceList.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebDeviceList.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebViewDeviceConnectionChangedEventArgs.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, Devel-NUI

#6822 [NUI] Rewrite LowerFirstLetter
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
Labels: API13

#6824 [Applications.Common] Add internal API to toggle watchdog
  src/Tizen.Applications.Common/Interop/Interop.AppCommon.cs
  src/Tizen.Applications.Common/Tizen.Applications/WatchdogTimer.cs
Labels: Internal API Changed, API13

#6834 [NUI](GestureOption) Match parameter name and comment
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
Labels: Devel-NUI

#6836 [NUI] Implement Rotation.Assign + Call Constraint.Remove at Dispose + Minor cleanup
  src/Tizen.NUI/src/internal/Animation/Constraint.cs
  src/Tizen.NUI/src/internal/Animation/EqualConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/Animation/RelativeConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Rotation.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/Property.cs
  src/Tizen.NUI/src/public/Common/Rotation.cs
Labels: Devel-NUI

#6837 [NUI](GestureOptions) Add missing comments.
  src/Tizen.NUI/src/public/Events/GestureOptions.cs
Labels: Devel-NUI

#6755 [Tizen.Network.WiFiDirect] Add VSIE and connection related APIs
  src/Tizen.Network.WiFiDirect/Interop/Interop.WiFiDirect.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectEnumerations.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectManager.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectManagerImpl.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectPeer.cs
Labels: ACR Required, Internal API Changed, API13

#6839 Revert "[NUI] Rewrite LowerFirstLetter"
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
Labels: Devel-NUI, quick review is required

#6840 Revert "[NUI] Rewrite LowerFirstLetter"
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
Labels: API13

#6838 [NUI] Bind Constraint with custom function
  src/Tizen.NUI/src/internal/Animation/Constraint.cs
  src/Tizen.NUI/src/internal/Animation/ConstraintApplyActionType.cs
  src/Tizen.NUI/src/internal/Animation/ConstraintFunction.cs
  src/Tizen.NUI/src/internal/Animation/ConstraintTagRanges.cs
  src/Tizen.NUI/src/internal/Animation/EqualConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/Animation/PropertyInputContainer.cs
  src/Tizen.NUI/src/internal/Animation/RelativeConstraintWithParentFloat.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Constraint.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ConstraintFunction.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Handle.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyInputContainer.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ConstraintWithCustomShaderTest.cs
Labels: Devel-NUI, detailed and in-depth review required

#6843 [NUI] Fix layout sibiling order changes by RaiseToTop and LowerToBottom
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI

#6842 [NUI.Samples] Change corner radius source name as "ViewCornerRadius"
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ConstraintWithCustomShaderTest.cs
Labels: Devel-NUI

#6855 [NUI] Bump Ubuntu version in github action to 24.04
  .github/workflows/nui-code-style-review.yml
Labels: Devel-NUI

#6849 [NUI] Catch exception when Tizen.System.SystemSettings throw exception
  src/Tizen.NUI/src/internal/Common/SystemFontSizeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemFontTypeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemLocaleLanguageChangedManager.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/AdvancedTextVisual.cs
Labels: Devel-NUI

#6852 [NUI][DirectRenderingGLView] Add RenderCallbackInput include WorldColor
  src/Tizen.NUI/src/internal/Interop/Interop.GLView.cs
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
  test/NUIGLView/NUIDirectRenderingGLViewSample/DirectRenderingGLViewSample.cs
  test/NUIGLView/NUIDirectRenderingGLViewSample/lib/libNUIDirectRenderingGLView-callbacks.so
Labels: Internal API Changed, Devel-NUI

#6821 [NUI] Fix some CA2000 warnings in NUI
  src/Tizen.NUI/src/deprecated/Rendering/Renderer_Deprecated.cs
  src/Tizen.NUI/src/internal/Application/WatchApplication.cs
  src/Tizen.NUI/src/internal/Common/ControlStateUtility.cs
  src/Tizen.NUI/src/internal/Common/FrameBuffer.cs
  src/Tizen.NUI/src/internal/Common/KeyInputFocusManager.cs
  src/Tizen.NUI/src/internal/Common/LinearConstrainer.cs
  src/Tizen.NUI/src/internal/Common/NUIWindowProxy.cs
  src/Tizen.NUI/src/internal/Common/PathConstrainer.cs
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Common/RenderTaskList.cs
  src/Tizen.NUI/src/internal/Transition/TransitionSet.cs
  src/Tizen.NUI/src/internal/Utility/Builder.cs
  src/Tizen.NUI/src/internal/Utility/GaussianBlurView.cs
  src/Tizen.NUI/src/internal/Utility/PageTurnView.cs
  src/Tizen.NUI/src/internal/images/ImageLoading.cs
  src/Tizen.NUI/src/public/Animation/AlphaFunction.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditorEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextFieldEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabelEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
  src/Tizen.NUI/src/public/BaseComponents/VideoView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Clipboard/Clipboard.cs
  src/Tizen.NUI/src/public/Clipboard/ClipboardEvent.cs
  src/Tizen.NUI/src/public/Common/Color.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/Common/PropertyNotification.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Common/StyleManager.cs
  src/Tizen.NUI/src/public/Events/LongPressGestureDetector.cs
  src/Tizen.NUI/src/public/Events/PinchGestureDetector.cs
  src/Tizen.NUI/src/public/Events/RotationGestureDetector.cs
  src/Tizen.NUI/src/public/Events/TapGestureDetector.cs
  src/Tizen.NUI/src/public/Input/FocusManager.cs
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
  src/Tizen.NUI/src/public/Rendering/Renderable.cs
  src/Tizen.NUI/src/public/Rendering/TextureSet.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
  src/Tizen.NUI/src/public/Utility/TTSPlayer.cs
  src/Tizen.NUI/src/public/Utility/Timer.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/ColorVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/ImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/NPatchVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/TextVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
  src/Tizen.NUI/src/public/Window/GLWindowEvent.cs
Labels: Devel-NUI

#6829 [NUI] Fix more CA2000 warnings in NUI.
  src/Tizen.NUI/src/deprecated/BaseComponents/View_Deprecated.cs
  src/Tizen.NUI/src/devel/Lite/UIShadow.cs
  src/Tizen.NUI/src/internal/Application/Application.cs
  src/Tizen.NUI/src/internal/Common/VisualObjectsContainer.cs
  src/Tizen.NUI/src/internal/Transition/TransitionGroupItem.cs
  src/Tizen.NUI/src/public/Application/NUIWidgetComponent.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/Common/TypeRegistry.cs
  src/Tizen.NUI/src/public/ParticleSystem/ParticleEmitter.cs
  src/Tizen.NUI/src/public/Utility/Capture.cs
  src/Tizen.NUI/src/public/Visuals/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualFactory.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/BorderVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Devel-NUI

#6857 [NUI] version up to 22414
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6856 [WebRTC] Add debug log
  src/Tizen.Multimedia.Remoting/Interop/Interop.WebRTC.cs
  src/Tizen.Multimedia.Remoting/WebRTC/WebRTCDataChannel.cs
Labels: API13

#6859 [NUI] Fix ScrollableBase Layout to respect MaximumSize
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
Labels: Devel-NUI

#6851 [NUI] Add a cache for key event in View.
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
Labels: Devel-NUI

#6863 [NUI] Fix FlexLayout not to use Dictionary taking child views
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
Labels: Devel-NUI

#6847 [MediaContent] Remove .scan_ignore documentation
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaDatabase.cs
Labels: API13

#6868 [NUI] version up to 22415
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6871 [NUI] Add copyright notices to files lacking security copyright headers
  src/Tizen.NUI.AIAvatar/src/Animator/Core/IAnimator.cs
  src/Tizen.NUI.AIAvatar/src/LipSync/LipSyncer.cs
  src/Tizen.NUI.Components/Controls/AlertDialogBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ButtonBindableProperty.cs
  src/Tizen.NUI.Components/Controls/MenuBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBarBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/PaginationBindableProperty.cs
  src/Tizen.NUI.Components/Controls/PickerBindableProperty.cs
  src/Tizen.NUI.Components/Controls/PopupBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ProgressBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionViewBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ScrollBarBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ScrollableBaseBindableProperty.cs
  src/Tizen.NUI.Components/Controls/SliderBindableProperty.cs
  src/Tizen.NUI.Components/Controls/SwitchBindableProperty.cs
  src/Tizen.NUI.Components/Controls/TabBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ToastBindableProperty.cs
  src/Tizen.NUI.Components/FriendAssembly.cs
  src/Tizen.NUI.Components/Properties/AssemblyInfo.cs
  src/Tizen.NUI.Extension/Properties/AssemblyInfo.cs
  src/Tizen.NUI.Physics2D/Properties/AssemblyInfo.cs
  src/Tizen.NUI.Scene3D/Properties/AssemblyInfo.cs
  src/Tizen.NUI/Properties/AssemblyInfo.cs
  src/Tizen.NUI/src/devel/Binding/BindingExtensions.cs
  src/Tizen.NUI/src/devel/Binding/BindingProperty.cs
  src/Tizen.NUI/src/devel/Binding/BindingSession.cs
  src/Tizen.NUI/src/devel/Binding/TwoWayBindingProperty.cs
  src/Tizen.NUI/src/devel/Binding/ViewBindings.cs
  src/Tizen.NUI/src/devel/Lite/UIExtents.cs
  src/Tizen.NUI/src/internal/Interop/Interop.BackgroundBlurEffect.cs
  src/Tizen.NUI/src/internal/Interop/Interop.CameraView.cs
  src/Tizen.NUI/src/internal/XamlBinding/MergedStyle.cs
  src/Tizen.NUI/src/internal/XamlBinding/StyleSheets/IStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
  src/Tizen.NUI/src/public/BaseComponents/GLView.cs
  src/Tizen.NUI/src/public/XamlBinding/TriggerBase.cs
  src/Tizen.NUI/src/public/XamlBinding/XamlStyle.cs
Labels: Devel-NUI

#6862 [PackageManager] Add RPK type
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageType.cs
Labels: ACR Required, API13

#6872 [NUI] Remove all files with copyright issues
  test/NUITestSample/NUIXAMLTestSample/res/images/Kid1.svg
  test/NUITizenGallery/.vscode/launch.json
  test/NUITizenGallery/.vscode/tasks.json
  test/NUITizenGallery/res/images/cartman.svg
  test/NUITizenGallery/res/images/duke.svg
  test/NUITizenGallery/res/images/tiger.svg
  test/PerformanceTest/.vscode/launch.json
  test/PerformanceTest/.vscode/tasks.json
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/.vscode/launch.json
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/.vscode/tasks.json
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/.vscode/launch.json
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/.vscode/tasks.json
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/Dali/DaliDemo/Kid1.svg
  test/Tizen.NUI.StyleGuide/.vscode/launch.json
  test/Tizen.NUI.StyleGuide/.vscode/tasks.json
Labels: Devel-NUI

#6873 [NUI][Xaml] Remove warnings logs in xaml.
  pkg/Tizen.NET.API13/xamlbuild/Tizen.NUI.XamlBuild.dll
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/NUIXamlCTask.cs
Labels: Devel-NUI

#6875 Hide UI state
  src/Tizen.NUI/src/internal/Common/ControlStateImpl.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ControlState.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
Labels: Internal API Changed, Devel-NUI

#6874 [NUI] Add OverScrolled in WebView
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/internal/WebView/WebViewOverScrolledEventArgs.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, Devel-NUI

#6879 [NUI] Implement LowerFirstLetter as Native side
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/Animation/Animatable.cs
Labels: Devel-NUI

#6882 [NUI] Refactor app to allow rotation
  test/NUIDnDMultiWindow/NUIDnDMultiWindow.cs
  test/NUIDnDSource/NUIDnDSource.cs
  test/NUIDnDTarget/NUIDnDTarget.cs
Labels: Devel-NUI

#6883 [NUI] version up to 22416
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6884 Rebase main to DevelNUI
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageType.cs
Labels: Devel-NUI

#6881 [Bluetooth] Add BluetoothDevice constructor with below:
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
Labels: API10

#6886 [NUI.Samples] Revive Ruler at Tizen.NUI.Samples
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/DefaultRuler.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/FixedRuler.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/Ruler.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/RulerDomain.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/RulerPtr.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ScrollView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliTableView.cs
Labels: Devel-NUI
