Repository Samsung/TizenFX, pull requests merged in 2025-06, with the labels that each got.

#6943 [Applications.Common] Fix OnTimeZoneChanged method
  src/Tizen.Applications.Common/Tizen.Applications/CoreApplication.cs
Labels: API13

#6953 [NUI][API12] Fix crash when we use NUI.Layout if IsUsingXaml = false
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: API12

#6944 [NUI] Remove unused codes in NUI.
  src/Tizen.NUI/src/internal/Common/CustomActor.cs
  src/Tizen.NUI/src/internal/Common/CustomActorImpl.cs
  src/Tizen.NUI/src/internal/Common/ViewImpl.cs
  src/Tizen.NUI/src/internal/Common/ViewWrapperImpl.cs
  src/Tizen.NUI/src/internal/Interop/Interop.CustomActorImpl.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewImpl.cs
  src/Tizen.NUI/src/internal/NativeBinding/NDalic.cs
  src/Tizen.NUI/src/public/Common/NUIConstants.cs
Labels: Devel-NUI

#6945 [NUI]Fix CA2000 warnings in InnerShadow.
  src/Tizen.NUI/src/public/ViewProperty/InnerShadow.cs
Labels: Devel-NUI

#6968 [NUI] Version 22423
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6940 [NUI] Make AccessibilityStatesV2 flag enum
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityStatesV2.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityV2.cs
Labels: Internal API Changed, Devel-NUI

#6972 [Applications.Common] Add new properties to get paths
  src/Tizen.Applications.Common/Interop/Interop.AppCommon.cs
  src/Tizen.Applications.Common/Interop/Interop.ApplicationManager.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfo.cs
  src/Tizen.Applications.Common/Tizen.Applications/DirectoryInfo.cs
Labels: Internal API Changed, API13

#6971 [NUI] Make View.AddRenderable/RemoveRenderable handle only user defined renderables
  src/Tizen.NUI/src/deprecated/BaseComponents/View_Deprecated.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI

#6891 [Tizen.Network.WiFiDirect] Add VSIE and connection related APIs
  src/Tizen.Network.WiFiDirect/Interop/Interop.WiFiDirect.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectEnumerations.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectManager.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectManagerImpl.cs
  src/Tizen.Network.WiFiDirect/Tizen.Network.WiFiDirect/WiFiDirectPeer.cs
Labels: Internal API Changed, API11

#6976 [NUI] Update NUI version to 22424
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6977 Create update-version-and-create-pr.yml
  .github/workflows/rebase-develnui-to-main.yml
  .github/workflows/rebase-main-to-develnui.yml
  .github/workflows/update-version-and-create-pr.yml
Labels: API13

#6983 [NUI] Add Ignored property on Layer
  src/Tizen.NUI/src/public/Common/Layer.cs
Labels: Internal API Changed, Devel-NUI

#6985 [NUI] Remove interop APIs that are not implemented in csharp-binder.
  src/Tizen.NUI/src/internal/Common/NativeImageInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.CameraActor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.GLView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Gesture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.InputMethodOptions.cs
  src/Tizen.NUI/src/internal/Interop/Interop.LongPressGesture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PanGestureDetector.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ParticleEmitter.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PinchGesture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.RotationGesture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Stage.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TapGesture.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewImplSignal.cs
  src/Tizen.NUI/src/internal/Utility/Camera.cs
  src/Tizen.NUI/src/public/Events/Gesture.cs
  src/Tizen.NUI/src/public/Events/LongPressGesture.cs
  src/Tizen.NUI/src/public/Events/PanGesture.cs
  src/Tizen.NUI/src/public/Events/PinchGesture.cs
  src/Tizen.NUI/src/public/Events/RotationGesture.cs
  src/Tizen.NUI/src/public/Events/TapGesture.cs
  src/Tizen.NUI/src/public/ParticleSystem/ParticleEmitter.cs
  src/Tizen.NUI/src/public/Window/Window.cs
Labels: Internal API Changed, Devel-NUI

#6984 [NUI] Add async condition to text label layout
  src/Tizen.NUI/src/internal/Interop/Interop.TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
Labels: Devel-NUI

#6992 [NUI] Add EnableDragAndDrop method of WebView
  src/Tizen.NUI/src/internal/Interop/Interop.WebSettings.cs
  src/Tizen.NUI/src/internal/WebView/WebSettings.cs
Labels: Internal API Changed, Devel-NUI

#6986 [NUI.Scene3D] Fix an API mismatch issue in Interop.Model.
  src/Tizen.NUI.Scene3D/src/internal/Interop/Interop.Model.cs
Labels: Devel-NUI
