Repository Samsung/TizenFX, pull requests merged in 2025-02, with the labels that each got.

#6610 [NUI] Provide implicit conversion to Color from UIColor
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
Labels: Devel-NUI

#6612 [NUI] UICorner includes a relative flag
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/devel/Lite/UICorner.cs
Labels: Devel-NUI

#6591 [AIAvatar] Bugfix/ai avatar
  src/Tizen.AIAvatar/src/AIServices/Core/RestClient/RestClient.cs
  src/Tizen.AIAvatar/src/AIServices/Core/RestClient/ServiceClientManager.cs
  src/Tizen.AIAvatar/src/Multimedia/Audio/AudioPlayer.cs
  test/Tizen.AIAvatar.Example/res/Images/Irradiance.ktx
  test/Tizen.AIAvatar.Example/res/Images/Radiance.ktx
  test/Tizen.AIAvatar.Example/res/Images/UI_BG.png
Labels: Internal API Changed, Devel-NUI

#6616 [NUI] Version 2204
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6617 Try to fix github action build error
  .github/workflows/build-branches.yml
  .github/workflows/build-pull-request.yml
  .gitignore
Labels: API13

#6608 [NUI] Remove signal type member variables in View & Builder.
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI/src/internal/Accessibility/AccessibilityDoGestureSignal.cs
  src/Tizen.NUI/src/internal/Common/StringToVoidSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilitySignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Builder.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/internal/Interop/Interop.DoGestureSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.StringToVoidSignal.cs
  src/Tizen.NUI/src/internal/Utility/Builder.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibility.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Window/WindowEvent.cs
Labels: Internal API Changed, Devel-NUI

#6609 [Optimization] Remove redundant PInvoke call for NUI constants.
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/NativeBinding/NDalic.cs
  src/Tizen.NUI/src/public/Events/PanGestureDetector.cs
  src/Tizen.NUI/src/public/Utility/FontClient.cs
Labels: Devel-NUI

#6614 [NUI] Fix several custom shader could be works at Vulkan backend
  src/Tizen.NUI.Wearable/src/public/Title.cs
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
  test/NUITestSample/CommonUI_Samples/Samples/ContactCard/ClippedImage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/CircularTextSample.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ContactCard/ClippedImage.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DisposeTest.cs
Labels: Devel-NUI

#6624 [NUI] Disable xaml in Style & Layouting.
  src/Tizen.NUI/src/internal/Utility/GaussianBlurView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ImageViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutGroup.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#6603 [MediaContent] Remove deprecated CreateThumbnailAsync API
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaInfoCommand.cs
Labels: ACR Required, API13

#6630 [NUI] Make InputMethodContext's signal callbacks not collected
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
Labels: Devel-NUI

#6635 Try to fix github Action error
  .github/workflows/build-branches.yml
  .github/workflows/build-pull-request.yml
  .github/workflows/check-api-level.yml
  .gitignore
Labels: API12

#6637 Try to fix github Action error
  .github/workflows/build-branches.yml
  .github/workflows/build-pull-request.yml
  .github/workflows/check-api-level.yml
  .gitignore
Labels: API10

#6628 [NUI] Disable xaml in AlertDialog, Button, etc in Components.
  src/Tizen.NUI.Components/Controls/AlertDialog.cs
  src/Tizen.NUI.Components/Controls/AlertDialogBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Button.cs
  src/Tizen.NUI.Components/Controls/ButtonBindableProperty.cs
  src/Tizen.NUI.Components/Controls/ButtonGroup.cs
  src/Tizen.NUI.Components/Controls/CheckBoxGroup.cs
  src/Tizen.NUI.Components/Controls/Control.cs
  src/Tizen.NUI.Components/Controls/DatePicker.cs
  src/Tizen.NUI.Components/Controls/Dialog.cs
  src/Tizen.NUI.Components/Controls/FlexibleView/FlexibleView.cs
  src/Tizen.NUI.Components/Controls/ImageScrollBar.cs
  src/Tizen.NUI.Components/Controls/Loading.cs
  src/Tizen.NUI.Components/Controls/Menu.cs
  src/Tizen.NUI.Components/Controls/MenuBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBar.cs
  src/Tizen.NUI.Components/Controls/Navigation/AppBarBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/ContentPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPage.cs
  src/Tizen.NUI.Components/Controls/Navigation/DialogPageBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Navigation/Navigator.cs
  src/Tizen.NUI.Components/Controls/Navigation/Page.cs
Labels: Devel-NUI

#6631 [NUI] Fix InputMethodContext callbacks API12
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
Labels: API12

#6639 [NUI] Disable xaml in CollectionView, ScrollableBase, etc in Components.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionViewBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultGridItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultLinearItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/DefaultTitleItemBindableProperty.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.cs
  src/Tizen.NUI.Components/Controls/RecyclerView/RecyclerView.cs
  src/Tizen.NUI.Components/Controls/ScrollableBase.cs
  src/Tizen.NUI.Components/Controls/ScrollableBaseBindableProperty.cs
Labels: Devel-NUI

#6638 [Optimization] Add int/float/vector to PropertyMap directly.
  src/Tizen.NUI/src/internal/FrameBroker/FrameBrokerBase.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyMap.cs
  src/Tizen.NUI/src/internal/WebView/WebHttpRequestInterceptor.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextMapHelper.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/BaseComponents/VisualView.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/CustomView/Spin.cs
  src/Tizen.NUI/src/public/Input/InputMethod.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
  src/Tizen.NUI/src/public/Visuals/AnimatedImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/ArcVisual.cs
  src/Tizen.NUI/src/public/Visuals/BorderVisual.cs
  src/Tizen.NUI/src/public/Visuals/ColorVisual.cs
  src/Tizen.NUI/src/public/Visuals/GradientVisual.cs
  src/Tizen.NUI/src/public/Visuals/ImageVisual.cs
  src/Tizen.NUI/src/public/Visuals/MeshVisual.cs
  src/Tizen.NUI/src/public/Visuals/NPatchVisual.cs
  src/Tizen.NUI/src/public/Visuals/PrimitiveVisual.cs
  src/Tizen.NUI/src/public/Visuals/SVGVisual.cs
  src/Tizen.NUI/src/public/Visuals/TextVisual.cs
  src/Tizen.NUI/src/public/Visuals/VisualAnimator.cs
  src/Tizen.NUI/src/public/Visuals/VisualMaps.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/AnimatedImageVisual.cs
Labels: Devel-NUI

#6641 [Optimization][Issue 125] Remove Tizen.NUI.Design
  src/Tizen.NUI.Design/Properties/AssemblyInfo.cs
  src/Tizen.NUI.Design/Tizen.NUI.Design.csproj
  src/Tizen.NUI.Design/Tizen.NUI.Design.sln
  src/Tizen.NUI.Design/Tizen.NUI.Design/AttributeTableBuilder.cs
  src/Tizen.NUI.Design/Tizen.NUI.Design/RegisterMetadata.cs
  src/Tizen.NUI.Design/Tizen.NUI/AttributeTableBuilder.cs
  src/Tizen.NUI.Design/Tizen.NUI/RegisterMetadata.cs
Labels: Devel-NUI

#6626 [NUI] Fix build warning for UIExtents
  src/Tizen.NUI/src/devel/Lite/UIExtents.cs
Labels: Devel-NUI

#6594 [NUI] Support ColorVisual CutoutPolicy.Outside
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VisualTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/res/images/i_focus_stroke_tile_2unit.9.webp
Labels: Internal API Changed, Devel-NUI

#6645 [NUI] Add Minimum/Maximum Width/Height to View markup methods
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/ViewProperty/LayoutExtraData.cs
Labels: Internal API Changed, Devel-NUI

#6647 [NUI] Add Margin and Padding to View markup methods
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/ViewProperty/LayoutExtraData.cs
Labels: Internal API Changed, Devel-NUI

#6593 [NUI] Add FullScreenMode to InputMethodContext
  src/Tizen.NUI/src/internal/Interop/Interop.InputMethodContext.cs
  src/Tizen.NUI/src/public/Input/InputMethodContext.cs
Labels: Internal API Changed, Devel-NUI

#6640 [NUI] Adds NUIGLView sample
  test/NUIGLView/NUIGLViewSample/.pic/screenshot.png
  test/NUIGLView/NUIGLViewSample/GLViewSample.cs
  test/NUIGLView/NUIGLViewSample/GLViewSample.csproj
  test/NUIGLView/NUIGLViewSample/README.md
  test/NUIGLView/NUIGLViewSample/lib/libNUIGLView-callbacks.so.0.0.1
  test/NUIGLView/NUIGLViewSample/res/bg_0.png
  test/NUIGLView/NUIGLViewSample/res/bg_1.png
  test/NUIGLView/NUIGLViewSample/res/bg_2.png
  test/NUIGLView/NUIGLViewSample/shared/res/GLViewSample.png
  test/NUIGLView/NUIGLViewSample/tizen-manifest.xml
Labels: Devel-NUI

#6652 [Optimization][Issue23] Correct the DALi call of set Rectangle.
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
Labels: Devel-NUI

#6654 [NUI] Version 2205
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6655 [MediaContent] Remove deprecated CreateThumbnailAsync API (#6603)
  src/Tizen.Content.MediaContent/Tizen.Content.MediaContent/MediaInfoCommand.cs
Labels: ACR Required, Devel-NUI

#6649 [NUI] Fix a memory leak in Vector4.
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Drawable.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Gradient.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Shape.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
Labels: Devel-NUI

#6653 [Optimization][Issue 23] Set int/float/string/vector/rectangle to propertyMap directly.
  src/Tizen.NUI/src/internal/Interop/Interop.PropertyMap.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/ViewProperty/ImageShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/ViewProperty/ShadowBase.cs
  src/Tizen.NUI/src/public/ViewProperty/TextShadow.cs
Labels: Devel-NUI

#6646 [NUI] Disable xaml in Style in Components.
  src/Tizen.NUI.Components/Controls/Tab.cs
  src/Tizen.NUI.Components/Controls/TabBindableProperty.cs
  src/Tizen.NUI.Components/Controls/TimePicker.cs
  src/Tizen.NUI.Components/Controls/Toast.cs
  src/Tizen.NUI.Components/Controls/ToastBindableProperty.cs
  src/Tizen.NUI.Components/Style/ButtonStyle.cs
  src/Tizen.NUI.Components/Style/LoadingStyle.cs
  src/Tizen.NUI.Components/Style/PaginationStyle.cs
  src/Tizen.NUI.Components/Style/RecyclerViewItemStyle.cs
  src/Tizen.NUI.Components/Style/ScrollbarStyle.cs
  src/Tizen.NUI.Components/Style/SliderStyle.cs
  src/Tizen.NUI.Components/Style/ToastStyle.cs
Labels: Devel-NUI

#6643 [NUI] Disable xaml in Scrollbar, Switch, etc in Components.
  src/Tizen.NUI.Components/Controls/ImageScrollBar.cs
  src/Tizen.NUI.Components/Controls/ScrollBarBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Scrollbar.cs
  src/Tizen.NUI.Components/Controls/Slider.cs
  src/Tizen.NUI.Components/Controls/SliderBindableProperty.cs
  src/Tizen.NUI.Components/Controls/Switch.cs
  src/Tizen.NUI.Components/Controls/SwitchBindableProperty.cs
Labels: Devel-NUI

#6657 [NUI] Fix dictionary variables to support non UsingXaml case
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
Labels: Devel-NUI

#6650 [Build] Update dependency
  pkg/Tizen.NET/Tizen.NET.nuspec
Labels: API13

#6658 [NUI] UIColor supports token
  src/Tizen.NUI.Extension/Internal/ViewPropertySetters.cs
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/devel/Common/IPropertySetter.cs
  src/Tizen.NUI/src/devel/Common/IToken.cs
  src/Tizen.NUI/src/devel/Common/ITokenTable.cs
  src/Tizen.NUI/src/devel/Common/PropertySetter.cs
  src/Tizen.NUI/src/devel/Common/TokenType.cs
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
  src/Tizen.NUI/src/internal/Common/EmptyResourceTable.cs
  src/Tizen.NUI/src/internal/Common/TokenManager.cs
Labels: Internal API Changed, Devel-NUI

#6666 [NUI] Add SetVideoHole() for EFL window
  src/Tizen.NUI/src/internal/Interop/Interop.WebView.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Internal API Changed, quick review is required

#6661 [NUI] Fix a crash when applying ViewStyle.
  src/Tizen.NUI.Components/Controls/RecyclerView/CollectionView.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
Labels: Devel-NUI

#6667 Fix crash issue of set ImageArray of Loading
  src/Tizen.NUI/src/public/Visuals/AnimatedImageVisual.cs
Labels: Devel-NUI

#6665 [NUI] DO NOT use BindableProperty in Style.
  src/Tizen.NUI.Components/Style/ButtonStyle.cs
  src/Tizen.NUI.Components/Style/LoadingStyle.cs
  src/Tizen.NUI.Components/Style/PaginationStyle.cs
  src/Tizen.NUI.Components/Style/RecyclerViewItemStyle.cs
  src/Tizen.NUI.Components/Style/ScrollbarStyle.cs
  src/Tizen.NUI.Components/Style/SliderStyle.cs
  src/Tizen.NUI.Components/Style/ToastStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ImageViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/StyleProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextEditorStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextFieldStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/TextLabelStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyleBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Theme/Theme.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
Labels: Internal API Changed, Devel-NUI

#6668 [NUI] Fix a crash after xaml is disabled in Style.
  src/Tizen.NUI.Components/Controls/Slider.Internal.cs
Labels: Devel-NUI, quick review is required

#6664 [NUI] Support to view constructor which we can ignore Relayout
  src/Tizen.NUI/src/internal/Interop/Interop.View.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#6671 Fix issue of Size and Position Property in ViewStyle
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
Labels: Devel-NUI

#6673 [NUI] Fix the issue that Style Property Getter does not work.
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Devel-NUI

#6672 [NUI] Refine View extension methods
  src/Tizen.NUI.Extension/Internal/ViewPropertySetters.cs
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
  src/Tizen.NUI/src/devel/Common/IToken.cs
  src/Tizen.NUI/src/devel/Common/ITokenTable.cs
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
  src/Tizen.NUI/src/devel/Lite/UIExtents.cs
  src/Tizen.NUI/src/devel/Lite/UIShadow.cs
  src/Tizen.NUI/src/devel/Lite/UIVector3.cs
  src/Tizen.NUI/src/internal/Common/EmptyResourceTable.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
Labels: Internal API Changed, Devel-NUI

#6674 [NUI] Add z/depth into Position/Size in ViewStyle.
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
Labels: Devel-NUI

#6675 [Build] Update dependency (#6650)
  pkg/Tizen.NET/Tizen.NET.nuspec
Labels: Devel-NUI

#6676 [NUI] version up 22406
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6679 [Tizen.Core] Fix a bug about native handler
  src/Tizen.Core/Tizen.Core/Task.cs
Labels: API13

#6680 [Tizen.Core] Fix a bug about native handler
  src/Tizen.Core/Tizen.Core/Task.cs
Labels: API12

#6682 [NUI] Make UI struct work properly for animation
  src/Tizen.NUI.Extension/Tizen.NUI.Extension.csproj
  src/Tizen.NUI/src/internal/Common/PropertyHelper.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
Labels: Devel-NUI

#6660 [NUI] Introduce new binding style.
  src/Tizen.NUI.Components/Controls/RecyclerView/Item/RecyclerViewItem.Internal.cs
  src/Tizen.NUI/src/devel/Binding/BindingExtensions.cs
  src/Tizen.NUI/src/devel/Binding/BindingProperty.cs
  src/Tizen.NUI/src/devel/Binding/BindingSession.cs
  src/Tizen.NUI/src/devel/Binding/TwoWayBindingProperty.cs
  src/Tizen.NUI/src/devel/Binding/ViewBindings.cs
  test/Tizen.NUI.StyleGuide/Tizen.NUI.StyleGuide.cs
Labels: Internal API Changed, Devel-NUI

#6670 [NUI.Samples] Fix compile error after unused class removed
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ScrollView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliTableView.cs
Labels: Devel-NUI

#6684 [NUI.Scene3D] Check HasBody before Register at GeneratedMotionAnimation
  src/Tizen.NUI.Scene3D/src/public/Controls/Model.cs
Labels: Devel-NUI

#6659 [Tizen.Network.WiFi] Remove thread local support
  src/Tizen.Network.WiFi/Tizen.Network.WiFi.csproj
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiAP.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiManagerImpl.cs
  src/Tizen.Network.WiFi/Tizen.Network.WiFi/WiFiNetworkChange.cs
Labels: API13

#6685 [NUI.Gadget] Modify resource path
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetInfo.cs
Labels: API13

#6681 [NUI] Fix memory leaks in Size2D & Rectangle.
  src/Tizen.NUI/src/public/Application/WindowData.cs
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
  src/Tizen.NUI/src/public/BaseComponents/VectorGraphics/Picture.cs
  src/Tizen.NUI/src/public/Common/Rectangle.cs
  src/Tizen.NUI/src/public/Common/Size2D.cs
Labels: Devel-NUI

#6690 [NUI] Remove boxing/unboxing in View.
  src/Tizen.NUI/src/public/BaseComponents/Style/ViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityProperties.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
Labels: Devel-NUI

#6687 [NUI] Remove LayoutDimensionMode from LayoutDimension
  src/Tizen.NUI/src/internal/Layouting/LayoutController.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewLiteProperty.cs
  src/Tizen.NUI/src/public/Layouting/GridLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutDimension.cs
  src/Tizen.NUI/src/public/Layouting/LayoutLength.cs
  src/Tizen.NUI/src/public/Layouting/LinearLayout.cs
  src/Tizen.NUI/src/public/Layouting/RelativeLayout.cs
  src/Tizen.NUI/src/public/ViewProperty/LayoutExtraData.cs
Labels: Internal API Changed, Devel-NUI

#6689 [NUI] Add getter of LayoutWidth/Height in view extension
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
Labels: Internal API Changed, Devel-NUI

#6693 [NUI] Fix crash when a layout is set into View.
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#6691 [NUI] Fix issue that disposed PropertyMap is returned in View.
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#6694 [NUI] Minimize system settings API calls in Text
  src/Tizen.NUI/src/internal/Common/SystemFontSizeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemFontTypeChangedManager.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: Devel-NUI

#6695 [NUI] View extensions using UIColor do bind for every input
  src/Tizen.NUI.Extension/Markup/ViewExtensions.cs
Labels: Devel-NUI

#6696 [NUI] Minimize system settings API calls in Text
  src/Tizen.NUI/src/internal/Common/SystemFontSizeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemFontTypeChangedManager.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: API12

#6697 [NUI] Minimize system settings API calls in Text
  src/Tizen.NUI/src/internal/Common/SystemFontSizeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemFontTypeChangedManager.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: API11

#6698 [NUI] Minimize system settings API calls in Text
  src/Tizen.NUI/src/internal/Common/SystemFontSizeChangedManager.cs
  src/Tizen.NUI/src/internal/Common/SystemFontTypeChangedManager.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/Theme/DefaultThemeCommon.cs
Labels: API10

#6688 [NUI] Remove DALi instance from Size
  src/Tizen.NUI/src/public/BaseComponents/TextUtils.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Common/Size.cs
Labels: Internal API Changed, Devel-NUI

#6699 [NUI] Remove boxing/unboxing in ImageView, etc.
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/AnimatedVectorImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/CustomView.cs
  src/Tizen.NUI/src/public/BaseComponents/FlexContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationViewBindableProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/Scrollable.cs
  src/Tizen.NUI/src/public/BaseComponents/Style/ImageViewStyle.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
Labels: Devel-NUI

#6704 [NUI] Fix UIColor bug and add friend assembly
  src/Tizen.NUI/src/devel/Lite/UIColor.cs
  src/Tizen.NUI/src/internal/Common/FriendAssembly.cs
Labels: Devel-NUI
