Repository Samsung/TizenFX, pull requests merged in 2025-07, with the labels that each got.

#6994 [NUI] Make AddRenderable return uint
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI

#6993 [NUI] Add AccessibilityValue, IsScrollable, ActionReceived
  src/Tizen.NUI/src/internal/Interop/Interop.AccessibilitySignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ControlDevel.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewProperty.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityAction.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityActionReceivedEventArgs.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityV2.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
Labels: Internal API Changed, Devel-NUI

#7004 [Applications.Common] Fix wrong implementation
  src/Tizen.Applications.Common/Tizen.Applications/DirectoryInfo.cs
Labels: API13

#7005 [NUI] Fix to update layout when LayoutDirection is changed
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#7010 [NUI] Add protected virtual hooks for Raise* and Lower* methods
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
Labels: Internal API Changed, Devel-NUI

#6980 [NUI] Fix Layout to set size with 0
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#6981 [NUI] Fix Layout to set size with 0
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: API12

#7017 [PackageManager] Modify Package class
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
Labels: API13

#7012 [NUI] Remove logs in AccessibilityAction event
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
Labels: Devel-NUI

#7009 [NUI] Accessibility event return should not null
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityEvent.cs
Labels: Devel-NUI

#7019 [Markdown] Update markdown style
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownStyleDefaults.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUI/UICode.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUI/UIContainer.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUI/UIHeading.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUI/UIList.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUI/UIQuote.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUI/UITable.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUI/UIThematicBreak.cs
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownUIBuilder.cs
  src/Tizen.NUI.MarkdownRenderer/src/public/MarkdownStyle.cs
Labels: Internal API Changed, Devel-NUI

#7018 [NUI] Add Visuals.GradientVisual Class
  src/Tizen.NUI/src/public/Visuals/VisualObject/GradientVisual.cs
Labels: Internal API Changed, Devel-NUI

#7025 [Markdown] Support an API to convert markdown to plain text
  src/Tizen.NUI.MarkdownRenderer/src/internal/MarkdownParser.cs
  src/Tizen.NUI.MarkdownRenderer/src/public/MarkdownParser.cs
  src/Tizen.NUI.MarkdownRenderer/src/public/MarkdownRenderer.cs
Labels: Internal API Changed, Devel-NUI

#7033 [NUI] Recover NUI.Components in tv profile
  src/Tizen.NUI.Components/Tizen.NUI.Components.csproj
Labels: Devel-NUI

#7032 [NUI] Fix the crash that occurs when excluding the tv profile
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#7006 [NUI] Remove Interop APIs that are not called.
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ActorInternal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.BaseObject.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Extents.cs
  src/Tizen.NUI/src/internal/Interop/Interop.FontClient.cs
  src/Tizen.NUI/src/internal/Interop/Interop.InputMethodContext.cs
  src/Tizen.NUI/src/internal/Interop/Interop.InputMethodOptions.cs
  src/Tizen.NUI/src/internal/Interop/Interop.KeyInputFocusManager.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Layer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NDalic.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NDalicColor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NDalicMachine.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NDalicXYZ.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PanGestureDetector.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ProcessorController.cs
  src/Tizen.NUI/src/internal/Interop/Interop.RenderTask.cs
  src/Tizen.NUI/src/internal/Interop/Interop.SlideTransitionItem.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextEditor.cs
  src/Tizen.NUI/src/internal/Interop/Interop.TextField.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector2.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector3.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Vector4.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ViewImplSignal.cs
  src/Tizen.NUI/src/internal/Interop/Interop.VisualObjectsContainer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Watch.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WebContextMenu.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetImpl.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WidgetView.cs
  src/Tizen.NUI/src/internal/Interop/Interop.WindowBlurInfo.cs
  src/Tizen.NUI/src/internal/Interop/Interop.doublep.cs
  src/Tizen.NUI/src/internal/Interop/Interop.floatp.cs
  src/Tizen.NUI/src/internal/Interop/Interop.intp.cs
  src/Tizen.NUI/src/internal/Interop/Interop.uintp.cs
  src/Tizen.NUI/src/internal/Interop/Interop.ushortp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSDoublep.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSFloatp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Common/TSInputMethodOptions.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSintp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSuintp.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSushortp.cs
Labels: Devel-NUI

#7014 [NUI] Move ItemView related classes from internal dir to test.
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/DefaultItemLayoutProperty.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/DefaultItemLayoutType.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/Item.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemCollection.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemFactory.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemIdCollection.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemLayout.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Components/ItemRange.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.Item.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemContainer.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemFactory.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemIdContainer.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemLayout.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemRange.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItem.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemCollection.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemFactory.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemIdCollection.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemLayout.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemRange.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/Utility/TSItemView.cs
Labels: Internal API Changed, Devel-NUI

#7048 [PackageManager] Add GC.KeepAlive() for interop callback object
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/PackageManager.cs
Labels: API13

#7049 [NUI] Get `AliveCount` for more items
  src/Tizen.NUI/src/internal/Animation/Constraint.cs
  src/Tizen.NUI/src/public/Animation/Animation.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewInternal.cs
  src/Tizen.NUI/src/public/Common/FrameUpdateCallbackInterface.cs
  src/Tizen.NUI/src/public/Common/Layer.cs
  src/Tizen.NUI/src/public/RenderEffects/RenderEffect.cs
  src/Tizen.NUI/src/public/Rendering/Geometry.cs
  src/Tizen.NUI/src/public/Rendering/Renderable.cs
  src/Tizen.NUI/src/public/Rendering/Shader.cs
  src/Tizen.NUI/src/public/Rendering/Texture.cs
  src/Tizen.NUI/src/public/Rendering/TextureSet.cs
  src/Tizen.NUI/src/public/Rendering/VertexBuffer.cs
  src/Tizen.NUI/src/public/Utility/Timer.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
  src/Tizen.NUI/src/public/Window/Window.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/DaliDemo/DaliDemo.cs
Labels: Internal API Changed, Devel-NUI

#7041 [NUI] Disable default theme manager
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/Theme/ThemeManager.cs
Labels: Internal API Changed, Devel-NUI

#7051 [NUI] Clean-up the implements of RenderTask / RenderTaskList
  src/Tizen.NUI/src/internal/Common/RenderTask.cs
  src/Tizen.NUI/src/internal/Common/RenderTaskList.cs
Labels: Devel-NUI

#7046 [Notification] Add Extension style
  src/Tizen.Applications.Notification/Interop/Interop.Notification.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/Notification.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationActiveStyle.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationBinder.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationEnumerations.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationExtensionStyle.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationResponseEventType.cs
  src/Tizen.Applications.Notification/Tizen.Applications.Notifications/NotificationStyleBinder.cs
  src/Tizen.Applications.NotificationEventListener/Interop/Interop.NotificationEventListener.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationEventArgs.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationEventArgsBinder.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationEventArgsEnumerations.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationEventArgsExtensionStyle.cs
  src/Tizen.Applications.NotificationEventListener/Tizen.Applications.NotificationEventListener/NotificationStyleArgsBinder.cs
Labels: Internal API Changed, API13

#7055 [NUI] Allow to dispose some Disposable class at workerthread if possible
  src/Tizen.NUI/src/internal/Common/AngleAxis.cs
  src/Tizen.NUI/src/internal/Common/DaliException.cs
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/internal/Common/DisposeQueue.cs
  src/Tizen.NUI/src/internal/Common/FontDescription.cs
  src/Tizen.NUI/src/internal/Common/GlyphInfo.cs
  src/Tizen.NUI/src/internal/Common/Int32Pair.cs
  src/Tizen.NUI/src/internal/Common/StringValuePair.cs
  src/Tizen.NUI/src/internal/Common/Uint16Pair.cs
  src/Tizen.NUI/src/internal/Common/VectorBase.cs
  src/Tizen.NUI/src/internal/Common/VectorBlob.cs
  src/Tizen.NUI/src/internal/Common/VectorUint16Pair.cs
  src/Tizen.NUI/src/internal/Common/VectorUnsignedChar.cs
  src/Tizen.NUI/src/internal/Common/VectorVector2.cs
  src/Tizen.NUI/src/public/BaseComponents/TableView.cs
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
  src/Tizen.NUI/src/public/Common/Color.cs
  src/Tizen.NUI/src/public/Common/Degree.cs
  src/Tizen.NUI/src/public/Common/Extents.cs
  src/Tizen.NUI/src/public/Common/Matrix.cs
  src/Tizen.NUI/src/public/Common/Matrix3.cs
  src/Tizen.NUI/src/public/Common/Position.cs
  src/Tizen.NUI/src/public/Common/Position2D.cs
  src/Tizen.NUI/src/public/Common/PropertyArray.cs
  src/Tizen.NUI/src/public/Common/PropertyKey.cs
  src/Tizen.NUI/src/public/Common/PropertyMap.cs
  src/Tizen.NUI/src/public/Common/PropertyValue.cs
  src/Tizen.NUI/src/public/Common/Radian.cs
  src/Tizen.NUI/src/public/Common/Rectangle.cs
  src/Tizen.NUI/src/public/Common/RelativeVector2.cs
  src/Tizen.NUI/src/public/Common/RelativeVector3.cs
  src/Tizen.NUI/src/public/Common/RelativeVector4.cs
  src/Tizen.NUI/src/public/Common/Rotation.cs
  src/Tizen.NUI/src/public/Common/Size2D.cs
  src/Tizen.NUI/src/public/Common/TimePeriod.cs
  src/Tizen.NUI/src/public/Common/Vector2.cs
  src/Tizen.NUI/src/public/Common/Vector3.cs
  src/Tizen.NUI/src/public/Common/Vector4.cs
  src/Tizen.NUI/src/public/Events/Gesture.cs
  src/Tizen.NUI/src/public/Events/Hover.cs
  src/Tizen.NUI/src/public/Events/LongPressGesture.cs
  src/Tizen.NUI/src/public/Events/PanGesture.cs
  src/Tizen.NUI/src/public/Events/PinchGesture.cs
  src/Tizen.NUI/src/public/Events/RotationGesture.cs
  src/Tizen.NUI/src/public/Events/TapGesture.cs
  src/Tizen.NUI/src/public/Events/Touch.cs
  src/Tizen.NUI/src/public/Events/Wheel.cs
  src/Tizen.NUI/src/public/Images/EncodedImageBuffer.cs
  src/Tizen.NUI/src/public/Images/PixelBuffer.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
  src/Tizen.NUI/src/public/Input/Key.cs
  src/Tizen.NUI/src/public/Layouting/PaddingType.cs
  src/Tizen.NUI/src/public/Window/MouseInOut.cs
  src/Tizen.NUI/src/public/Window/MouseRelative.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/AsyncImageLoaderTest.cs
Labels: Devel-NUI

#7062 [NUI][DRGLView] Make `RenderCallbackInput.SizeWidth` and `RenderCallbackInput.SizeHeight` as float type
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
  test/NUIGLView/NUIDirectRenderingGLViewSample/DirectRenderingGLViewSample.cs
Labels: Internal API Changed, Devel-NUI

#7063 [NUI][VisualObject] Revive VisualObject API which was public before
  src/Tizen.NUI/src/public/BaseComponents/ViewVisuals.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/VisualTest.cs
  test/Tizen.NUI.VisualTest/VisualTest.cs
Labels: Internal API Changed, Devel-NUI

#7054 [NUI] Make NUI.Samples use its own binder lib.
  src/Tizen.NUI/src/internal/Interop/Interop.NDalic.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.CubeTransitionEffect.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.Item.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemContainer.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemFactory.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemIdContainer.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemLayout.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemRange.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/Interop.ItemView.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Interop/NDalicPINVOKE.cs
  test/Tizen.NUI.Tests/Tizen.NUI.Devel.Tests/testcase/internal/NativeBinding/TSNDalic.cs
Labels: Devel-NUI

#7067 Add access target in AccessibilityActionRecievedEventArgs
  src/Tizen.NUI/src/internal/View/ViewAccessibilityData.cs
  src/Tizen.NUI/src/public/Accessibility/AccessibilityActionReceivedEventArgs.cs
Labels: Internal API Changed, Devel-NUI

#7068 [NUI] More Disposable Dispose at worker thread (TouchPoint / WindowData / Builtin AlphaFunction)
  src/Tizen.NUI/src/internal/Common/Disposable.cs
  src/Tizen.NUI/src/internal/Common/TouchPoint.cs
  src/Tizen.NUI/src/public/Animation/AlphaFunction.cs
  src/Tizen.NUI/src/public/Application/WindowData.cs
  test/Tizen.NUI.PerformanceTest/PerformanceTest.cs
  test/Tizen.NUI.VisualTest/VisualTest.cs
Labels: Devel-NUI

#7073 [Bluetooth] Add BluetoothDevice constructor with below:
  src/Tizen.Network.Bluetooth/Tizen.Network.Bluetooth/BluetoothDevice.cs
Labels: API13

#7074 [NUI] Optimize Padding and Margin of View
  src/Tizen.NUI/src/internal/Common/Object.cs
  src/Tizen.NUI/src/internal/Interop/Interop.Actor.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/Common/Extents.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Internal API Changed, Devel-NUI

#7064 [NUI] Enhance quality of scaling up lottie animation view
  src/Tizen.NUI/src/public/BaseComponents/LottieAnimationView.cs
  src/Tizen.NUI/src/public/Visuals/VisualConstants.cs
Labels: Internal API Changed, Devel-NUI

#7077 [NUI] Add methods to move ownership of native handle
  src/Tizen.NUI/src/public/Common/BaseHandle.cs
Labels: Devel-NUI

#7078 [NUI] version up to 22428
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#7081 [NUI] Fix not to dispose Extents.Zero
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#7071 [NUI] Add FlexLayout.MarkDirty to recalculate children
  src/Tizen.NUI/src/internal/Layouting/Interop/Interop.FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/FlexLayout.cs
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#7091 [NUI] Support to generate url with premuliplied alpha
  src/Tizen.NUI/src/internal/Common/NativeImageInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageInterface.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageQueue.cs
  src/Tizen.NUI/src/internal/Interop/Interop.NativeImageSource.cs
  src/Tizen.NUI/src/internal/Interop/Interop.PixelData.cs
  src/Tizen.NUI/src/public/Images/NativeImageQueue.cs
  src/Tizen.NUI/src/public/Images/NativeImageSource.cs
  src/Tizen.NUI/src/public/Images/PixelData.cs
Labels: Internal API Changed, Devel-NUI

#7095 [NUI] Register AccessibilityDelegate for CustomView
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewAccessibilityWrappers.cs
  src/Tizen.NUI/src/public/CustomView/ViewWrapper.cs
Labels: Devel-NUI

#7090 [NUI] Bind `ChildrenDepthIndexPolicy`
  src/Tizen.NUI/src/internal/Interop/Interop.ActorProperty.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewEnum.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/InnerShadowSample.cs
Labels: Internal API Changed, Devel-NUI

#7098 [NUI] version up to 2249
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#6932 [Applications.Common] Add KeepAlive for preventing gc
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfo.cs
Labels: Stale, API13

#7100 Rebase main to DevelNUI
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationInfo.cs
Labels: Devel-NUI

#7087 [NUI] Prepare to view creation at Preload time
  src/Tizen.NUI/src/internal/Interop/Interop.Application.cs
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
  src/Tizen.NUI/src/public/BaseComponents/ImageView.cs
  src/Tizen.NUI/src/public/BaseComponents/TextEditor.cs
  src/Tizen.NUI/src/public/BaseComponents/TextField.cs
  src/Tizen.NUI/src/public/BaseComponents/TextLabel.cs
  src/Tizen.NUI/src/public/BaseComponents/View.cs
Labels: Devel-NUI

#7103 [NUI] Vector scale example
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/LottieAnimationScaleTest.cs
Labels: Devel-NUI
