Repository Samsung/TizenFX, pull requests merged in 2025-09, with the labels that each got.

#7173 [NUI] Write comments for `NUIApplication.Exit()`
  src/Tizen.NUI/src/public/Application/NUIApplication.cs
Labels: Devel-NUI

#7159 [NUI.Samples] Upgrade NativeImageSourceTest sample code
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/NativeImageSourceTest.cs
Labels: Devel-NUI

#7182 [NUI] version up to 22434
  packaging/csapi-tizenfx.spec
  packaging/version.txt
Labels: Devel-NUI

#7185 [NUI.Devel.Tests] Let we use `AccessibilityStatesV2` flag instead of struct
  test/Tizen.NUI.Devel.Tests.Ubuntu/Tizen.NUI.Devel.Tests/testcase/public/TSView.cs
Labels: Devel-NUI

#7186 [NUI](GLView) Terminate() API to make we call OnTerminate forcibly.
  src/Tizen.NUI/src/internal/Interop/Interop.GLView.cs
  src/Tizen.NUI/src/public/BaseComponents/DirectRenderingGLView.cs
  src/Tizen.NUI/src/public/BaseComponents/GLView.cs
  test/NUIGLView/NUIDirectRenderingGLViewSample/DirectRenderingGLViewSample.cs
  test/NUIGLView/NUIDirectRenderingGLViewSample/lib/libNUIDirectRenderingGLView-callbacks.so
Labels: Internal API Changed, Devel-NUI

#7189 [NUI] Check if WebView is disposed when EvaluateJavaScript is called.
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI

#6942 [Tizen.Applications] Modify code owners
  .github/CODEOWNERS
Labels: Stale, API13

#7180 [TCSACR-623][PackageManager] add FirstInstalledTime
  src/Tizen.Applications.PackageManager/Interop/Interop.Package.cs
  src/Tizen.Applications.PackageManager/Tizen.Applications/Package.cs
Labels: ACR Required, Internal API Changed, API13

#7154 Deprecation of Tizen.Network.IoTConnectivity
  src/Tizen.Network.IoTConnectivity/Interop/Interop.IoTConnectivity.Client.cs
  src/Tizen.Network.IoTConnectivity/Interop/Interop.IoTConnectivity.Common.cs
  src/Tizen.Network.IoTConnectivity/Interop/Interop.IoTConnectivity.Server.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/Attributes.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/CacheUpdatedEventArgs.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/DeviceInformationFoundEventArgs.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/FindingErrorOccurredEventArgs.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/IoTConnectivityClientManager.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/IoTConnectivityServerManager.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/LiteResource.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ObservePolicy.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ObserveType.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ObserverNotifiedEventArgs.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/PlatformInformationFoundEventArgs.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/PresenceEventType.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/PresenceReceivedEventArgs.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/QualityOfService.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/RemoteResource.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/RemoteResponse.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/Representation.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/Request.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/Resource.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResourceFoundEventArgs.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResourceInterfaces.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResourceOptions.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResourcePolicy.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResourceQuery.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResourceState.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResourceTypes.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/Response.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/ResponseCode.cs
  src/Tizen.Network.IoTConnectivity/Tizen.Network.IoTConnectivity/StateChangedEventArgs.cs
Labels: ACR Required, Internal API Changed, API13

#7199 [NUI] Fix LayoutItem not to dispose padding and margin
  src/Tizen.NUI/src/public/Layouting/LayoutItem.cs
Labels: Devel-NUI

#7200 [NUI.Gadget] Fix NUIGadgetLifecycleState enumeration
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadget.cs
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetLifecycleState.cs
Labels: Internal API Changed, API13

#7188 [NUI.Devel.Tests] Remove build warnings about WebRequest
  test/Tizen.NUI.Devel.Tests.Ubuntu/nunit.framework/TUnit/TSettings.cs
Labels: Devel-NUI

#7206 [NUI] Adds AddShadow method in View for multiple Shadows on a View
  src/Tizen.NUI/src/internal/Common/ViewShadowType.cs
  src/Tizen.NUI/src/internal/Common/VisualObjectsContainer.cs
  src/Tizen.NUI/src/internal/Interop/Interop.VisualObjectsContainer.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewPublicMethods.cs
  src/Tizen.NUI/src/public/BaseComponents/ViewVisuals.cs
  src/Tizen.NUI/src/public/ViewProperty/InnerShadow.cs
  src/Tizen.NUI/src/public/ViewProperty/Shadow.cs
  src/Tizen.NUI/src/public/Visuals/VisualObject/VisualBase.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/InnerShadowRadiusTest.cs
  test/Tizen.NUI.Samples/Tizen.NUI.Samples/Samples/ShadowNeumorphismTest.cs
Labels: Internal API Changed, Devel-NUI

#7220 [NSD] Update Tizen.Network.Nsd doc with usage examples
  src/Tizen.Network.Nsd/doc/api/Tizen.Network.Nsd.md
Labels: API13

#7224 [NUI] Fix crash issue when WebView is disposed.
  src/Tizen.NUI/src/internal/WebView/WebContext.cs
  src/Tizen.NUI/src/public/WebView/WebView.cs
Labels: Devel-NUI

#7153 [TCSACR-618][NUI] Deprecate XAML related APIs
  src/Tizen.NUI.XamlBuild/src/internal/XamlBinding/CollectionSynchronizationCallback.cs
  src/Tizen.NUI.XamlBuild/src/public/XamlBuild/XamlTask.cs
  src/Tizen.NUI/src/public/Template/DataTemplateSelector.cs
  src/Tizen.NUI/src/public/Template/ElementTemplate.cs
  src/Tizen.NUI/src/public/XamlBinding/BindableObject.cs
  src/Tizen.NUI/src/public/XamlBinding/CollectionSynchronizationCallback.cs
Labels: ACR Required, Internal API Changed, Devel-NUI

#7222 [NUI] Remove unnecessary padding calculations from the BorderWindow.
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: API12

#7230 [NUI] Revert "Register OrientationChanged for BorderWindow."
  src/Tizen.NUI/src/public/Window/BorderWindow.cs
Labels: Devel-NUI

#7246 [Tizen.NUI.Gadget] Improve task creation error handling
  src/Tizen.NUI.Gadget/Tizen.NUI/OneShotService.cs
Labels: API13

#7250 [NUI.Gadget] Fix NUIGadgetManager.Refresh
  src/Tizen.NUI.Gadget/Tizen.NUI/NUIGadgetManager.cs
Labels: API13

#7251 [Applications] Fix RemountSubsession
  src/Tizen.Applications.Common/Tizen.Applications/Application.cs
  src/Tizen.Applications.Common/Tizen.Applications/ApplicationManager.cs
Labels: API13
